#main-content.realtime-dashboard-wrapper {
  display: block;
  overflow-y: scroll;
  padding: 20px;
}

.realtime-dashboard-wrapper {
  .widget[class*='widget4x'], .widget[class*='widget5x'] {
    .kpi-value {
      font-size: 2em;
    }
    
    .kpi-stat-title, .stat-unit {
      font-size: 0.8em;
    }
  }
  
  .widget.widget6x6, .widget.widget6x8, .widget.widget9x5 {
    .kpi-value {
      font-size: 3em;
    }
  }
}

@media (max-width: 1700px) {
  .realtime-dashboard-wrapper {
    .widget[class*='widget4x'], .widget[class*='widget5x'] {
      .kpi-value {
        font-size: 1.5em;
      }
      
      .kpi-stat-title, .stat-unit {
        font-size: 0.7em;
      }
    }
    
    .widget.widget9x5 {
      .kpi-value {
        font-size: 2em;
      }
      
      .kpi-stat-title, .stat-unit {
        font-size: 0.8em;
      }
    }
    
    .widget.widget6x6, .widget.widget6x8, .widget.widget9x5 {
      .kpi-value {
        font-size: 1.5em;
      }
    }
      
    .widget.widget5x4 {
      .kpi-value {
        font-size: 1em;
      }
    }
  }
}