#main-content.realtime-dashboard-wrapper {
  display: block;
  overflow-y: scroll;
  padding: 20px;
}

.realtime-dashboard-wrapper {
  .widget4x4, .widget6x5, .widget4x5  {
    .kpi-value {
      font-size: 2em;
    }
    
    .kpi-stat-title {
      font-size: 0.8em;
    }
  }
  
  .widget6x6, .widget8x6, .widget10x6 {
    .kpi-value {
      font-size: 3em;
    }
  }
  
  .widget6x8, .widget8x8 {
    .kpi-value {
      font-size: 5em;
    }
  }
  
  .widget8x4 {
    .kpi-value {
      font-size: 1.5em;
    }
  }
 
}

@media (max-width: 1440px) {
  .realtime-dashboard-wrapper {
    .widget4x5, .widget6x5, .widget5x4, .widget6x5, .widget6x4  {
      .kpi-value {
        font-size: 1em;
      }
      
      .kpi-stat-title, .stat-unit {
        font-size: 0.7em;
      }
    }
    
    .widget6x6, .widget8x6, .widget10x6 {
      .kpi-value {
        font-size: 2em;
      }
    }
    
    .widget6x8, .widget8x8 {
      .kpi-value {
        font-size: 3em;
      }
    }
    
    .widget8x4 {
      .kpi-value {
        font-size: 1em;
      }
    }
 
  }
}