#main-content.realtime-dashboard-wrapper {
  display: block;
  overflow-y: scroll;
  padding: 20px;
}

.realtime-dashboard-wrapper {
  .widget[class*='widget4x'], .widget[class*='widget5x'] {
    .kpi-value {
      font-size: 2em;
    }
    
    .kpi-stat-title, .stat-unit {
      font-size: 0.8em;
    }
  }
  
  .widget.widget6x6, .widget.widget6x8, .widget.widget9x5 {
    .kpi-value {
      font-size: 3em;
    }
  }
}

@media (max-width: 1700px) {
  .realtime-dashboard-wrapper {
    .widget[class*='widget4x'], .widget[class*='widget5x'] {
      .kpi-value {
        font-size: 1.5em;
      }
      
      .kpi-stat-title, .stat-unit {
        font-size: 0.7em;
      }
    }
    
    .widget.widget9x5 {
      .kpi-value {
        font-size: 2em;
      }
      
      .kpi-stat-title, .stat-unit {
        font-size: 0.8em;
      }
    }
    
    .widget.widget6x6, .widget.widget6x8, .widget.widget9x5 {
      .kpi-value {
        font-size: 1.5em;
      }
    }
      
    .widget.widget5x4 {
      .kpi-value {
        font-size: 1em;
      }
    }
  }
}

#queues {
  .widget.widget3x2 {
    padding: 5px;
    
    .kpi-stat-title, .stat-unit {
      font-size: 0.8em;
    }
  }
}

#interactions {
  .widget.widget4x4{
    .kpi-stat-title, .stat-unit {
      font-size: 2em;
    }
    
    .kpi-value {
      font-size: 3em;
    }
  }
  
  .widget.widget4x2 {
    .kpi-stat-title, .stat-unit {
      font-size: 1em;
    }

    .kpi-value {
      font-size: 1.5em;
    }
  }
}

#resource {
  .widget.widget3x3{
    .kpi-value {
      font-size: 2em;
    }
  }
}
