<management-menu menu-locked="Session.lockSideMenu" menu-config="sidebarConfig"></management-menu>

<div id="main-content" class="group-list-container" ng-class="{'expanded-menu': Session.lockSideMenu}">
  <div id="table-pane">
    <table-controls config="tableConfig" items="groups" on-create-click="createGroup" selected="selectedGroup" resource-name="groups"></table-controls>
    <resize-handle ng-show="!!selectedGroup" right-element-id="details-pane" left-element-id="table-pane" left-min-width="600" right-min-width="400" ></resize-handle>
  </div>

  <div id="right-panel" class="right-panel" ng-show="selectedGroup">
    <resource-details id="details-pane"
    ng-show="selectedGroup"  
    extend-scope="additional"
    header-template-url="app/components/groups/groupDetailHeader.html"
    body-template-url="app/components/groups/groupDetailBody.html"
    resource="selectedGroup"
   />
  </div>
</div>
