<management-menu menu-locked="Session.lockSideMenu" menu-config="sidebarConfig"></management-menu>

<div id="main-content" class="group-list-container" ng-class="{'expanded-menu': Session.lockSideMenu}">
<!--
  <table-controls
    id="table-pane"
    config="tableConfig"
    items="groups"
    on-create-click="createGroup"
    selected="selectedGroup"
    resource-name="groups">
  </table-controls>

  <resize-handle
    id="resize-pane"
    ng-show="!!selectedGroup"
    right-element-id="details-pane"
    left-element-id="table-pane"
    left-min-width="600"
    right-min-width="400"></resize-handle>

  <resource-details
    id="details-pane"
    ng-show="selectedGroup"
    extend-scope="additional"
    header-template-url="app/components/groups/groupDetailHeader.html"
    body-template-url="app/components/groups/groupDetailBody.html"
    resource="selectedGroup"></resource-details>
-->
</div>
