#details-form {
   height: 100%;
   -ms-box-orient: vertical;
   @include display-flex();
   @include flex-box-direct(column);
   width: 100%;
   
  #detail-header-pane {
    border-bottom: 1px solid #dadada;
    padding: 15px;
  }

  #detail-body-pane {
    padding: 15px;
    @include flex(1, 1, auto);
    overflow: auto;
    height:0;
    min-height: 0;
    width: 100%;
  }

  #detail-controls-pane {
    padding: 15px 5px;
    border-top: 1px solid #dadada;
    justify-content: space-around;
    @include display-flex();

    input {
      width: 40%;
    }
  }
  
  .input-group {
    display: table;
    width: 100%;
    
    & > label, & > div {
      display: table-cell;
    }
    
    label {
      width: 25%;
      max-width: 200px;
    }
    
    input, select {
      width: 75%;
      max-width: 400px;
    }
  }
}
