#invite-accept {
  box-sizing: content-box;
  margin-top: -$navbar-height;
  padding-top: $navbar-height;
  height: 100%;
  width: 100%;

  #invite-accept-wrapper {
    max-width: 600px;
    margin: auto auto;
  }

  .legal-link {
    text-decoration: underline;
    color: #ffffff;
    &:hover {
      color: #ffffff;
    }
  }

  .invite-padding {
    padding-left: 20px;
  }

  .details-pane {
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid $lightest-grey;
    @include border-radius(3px);
    @include drop-shadow();
    height: auto;
    padding: 10px;

    .detail-body {
      flex: none;
      height: auto;
    }
  }

  .btn-primary {
    margin-top: 20px;
    width: 100px;
  }

  input#submit-invite-accept {
    background-color: #07487a;
  }
}
