<div id="invite-accept" class="lo-gradient-squares">
  <div id="invite-accept-wrapper">
    <img ng-src="{{$root.logo}}" height="23">

    <ng-form ng-show="showSignupForm" name="detailsForm" lo-form-submit>

      <div class="details-pane">
        <div class="detail-body clear">
          <div class="lo-alert invite-padding">
            <p>{{'invite.accept.to.setup' | translate}}</p>
            <ol>
              <li>{{'invite.accept.create.password' | translate}}</li>
              <li>{{'invite.accept.confirm.name' | translate}}</li>
              <li>{{'invite.accept.submit' | translate}}</li>
            </ol>
          </div>
          <div class="divider-header first-header">
            <h4>{{'login.button' | translate}}</h4>
          </div>

          <div class="input-group">
            <label>{{'details.email' | translate}}</label>
            <div>
              <span id="user-details-email">{{user.email}}</span>
            </div>
          </div>

          <div class="input-group">
            <label  class="textarea-label">{{'details.password.new' | translate}} *</label>

            <form-error field="detailsForm.password"
              error-type-required="{{'details.password.error' | translate}}"></form-error>
            <input ng-required="true" autocomplete="off" ng-model="user.password" name="password" type="password"  ng-change="checkPassword()"/>
          </div>

          <div class="input-group">
            <label  class="textarea-label">{{'details.confirm-password' | translate}} *</label>

            <form-error field="detailsForm.confirmPassword"
              error-type-required="{{'details.confirm-password.error' | translate}}"></form-error>
            <input type="password" name="confirmPassword" ng-model="user.confirmPassword"
              ng-required="false" ng-blur="checkPassword()" />

            <p id="password-policy"><small>{{'details.password.default.policy' | translate}}</small></p>
          </div>

          <div class="divider-header" ng-class="{'first-header' : resource.id}">
            <h4>{{'details' | translate}}</h4>
          </div>

          <div class="input-group">
            <label>{{'details.firstName' | translate}} *</label>
            <form-error field="detailsForm.firstName"
              error-type-required="{{'details.firstName.error' | translate}}"></form-error>
            <div>
              <input ng-required="true" ng-model="user.firstName" name="firstName" type="text"></input>
            </div>
          </div>

          <div class="input-group">
            <label>{{'details.lastName' | translate}} *</label>
            <form-error field="detailsForm.lastName"
              error-type-required="{{'details.lastName.error' | translate}}"></form-error>
            <div>
              <input ng-required="true" ng-model="user.lastName" name="lastName" type="text"></input>
            </div>
          </div>

          <input id="submit-invite-accept" lo-submit-spinner lo-submit-spinner-status="loading"
            lo-submit="save()" ng-disabled="detailsForm.$invalid || ! detailsForm.$dirty"
            class="btn btn-primary pull-right" type="submit" value="{{'value.submit' | translate}}" />
        </div>
      </div>
    </ng-form>
    <p class="copyright">{{'copyright' | translate}}</p>
    <p class="copyright">{{'signup.legal' | translate}}</p>
  </div>
</div>
