<div class="typeahead-container">
  <input
    autocomplete="off"
    placeholder="{{placeholder}}"
    name="{{nameField}}"
    id="typeahead-container"
    type="text"
    ng-model="currentText"
    ng-focus="showSuggestions=true"
    ng-blur="onBlur()"></input>
    <i class="fa fa-search"></i>
    <ul ng-show="filtered.length > 0 && (showSuggestions || hovering)" 
      ng-mouseover="hovering=true" 
      ng-mouseout="hovering=false">
       <li ng-repeat="item in filtered = (items | filter:filterCriteria | orderBy:orderByFunction)"
         ng-class="{'highlight' : highlightedItem == item}"  
         ng-click="select(item)" >
           {{item.getDisplay() || item[nameField]}}
       </li>
    </ul>
</div>
