.typeahead-container {
  position:relative;
  width: 100%;
  max-width: $max-control-width;

  input {
    padding-right: 40px;
  }

  i {
    top: 10px;
    position: absolute;
    right: 10px;
  }

  .typeahead-text {
  }

  ul {

    position: absolute;

    &.embeded {
      position: inherit;
      @include border-radius(0);
      border: 0;
      margin: 0;
    }

    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid $light-grey;
    @include border-radius(5px);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
    margin: 6px 0;

    z-index: 1;
    padding: 0;
    list-style-type: none;

    li {
      &:hover {
        background-color: $accent-light;
      }

      &:not(:last-child){
        border-bottom: 1px solid $light-grey;
      }

      padding: 10px;
      cursor: pointer;
    }
  }
}
