<div class="edit-field edit-field-drop-down" ng-init="edit = false">
  <ng-transclude></ng-transclude>
  <div class="input-toggle">

    <select ng-model="ngModel" ng-options="option for option in ['Admin', 'Agent']" name={{name}} required="" ng-show="edit" ng-change="saveHandler()">
      <option value="">{{defaultText}}</option>
    </select>

    <div ng-mouseover="hover=true" ng-mouseout="hover=false" ng-click="edit = true" title="Click to edit." ng-show="!edit">
      <label ng-show="ngModel">{{ngModel}}</label>
      <label class="placeholder" ng-show="!ngModel">Click to add value</label>
      <i class="fa fa-pencil" ng-show="hover"></i>
    </div>
  </div>
</div>