<div class="publish" id="stats-modal">
  <h3 class="header">{{title}}</h3>
  <div id="stats-modal">
    <ul>
      <li ng-if="displayData(selectedRow.latestJobData.created)">
        {{'campaigns.details.lastUpdate' | translate}}:
        {{selectedRow.latestJobData.created | date:'MM/dd/yyyy HH:mm:ss' }}
      </li>
      <li ng-if="displayData(selectedRow.latestJobData.leadCount)">
        {{'campaigns.details.leadCount' | translate}}:
        {{selectedRow.latestJobData.leadCount}}
      </li>
    </ul>
    <hr>
    <ul>
      <li="displayData(selectedRow.latestJobData.rowsProcessed)">
        {{'campaigns.details.rowsProcessed' | translate}}:
        {{selectedRow.latestJobData.rowsProcessed}}
      </li>
      <li ng-if="displayData(selectedRow.latestJobData.rowsAltered)">
        {{'campaigns.details.rowsAltered' | translate}}:
        {{selectedRow.latestJobData.rowsAltered}}
      </li>
      <li ng-if="displayData(selectedRow.latestJobData.rowsDeleted)">
        {{'campaigns.details.rowsDeleted' | translate}}:
        {{selectedRow.latestJobData.rowsDeleted}}
      </li>
    </ul>
  </div>

  <div class="footer">
    <input type="button" id="modal-cancel" class="btn btn-primary" ng-click="cancelCallback()" value="{{'value.close' | translate}}" />
  </div>
</div>
