<div id="table-pane">
  <table-controls
    config="dc.tableConfig"
    items="dc.dispositions"
    search-query="searchQuery">
  </table-controls>

  <lo-resource-table
    config="dc.tableConfig"
    items="dc.dispositions"
    selected="dc.selectedDisposition"
    search-query="searchQuery">

    <span name="$original.active">
      <span ng-if="item.active">{{'value.enabled' | translate}}</span>
      <span ng-if="!item.active" class="disabled">{{'value.disabled' | translate}}</span>
    </span>
  </lo-resource-table>
</div>
