.dashboard-link {
  text-align: center;
  margin-top: -52px;
  margin-bottom: 32px;
}
#dashboard-btn {
  padding: 7px 15px;
  margin: 0 auto;
}
.contact-list {
  margin-top: 5px;
  margin-left: 15px;
}
.import-export {
  text-align: center;
}
lo-details-panel {
  .multi-col {
    display: table;
    width: 100%;
    clear: both;
    margin-bottom: 15px;

    .form-col {
      display: table-cell;
      vertical-align: middle;
      width: 50%;
      padding: 0 20px;

      button {
        width: 120px;
      }

      div {
        margin-bottom: 10px;
      }

      p {
        line-height: 1.6em;
      }

      &.left {
        text-align: right;
      }

      &.right {
        text-align: left;
      }

      &.align-top {
        vertical-align: top;
      }

      &.toggle-label {
        padding-top: 11px;
      }
    }
  }
}

#stats-modal {
  padding: 20px;

  hr {
    margin: 10px 0;
  }

  ul {
    list-style: none;

    li {
      line-height: 1.5em;
    }
  }

  .footer {
    text-align: center;
  }
}
