<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>
<div disable-contents="! (['MANAGE_CAMPAIGNS'] | hasPermission)">
  <div class="input-group">
    <label>{{'value.name' | translate}} *</label>
    <form-error ng-if="!cc.selectedCampaign.name" field="forms.detailsForm.name" error-type-required="{{'campaigns.details.name.error' | translate}}">
    </form-error>
    <div>
      <input required ng-model="cc.selectedCampaign.name" name="name" type="text"></input>
    </div>
  </div>

  <div class="input-group" ng-if="cc.selectedCampaign.flowName">
    <label>{{'details.flow' | translate}}</label>
    <div>
      {{cc.selectedCampaign.flowName}}
    </div>
  </div>

  <div class="input-group" ng-if="cc.selectedCampaign.channel">
    <label>{{'details.channelType' | translate}}</label>
    <div>
      {{cc.selectedCampaign.channel}}
    </div>
  </div>

  <div class="input-group">
    <label class="textarea-label">{{'value.description' | translate}}</label>
    <div>
      <textarea ng-model="cc.selectedCampaign.description"></textarea>
    </div>
  </div>

  <div class="input-group multi-col">
    <div class="form-col left toggle-label">
      <label>{{'campaigns.details.dialer' | translate}}</label>
    </div>
    <div class="form-col right">
      <ng-form
        name="forms.startStopForm"
        separate-validation
      >
      <toggle
        class="status-toggle"
        ng-model="cc.selectedCampaign.currentState"
        confirm-disable-message="{{'campaigns.details.start.confirm' | translate}}"
        confirm-enable-message="{{'campaigns.details.stop.confirm' | translate}}"
        ng-disabled="forms.detailsForm.$pending || forms.detailsForm.$invalid || forms.detailsForm.$dirty || ! cc.selectedCampaign.hasVersion"
        on-confirm="cc.startStopCampaign()"></toggle>
      </ng-form>
    </div>
  </div>
</div>
  <div class="input-group multi-col">
    <div class="form-col left">
      <button id="actions-btn"
        class="btn"
        ng-click="cc.editCampaignSettings(cc.selectedCampaign)"
        type="button"
        ng-disabled="!cc.selectedCampaign.id">
        {{'campaigns.details.settingsBtn' | translate}}
      </button>
    </div>
    <div class="form-col right"></div>
  </div>

  <div class="divider-header">
    <h4>{{'campaigns.details.contacts.header' | translate}}</h4>
  </div>
<div disable-contents="! (['MANAGE_CAMPAIGNS'] | hasPermission)">
  <div class="input-group multi-col">
    <div class="form-col left align-top">
      <div>
        <button
          id="import-btn"
          class="btn"
          accept=".csv"
          ngf-change="cc.importContactList($file)"
          ngf-select
          ng-model-options="{allowInvalid : true}"
          ngf-max-size="20MB"
          ng-model="cc.selectedCampaign.callListData"
          type="button"
          ng-disabled="!cc.selectedCampaign.id">
          {{'campaigns.details.importBtn' | translate}}
        </button>
      </div>

      <!-- Taking this out until API data that gives us these stats is fixed -->
      <!-- <div>
        <button
          id="stats-btn"
          class="btn"
          ng-click="cc.openStatsModal()"
          ng-disabled="!cc.selectedCampaign.id || !cc.selectedCampaign.hasCallList">
          {{'campaigns.details.statsBtn' | translate}}
        </button>
      </div> -->

      <div>
        <button
          id="download-btn"
          class="btn"
          ng-click="cc.downloadCallList(cc.selectedCampaign.id)"
          type="button"
          ng-disabled="!cc.selectedCampaign.id || !cc.selectedCampaign.hasCallList">
          {{'campaigns.details.downloadBtn' | translate}}
        </button>
      </div>

    </div>
    <div class="form-col right align-top">
      <!-- Taking this out until API data that gives us these stats is fixed -->
      <!-- <p ng-show="cc.selectedCampaign.latestJobData">
        {{'campaigns.details.lastUpdate' | translate}} - {{cc.selectedCampaign.latestJobData.created | date:'MM/dd/yyyy HH:mm:ss' }}
        <br> {{'campaigns.details.updateStatus' | translate}} - {{cc.selectedCampaign.latestJobData.status}}
        <br> {{'campaigns.details.leadCount' | translate}} - {{cc.selectedCampaign.latestJobData.rowsProcessed}}
      </p> -->
    </div>
  </div>
</div>

</form>
