<div id="table-pane">
  <table-controls
    config="cc.tableConfig"
    items="cc.campaigns"
    search-query="searchQuery">
  </table-controls>

  <lo-resource-table
    config="cc.tableConfig"
    items="cc.campaigns"
    selected="cc.selectedCampaign"
    search-query="searchQuery">

    <span name="$original.active">
      <span ng-if="item.$original.active">{{'value.enabled' | translate}}</span>
      <span ng-if="!item.$original.active" class="disabled">{{'value.disabled' | translate}}</span>
    </span>
  </lo-resource-table>
</div>

<resize-handle
  ng-show="cc.selectedCampaign || showBulkActions"
  id="resize-pane"
  right-element-id="campaigns-details-pane"
  left-element-id="table-pane"></resize-handle>

<lo-details-panel
  id="campaigns-details-pane"
  class="right-panel"
  ng-show="cc.selectedCampaign || showBulkActions"
  ng-resource="cc.selectedCampaign">

  <ng-form
    class="details-pane"
    unsaved-changes-warning
    name="forms.detailsForm"
    ng-show="!showBulkActions"
    ng-resource="cc.selectedCampaign"
    lo-form-submit lo-form-cancel lo-form-alert>

    <ng-form name="forms.headerForm" separate-validation>
      <div class="detail-header" ng-include="'app/components/configuration/campaigns/campaignDetailHeader.html'">
      </div>
    </ng-form>

    <div class="detail-body" ng-include="'app/components/configuration/campaigns/campaignDetailBody.html'">
    </div>

    <div class="detail-controls">
      <input
        id="cancel-details-btn" class="btn" type="button"
        ng-disabled="cc.selectedCampaign.$busy"
        value="{{'value.cancel' | translate}}"
        lo-cancel></input>

      <input
        id="submit-details-btn"
        lo-submit="cc.confirmSubmit()"
        lo-submit-spinner
        lo-submit-spinner-status="cc.selectedCampaign.$busy"
        ng-disabled="forms.detailsForm.$pending || forms.detailsForm.$invalid || ! forms.detailsForm.$dirty"
        class="btn btn-primary"
        type="submit"
        value="{{'value.submit' | translate}}" />
    </div>

    </ng-form>

    <bulk-action-executor class="details-pane"
      ng-show="showBulkActions"
      items="cc.campaigns"
      show-bulk-actions="showBulkActions">

      <ba-set-campaigns-status></ba-set-campaigns-status>
    </bulk-action-executor>

</lo-details-panel>
