<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>

<div class="input-group">
  <label>{{'value.name' | translate}} *</label>
  <form-error ng-if="!cc.selectedCampaign.name" field="forms.detailsForm.name" error-type-required="{{'campaigns.details.name.error' | translate}}">
  </form-error>
  <div>
    <input required ng-model="cc.selectedCampaign.name" name="name" type="text"></input>
  </div>
</div>

<div class="input-group">
  <label>{{'details.channelType' | translate}}</label>
  <div>
    <form-error field="forms.detailsForm.channel" error-type-required="{{'campaigns.details.channelDropdownDefault.error' | translate}}"></form-error>
    <select required ng-model="cc.selectedCampaign.channel" ng-options="channel for channel in cc.campaignChannels" ng-disabled="cc.campaignChannels.length < 2">
      <option ng-if="cc.campaignChannels.length > 1" disabled value="">{{'campaigns.details.channelDropdownDefault' | translate}}</option>
    </select>
  </div>
</div>

<div class="input-group">
  <label>{{'details.flow' | translate}}</label>
  <div>
    {{cc.selectedCampaign.flowName}}
  </div>
</div>

<div class="input-group">
  <label class="textarea-label">{{'value.description' | translate}}</label>
  <div>
    <textarea ng-model="cc.selectedCampaign.description"></textarea>
  </div>
</div>

<div class="input-group multi-col">
  <div class="form-col left toggle-label">
    <label>{{'campaigns.details.dialer' | translate}}</label>
  </div>
  <div class="form-col right">
    <toggle class="status-toggle" ng-model="cc.selectedCampaign.active"
    confirm-disable-message="{{'campaigns.details.start.confirm' | translate}}"
    confirm-enable-message="{{'campaigns.details.stop.confirm' | translate}}"
    on-confirm="cc.startStopCampaign()"></toggle>
  </div>
</div>

<div class="input-group multi-col">
  <div class="form-col left">
    <button id="actions-btn" class="btn" ng-click="cc.editCampaignSettings(cc.selectedCampaign)" type="button">
      {{'campaigns.details.settingsBtn' | translate}}
    </button>
  </div>
  <div class="form-col right"></div>
</div>

<div class="divider-header">
  <h4>{{'campaigns.details.contacts.header' | translate}}</h4>
</div>

<div class="input-group multi-col">
  <div class="form-col left align-top">
    <div>
      <button
        id="import-btn"
        class="btn"
        accept=".csv"
        ngf-change="cc.importContactList($file)"
        ngf-select
        ng-model-options="{allowInvalid : true}"
        ngf-max-size="20MB"
        ng-model="cc.selectedCampaign.callListData"
        type="button">
        {{'campaigns.details.importBtn' | translate}}
      </button>
    </div>

    <div>
      <button id="actions-btn" class="btn" ng-click="">
        {{'campaigns.details.statsBtn' | translate}}
      </button>
    </div>

    <div>
      <button id="actions-btn" class="btn" ng-click="">
        {{'campaigns.details.downloadBtn' | translate}}
      </button>
    </div>
  </div>
  <div class="form-col right align-top">
    <p>
      {{'campaigns.details.lastUpdate' | translate}} -
      <br> {{'campaigns.details.updateStatus' | translate}} -
      <br> {{'campaigns.details.leadCount' | translate}}
    </p>
  </div>
</div>


</form>
