<div class="publish" id="stats-modal">
  <h3 class="header">{{title}}</h3>
  <div id="stats-modal">
    <ul>
      <li>Last Update Start: {{cc.selectedCampaign.latestJobData.created | date:'MM/dd/yyyy HH:mm:ss' }}</li>
      <li>Last Update Finish: {{cc.selectedCampaign.latestJobData.completed | date:'MM/dd/yyyy HH:mm:ss' }}</li>
      <li>Records Changed: {{cc.selectedCampaign.latestJobData.rowsAltered}}</li>
      <li>Records Deleted: {{cc.selectedCampaign.latestJobData.rowsDeleted}}</li>
    </ul>
    <hr>
    <ul>
      <li>Record Count: {{cc.selectedCampaign.latestJobData.rowsProcessed}}</li>
    </ul>
  </div>

  <div class="footer">
    <input type="button" id="modal-cancel" class="btn btn-primary" ng-click="cancelCallback()" value="{{'value.close' | translate}}" />
  </div>
</div>
