number-slider {
  .inner-addon {
    position: relative;
  }
    
  .number-slider {
    i {
      background-color: $light-grey;
      display: inline-block;
      color: $dark-grey;
      cursor: pointer;
      height: 50%;
      position: absolute;
      width: 30px;
    }
    
    i:hover {
      @include inner-shadow();
    }
    
    .disabled {
      background-color: $lightest-grey;
      color: $grey;
      @include inner-shadow(2px, 2px);
    }
    
    .disabled:hover {
      cursor: default !important;
    }
    
    .top {
      top: 0;
      right: 0;
      @include border-radius-complex(4px, 4px, 0, 0);
      border-left: none;
    }
    
    .bottom {
      bottom: 0;
      top: 50%;
      right: 0;
      @include border-radius-complex(4px, 4px, 0, 0);
      border-left: none;
    }
  
    input {
      text-align: right;
      padding: 0;
      padding-right: 5px;
      width: calc(100% - 30px) !important;
    }
    
    input::-webkit-input-placeholder {
      font-size: 12px;
      padding-left: 3px;
      text-align: left;
    }

    input:-moz-placeholder {
      font-size: 12px;
      padding-left: 3px;
      text-align: left;
    }
  }
}