<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>

<div class="input-group">
  <label>{{'value.name' | translate}} *</label>
  <form-error field="detailsForm.name"
    error-type-required="{{'media.details.name.error' | translate}}">
  </form-error>
  <div>
    <input ng-disabled="resource.id" type="text" ng-required="true" ng-model="resource.name" name="name" required></input>
  </div>
</div>

<div class="input-group">
  <label>{{'value.type' | translate}} *</label>
  <form-error field="detailsForm.type"
    error-type-required="{{'media.details.type.error' | translate}}">
  </form-error>
  <div>
    <select ng-change="text = ''" ng-disabled="resource.id"
      ng-required="!resource.id" ng-model="resource.type" name="type" required
      ng-options="type.value as type.display for type in mediaTypes">
      <option value="" disabled>{{'media.details.type.select' | translate}}</option>
    </select>
  </div>
</div>

<div class="input-group">
  <label>{{'value.source' | translate}} *</label>
  <ng-switch on="resource.type" ng-init="setupAudioSourceWatch(this)">
    <div ng-switch-when="audio">
      <form-error field="detailsForm.audiosource"
        error-type-required="{{'media.details.source.error' | translate}}"
        error-type-url="{{'media.details.source.url.error' | translate}}">
      </form-error>
      <input type="url" ng-model-options="{allowInvalid : true}" ng-required="true" ng-model="resource.source" name="audiosource" required></input>
    </div>

    <div ng-switch-default>
      <form-error field="detailsForm.source" error-type-api="true" error-type-required="{{'media.details.source.error' | translate}}"></form-error>
    <input type="text" ng-required="true" ng-model="resource.source" name="source" required></input>
  </div>
  </ng-switch>
</div>
