lo-multibox {
  .label-container {
    background: white;

    input {
      background: white;
    }
  }
}

.media-list-table {
  tr {
    td {
      &:nth-child(1) {
        width: 3%;
      }

      &:nth-child(2) {
        width: 47%;
      }

      &:nth-child(3) {
        width: 30%;
      }

      &:nth-child(4) {
        width: 10%;
      }

      .handle {
        cursor: move;
      }
    }
  }

  &.has-audio-length {
    tr {
      th {
        &:nth-child(1) {
          width: 3%;
        }

        &:nth-child(2) {
          width: 47%;
        }

        &:nth-child(3),
        &:nth-child(4) {
          width: 15%;
        }

        &:nth-child(5) {
          width: 10%;
        }
      }
    }
  }
}

.audio-source .btn {
  margin-left: 4px;
}

.audio-source .input-group {
  > div {
    * + .btn {
      height: 30px;
      padding-top: 5px;
    }
  }
}

#audio-source-upload-file {
  width: calc(100% - 40px);
}

.not-removable {
  opacity: .5;
  cursor: default;
}

.tts-select {
  .help-indicator {
    font-size: 20px;
    display: inline-block;
    margin-left: 10px;
  }
}
