<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>

<div class="tile" disable-contents="!('MANAGE_ALL_MEDIA' | hasPermission)">
  <div class="input-group">
    <label>{{'value.name' | translate}} *</label>
    <form-error field="forms.mediaForm.name"
      error-type-required="{{'media.details.name.error' | translate}}">
    </form-error>
    <div>
      <input type="text" name="name"
        ng-required="true"
        ng-model="selectedMedia.name">
      </input>
    </div>
  </div>

  <div class="input-group">
    <label>{{'value.type' | translate}} *</label>
    <form-error field="forms.mediaForm.type"
      error-type-required="{{'media.details.type.error' | translate}}">
    </form-error>
    <div>
      <select name="type"
        ng-change="text = ''"
        ng-required="true"
        ng-disabled="!selectedMedia.isNew() && !('MANAGE_ALL_MEDIA' | hasPermission)"
        ng-model="selectedMedia.type"
        ng-options="type.value as type.display for type in getMediaTypes()">
        <option value="" disabled>{{'media.details.type.select' | translate}}</option>
      </select>
    </div>
  </div>

  <div class="input-group">
    <label class="textarea-label">{{'value.description' | translate}}</label>
    <div>
      <textarea ng-model="selectedMedia.description"></textarea>
    </div>
  </div>

  <div class="input-group" ng-if="selectedMedia.type === 'list' && selectedMedia.totalLength">
    <label>{{'media.details.list.playTime' | translate}}</label>
    <div>
      00:00
    </div>
  </div>
</div>
<media-lists
  list="selectedMedia"
  form="forms.mediaForm"
  media="fetchMedias()"
  bypass-reset="bypassReset"
  ng-if="selectedMedia.type === 'list'"></media-lists>
<div class="divider-header" ng-if="selectedMedia.type !== 'list'">
  <h4>{{'value.source' | translate}}</h4>
</div>

<div class="tile audio-source" ng-show="selectedMedia.type === 'audio'">
  <div class="input-group">
    <label>{{'media.details.source.upload.file' | translate}} *</label>

    <div>
      <input id="audio-source-upload-file" type="text"
        name="audiosourcefile"
        ng-model="selectedMedia.$sourceAudioFile.name"
        ng-required="selectedMedia.type === 'audio' && !selectedMedia.source"
        ng-disabled="true">

      <div id="audio-source-upload-btn" type="button" class="btn"
        ngf-select="mediaDetailsController.onSelect(forms.mediaForm)"
        ngf-max-size="100MB"
        ng-model="selectedMedia.$sourceAudioFile"
        ng-disabled="!('MANAGE_ALL_MEDIA' | hasPermission)"
        accept="audio/*">
        <i class="fa fa-upload" />
      </div>
    </div>
  </div>

  <div class="input-group center">
    <label></label>
    {{ 'details.or' | translate }}
  </div>

  <div class="input-group">
    <label>{{'media.details.source.upload.url' | translate}} *</label>
    <form-error field="forms.mediaForm.audiosourceurl"
      error-type-required="{{'media.details.source.error' | translate}}"
      error-type-url="{{'media.details.source.url.error' | translate}}">
    </form-error>
    <input id="audio-source-url-field" name="audiosourceurl" type="url"
      ng-disabled="!('MANAGE_ALL_MEDIA' | hasPermission)"
      ng-model-options="{allowInvalid : true}"
      ng-model="selectedMedia.source"
      ng-required="selectedMedia.type === 'audio' && !selectedMedia.$sourceAudioFile"
      lo-validate="selectedMedia.type === 'audio'">
    </input>
  </div>
</div>

<div class="input-group" ng-show="selectedMedia.type === 'tts'">
  <label>{{'media.details.source.text' | translate}} *</label>
  <form-error
    field="forms.mediaForm.sourcetts"
    error-type-required="{{'media.details.source.error' | translate}}">
  </form-error>

  <textarea id="tts-source-field" type="text" name="sourcetts"
    ng-required="selectedMedia.type === 'tts'"
    ng-disabled="!('MANAGE_ALL_MEDIA' | hasPermission)"
    ng-model="selectedMedia.source">
  </textarea>
</div>

<div class="input-group" ng-show="selectedMedia.type === 'tts'">
  <label>{{'media.details.property.language' | translate}}</label>

  <form-error
    field="forms.mediaForm.language"
    error-type-required="{{'media.details.language.error' | translate}}">
  </form-error>

  <div class="tts-select">
    <select id="tts-property-language-field" type="text" name="language"
      ng-required="selectedMedia.type === 'tts'"
      ng-disabled="!('MANAGE_ALL_MEDIA' | hasPermission)"
      ng-model="selectedMedia.properties.language"
      ng-options="lang.value as lang.display for lang in twilioLangs">
      <option value="" ng-disabled=true>
        {{'media.details.property.language.select' | translate}}
      </option>
    </select>

    <a class="help-indicator lo-accent-text"
      ng-href="{{ tableConfig.helpLinkLanguages }}"
      target="_blank">
      <i class="fa fa-question-circle"></i>
    </a>
  </div>
</div>


<div class="input-group" ng-show="selectedMedia.type === 'tts'">
  <label>{{'media.details.property.voice' | translate}}</label>
  <form-error
    field="forms.mediaForm.voice"
    error-type-required="{{'media.details.voice.error' | translate}}">
  </form-error>

  <div class="tts-select">
    <select id="tts-property-voice-field" type="text" name="voice"
    ng-required="selectedMedia.type === 'tts'"
    ng-disabled="!('MANAGE_ALL_MEDIA' | hasPermission)"
    ng-model="selectedMedia.properties.voice"
    ng-options="voice.value as voice.display for voice in twilioVoices">
      <option value="" ng-disabled=true>
        {{'media.details.property.voice.select' | translate}}
      </option>
    </select>

    <a class="help-indicator lo-accent-text"
      ng-href="{{ tableConfig.helpLinkVoices }}"
      target="_blank">
      <i class="fa fa-question-circle"></i>
    </a>
  </div>
</div>
