<div ng-show="selectedMedia.$original.id" class="info">
  <h1>{{selectedMedia.$original.name}}</h1>
  <div class="details" ng-if="['PLATFORM_VIEW_ALL_USERS', 'PLATFORM_CREATE_USERS', 'PLATFORM_MANAGE_ALL_USERS', 'PLATFORM_MANAGE_ALL_TENANTS', 'PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT'] | hasPermission">
    <b audit-text
      translation="value.createdby.time"
      user-id="selectedMedia.$original.createdBy"
      date="selectedMedia.$original.created">
    </b>
    <br/>
    <b audit-text ng-if="!!selectedMedia.$original.updatedBy"
      translation="value.updatedby"
      user-id="selectedMedia.$original.updatedBy"
      date="selectedMedia.$original.updated">
    </b>
  </div>
  <div class="details" ng-if="!(['PLATFORM_VIEW_ALL_USERS', 'PLATFORM_CREATE_USERS', 'PLATFORM_MANAGE_ALL_USERS', 'PLATFORM_MANAGE_ALL_TENANTS', 'PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT'] | hasPermission)">
    <b audit-text
      translation="value.createdon.time"
      date="selectedMedia.$original.created">
    </b>
    <br/>
    <b audit-text ng-if="!!selectedMedia.$original.updated"
      translation="value.updatedon"
      date="selectedMedia.$original.updated">
    </b>
  </div>
</div>

<h1 ng-show="!selectedMedia.$original.id">{{'media.details.creating' | translate}}</h1>
