<table-controls
  id="table-pane"
  config="tableConfig"
  items="fetchMedias()"
  selected="selectedMedia"
  resource-name="media"
  hide-bulk-actions="true"></table-controls>

<resize-handle
  ng-show="!! selectedMedia"
  id="resize-pane"
  right-element-id="details-pane"
  left-element-id="table-pane" ></resize-handle>

<resource-details
  ng-show="!! selectedMedia"
  id="details-pane"
  extend-scope="additional"
  header-template-url="app/components/flows/media/mediaDetailHeader.html"
  body-template-url="app/components/flows/media/mediaDetailBody.html"
  original-resource="selectedMedia"
  resource-name="media"></resource-details>
