<div id="table-pane">
  <table-controls
    config="tableConfig"
    items="media"
    search-query="searchQuery">
  </table-controls>

  <lo-resource-table
    config="tableConfig"
    items="media"
    selected="selectedMedia"
    search-query="searchQuery">

    <div name="$original.type">
      <span ng-show="item.type === 'tts'">{{'media.details.mediaTypes.tts' | translate}}</span>
      <span ng-show="item.type === 'audio'">{{'media.details.mediaTypes.audio' | translate}}</span>
    </div>
  </lo-resource-table>
</div>

<resize-handle
  ng-show="!! selectedMedia"
  id="resize-pane"
  right-element-id="right-panel"
  left-element-id="table-pane" ></resize-handle>

<lo-details-panel id="right-panel" class="right-panel"
  name="mediaDetailsController"
  ng-show="selectedMedia"
  ng-resource="selectedMedia"
  lo-media-details>

  <ng-form unsaved-changes-warning class="details-pane"
    ng-show="selectedMedia" name="forms.mediaForm"
    ng-model="selectedMedia"
    ng-resource="selectedMedia"
    lo-form-submit
    lo-form-cancel
    lo-form-alert>

    <div class="detail-header"
      ng-include src="'app/components/flows/media/mediaDetailHeader.html'">
    </div>

    <div class="detail-body"
      ng-include src="'app/components/flows/media/mediaDetailBody.html'">
    </div>

    <div class="detail-controls">
      <input id="cancel-details-btn" type="button" class="btn"
        value="{{'value.cancel' | translate}}"
        lo-cancel>
      </input>
      <input id="submit-details-btn" class="btn btn-primary"
        type="submit" value="{{'value.submit' | translate}}"
        ng-disabled="forms.mediaForm.$invalid || ! forms.mediaForm.$dirty"
        lo-submit="mediaDetailsController.submit()"
        lo-submit-spinner
        lo-submit-spinner-status="selectedMedia.$busy">
      </input>
    </div>
  </ng-form>
</lo-details-panel>
