

.side-bar {
  height: 100%;
  position: fixed;
  z-index: 10;
  min-width: 30px;
  
  .collapse-bar {
    color: #919191;
    font-size: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #f8fbfc;
    min-width: 30px;
    @include transition(left 0.5s);
  }
  
  .collapse-bar i {
    padding: 10px;
  }
  
  aside, .menu-container {
    height: 100%;
  }
  
  .menu-container {
    position: relative;
    width: 250px;
    @include transition(left 0.5s);
  }
  
  nav {
    float:left;
    padding: 10px;
    background-color: #fff;
    height: 100%;
    width: 100%;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0 0 3px 0;
    padding: 0;
  }
  
  ul a {
    display: block;
    margin: 0;
    padding: 5px 10px 5px 20px;
    border-bottom: 1px dotted #666666;
  }
}

.collapsed.menu-container {
  left: -250px;
}

.menu-container:not(.collapsed) {
  left: 0;
}

.collapsed.collapse-bar {
  border-right: 1px solid #dadada;
  left: 0;
}

.collapse-bar:not(.collapsed) {
  @include drop-shadow(7px, 0, 16px, 0px, 0.19);
  border: none;
  left: 250px;
}