
.side-bar {
  height: 100%;
  position: fixed;
  z-index: 10;
  min-width: 30px;
  padding: 10px;

  .collapse-bar {
    color: #919191;
    font-size: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #f8fbfc;
    min-width: 30px;
    @include transition(left 0.5s);
  }

  .collapse-bar i {
    padding: 10px;
  }

  .menu-container {
    height: 100%;
  }

  .menu-container {
    position: relative;
    width: $left-nav-width;
    line-height: 1.2em;
    @include transition(left 0.5s);
  }

  nav {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    .list-title {
      font-style: uppercase;
      font-size: 18px;
      color: #3498db;
      text-transform: uppercase;
      padding: 5px;
      padding-left: 20px;
    }

    li {
      margin: 0 0 3px 0;
      padding: 0;

      a {
        display: block;
        margin: 0;
        padding: 5px 10px 5px 20px;
      }
    }
  }
}

.collapsed.menu-container {
  left: -$left-nav-width;
}

.menu-container:not(.collapsed) {
  left: 0;
}

.collapsed.collapse-bar {
  border-right: 1px solid #dadada;
  left: 0;
}

.collapse-bar:not(.collapsed) {
  @include drop-shadow(7px, 0, 16px, 0px, 0.19);
  border: none;
  left: $left-nav-width;
}