<div class="side-bar" ng-class="{collapsed : collapsed, locked : menuLocked}" ng-mouseenter="collapsed = false;" ng-mouseleave="mouseleave()">
  <div style="position:relative;height:100%;width:100%;">
    <div class="menu-container">
      <aside>
        <nav>
          <h4>Management</h4>
          <ul>
            <li><a id="users-side-bar-link" href="#/users">Users</a></li>
            <li><a id="groups-side-bar-link" >Groups</a></li>
            <li><a id="skills-side-bar-link" >Skills</a></li>
            <li><a id="roles-side-bar-link" >Roles</a></li>
            <li><a id="locations-side-bar-link" >Locations</a></li>
            <li><a id="extensions-side-bar-link" >Extensions</a></li>
          </ul>
        </nav>
      </aside>
    </div>

    <div class="collapse-bar">
      <span ng-hide="collapsed">
        <i ng-show="menuLocked" class="fa fa-angle-double-left" ng-click="menuLocked = false" title="Undock sidebar"></i>
        <i ng-hide="menuLocked" class="fa fa-thumb-tack" ng-click="menuLocked = true" title="Dock sidebar"></i>
      </span>
      <span ng-show="collapsed"><i class="fa fa-angle-double-right" ng-click="collapsed = false"></i></span>
    </div>
  </div>
</div>
