$hdr-background: #07487a;

#app-toolbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background: #fff;

  .heading-container {
    padding: {
      top: 0;
      bottom: 0;
    }

    margin: {
      top: 0;
      bottom: 0;
    }
  }

  .details {
    padding: {
      top: 0;
      bottom: 0;
    }

    margin: {
      top: 0;
      bottom: 0;
    }
  }
}

md-icon {
  height: auto !important;
  font-size: 28px !important;
}

md-tabs {
  overflow: auto;

  &.tab-open {
    .md-active {
      span {
        &:after {
          font-family: FontAwesome;
          font-size: 1.2em;
          content: ' \f106';
        }
      }
    }
  }

  &.tab-closed {
    .md-active {
      span {
        &:after {
          font-family: FontAwesome;
          font-size: 1.2em;
          content: ' \f107';
        }
      }
    }
  }

  md-ink-bar {
    background: white;
  }
}

md-tabs.md-default-theme md-tabs-wrapper,
md-tabs md-tabs-wrapper {
  background-color: #07487a !important;
  span {
    color: white !important;
    font-size: 1.15em;
  }
}

md-tab-item {
  &.md-tab {
    cursor: pointer;
    text-transform: none;

    &.md-active {
      cursor: pointer;
      color: #fff;
    }
  }
}

.app-dock-content {
  position: relative;

  .close-dock {
    position: absolute;
    right: 20px;
    top: 2px;
    display: block;
    z-index: 100;

    md-icon {
      color: white;
    }
  }
}

.big-notice {
  font-weight: bolder;
  font-size: large;
  color: darkred;
}

.tabs-box {
  md-content {
    background-color: transparent !important;

    p,
    label {
      line-height: 1em;
    }

    label {
      font-weight: bold;
    }
  }
}

md-toolbar.md-default-theme:not(.md-menu-toolbar),
md-toolbar:not(.md-menu-toolbar) {
  &.highlight-error {
    background: #ef4545;
    color: white;
  }
}

md-tabs.md-dynamic-height md-tab-content.md-active {
  overflow: auto;
  height: 55vh;
  max-height: fit-content;
}
