<table-controls
  id="table-pane"
  config="tableConfig"
  items="fetchSkills()"
  selected="selectedSkill"
  resource-name="skill">

  <div name="$original.hasProficiency">
    <span ng-if="item.hasProficiency">{{'value.enabled' | translate}}</span>
    <span ng-if="!item.hasProficiency">{{'value.disabled' | translate}}</span>
  </div>

  <span name="active">
    <span ng-if="item.active">{{'value.enabled' | translate}}</span>
    <span ng-if="!item.active" class="disabled">{{'value.disabled' | translate}}</span>
  </span>

</table-controls>

<resize-handle
  ng-show="selectedSkill || showBulkActions"
  id="resize-pane"
  right-element-id="right-panel"
  left-element-id="table-pane"></resize-handle>

<div id="right-panel" class="right-panel" ng-show="selectedSkill || showBulkActions">
  <resource-details
    ng-show="selectedSkill && !showBulkActions"
    id="details-pane"
    extend-scope="additional"
    header-template-url="app/components/management/skills/skillDetailHeader.html"
    body-template-url="app/components/management/skills/skillDetailBody.html"
    original-resource="selectedSkill"
    resource-name="skill"></resource-details>

  <bulk-action-executor class="details-pane skill-ba" ng-show="showBulkActions" items="fetchSkills()"
    bulk-actions="bulkActions" show-bulk-actions="showBulkActions">
    <ba-set-skill-status bulk-action="bulkActions.setStatus"></ba-set-skill-status>
    <ba-set-skill-has-proficiency bulk-action="bulkActions.setHasProficiency"></ba-set-skill-has-proficiency>
  </bulk-action-executor>
</div>