<div ng-if="originalResource.id">
  <toggle class="status-toggle" name="status" ng-model="resource.status"></toggle>
  
  <div class="info">
    <h1>{{originalResource.name}}</h1>
    <div class="details">
      <b
        translate="value.createdby.time"
        translate-value-date="{{originalResource.created | date:'medium'}}"
        translate-value-creator="{{originalResource.createdBy | displayName}}">
      </b>
      <br/>
      <b
        ng-show="!!originalResource.updatedBy"
        translate="value.updatedby"
        translate-value-date="{{originalResource.updated | date:'medium'}}"
        translate-value-updater="{{originalResource.updatedBy | displayName}}">
      </b>
    </div>
  </div>
</div>

<h1 ng-hide="originalResource.id">Creating Skill</h1>
