<div id="table-pane">
  <table-controls
    config="tableConfig"
    items="fetchSkills()"
    search-query="searchQuery">
  </table-controls>
  
  <lo-resource-table
    config="tableConfig"
    items="fetchSkills()"
    selected="selectedSkill"
    search-query="searchQuery">
    
    <div name="$original.hasProficiency">
      <span ng-if="item.$original.hasProficiency">{{'value.yes' | translate}}</span>
      <span ng-if="!item.$original.hasProficiency" class="disabled">{{'value.no' | translate}}</span>
    </div>
  
    <span name="$original.active">
      <span ng-if="item.$original.active">{{'value.enabled' | translate}}</span>
      <span ng-if="!item.$original.active" class="disabled">{{'value.disabled' | translate}}</span>
    </span>
  
    <span name="$members">
      {{item.fetchSkillUsers().length}}
    </span>
  </lo-resource-table>
</div>

<resize-handle
  ng-show="selectedSkill || showBulkActions"
  id="resize-pane"
  right-element-id="right-panel"
  left-element-id="table-pane"></resize-handle>

<lo-details-panel id="right-panel" 
  class="right-panel"
  ng-show="selectedSkill || showBulkActions"
  ng-resource="selectedSkill">
  
  <ng-form unsaved-changes-warning class="details-pane"
    ng-show="selectedSkill && !showBulkActions" name="forms.detailsForm"
    ng-model="selectedSkill"
    ng-resource="selectedSkill"
    lo-form-submit
    lo-form-cancel
    lo-form-alert>

    <ng-form name="forms.headerForm" separate-validation>
      <div class="detail-header"
         ng-include src="'app/components/management/skills/skillDetailHeader.html'">
       </div>
    </ng-form>

    <div class="detail-body"
      ng-include src="'app/components/management/skills/skillDetailBody.html'">
    </div>

    <div class="detail-controls">
      <input id="cancel-details-btn" type="button" class="btn"
        value="{{'value.cancel' | translate}}"
        lo-cancel>
      </input>
      <input id="submit-details-btn" class="btn btn-primary"
        type="submit" value="{{'value.submit' | translate}}"
        ng-disabled="forms.detailsForm.$invalid || ! forms.detailsForm.$dirty"
        lo-submit="submit()"
        lo-submit-spinner
        lo-submit-spinner-status="selectedSkill.$busy">
      </input>
    </div>
  </ng-form>
  
  <bulk-action-executor class="details-pane skill-ba"
    ng-show="showBulkActions"
    items="fetchSkills()"
    show-bulk-actions="showBulkActions">
    
    <ba-set-skill-status></ba-set-skill-status>
    <ba-set-skill-has-proficiency></ba-set-skill-has-proficiency>
  </bulk-action-executor>
</lo-details-panel>