<h3 ng-if="! resource.id">Creating Skill</h3>

<div class="divider-header">
  <h4>Skill Details</h4>
</div>

<div class="input-group">
  <label>{{'value.name' | translate}}</label>
  <div>
    <form-error field="detailsForm.name" error-type-api="{{'skill.details.name.error' | translate}}" error-type-required="{{'skill.details.name.error' | translate}}"></form-error>
    <input ng-model="resource.name" name="name" type="text"></input>
  </div>

</div>

<div class="input-group">
  <label class="textarea-label">{{'value.description' | translate}}</label>
  <div>
    <form-error field="detailsForm.description" error-type-required="{{'skill.details.description.error' | translate}}"></form-error>
    <textarea ng-required="true" ng-model="resource.description" name="description"></textarea>
  </div>
</div>

<div class="input-group">
  <label>{{'skill.details.hasProficiency' | translate}}</label>
  <div>
    <div class="error" ng-show="detailsForm.hasProficiency.$touched && detailsForm.hasProficiency.$invalid">{{'skill.details.hasProficiency.error' | translate}}</div>
    <input ng-disabled="resource.id" ng-model="resource.hasProficiency" name="hasProficiency" type="checkbox"></input>
  </div>
</div>