<div ng-if="originalResource.id">
  <toggle class="status-toggle" ng-model="resource.active" 
    confirm-disable-message="{{'skill.details.disable.confirm' | translate}}"
    confirm-enable-message="{{'skill.details.enable.confirm' | translate}}"></toggle>

  <div class="info">
    <h1 id="skill-details-name-header">{{originalResource.name}}</h1>
    <div class="details">
      <b audit-text
        translation="value.createdby.time"
        user-id="originalResource.createdBy"
        date="originalResource.created">
      </b>
      <br/>
      <b audit-text ng-if="!!originalResource.updatedBy"
        translation="value.updatedby"
        user-id="originalResource.updatedBy"
        date="originalResource.updated">
      </b>
    </div>
  </div>
</div>

<h1 id="skill-details-create-header" ng-hide="originalResource.id">{{'skill.details.creating' | translate}}</h1>
