<div ng-if="originalResource.id">
  <toggle class="status-toggle" name="status" ng-model="resource.status"></toggle>
  
  <div class="info">
    <h1>{{originalResource.name}}</h1>
    <div class="details">
      <b audit-text
        translation="value.createdby.time"
        user-id="originalResource.createdBy"
        date="originalResource.created">
      </b>
      <br/>
      <b audit-text ng-if="!!originalResource.updatedBy"
        translation="value.updatedby"
        user-id="originalResource.updatedBy"
        date="originalResource.updated">
      </b>
    </div>
  </div>
</div>

<h1 ng-hide="originalResource.id">{{'skill.details.creating' | translate}}</h1>
