<div class="divider-header">
  <h4>{{'list.items.header' | translate}}</h4>
  <a ng-hide="!('MANAGE_ALL_MEDIA' | hasPermission)" id="add-list-item-button" class="btn pull-right" ng-click="addListItem()" ng-disabled="!addBtnEnabled || list.secondScope.type" title="{{'media.details.list.add.alt' | translate}}"><i class="fa fa-plus"></i></a>
</div>

<form-error field="form.source"
  error-type-required="{{'media.lists.error.required' | translate}}">
</form-error>
<input type="hidden" name="source" ng-model="list.source" required/>

<table
  class="media-list-table table"
  ng-class="{'has-audio-length': selectedMedia.totalLength}"
  resource="list"
  form="form">
  <thead>
    <th>&nbsp;</th>
    <th>{{'value.name' | translate}}</th>
    <th>{{'value.type' | translate}}</th>
    <th ng-if="selectedMedia.totalLength">{{'value.length' | translate}}</th>
    <th>&nbsp;</th>
  <thead>
  <tbody ui-sortable ng-model="list.source">
    <tr ng-show="! list.source.length" ng-class="not-sortable">
      <td colspan="{{selectedMedia.totalLength > 0 ? 5 : 4}}">
        <p class="null">{{'media.details.list.add' | translate}}</p>
      </td>
    </tr>
    <tr
      ng-repeat="listItem in list.source track by $index"
      class="not-sortable"
      class="item">
      <td>
        <div
          class="handle"
          ng-attr-title="{{'details.extension.drag.titletext' | translate}}">
          :::
        </div>
      </td>
      <td>
        <lo-multibox name="listItem{{$index}}"
          ng-init="onSelectCallback = onSelect(list); initMediaList(list)"
          ng-disabled="!('MANAGE_ALL_MEDIA' | hasPermission)"
          items="mediaListObjs"
          resource-name="Media"
          selected-item="listItem"
          on-item-select="onSelectCallback"
          idx="$index">
        </lo-multibox>
      </td>
      <td>
        {{list.source[$index].type}}
      </td>
      <td ng-if="selectedMedia.totalLength">
        {{list.source[$index].properties.length}}
      </td>
      <td class='remove-col'>
        <i id="remove-media-list-item-button"
          class="fa fa-times remove"
          ng-class="{'not-removable' : list.secondScope && list.secondScope.hasOwnProperty('type') === true}"
          ng-hide="!('MANAGE_ALL_MEDIA' | hasPermission)"
          ng-click="removeMediaItem($index)"></i>
      </td>
    </tr>
  </tbody>
</table>
