<div class="lo-alert lo-alert-info" ng-show="(! selectedTenantRole.isNew() && selectedTenantRole.type != 'custom' && (['PLATFORM_CREATE_TENANT_ROLES', 'MANAGE_ALL_ROLES'] | hasPermission)) || selectedTenantRole.tenantId !== Session.tenant.tenantId">
  {{'role.readonly.warning' | translate}}
</div>

<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>

<div disable-contents="selectedTenantRole.tenantId !== Session.tenant.tenantId || selectedTenantRole.type == 'system' || !(['PLATFORM_CREATE_TENANT_ROLES', 'MANAGE_ALL_ROLES'] | hasPermission)">
  <div class="input-group">
    <label>{{'value.name' | translate}} *</label>
    <form-error field="forms.detailsForm.name"
      error-type-required="{{'role.details.name.error' | translate}}">
    </form-error>
    <div>
      <input required ng-model="selectedTenantRole.name" name="name" type="text"></input>
    </div>
  </div>

  <div class="input-group">
    <label class="textarea-label">{{'value.description' | translate}}</label>
    <div>
      <textarea ng-model="selectedTenantRole.description" name="description"></textarea>
    </div>
  </div>
</div>

<role-permissions role="selectedTenantRole"></role-permissions>
