always-auth=true
custom-host-suffix='nexus.cxengagelabs.net'
registry=http://nexus.cxengagelabs.net/content/groups/npm-all/
init.author.name=Jenkins
email=titan-eng@liveops.com
_auth="bnBtOkxpdmVvcHMxIQ=="