<management-menu menu-locked="Session.lockSideMenu" menu-config="sidebarConfig"></management-menu>

<div id="main-content" ng-class="{'expanded-menu': Session.lockSideMenu}">

  <table-controls
    id="table-pane"
    config="tableConfig"
    items="flows"
    on-create-click="createFlow"
    selected="selectedFlow"
    resource-name="flows"></table-controls>

  <resize-handle
    id="resize-pane"
    right-element-id="details-pane"
    left-element-id="table-pane"
    left-min-width="600"
    right-min-width="400"></resize-handle>

  <resource-details
    id="details-pane"
    extend-scope="additional"
    header-template-url="app/components/flows/flowDetailHeader.html"
    body-template-url="app/components/flows/flowDetailBody.html"
    resource="selectedFlow"></resource-details>


</div>
