<management-menu menu-locked="Session.lockSideMenu" menu-config="sidebarConfig"></management-menu>

<div id="main-content" ng-class="{'expanded-menu': Session.lockSideMenu}">
  <div id="table-pane">
    <table-controls config="tableConfig" items="flows" on-create-click="createFlow" selected="selectedFlow" resource-name="flows"></table-controls>
    <resize-handle ng-show="!!selectedFlow" right-element-id="details-pane" left-element-id="table-pane" left-min-width="600" right-min-width="400" ></resize-handle>
  </div>
  
  <div id="right-panel" class="right-panel" ng-show="selectedFlow">
    <resource-details id="details-pane"
    ng-show="selectedFlow"  
    extend-scope="additional"
    header-template-url="app/components/flows/flowDetailHeader.html"
    body-template-url="app/components/flows/flowDetailBody.html"
    resource="selectedFlow"
   />
  </div>
</div>