<div ng-if="resource.id">
  <div class="pull-left">
    <toggle class="status-toggle" ng-model="resource.status"></toggle>
  </div>
  
  <div class="info pull-left">
    <h1>{{resource.name}}</h1>
  
    <div class="details">
      <div>
        <b
          translate="details.createdby"
          translate-value-date="{{resource.created | date:'medium'}}"
          translate-value-creator="{{creator.displayName}}">
        </b>
        <br/>
        <b
          translate="details.updatedby"
          translate-value-date="{{resource.created | date:'medium'}}"
          translate-value-enabler="{{updater.displayName}}">
        </b>
      </div>
    </div>
  </div>
</div>

<div ng-if="! resource.id">
  <div class="info">
    <h1>Creating New Flow</h1>
  </div>
</div>