<div>
  <h3>Flow Designer</h3>

  <table >
    <thead>
      <td>ID</td>
      <td>Name</td>
      <td>Description</td>
      <td>Active</td>
      <td>Parent Tenant</td>
    </thead>
    <tr ng-repeat="flow in flows" >
      <td style="border: 1px solid black;">{{flow.id}}</td>
      <td style="border: 1px solid black;"><a ng-href="#/flows?id={{flow.id}}">{{flow.name}}</a></td>
      <td style="border: 1px solid black;">{{flow.description}}</td>
      <td style="border: 1px solid black;">{{flow.active}}</td>
      <td style="border: 1px solid black;">{{getTenantName(flow.tenantId)}}</td>
    </tr>
  </table>
  <ul>
    <li class="error" ng-repeat="(key, value) in error.error">
      Field `{{key}}` has the following error `{{value}}`
    </li>
  </ul>

  <h3>Create new Flow</h3>
  <form ng-submit="save()">
    <div>Name:
    <input type="text" ng-required="true" ng-model="flow.name" placeholder="This is my flow name">

    </input>
  </div>
  <div>Description:
   <input type="text" ng-required="true" ng-model="flow.description" placeholder="This is my flow description">

 </input>
</div>
<div>Active:
  <toggle class="user-toggle" ng-model="flow.active">

  </toggle>
</div>
<div>Associated Tenant:
  <select ng-model="flow.tenantId">
    <option ng-repeat="tenant in tenants" value="{{tenant.id}}">{{tenant.name}}</option>
  </select>
</div>
<input type="submit" class="btn btn-primary" value="{{ !flow.id ? 'Create' : 'Update' }}"/>
</form>

</div>