.halo .createEvent {
  background-image: url('/assets/images/halo-circle-icon.png');
}

.halo .createActivity {
  background-image: url('/assets/images/halo-rectangle-icon.png');
}

.halo .createGateway {
  background-image: url('/assets/images/halo-diamond-icon.png');
}

.halo .propertiesPanel {
  background-image: url('/assets/images/halo-properties-panel-icon.png');
}

.halo .contextMenu {
  background-image: url('/assets/images/halo-context-menu-icon.png');
}

.halo .remove {
  background-image: url('/assets/images/remove.png');
}

.halo .handle.oneOclock {
  top: -32px;
  right: -7px;
}

.halo .handle.twoOclock {
  top: -7px;
  right: -32px;
}

.halo .handle.threeOclock {
  right: -42px;
  top: calc(50% - 8px);
}

.halo .handle.fourOclock {
  bottom: -7px;
  right: -32px;
}

.halo .handle.fiveOclock {
  bottom: -32px;
  right: -7px;
}

.halo .handle.sixOclock {
  bottom: -42px;
  margin-left: -7.5px;
  left: 50%;
}

.halo .handle.sevenOclock {
  bottom: -32px;
  left: -7px;
}

.halo .handle.eightOclock {
  bottom: -7px;
  left: -32px;
}

.halo .handle.nineOclock {
  left: -42px;
  top: calc(50% - 8px);
}

.halo .handle.tenOclock {
  top: -7px;
  left: -32px;
}

.halo .handle.elevenOclock {
  top: -32px;
  left: -7px;
}

.halo .handle.twelveOclock {
  left: 50%;
  top: -42px;
  margin-left: -7.5px;
}

.halo .handle {
  width: 20px !important;
  height: 20px !important;
  background-size: 20px 20px !important;
}