@import 'stencil.scss';
@import 'inspector.scss';
@import 'toolbar.scss';

.paper-scroller {
  height: 100%;
  overflow: hidden;
}

#paper-container {
  left: 300px;
  right: 0;
  bottom: 0;
  top: 48px;
}

.free-transform {
  display: none;
}

.halo {
  margin: 0px;
}

h3{
  font-family: sans-serif;
}

body {
  margin: 0;
}

.editor-page {
  padding-left: 7px;
}


.liveops-flow-designer {
  width: 100%;
  position: relative;
  height: calc(100vh - 125px);
  //max-height: 800px;
  overflow: hidden;
  display: inline-block;
}

* {
  box-sizing: border-box;
}