<div ng-if="! dncEdit.selectedContact.isNew()">
  <toggle class="status-toggle" ng-model="dncEdit.selectedContact.active"
  confirm-disable-message="{{'dncList.details.disable.confirm' | translate}}"
  confirm-enable-message="{{'dncList.details.enable.confirm' | translate}}"
  ng-disabled="! (['PLATFORM_MANAGE_ALL_TENANTS', 'MANAGE_TENANT'] | hasPermission)"
  on-confirm="updateActive()"></toggle>

  <div class="info">
    <h1>{{dncEdit.selectedContact.$original.getDisplay()}}</h1>
    <div class="details" ng-if="['PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT', 'VIEW_ALL_USERS', 'MANAGE_ALL_USER_EXTENSIONS', 'MANAGE_ALL_GROUP_USERS', 'MANAGE_ALL_USER_SKILLS', 'MANAGE_ALL_USER_LOCATIONS', 'MANAGE_TENANT_ENROLLMENT'] | hasPermission">
      <b audit-text
        translation="value.createdby.time"
        user-id="dncEdit.selectedContact.$original.createdBy"
        date="dncEdit.selectedContact.$original.created">
      </b>
      <br/>
      <b audit-text ng-if="!!dncEdit.selectedContact.$original.updatedBy"
        translation="value.updatedby"
        user-id="dncEdit.selectedContact.$original.updatedBy"
        date="dncEdit.selectedContact.$original.updated">
      </b>
    </div>
    <div class="details" ng-if="!(['PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT', 'VIEW_ALL_USERS', 'MANAGE_ALL_USER_EXTENSIONS', 'MANAGE_ALL_GROUP_USERS', 'MANAGE_ALL_USER_SKILLS', 'MANAGE_ALL_USER_LOCATIONS', 'MANAGE_TENANT_ENROLLMENT'] | hasPermission)">
      <b audit-text
        translation="value.createdon.time"
        date="dncEdit.selectedContact.$original.created">
      </b>
      <br/>
      <b audit-text ng-if="!!dncEdit.selectedContact.$original.updated"
        translation="value.updatedon"
        date="dncEdit.selectedContact.updated">
      </b>
    </div>
  </div>
</div>

<h1 ng-if="dncEdit.selectedContact.isNew()">{{'dncEdit.details.creating' | translate}}</h1>
