<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>

<div disable-contents="! (['MANAGE_ALL_BUSINESS_HOURS'] | hasPermission)">
  <div class="input-group">
    <label>{{'contact' | translate}} *</label>

    <form-error field="dncEdit.forms.detailsForm.contact" error-type-required="{{'dnc.details.contact.error' | translate}}">
    </form-error>
    <input type="text" name="contact" ng-model="dncEdit.selectedContact.contact" ng-required="true" />
  </div>

  <div class="input-group">
    <label>{{'expiration' | translate}}</label>

    <input type="text"
      name="expiration"
      ng-model="dncEdit.selectedContact.expiration"
      moment-picker="dncEdit.selectedContact.expiration"
      format="YYYY-MM-DD"
      start-view="month"
      max-view="month"
      ng-model-options="{timezone: 'UTC'}"
      ng-resource="dncEdit.selectedContact"
      min-date=dncEdit.provideDateToday>

  </div>
</div>
</div>
