<nav class="navbar" ng-controller="NavbarController" ng-switch="Session.isAuthenticated">

    <a ng-href="#/"></a>

    <ul ng-switch-when="true">
      <li>
        <select ng-model="activeTenant" ng-options="tenant.name for tenant in tenants">
          <option value=""></option>
        </select>
      </li>
      <li class="divider"></li>
      <li ng-class="{ active: isActive('/')}"><a ng-href="#/">Users Management</a></li>
      <li ng-class="{ active: isActive('/tenants')}"><a ng-href="#/tenants">Tenants</a></li>
    </ul>

    <div ng-switch-when="true">
      Welcome back, {{ Session.fullName }}
      <div>
        <i class="fa fa-sign-out" ng-click="logout()"></i>
      </div>
    </div>

</nav>
