
$divider-margin: 12px;
$down-arrow-url: "/assets/images/down-arrow.png";

#__bs_notify__ {
  display: none !important;
}

#topnav {
  background-color: $main-color;
  color: #C0BAB6;
  clear: both;
  max-width: 100% !important;
  min-height: $navbar-height;
  padding: 0;
  padding-left: 2.5%;
  position: fixed;
  top: 0;
  width: 100%;
  word-wrap: normal;
  white-space: nowrap;
  z-index: 15;
  
  .welcome {
    padding: 0;
    float: right;
    top: 0;
    position: fixed;
    right: 2.5%;
    color:#C0BAB6;
    clear:both;
    word-wrap:normal;
    white-space:nowrap;

    i.label-icon {
      cursor: pointer;
      color: $main-color-light;
      font-size: 28px;
      line-height: 55px;
      margin-left: 10px;

      &:hover {
        color: white;
      }
    }
  }

  .divider {
    height: $navbar-height - ($divider-margin * 2);
    width: 2px;
    margin-top: $divider-margin;
    margin-bottom: $divider-margin;
    margin-right: 10px;
    margin-left: 20px;
    background-color: $light-grey;
  }

  &>a {
    float: left;
    padding: 0px 8px;
    margin-top: 10px;
    font-size: 18px;
    width: 150px;
  }

  ul {
    font-size: 12px;
    padding: 0;
    margin: 0;

    li {
      display: block;
      float: left;
      margin:0 30px 0 0;
      padding:0;
      position: relative;

      a {
        border-bottom: 4px solid #07487a;
        display: block;
        padding:20px 0;
        color: #C0BAB6;
        background-color: #07487a;
        font-weight: bold;
      }

      &.active a, &:hover a{
        color:#FFFFFF;
        border-color: lighten($main-color, 30%);
      }
    }
  }
  
  dropdown {
    line-height: normal;
  }
}
