<div ng-switch="Session.isAuthenticated()">
  <nav id="topnav" class="clear">
    <ul class="clear" ng-switch-when="true">
      <li><a ng-href="#/" title="Home" id="logo"><img ng-src="assets/images/liveops-logo.png" height="23" ></a></li>
      <li>
        <dropdown id="tenant-dropdown" items="tenantDropdownItems" label="{{Session.tenant.name}}"></dropdown>
      </li>
      <li class="divider"></li>
      <li id="users-nav-link" ng-class="{ active: isActive('/')}"><a ng-href="#/">{{'navbar.users.title' | translate}}</a></li>
      <li id="tenants-nav-link" ng-class="{ active: isActive('/tenants')}"><a ng-href="#/tenants">{{'navbar.tenants.title' | translate}}</a></li>
      <li id="flows-nav-link" ng-class="{ active: isActive('/flows')}"><a ng-href="#/flows">{{'navbar.flows.title' | translate}}</a></li>
      <li id="queues-nav-link" ng-class="{ active: isActive('/queues')}"><a ng-href="#/queues">Queues</a></li>
      <li id="profile-nav-link" ng-class="{ active: isActive('/userprofile')}"><a ng-href="#/userprofile">Your Profile</a></li>
      <li id="invites-nav-link" ng-class="{ active: isActive('/invites')}"><a ng-href="#/invites">Invites</a></li>
    </ul>
  </nav>

  <nav id="welcome" ng-switch-when="true">
    <dropdown id="user-settings-dropdown" items="userDropdownItems" label="{{welcomeMessage}}" expand-icon="fa fa-gear" collapse-icon="fa fa-gear"></dropdown>
  </nav>
</div>
