$divider-margin: 12px;
$down-arrow-url: "/assets/images/down-arrow.png";

#__bs_notify__ {
  display: none !important;
}

#topnav {
  background-color: $main-color;
  clear: both;
  max-width: 100% !important;
  height: $navbar-height;
  padding: 0;
  padding-left: 15px;;
  position: fixed;
  top: 0;
  width: 100%;
  word-wrap: normal;
  white-space: nowrap;
  z-index: 15;

  #logo {
    background: none;
    @include box-shadow(none);


    img {
      vertical-align: middle;
    }
  }

  #tenant-dropdown {
    .drop-label {
      @include box-shadow(none);

      div {
        min-width: 150px;
        border: 1px solid #fff;
        padding: 10px;
        @include border-radius();

        span {
          max-width: 150px;
          width: 150px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: table-cell;
        }
      }
    }

    .label-icon {
      display: table-cell;
    }
  }

  .divider {
      border: 1px solid $light-grey;
      height: $navbar-height - 20px;
      margin-top: 10px !important;
      margin: 10px 20px;
  }

  > ul {
    font-size: 12px;
    padding: 0;
    margin: 0;
    list-style: none;

    > li {
      display: inline-block;
      padding: 0;
      position: relative;
      margin: 0px 10px;

      a {
        color: $light-grey;
        font-size: 130%;
        font-weight: 100;
        height: $navbar-height;
        position: relative;
        display: table-cell;
        vertical-align: middle;
      }

      &.active a, &:hover a {
        @include box-shadow(inset 0px -5px 0px 0px $accent1);
        color: white;
      }
    }

    .drop-label {
      .label-icon{
      }

      > div {
        overflow: visible;
      }
    }

    .label-icon {
      color: $main-color;
      width: 0;
      padding: 0;
    }

    #tenant-dropdown .label-icon {
      color: $light-grey;
      width: auto;
    }

    li:hover .label-icon, #tenant-dropdown:hover .label-icon, .drop-origin .label-icon {
      color: #fff;
    }

    #tenant-dropdown .dropdown {
      right: 0;
    }
  }
}

#topnav .dropdown, #welcome .dropdown {
  & li {
    border-left: 3px solid #fff;
    color: $darkest-grey;
    background: #FFFFFF;
    padding: 10px 6px 10px 0;
    font-size: 14px;
  }

  & li:hover {
    color: $darkest-grey;
    background: $accent-light;
    border-left: 3px solid $accent1
  }
}

#welcome {
  padding: 0;
  float: right;
  min-height: $navbar-height;
  top: 0;
  position: fixed;
  right: 2.5%;
  clear: both;
  word-wrap: normal;
  white-space: nowrap;
  z-index: 15;

  .drop-label {
    color: $light-grey;
    line-height: $navbar-height / 2;
  }

  .dropdown-wrapper{
    padding-top: $navbar-height / 2 - 10px;
  }

  .label-icon {
    font-size: 1.5em;
  }

  .drop-label, .label-icon {
    &:hover {
      color: #fff;
    }
  }
}
