<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>

<div>
  <div class="input-group" disable-contents="! ('MAP_ALL_CONTACT_POINTS' | hasPermission)">
    <label>{{'value.name' | translate}} *</label>
    <form-error field="forms.dispatchMappingForm.name"
      error-type-required="{{'value.error.name.required' | translate}}">
    </form-error>
    <div>
      <input type="text" name="name"
        ng-model="selectedDispatchMapping.name"
        ng-required="true">
    </div>
  </div>

  <div class="input-group" disable-contents="! ('MAP_ALL_CONTACT_POINTS' | hasPermission)">
    <label class="textarea-label">{{'value.description' | translate}}</label>
    <div>
      <textarea name="description"
        ng-required="false"
        ng-model="selectedDispatchMapping.description" >
      </textarea>
    </div>
  </div>
</div>

<div disable-contents="! ('MAP_ALL_CONTACT_POINTS' | hasPermission)">
  <div class="input-group">
    <label>{{'dispatchMappings.details.interactionType' | translate}} *</label>
    <form-error field="forms.dispatchMappingForm.channelType"
      error-type-required="{{'dispatchMappings.details.channelType.error' | translate}}">
    </form-error>
    <div>
      <select name="channelType"
        ng-required="true"
        ng-model="selectedDispatchMapping.channelType"
        ng-options="channelType.value as channelType.display for channelType in dispatchMappingChannelTypes"
        ng-change="clearPatternWarnings()">
        <option value="" ng-disabled="true">
          {{'dispatchMappings.details.interactionType.select' | translate}}
        </option>
      </select>
    </div>
  </div>

  <div class="input-group">
    <label>{{'dispatchMappings.details.channelType' | translate}} *</label>
    <form-error field="forms.dispatchMappingForm.interactionField"
      error-type-required="{{'dispatchMappings.details.interactionType.error' | translate}}">
    </form-error>
    <div>
      <select id="integration-form-dropwdown" name="interactionField"
        ng-model="selectedDispatchMapping.interactionField"
        ng-required="true"
        ng-change="selectedDispatchMapping.value = ''"
        ng-options="interactionFields.value as interactionFields.display for interactionFields in dispatchMappingInteractionFields">
        <option value="" ng-disabled="true">
          {{'dispatchMappings.details.channelType.select' | translate}}
        </option>
      </select>
    </div>
  </div>

  <div class="input-group" ng-if="isTelInput()">
    <label>{{'dispatchMappings.details.mapping' | translate}} *</label>
    <form-error field="forms.dispatchMappingForm.telvalue"
      error-type-required="{{'dispatchMappings.details.mapping.error' | translate}}"
      error-type-phone-number="{{'details.phoneNumber.error' | translate}}">
    </form-error>
    <div
      class="lo-error"
      role="alert"
      ng-if='mappingVoiceValPatternError'>
      {{'dispatchMappings.mappingValueVoice.pattern.error' | translate}}
    </div>

    <div
      class="lo-error"
      role="alert"
      ng-if='mappingSmsValPatternError'>
      {{'dispatchMappings.mappingValueSms.pattern.error' | translate}}
    </div>

    <div>
      <input id="phone-form-field" name="telvalue" type="text"
        ng-if="selectedDispatchMapping.channelType === 'voice' || selectedDispatchMapping.channelType === 'sms'"
        lo-validate="isTelInput()"
        ng-required="isTelInput()"
        ng-model="selectedDispatchMapping.value"
        ng-blur="patternWarn(selectedDispatchMapping.value)"
        ng-focus="clearPatternWarnings()">
      <input id="phone-form-field" name="telvalue" type="text"
        ng-if="selectedDispatchMapping.channelType !== 'voice' && selectedDispatchMapping.channelType !== 'sms'"
        lo-validate="isTelInput()"
        ng-required="isTelInput()"
        ng-model="selectedDispatchMapping.value">
    </div>
  </div>

  <div class="input-group" ng-show="selectedDispatchMapping.interactionField === 'source'">
    <label>{{'integration.details' | translate}} *</label>
    <form-error field="forms.dispatchMappingForm.integrationvalue"
      error-type-required="{{'dispatchMappings.details.integration.error' | translate}}">
    </form-error>
    <div>
      <select id="integration-form-dropdown" name="integrationvalue"
        ng-required="selectedDispatchMapping.interactionField === 'source'"
        ng-model="selectedDispatchMapping.value"
        ng-options="integration.type as integration.type for integration in integrations">
        <option value="" ng-disabled="true">
          {{'dispatchMappings.details.integration.select' | translate}}
        </option>
      </select>
    </div>
  </div>

  <div class="input-group" ng-show="selectedDispatchMapping.interactionField === 'direction'">
    <label>{{'dispatchMappings.details.direction' | translate}} *</label>
    <form-error field="forms.dispatchMappingForm.directionvalue"
      error-type-required="{{'dispatchMappings.details.direction.error' | translate}}">
    </form-error>
    <div>
      <select id="direction-form-dropdown" name="directionvalue"
        ng-required="selectedDispatchMapping.interactionField === 'direction'"
        ng-model="selectedDispatchMapping.value"
        ng-options="dispatchMappingDirection.value as dispatchMappingDirection.display for dispatchMappingDirection in dispatchMappingDirections">
        <option value="" ng-disabled="true">
          {{'dispatchMappings.details.direction.select' | translate}}
        </option>
      </select>
    </div>
  </div>

  <div class="input-group">
    <label>{{'dispatchMappings.details.flow' | translate}} *</label>
    <form-error field="forms.dispatchMappingForm.flowId"
      error-type-required="{{'dispatchMappings.details.flow.error' | translate}}">
    </form-error>
    <div>
      <select name="flowId"
        ng-required="true"
        ng-model="selectedDispatchMapping.flowId"
        ng-options="flow.id as flow.name for flow in flows | filter:{active: true, type: 'customer'}">
        <option value="" ng-disabled="true">
          {{'dispatchMappings.details.flow.select' | translate}}
        </option>
      </select>
    </div>
  </div>
</div>
