<div ng-if="! selectedDispatchMapping.isNew()">
  <toggle class="status-toggle" ng-model="selectedDispatchMapping.active" 
  confirm-disable-message="{{'dispatchMappings.details.disable.confirm' | translate}}"
  confirm-enable-message="{{'dispatchMappings.details.enable.confirm' | translate}}"
  ng-disabled="! ('MAP_ALL_CONTACT_POINTS' | hasPermission)"></toggle>

  <div class="info pull-left">
    <h1 id="dispatch-mappings-details-name-header">{{selectedDispatchMapping.$original.getDisplay()}}</h1>
    <div class="details" ng-if="! (['PLATFORM_VIEW_ALL_USERS', 'PLATFORM_CREATE_USERS', 'PLATFORM_MANAGE_ALL_USERS', 'PLATFORM_MANAGE_ALL_TENANTS', 'PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT'] | hasPermission)">
      <b audit-text
        translation="value.createdon.time"
        date="selectedDispatchMapping.$original.created">
      </b>
      <br/>
      <b audit-text ng-if="!!selectedDispatchMapping.$original.updated"
        translation="value.updatedon"
        date="selectedDispatchMapping.$original.updated">
      </b>
    </div>
    <div class="details" ng-if="['PLATFORM_VIEW_ALL_USERS', 'PLATFORM_CREATE_USERS', 'PLATFORM_MANAGE_ALL_USERS', 'PLATFORM_MANAGE_ALL_TENANTS', 'PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT'] | hasPermission">
      <b audit-text
        translation="value.createdby.time"
        user-id="selectedDispatchMapping.$original.createdBy"
        date="selectedDispatchMapping.$original.created">
      </b>
      <br/>
      <b audit-text ng-if="!!selectedDispatchMapping.$original.updatedBy"
        translation="value.updatedby"
        user-id="selectedDispatchMapping.$original.updatedBy"
        date="selectedDispatchMapping.$original.updated">
      </b>
    </div>
  </div>
</div>

<div ng-if="selectedDispatchMapping.isNew()">
    <h1 id="dispatch-mappings-details-create-header">{{'dispatchMappings.details.creating' | translate}}</h1>
</div>
