<table-controls
  id="table-pane"
  config="tableConfig"
  items="fetchDispatchMappings()"
  selected="selectedDispatchMapping"
  resource-name="{{'tenants:' + Session.tenant.tenantId + ':dispatch-mappings'}}">

  <span name="$original.active">
    <span ng-if="item.$original.active">{{'value.enabled' | translate}}</span>
    <span ng-if="!item.$original.active" class="disabled">{{'value.disabled' | translate}}</span>
  </span>

</table-controls>

<resize-handle
  ng-show="!! selectedDispatchMapping || showBulkActions"
  id="resize-pane"
  right-element-id="right-panel"
  left-element-id="table-pane"></resize-handle>

<div id="right-panel" class="right-panel" ng-show="selectedDispatchMapping || showBulkActions">
  <resource-details
    ng-show="!! selectedDispatchMapping && !showBulkActions"
    id="details-pane"
    resource-name="{{'tenants:' + Session.tenant.tenantId + ':dispatch-mappings'}}"
    extend-scope="additional"
    header-template-url="app/components/flows/dispatchMappings/dispatchMappingDetailHeader.html"
    body-template-url="app/components/flows/dispatchMappings/dispatchMappingDetailBody.html"
    original-resource="selectedDispatchMapping"></resource-details>

  <bulk-action-executor class="details-pane" ng-show="showBulkActions" items="fetchDispatchMappings()"
    bulk-actions="bulkActions" show-bulk-actions="showBulkActions">
    <ba-set-dispatch-mapping-status bulk-action="bulkActions.setDispatchMappingStatus">
    </ba-set-dispatch-mapping-status>
  </bulk-action-executor>
</div>