<table-controls
  id="table-pane"
  config="tableConfig"
  items="dispatchMappings"
  selected="selectedDispatchMapping"
  resource-name="{{'tenants:' + Session.tenant.tenantId + ':dispatch-mappings'}}">
</table-controls>

<resize-handle
  id="resize-pane"
  right-element-id="details-pane"
  left-element-id="table-pane"
  left-min-width="830"
  right-min-width="300"></resize-handle>

<resource-details
  id="details-pane"
  resource-name="{{'tenants:' + Session.tenant.tenantId + ':dispatch-mappings'}}"
  extend-scope="additional"
  header-template-url="app/components/flows/dispatchMappings/dispatchMappingDetailHeader.html"
  body-template-url="app/components/flows/dispatchMappings/dispatchMappingDetailBody.html"
  original-resource="selectedDispatchMapping"></resource-details>
