<div ng-if="originalResource.id">
  <toggle class="status-toggle" ng-model="resource.active" 
  confirm-disable-message="{{'dispatchMappings.details.disable.confirm' | translate}}"
  confirm-enable-message="{{'dispatchMappings.details.enable.confirm' | translate}}"
  ng-disabled="! ('MAP_ALL_CONTACT_POINTS' | hasPermission)"></toggle>

  <div class="info pull-left">
    <h1 id="dispatch-mappings-details-name-header">{{originalResource.name}}</h1>
    <div class="details">
      <b audit-text
        translation="value.createdby.time"
        user-id="originalResource.createdBy"
        date="originalResource.created">
      </b>
      <br/>
      <b audit-text ng-if="!!originalResource.updatedBy"
        translation="value.updatedby"
        user-id="originalResource.updatedBy"
        date="originalResource.updated">
      </b>
    </div>
  </div>
</div>

<div ng-if="! originalResource.id">
    <h1 id="dispatch-mappings-details-create-header">{{'dispatchMappings.details.creating' | translate}}</h1>
</div>
