<div id="table-pane">
  <table-controls
    config="tableConfig"
    items="dispatchMappings"
    search-query="searchQuery">
  </table-controls>

  <lo-resource-table
    config="tableConfig"
    items="dispatchMappings"
    selected="selectedDispatchMapping"
    search-query="searchQuery">

    <span name="$original.active">
      <span ng-if="item.active">{{'value.enabled' | translate}}</span>
      <span ng-if="!item.active" class="disabled">{{'value.disabled' | translate}}</span>
    </span>
  </lo-resource-table>
</div>

<resize-handle
  ng-show="!! selectedDispatchMapping || showBulkActions"
  id="resize-pane"
  right-element-id="right-panel"
  left-element-id="table-pane"></resize-handle>

<lo-details-panel id="right-panel" class="right-panel"
  name="mediaDetailsController"
  ng-show="selectedDispatchMapping || showBulkActions"
  ng-resource="selectedDispatchMapping"
  lo-media-details>

  <ng-form unsaved-changes-warning class="details-pane"
    ng-show="selectedDispatchMapping"
    name="forms.dispatchMappingForm"
    ng-model="selectedDispatchMapping"
    ng-resource="selectedDispatchMapping"
    lo-form-submit
    lo-form-cancel>

    <ng-form name="forms.headerForm" separate-validation>
      <div class="detail-header"
        ng-include src="'app/components/flows/dispatchMappings/dispatchMappingDetailHeader.html'">
      </div>
    </ng-form>

    <div class="detail-body"
      ng-include src="'app/components/flows/dispatchMappings/dispatchMappingDetailBody.html'">
    </div>

    <div class="detail-controls">
      <input id="cancel-details-btn" type="button" class="btn"
        value="{{'value.cancel' | translate}}"
        lo-cancel>
      </input>
      <input id="submit-details-btn" class="btn btn-primary"
        type="submit" value="{{'value.submit' | translate}}"
        ng-disabled="forms.dispatchMappingForm.$invalid || ! forms.dispatchMappingForm.$dirty"
        lo-submit="submit()"
        lo-submit-spinner
        lo-submit-spinner-status="selectedDispatchMapping.$busy">
      </input>
    </div>
  </ng-form>

  <bulk-action-executor class="details-pane"
    ng-show="showBulkActions"
    items="dispatchMappings"
    show-bulk-actions="showBulkActions">

    <ba-set-dispatch-mapping-status>
    </ba-set-dispatch-mapping-status>
  </bulk-action-executor>
</lo-details-panel>
