<div class="divider-header">
  <h4>{{'flow.draft.title' | translate}}</h4>
  <a id="show-create-new-draft" ng-hide="createNewDraft || ! ('MANAGE_ALL_FLOWS' | hasPermission)" class="btn pull-right" ng-click="createNewDraft = true" title="{{'flow.details.version.add.alt' | translate}}"><i class="fa fa-plus"></i></a>
</div>

<div ng-show="createNewDraft">
  <div class="divider-header">
    <h4>{{'flow.details.versions.create.title' | translate }}</h4>
  </div>

  <ng-form name="createDraftForm" separate-validation lo-form-submit>
    <div class="input-group">
      <label>{{'value.name' | translate}} *</label>
      <form-error field="createDraftForm.name" error-type-required="{{'value.error.name.required' | translate}}"></form-error>
      <input ng-required="true" type="text" ng-model="draft.name" name="name"></input>
    </div>

    <div class="input-group">
      <label>{{'value.description' | translate}}</label>
      <input type="text" ng-model="draft.description" name="description"></input>
    </div>
    <div class="flow-controls input-group">
      <label></label>
      <input id="cancel-flow-draft-btn" type="button" ng-click="createNewDraft = false" class="btn" value="{{'value.cancel' | translate}}" />
      <input id="create-flow-draft-btn" ng-disabled="createDraftForm.$invalid || !createDraftForm.$dirty"
        lo-submit="saveDraft()" lo-submit-spinner lo-submit-spinner-status="draft.$busy" type="submit" class="btn btn-primary" value="{{ 'value.create' | translate }}"/>
    </div>
  </ng-form>
</div>

<loading ng-show="!drafts.$resolved"></loading>
<p class="null" ng-show="drafts.$resolved && drafts.length == 0">{{'flow.draft.none' | translate}}</p>

<table class="table" id="flow-details-draft-table" ng-show="drafts.length > 0">
  <thead>
    <tr>
      <th colspan="2">{{'value.name' | translate}}</th>
      <th>{{'value.createdOn' | translate}}</th>
      <th colspan="2" ng-if="['PLATFORM_VIEW_ALL_USERS', 'PLATFORM_CREATE_USERS', 'PLATFORM_MANAGE_ALL_USERS', 'PLATFORM_MANAGE_ALL_TENANTS', 'PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT'] | hasPermission">
        {{'value.createdBy' | translate}}
      </th>
    </tr>
  </thead>
  <tr ng-repeat="draft in drafts | orderBy:'created':'reverse'">
    <td><a ng-href="#/flows/editor/{{draft.flowId}}/{{draft.id}}">{{draft.name}}</a></td>
    <td><a ng-if="('MANAGE_ALL_FLOWS' | hasPermission)" ng-click="onCopyClick({draft: draft})">{{'flow.details.copy' | translate}}</a></td>
    <td>{{draft.created | date:'medium'}}</td>
    <td ng-if="['PLATFORM_VIEW_ALL_USERS', 'PLATFORM_CREATE_USERS', 'PLATFORM_MANAGE_ALL_USERS', 'PLATFORM_MANAGE_ALL_TENANTS', 'PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT'] | hasPermission">
      <audit-text translation="value.displayName" user-id="draft.createdBy"></audit-text>
    </td>
    <td>
      <a ng-show="'MANAGE_ALL_FLOWS' | hasPermission" class="remove" ng-click="deleteDraft(draft)" title="{{'flow.draft.delete.alt' | translate}}"><i class="fa fa-times"></i></a>
    </td>
  </tr>
</table>
