<div class="divider-header">
  <h4>{{'flow.draft.title' | translate}}</h4>
</div>

<loading ng-show="! drafts.$resolved"></loading>
<p class="null" ng-show="drafts.$resolved && drafts.length == 0">{{'flow.draft.none' | translate}}</p>

<table class="table" id="flow-details-draft-table" ng-show="drafts.length > 0">
  <thead>
    <tr>
      <th>{{'value.name' | translate}}</th>
      <th>{{'value.createdOn' | translate}}</th>
      <th ng-if="['PLATFORM_VIEW_ALL_USERS', 'PLATFORM_CREATE_USERS', 'PLATFORM_MANAGE_ALL_USERS', 'PLATFORM_MANAGE_ALL_TENANTS', 'PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT'] | hasPermission">
        {{'value.createdBy' | translate}}
      </th>
      <th></th>
    </tr>
  </thead>
  <tr ng-repeat="draft in drafts | orderBy:'created':'reverse'">
    <td><a ng-href="#/flows/editor/{{draft.flowId}}/{{draft.id}}">{{draft.name}}</a></td>
    <td>{{draft.created | date:'medium'}}</td>
    <td ng-if="['PLATFORM_VIEW_ALL_USERS', 'PLATFORM_CREATE_USERS', 'PLATFORM_MANAGE_ALL_USERS', 'PLATFORM_MANAGE_ALL_TENANTS', 'PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT'] | hasPermission">
      <audit-text translation="value.displayName" user-id="draft.createdBy"></audit-text>
    </td>
    <td>
      <a ng-show="'MANAGE_ALL_FLOWS' | hasPermission" class="remove" ng-click="deleteDraft(draft)" title="{{'flow.draft.delete.alt' | translate}}"><i class="fa fa-times"></i></a>
    </td>
  </tr>
</table>
