<div class="divider-header">
  <h4>Drafts</h4>
</div>

<loading ng-show="! drafts.$resolved"></loading>
<p class="null" ng-show="drafts.$resolved && drafts.length == 0">There are no drafts saved for this flow. Drafts are created automatically from the Flow Designer.</p>

<table class="table" id="flow-details-draft-table" ng-show="drafts.length > 0">
  <thead>
    <tr>
      <th>{{'value.name' | translate}}</th>
      <th>{{'value.createdOn' | translate}}</th>
      <th>{{'value.createdBy' | translate}}</th>
      <th></th>
    </tr>
  </thead>
  <tr ng-repeat="draft in drafts | orderBy:'created':'reverse'">
    <td><a href="#">{{draft.name}}</a></td>
    <td>{{draft.created | date:'medium'}}</td>
    <td>
      <audit-text translation="value.displayName" user-id="draft.createdBy"></audit-text>
    </td>
    <td>
      <a class="remove" ng-click="deleteDraft(draft)" title="Delete this draft"><i class="fa fa-times"></i></a>
    </td>
  </tr>
</table>
