.flow-controls{
  text-align: right;
  margin-bottom: 10px;
  
  input, a {
    float: left;
    width: calc(50% - 3px) !important;
  }
  
  input+input, input+a {
    margin-left: 6px !important;
  }
}