<div class="divider-header">
  <h4>{{'flowVersions.title' | translate}}</h4>
</div>

<div ng-show="createNewVersion">
  <div class="divider-header">
    <h4>{{'flow.details.versions.create.title' | translate }}</h4>
  </div>

  <ng-form name="createVersionForm" separate-validation lo-form-submit>
    <div class="input-group">
      <label>{{'value.name' | translate}} *</label>
      <form-error field="createVersionForm.name" error-type-required="{{'value.error.name.required' | translate}}"></form-error>
      <input ng-required="true" type="text" ng-model="version.name" name="name"></input>
    </div>

    <div class="input-group">
      <label>{{'value.description' | translate}}</label>
      <input type="text" ng-model="version.description" name="description"></input>
    </div>
    <div class="flow-controls input-group">
      <label></label>
      <input id="cancel-flow-version-btn" type="button" ng-click="createNewVersion = false" class="btn" value="{{'value.cancel' | translate}}" />
      <input id="create-flow-version-btn" ng-disabled="createVersionForm.$invalid || !createVersionForm.$dirty"
        lo-submit="saveVersion()" type="submit" class="btn btn-primary" value="{{ 'value.create' | translate }}"/>
    </div>
  </ng-form>
</div>

<loading ng-show="! getVersions().$resolved"></loading>

<table class="table" id="flow-details-versions-table" ng-show="getVersions().length > 0">
  <thead>
    <tr>
      <th>{{'value.version' | translate}}</th>
      <th>{{'value.name' | translate}}</th>
      <th>{{'value.createdOn' | translate}}</th>
      <th ng-if="['PLATFORM_VIEW_ALL_USERS', 'PLATFORM_CREATE_USERS', 'PLATFORM_MANAGE_ALL_USERS', 'PLATFORM_MANAGE_ALL_TENANTS', 'PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT'] | hasPermission">
        {{'value.createdBy' | translate}}
      </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tr ng-repeat="version in getVersions() | orderBy:'created':'reverse'">
    <td>{{version.fakeVersion}}</td>
    <td>{{version.name}}</td>
    <td>{{version.created | date:'medium'}}</td>
    <td ng-if="['PLATFORM_VIEW_ALL_USERS', 'PLATFORM_CREATE_USERS', 'PLATFORM_MANAGE_ALL_USERS', 'PLATFORM_MANAGE_ALL_TENANTS', 'PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT'] | hasPermission">
      <audit-text translation="value.displayName" user-id="version.createdBy"></audit-text>
    </td>
    <td><a ng-href="#/flows/viewer/{{version.flowId}}/{{version.version}}">{{'flow.details.view' | translate}}</a></td>
    <td><a ng-if="('MANAGE_ALL_FLOWS' | hasPermission)" ng-click="onEditClick({version: version})">{{'flow.details.edit' | translate}}</a></td>
    <td><a ng-if="('MANAGE_ALL_FLOWS' | hasPermission)" ng-click="onCopyClick({version: version})">{{'flow.details.copy' | translate}}</a></td>
  </tr>
</table>
