<div class="lo-alert lo-alert-info" ng-show="! dlc.selectedDispositionList.isNew() && dlc.selectedDispositionList.tenantId !== Session.tenant.tenantId">
  {{'dispositionLists.readonly.warning' | translate}}
</div>

<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>


<div class="input-group">
  <label>{{'value.name' | translate}} *</label>
  <form-error field="forms.detailsForm.name" error-type-required="{{'details.name.error' | translate}}" ></form-error>
  <div class="lo-error" role="alert" ng-if='dlc.duplicateError'>{{dlc.duplicateErrorMessage}}</div>
  <div>
    <input ng-required="true" type="text" ng-model="dlc.selectedDispositionList.name" name="name" ng-disabled="dlc.selectedDispositionList.tenantId !== Session.tenant.tenantId || !(['UPDATE_DISPOSITION_LIST'] | hasPermission)"/>
  </div>
</div>

<div class="input-group">
  <label>{{'details.externalId' | translate}}</label>
  <div>
    <input type="text" ng-model="dlc.selectedDispositionList.externalId" name="externalId" ng-disabled="dlc.selectedDispositionList.tenantId !== Session.tenant.tenantId || !(['UPDATE_DISPOSITION_LIST'] | hasPermission)"/>
  </div>
</div>

<div class="input-group">
  <label class="textarea-label">{{'value.description' | translate}}</label>
  <textarea ng-model="dlc.selectedDispositionList.description" ng-disabled="dlc.selectedDispositionList.tenantId !== Session.tenant.tenantId || !(['UPDATE_DISPOSITION_LIST'] | hasPermission)"></textarea>
</div>

<div class="input-group">
  <label>{{'value.shared' | translate}}</label>
  <div>
    <toggle class="status-toggle" name="shared"
      ng-disabled="(! dlc.selectedDispositionList.isNew() && dlc.selectedDispositionList.$original.shared) || !('UPDATE_DISPOSITION_LIST' | hasPermission) || dlc.selectedDispositionList.tenantId !== Session.tenant.tenantId"
      ng-model="dlc.selectedDispositionList.shared">
    </toggle>
  </div>
</div>


<div class="divider-header">
  <h4>{{'dispositions' | translate}}</h4>
</div>

<div class="input-group">
  <div class="lo-error centered-error" ng-show="errBlank">{{'dispositionList.details.category' | translate}}</div>
  <div class="lo-error centered-error" ng-show="err">{{'dispositions.invalid' | translate}}</div>
  <list-editor ng-model="dlc.selectedDispositionList.dispositions" form="forms.detailsForm" type="dispositions" read-only="dlc.selectedDispositionList.tenantId !== Session.tenant.tenantId || !(['UPDATE_DISPOSITION_LIST'] | hasPermission)" shared="dlc.selectedDispositionList.shared"></list-editor>
</div>
