<div id="table-pane">
  <table-controls
    config="tableConfig"
    items="tenants"
    search-query="searchQuery">
  </table-controls>

  <lo-resource-table
    config="tableConfig"
    items="tenants"
    selected="selectedTenant"
    search-query="searchQuery">

    <span name="active">
      <span ng-if="item.active">{{'value.enabled' | translate}}</span>
      <span ng-if="!item.active" class="disabled">{{'value.disabled' | translate}}</span>
    </span>
  </lo-resource-table>
</div>

<resize-handle
  ng-show="selectedTenant || showBulkActions"
  id="resize-pane"
  right-element-id="tenant-details-pane"
  left-element-id="table-pane"></resize-handle>

<lo-details-panel
  id="tenant-details-pane"
  class="right-panel"
  ng-show="selectedTenant || showBulkActions"
  ng-resource="selectedTenant">

    <ng-form
      class="details-pane"
      unsaved-changes-warning
      name="forms.detailsForm"
      ng-show="!showBulkActions"
      ng-resource="selectedTenant"
      lo-form-submit lo-form-cancel lo-form-alert>

      <ng-form name="forms.headerForm" separate-validation>
        <div class="detail-header" ng-include="'app/components/configuration/tenants/tenantDetailHeader.html'">
        </div>
      </ng-form>

      <div class="detail-body" ng-include="'app/components/configuration/tenants/tenantDetailBody.html'">
      </div>

      <div class="detail-controls">
        <input
          id="cancel-details-btn" class="btn" type="button"
          ng-disabled="selectedTenant.$busy"
          value="{{'value.cancel' | translate}}"
          lo-cancel></input>

        <input
          id="submit-details-btn"
          lo-submit="submit()"
          lo-submit-spinner
          lo-submit-spinner-status="selectedTenant.$busy"
          ng-disabled="forms.detailsForm.$pending || forms.detailsForm.$invalid || ! forms.detailsForm.$dirty"
          class="btn btn-primary"
          ng-style="$root.branding.styles.primaryColor.btn"
          type="submit"
          value="{{'value.submit' | translate}}" />
      </div>
    </ng-form>

  <bulk-action-executor class="details-pane"
    ng-show="showBulkActions"
    items="tenants"
    show-bulk-actions="showBulkActions">

    <ba-set-tenant-status></ba-set-tenant-status>
  </bulk-action-executor>
</lo-details-panel>
