<div ng-if="! selectedTenant.isNew()">
  <toggle class="status-toggle" ng-model="selectedTenant.active" 
  confirm-disable-message="{{'tenant.details.disable.confirm' | translate}}"
  confirm-enable-message="{{'tenant.details.enable.confirm' | translate}}"
  ng-disabled="! (['PLATFORM_MANAGE_ALL_TENANTS', 'MANAGE_TENANT'] | hasPermission)"></toggle>
  
  <div class="info">
    <h1>{{selectedTenant.$original.name}}</h1>
    <div class="details" ng-if="['PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT', 'VIEW_ALL_USERS', 'MANAGE_ALL_USER_EXTENSIONS', 'MANAGE_ALL_GROUP_USERS', 'MANAGE_ALL_USER_SKILLS', 'MANAGE_ALL_USER_LOCATIONS', 'MANAGE_TENANT_ENROLLMENT'] | hasPermission">
      <b audit-text
        translation="value.createdby.time"
        user-id="selectedTenant.$original.createdBy"
        date="selectedTenant.$original.created">
      </b>
      <br/>
      <b audit-text ng-if="!!selectedTenant.$original.updatedBy"
        translation="value.updatedby"
        user-id="selectedTenant.$original.updatedBy"
        date="selectedTenant.$original.updated">
      </b>
    </div>
    <div class="details" ng-if="!(['PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT', 'VIEW_ALL_USERS', 'MANAGE_ALL_USER_EXTENSIONS', 'MANAGE_ALL_GROUP_USERS', 'MANAGE_ALL_USER_SKILLS', 'MANAGE_ALL_USER_LOCATIONS', 'MANAGE_TENANT_ENROLLMENT'] | hasPermission)">
      <b audit-text
        translation="value.createdon.time"
        date="selectedTenant.$original.created">
      </b>
      <br/>
      <b audit-text ng-if="!!selectedTenant.$original.updated"
        translation="value.updatedon"
        date="selectedTenant.$original.updated">
      </b>
    </div>
  </div>
</div>

<h1 ng-if="selectedTenant.isNew()">{{'tenant.details.creating' | translate}}</h1>
