.tenant-header{
  padding: 0px;

  p {
    padding: 1px 0;
    font-size: .7em;
    color: #999999;
    line-height: 1.2em;
  }
}

#tenant-details-pane {
  .fa-refresh {
    margin-left: 10px;
  }

  .null {
    text-align: left;
  }
}

.added-padding {
  padding-top:9px;
}

.sub-section {
  margin-left: 10px;
}
