<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>

<div disable-contents="! (['PLATFORM_MANAGE_ALL_TENANTS', 'MANAGE_TENANT'] | hasPermission)">
  <div class="input-group">
    <label>{{'tenant.details.name' | translate}} *</label>
    <form-error ng-if="!selectedTenant.name" field="forms.detailsForm.name"
      error-type-required="{{'tenant.details.name.error' | translate}}" >
    </form-error>
    <div>
      <input required ng-model="selectedTenant.name" name="name" type="text"></input>
    </div>
  </div>

  <div class="input-group">
    <label>{{'tenant.details.admin' | translate}}</label>
    <div>
      <select ng-model="selectedTenant.adminUserId"
        ng-options="user.id as user.getDisplay() for user in users">
      </select>
      <i class="fa fa-refresh fa-spin"
        ng-hide="users.$resolved"></i>
    </div>
  </div>

  <div class="input-group">
    <label class="textarea-label">{{'tenant.details.description' | translate}}</label>
    <div>
      <textarea ng-model="selectedTenant.description"></textarea>
    </div>
  </div>

  <div class="input-group"
    ng-if="timezones.$resolved">
    <label>{{'tenant.details.timezone' | translate}} *</label>

    <form-error field="forms.detailsForm.timezone"
      error-type-required="{{'tenant.details.timezone.required' | translate}}">
    </form-error>
    <select name="timezone"
      ng-required="true"
      ng-model="selectedTenant.timezone"
      ng-options="timezone.timezone as timezone.getDisplay() for timezone in timezones | orderBy:'offsetInMilliseconds'">

      <option value="" disabled>{{'tenant.details.timezone.placeholder' | translate}}</option>
    </select>
  </div>

  <div class="input-group"
    ng-if="integrations.$resolved">
    <label>{{'tenant.details.integration' | translate}}</label>

    <select name="integration"
      ng-model="selectedTenant.outboundIntegrationId"
      ng-options="integration.id as integration.getDisplay().capitalize() for integration in integrations | telephony">

      <option value="" disabled>{{'tenant.details.integration.placeholder' | translate}}</option>
    </select>
  </div>

  <div class="input-group" ng-show="! selectedTenant.isNew()">
    <label class="textarea-label">{{'tenant.details.region' | translate}}</label>
    <p id="tenant-details-region" class="added-padding">{{selectedTenant.$regionDisplay}}</p>
  </div>

  <div class="input-group" ng-if="! selectedTenant.isNew()">
    <label class="textarea-label">{{'tenant.details.id' | translate}}</label>
    <p id="tenant-details-id" class="added-padding">{{selectedTenant.id}}</p>
  </div>
</div>

<div ng-show="! selectedTenant.isNew()">
  <div class="divider-header first-header">
    <h4>{{'tenant.details.parent' | translate}}</h4>
  </div>

  <div class="input-group">
    <label class="textarea-label">{{'tenant.details.id' | translate}}</label>
    <p id="tenant-details-parent-id" class="added-padding">{{selectedTenant.parent.id}}</p>
  </div>

  <div class="input-group">
    <label class="textarea-label">{{'tenant.details.name' | translate}}</label>
    <p id="tenant-details-parent-name"
      class="added-padding"
      ng-show="selectedTenant.parent.name">
      {{selectedTenant.parent.name}}
    </p>
    <p class="null"
      ng-hide="selectedTenant.parent.name">
      {{ 'value.unknown' | translate }}
    </p>
  </div>
</div>
