<div ng-if="createNewVersion">
  <div class="divider-header">
    <h4>{{'flow.details.versions.create.title' | translate }}</h4>
  </div>

  <ng-form name="createVersionForm" separate-validation lo-form-submit unsaved-changes-warning>
    <div class="input-group">
      <label>{{'value.name' | translate}} *</label>
      <form-error field="createVersionForm.name" error-type-required="{{'value.error.name.required' | translate}}"></form-error>
      <input ng-required="true" type="text" ng-model="selectedVersion.name" name="name"></input>
    </div>

    <div class="input-group">
      <label>{{'value.ruleType' | translate}} *</label>
      <div>
        <select name="activeVersion"
          ng-required
          ng-model="selectedVersion.quantifier">
          <option value="any">{{'value.any' | translate}}</option>
          <option value="all">{{'value.all' | translate}}</option>
        </select>
      </div>
    </div>

    <capacity-rule-builder ng-model="selectedVersion.ruleSet" name="ruleSet" quantifier="selectedVersion.quantifier"></capacity-rule-builder>

    <div class="flow-controls input-group">
      <input id="cancel-flow-version-btn" type="button" ng-click="hideCreateNew()" class="btn" value="{{'value.cancel' | translate}}" />
      <input id="create-flow-version-btn" type="submit" class="btn btn-primary"
        ng-disabled="(createVersionForm.$invalid || !createVersionForm.$dirty || createVersionForm.ruleSet.$invalid)"
        lo-submit="saveVersion()" value="{{ 'value.create' | translate }}"/>
    </div>
  </ng-form>
</div>

<div class="divider-header">
  <h4>{{'flowVersions.title' | translate}}</h4>
  <a id="show-create-new-version" ng-hide="createNewVersion" class="btn pull-right" ng-click="addVersion()" title="{{'flow.details.version.add.alt' | translate}}"><i class="fa fa-plus"></i></a>
</div>

<loading ng-show="! getVersions().$resolved"></loading>

<table class="table" id="capacity-rules-versions-table" ng-show="getVersions().length > 0">
  <thead>
    <tr>
      <th>{{'value.version' | translate}}</th>
      <th>{{'value.name' | translate}}</th>
      <th>{{'value.createdOn' | translate}}</th>
      <th></th>
    </tr>
  </thead>
  <tr ng-repeat-start="version in getVersions() | orderBy:'created':'reverse'">
    <td>{{version.fakeVersion}}</td>
    <td>{{version.name}}</td>
    <td>{{version.created | date:'medium'}}</td>
    <td><a ng-click="toggleViewing(version)">view</a></td>
  </tr>
  <tr ng-repeat-end ng-show="version.viewing">
    <td colspan="4">Rule set: <i>{{version.quantifier.capitalize()}} {{version.ruleSet}}</i></td>
  </tr>
</table>
