<div class="input-group"
  ng-repeat="field in listType.fields"
  ng-switch="field.type">
  
  <label>{{field.label}}</label>
  <form-field-validation-message field-name="{{getName(field)}}"
    error-type-required="{{'list.field.required' | translate:{fieldLabel: field.label} }}" >
  </form-field-validation-message>
  
  <div ng-switch-when="string">
    <input name="{{getName(field)}}" type="text"
      ng-required="field.required"
      ng-model="item[field.name]"
      ng-change="inputChange(field)">
    </input>
  </div>
  
  <div ng-switch-when="number">
    <input name="{{getName(field)}}" type="number"
      ng-required="field.required"
      ng-model="item[field.name]"
      ng-change="inputChange(field)">
    </input>
  </div>
  
  <div ng-switch-when="boolean">
    <toggle name="{{getName(field)}}"
      ng-model="item[field.name]"
      ng-init="initBool(item, field)">
    </toggle>
  </div>
  
</div>
