<div id="table-pane">
  <table-controls
    config="rlc.tableConfig"
    items="rlc.reasonLists"
    search-query="searchQuery">
  </table-controls>

  <lo-resource-table
    config="rlc.tableConfig"
    items="rlc.reasonLists"
    selected="rlc.selectedReasonList"
    search-query="searchQuery">

    <span name="$original.shared">
      <span ng-if="item.$original.shared">{{'value.yes' | translate}}</span>
      <span ng-if="!item.$original.shared" class="disabled">{{'value.no' | translate}}</span>
    </span>

    <span name="$original.active">
      <span ng-if="item.$original.active">{{'value.enabled' | translate}}</span>
      <span ng-if="!item.$original.active" class="disabled">{{'value.disabled' | translate}}</span>
    </span>
  </lo-resource-table>
</div>

<resize-handle
  ng-show="rlc.selectedReasonList || showBulkActions"
  id="resize-pane"
  right-element-id="reason-lists-details-pane"
  left-element-id="table-pane"></resize-handle>

<lo-details-panel
  id="reason-lists-details-pane"
  class="right-panel"
  ng-show="rlc.selectedReasonList || showBulkActions"
  ng-resource="rlc.selectedReasonList">

  <ng-form
    class="details-pane"
    unsaved-changes-warning
    name="forms.detailsForm"
    ng-show="!showBulkActions"
    ng-resource="rlc.selectedReasonList"
    lo-form-submit lo-form-cancel lo-form-alert>

    <ng-form name="forms.headerForm" separate-validation>
      <div class="detail-header" ng-include="'app/components/configuration/reasons/reasonLists/reasonListsDetailHeader.html'">
      </div>
    </ng-form>

    <div class="detail-body" ng-include="'app/components/configuration/reasons/reasonLists/reasonListsDetailBody.html'">
    </div>

    <div class="detail-controls">
      <input
        id="cancel-details-btn" class="btn" type="button"
        ng-disabled="rlc.selectedReasonList.$busy"
        value="{{'value.cancel' | translate}}"
        lo-cancel></input>

      <input
        id="submit-details-btn"
        lo-submit="rlc.confirmSubmit()"
        lo-submit-spinner
        lo-submit-spinner-status="rlc.selectedReasonList.$busy"
        ng-disabled="forms.detailsForm.$pending || forms.detailsForm.$invalid || ! forms.detailsForm.$dirty || rlc.selectedReasonList.tenantId !== Session.tenant.tenantId"
        class="btn btn-primary"
        type="submit"
        value="{{'value.submit' | translate}}" />
    </div>

    </ng-form>

    <bulk-action-executor class="details-pane"
      ng-show="showBulkActions"
      items="rlc.reasonLists"
      show-bulk-actions="showBulkActions">

      <ba-set-reason-list-status></ba-set-reason-list-status>
      <ba-set-reason-list-shared></ba-set-reason-list-shared>
    </bulk-action-executor>

</lo-details-panel>
