<div class="lo-alert lo-alert-info" ng-show="! rlc.selectedReasonList.isNew() && rlc.selectedReasonList.tenantId !== Session.tenant.tenantId">
  {{'reasonLists.readonly.warning' | translate}}
</div>

<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>

<div class="input-group">
  <label>{{'value.name' | translate}} *</label>
  <form-error field="forms.detailsForm.name" error-type-required="{{'details.name.error' | translate}}" ></form-error>
  <div class="lo-error" role="alert" ng-if='rlc.duplicateError'>{{rlc.duplicateErrorMessage}}</div>
  <div>
    <input ng-required="true" type="text" ng-model="rlc.selectedReasonList.name" name="name" ng-disabled="rlc.selectedReasonList.tenantId !== Session.tenant.tenantId || !(['UPDATE_REASON_LIST'] | hasPermission)"/>
  </div>
</div>

<div class="input-group">
  <label>{{'details.externalId' | translate}}</label>
  <div>
    <input type="text" ng-model="rlc.selectedReasonList.externalId" name="externalId" ng-disabled="rlc.selectedReasonList.tenantId !== Session.tenant.tenantId || !(['UPDATE_REASON_LIST'] | hasPermission)"/>
  </div>
</div>

<div class="input-group">
  <label class="textarea-label">{{'value.description' | translate}}</label>
  <textarea ng-model="rlc.selectedReasonList.description" ng-disabled="rlc.selectedReasonList.tenantId !== Session.tenant.tenantId || !(['UPDATE_REASON_LIST'] | hasPermission)"></textarea>
</div>

<div class="input-group">
  <label>{{'value.shared' | translate}}</label>
  <div>
    <toggle class="status-toggle" name="shared"
      ng-disabled="(! rlc.selectedReasonList.isNew() && rlc.selectedReasonList.$original.shared) || !('UPDATE_REASON_LIST' | hasPermission) || rlc.selectedReasonList.tenantId !== Session.tenant.tenantId"
      ng-model="rlc.selectedReasonList.shared">
    </toggle>
  </div>
</div>

<div class="divider-header first-header">
  <h4>{{'reasons' | translate}}</h4>
</div>

<div class="input-group">
  <div class="lo-error" ng-show="err">{{'reasons.invalid' | translate}}</div>
  <list-editor ng-model="rlc.selectedReasonList.reasons" form="forms.detailsForm" type="reasons" read-only="rlc.selectedReasonList.tenantId !== Session.tenant.tenantId || !(['UPDATE_REASON_LIST'] | hasPermission)" shared="rlc.selectedReasonList.shared"></list-editor>
</div>
