<div ng-if="! rlc.selectedReasonList.isNew()">
  <toggle class="status-toggle" ng-model="rlc.selectedReasonList.active"
  confirm-disable-message="{{'reasonLists.details.disable.confirm' | translate}}"
  confirm-enable-message="{{'reasonLists.details.enable.confirm' | translate}}"
  ng-disabled="! (['UPDATE_REASON_LIST'] | hasPermission) || rlc.selectedReasonList.tenantId !== Session.tenant.tenantId"
  on-confirm="rlc.updateActive()"></toggle>

  <div class="info">
    <h1 id="role-details-name-header">{{rlc.selectedReasonList.$original.getDisplay()}}</h1>

    <div class="details" ng-if="!(['UPDATE_REASON_LIST'] | hasPermission)">
      <b audit-text
        translation="value.createdby.time"
        user-id="rlc.selectedReasonList.$original.createdBy"
        date="rlc.selectedReasonList.$original.created">
      </b>
      <br/>
      <b audit-text ng-if="!!rlc.selectedReasonList.$original.updatedBy"
        translation="value.updatedby"
        user-id="rlc.selectedReasonList.$original.updatedBy"
        date="rlc.selectedReasonList.$original.updated">
      </b>
    </div>

    <div class="details" ng-if="(['UPDATE_REASON_LIST'] | hasPermission)">
      <b audit-text
        translation="value.createdon.time"
        date="rlc.selectedReasonList.$original.created">
      </b>
      <br/>
      <b audit-text ng-if="!!rlc.selectedReasonList.$original.updated"
        translation="value.updatedon"
        date="rlc.selectedReasonList.$original.updated">
      </b>
    </div>

  </div>
</div>

<h1 id="reason-lists-details-create-header" ng-hide="! rlc.selectedReasonList.isNew()">{{'reasonLists.details.creating' | translate}}</h1>
