.user-list-container {
  padding-left: $side-menu-width;
  display: table;
  width: calc(100% - #{$side-menu-width});

  .action-container {
    padding-bottom: 50px;
  }

  .left-panel {
    border-right: 1px solid $medium-grey;
    display: table-cell;
    height: calc(100% - #{$header-height});
    padding: 20px;
    width: 70%;
    vertical-align: top;
  }

  .right-panel {
    min-width: 500px;
    display: table-cell;
    vertical-align: top;
  }
  
  .action-container > div {
	box-sizing: border-box;
	float:left;
	width: 50%;
  }

  .action-container > div:nth-child(even) {
  	text-align: right;
  }
  
  .actions {
    margin: 20px 0;
    width: 100% !important;
    
    > div {
      float: left;
      margin-right: 15px;
    }
    
    .btn-group {
      min-width: 450px;
      
      .fa {
        margin-right: 7px;
      }
    }
  }
}

.side-menu {
  background-color: #F2F2F2;
  color: #999999;
  font-size: 1.5em;
  height: calc(100% - #{$header-height});
  text-align: center;
  position: absolute;
  width: $side-menu-width;
}

.check-dropdown-container {
  position: relative;
}

.check-dropdown {
  background-color: #FFFFFF;
  border: 1px solid$medium-grey;
  border-top: none;
  font-weight: normal;
  right: 0;
  position: absolute;
  padding: 15px 0;
  top: -2px;
  width: calc(100% - 2px);
  z-index: 10;
   
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    padding: 0 15px;
  }
  li:hover {
    background-color: $lighter-grey;
  }
}

.drop-origin {
  @include border-radius-complex(6, 0, 0, 6);
}