<div class="side-menu"><i class="fa fa-angle-double-left"></i></div>
<div new-user ng-show="showModal"></div>

<div class="user-list-container">
  <div id="left-panel" class="left-panel">
    <div class="action-container">
      <div>
        <input type="text" name='queryUserInput' ng-model="queryUser" placeholder="Search">
      </div>
      <div>
        <button class="btn btn-primary btn-create" ng-click="showModalSection()">Create</button>
      </div>

      <div class="actions">
        <div>
          <dropdown items="selectOptions" label="Select"></dropdown>
        </div>
        <div class="btn-group" ng-disabled="{{! hasChecked}}">
          <a ng-click="enableChecked()" class="btn"><i class="fa fa-check"></i>Enable</a>
          <a ng-click="disableChecked()" class="btn"><i class="fa fa-times"></i>Disable</a>
          <a href="" class="btn disabled"><i class="fa fa-lock"></i>Change Password</a>
        </div>
      </div>
    </div>

    <user-table users="filteredUsers" select-user="selectUser"></user-table>
    <resize-handle ng-show="!!selectedUser" element-id="left-panel" min-width="500"></resize-handle>
  </div>

  <div class="right-panel" ng-show="selectedUser">
    <user-details id="user-details-container" user="selectedUser"  save-field="updateUser">
  </div>
</div>
