.user-list-container{
	.action-container {
		height: 125px; /* Just for whitespace, will contain things later */
	}
	
	.left-panel {
		border-right: 1px solid $medium-grey;
		height: 100%;
		padding: 20px;
		width: 70%;
	}
}