<div class="side-menu"><i class="fa fa-angle-double-left"></i></div>
<div new-user ng-show="showModal"></div>

<div class="user-list-container">
  <div id="left-panel" class="left-panel">
    <div class="action-container">
      <div>
        <input type="text" name='queryUserInput' ng-model="queryUser" placeholder="Search">
      </div>
      <div>
        <button class="btn btn-primary" ng-click="showModalSection()">Create New User</button>
      </div>
      
      <div class="actions">
        <div>
          <button ng-class="{'drop-origin' : showSelectOptions}" class="btn" ng-click="showSelectOptions = ! showSelectOptions"> 
            <i class="fa fa-square-o"></i> Select
            <span><i class="fa" ng-class="{'fa-caret-up' : showSelectOptions, 'fa-caret-down' : ! showSelectOptions}"></i></span>
          </button>
          
          <div class="check-dropdown-container">
            <div class="check-dropdown" ng-hide="! showSelectOptions">
              <ul>
                <li ng-click="selectAll()">
                   All
                </li>
                
                <li ng-click="selectNone()">
                   None
                </li>
              </ul>
            </div>
          </div>
        
        </div>
        <div class="btn-group" ng-disabled="{{! checkedUsers.length}}">
          <a ng-click="enableChecked()" class="btn"><i class="fa fa-check"></i>Enable</a>
          <a ng-click="disableChecked()" class="btn"><i class="fa fa-times"></i>Disable</a>
          <a href="" class="btn disabled"><i class="fa fa-lock"></i>Change Password</a>
        </div>
      </div>
    </div>

    Selected Users: <span ng-repeat="user in checkedUsers">{{user.firstName}}, </span>
    
    <user-table users="filteredUsers" select-user="selectUser"></user-table>
    <resize-handle element-id="left-panel" min-width="500"></resize-handle>
  </div>

  <div class="right-panel">
    <user-details id="user-details-container" user="selectedUserContext.user" display="selectedUserContext.display">
  </div>
</div>
