<div class="input-group">
  <label>
    <select
      id="extension-type-dropdown"
      name="type"
      ng-required="true"
      ng-disabled="lec.editingExtension !== null && extension.provider === 'twilio'"
      ng-class="{'default-selected': ! extension.type}"
      ng-model="extension.type"
      ng-change="clearValues()">
      <option
        ng-repeat="type in loExtensionTypes"
        ng-value="type.value"
        ng-show="!(lec.creatingExtension && type.value === 'webrtc') && !type.hidden">
        {{::type.value | translate}}
      </option>
    </select>
  </label>

  <form-error field="form.type"
    error-type-required="{{'user.details.extensions.type.required' | translate}}" >
  </form-error>
  <form-error field="form.provider"
    error-type-required="{{'user.details.extensions.provider.required' | translate}}" >
  </form-error>
  <form-error field="form.telValue"
    error-type-required="{{'user.details.extensions.value.required' | translate}}"
    error-type-phone-number="{{'fields.phoneNumber.error' | translate}}" >
  </form-error>
  <form-error field="form.sipValue"
    error-type-required="{{'user.details.extensions.value.required' | translate}}"
    error-type-pattern="{{'fields.sipFormat.error' | translate}}" >
  </form-error>
  <div ng-show="extension.type == 'webrtc'" class="secondary-field-col">
    <select
      ng-show="hasTwilioIntegration"
      id="extension-provider-dropdown"
      name="provider"
      ng-disabled="lec.editingExtension !== null && extension.provider === 'twilio'"
      ng-required="extension.type == 'webrtc'"
      ng-class="{'default-selected': ! extension.provider}"
      ng-model="extension.provider"
      ng-options="provider.value as provider.display for provider in loExtensionProviders"
      ng-change="clearProviderDesc(extension.provider)">
      <option
        class="disabled"
        value=""
        ng-disabled="true">
        {{'user.details.extensions.provider' | translate}}
      </option>
    </select>
  </div>

  <div ng-show="extension.type == 'pstn'" class="secondary-field-col"  >
    <input type="tel" name="telValue"
      class="phone-number-col"
      ng-disabled="ngDisabled"
      ng-required="extension.type == 'pstn'"
      placeholder="{{'user.details.extensions.value' | translate}}"
      ng-model="phoneNumber"
      ng-change="updateExtension()">
    </input>

  </div>

  <div ng-show="extension.type == 'sip'" class="secondary-field-col">
      <input type="text" name="sipValue"
      ng-disabled="ngDisabled"
      ng-required="extension.type == 'sip'"
      ng-pattern="sipPattern"
      placeholder="{{'user.details.extensions.value' | translate}}"
      ng-model="sipExtension"
      ng-change="updateExtension()">
      </input>
  </div>
</div>

<div class="input-group">
  <label>{{'fields.description.placeholder' | translate}} *</label>
  <form-error field="form.extensiondescription"
    error-type-required="{{'user.details.extension.description.required' | translate}}" >
  </form-error>
  <input type="text"
      ng-disabled="lec.editingExtension !== null && extension.provider === 'twilio'"
      ng-required="extension.provider !== 'twilio'"
      name="extensiondescription"
      placeholder="{{'fields.description.placeholder' | translate}}"
      ng-model="extension.description">
  </input>
</div>

<div class="input-group" ng-show="extension.provider === 'twilio'">
  <label>{{'user.details.region' | translate}}</label>
  <select id="extension-region-dropdown"
    name="region"
    ng-disabled="ngDisabled || !(['MANAGE_ALL_USER_EXTENSIONS'] | hasPermission)"
    ng-class="{'default-selected': ! extension.provider}"
    ng-required="extension.provider === 'twilio'"
    ng-model="extension.region"
    ng-options="region.twilioId as region.display for region in twilioRegions">
</div>
