<div class="divider-header">
    <h4>{{'details.extensions' | translate}}</h4>
    <button id="add-extension-btn" class="btn pull-right" type="button"
      ng-click="lec.createExtension()"
      ng-disabled="lec.creatingExtension !== false || lec.editingExtension !== null"
      ng-show="isDisabled !== true">
      <i class="fa fa-plus"></i>
    </button>
  </div>

<ng-form name="loExtensionsForm" separate-validation>
  <form-error field="extensions"></form-error>
  <input type="hidden" name="extensions" ng-model="extensions"/>
  <div ng-show="lec.creatingExtension" class="add-extension">
    <lo-extension-editor extension="newExtension"></lo-extension-editor>
    <div class="input-group">
      <label></label>
      <div class="submit-controls">
        <a class="btn" ng-click="lec.editingExtension = null; lec.creatingExtension = false">{{'value.cancel' | translate}}</a>
        <a class="btn btn-primary"
          ng-click="add()"
          ng-disabled="loExtensionsForm.$invalid">{{'value.save' | translate}}
        </a>
      </div>
    </div>
  </div>
</ng-form>

<div class="lo-extension-table" dnd-list="tenantUser.extensions">
  <div ng-repeat="extension in tenantUser.extensions"
    dnd-draggable="extension"
    dnd-effect-allowed="move"
    dnd-moved="moved($index)"
    dnd-selected="tenantUser.extensions.selected = extension"
    id="{{extension.type | translate}}-{{extension.provider | translate}}">
    <div class="lo-extension-table-row" ng-class="{'default-extension': $index === 0}" ng-hide="lec.editingExtension === extension">

      <div class="lo-extension-table-col control-col">
        <div class="handle" title="{{'details.extension.drag.titletext' | translate}}">:::</div>
      </div>

      <div class="lo-extension-table-col small-col" dnd-nodrag>
        {{extension.type | translate}}
      </div>

      <div class="lo-extension-table-col" dnd-nodrag >
        {{extension.provider | translate}}
        <span ng-show="($index === 0)" class="primary">({{'details.primary' | translate}})</span>
      </div>

      <div class="lo-extension-table-col description" dnd-nodrag>
        {{extension.description | translate}}
      </div>

      <div class="lo-extension-table-col small-col" dnd-nodrag>
        <a ng-click="lec.editingExtension = extension"
          ng-show="(extension.type === 'pstn' || extension.type === 'sip' || extension.provider === 'twilio') && (lec.creatingExtension === false && lec.editingExtension === null)">
            ({{'value.edit' | translate}})
        </a>
      </div>
      <div class="lo-extension-table-col control-col" dnd-nodrag>
        <i class="fa fa-close remove"
          ng-show="extension.type === 'pstn' || extension.type === 'sip'"
          ng-disabled="ngDisabled"
          ng-click="remove(extension)"
          title="{{'value.remove' | translate}}">
        </i>
      </div>
    </div>

    <div class="lo-extension-table-row edit-extension" ng-show="lec.editingExtension === extension">
      <div class="lo-extension-table-col control-col">
        <div class="handle" title="{{'details.extension.drag.titletext' | translate}}">:::</div>
      </div>

      <ng-form name="extensions{{$index}}" separate-validation>
        <lo-extension-editor  all-extensions="tenantUser.extensions" extension="extension" dnd-nodrag></lo-extension-editor>
      </form>
      <div class="input-group" dnd-nodrag>
        <label></label>
        <div class="submit-controls">
          <a class="btn" ng-click="lec.cancelEditExtension(extension)">{{'value.cancel' | translate}}</a>
          <a class="btn btn-primary" ng-click="lec.save()">{{'value.save' | translate}}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="dndPlaceholder lo-highlight">
    {{'details.extension.drop' | translate}}
  </div>
</div>
