lo-extensions {
  display: block;
  width: 100%;
  max-width: 700px;

  form-error span {
    margin-bottom: 5px;
  }

  #add-extension-btn {
    width: 35px;
  }

  .handle {
    cursor: move;
    color: $grey;
  }

  .primary {
    color: $grey;
    font-style: italic;
  }

  .dndPlaceholder {
    padding: 10px;
  }

  .lo-extension-table {
    width: 100%;

    .dndDraggingSource {
      display: none;
    }

    lo-extension-editor {
      border-top: 1px dashed $light-grey;
      display: block;
      padding-top: 10px;
    }

    .lo-extension-table-row {
      width: 100%;
      display: table;

      .lo-extension-table-col {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: table-cell;
        padding: 10px 5px;
        border-top: 1px dashed $light-grey;
        max-width: 30%;
        width: 30%;
      }

      .control-col {
        max-width: 5%;
        width: 5%;
      }

      .handle {
        cursor: grab;
        font-weight: bold;
      }

      .description {
        white-space: normal;
        overflow: visible;
      }

      .small-col {
        max-width: 15%;
        width: 15%;
      }
    }

    .lo-extension-table-row.default-extension {
      .lo-extension-table-col {
        border: none;
      }
    }

    .edit-extension {
      padding-bottom: 20px;
    }
  }

  .add-extension {
    padding-bottom: 20px;
  }

  .submit-controls {
    padding-top: 10px;
    justify-content: flex-end;
  }
}

 .secondary-field-col {
    width: 100%;
  }

  .phone-number-col {
    width: 70%;
  }
  .ext-col {
    width: 30%;
  }
