lo-extensions {
  display: block;
  width: 100%;
  max-width: 700px;

  #add-extension-btn {
    width: 35px;
  }

  .handle {
    color: $grey;
  }

  .dndPlaceholder {
    padding: 10px;
  }

  .lo-extension-table {
    .dndDraggingSource {
      display: none;
    }

    .lo-extension-table-row {
      .lo-extension-table-col {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        display: inline-block;
        width: 20%;
      }

      .secondary-field-col {
        width: 70%;

      }
    }

    .phone-number-col input {
      width: 50%;
    }

    .lo-extension-table-body {
      padding-top: 20px;
      padding-bottom: 20px;

      .lo-extension-table-row {
        padding-top: 8px;
        padding-bottom: 8px;
        border-top: 1px dashed;

        .lo-extension-table-col:first-child > .handle {
          cursor: grab;
          display: inline-block;
          margin-right: 10px;
          font-weight: bold;
        }
      }

      .lo-extension-table-row:first-child {
        border-top: None;
      }

      .remove-col {
        width: 35px;
      }
    }
  }
}
