user-skills {
  .null {
    max-width:  $details-table-width;
  }

  number-slider {
    padding-right: 8px;
    width: 200px;
  }

  #skillsForm {
    number-slider {
      min-width: 95px;
    }
  }

  .detail-group {
    padding-right: 25px !important;
  }
}
