<div class="divider-header">
  <h4>{{'details.skills.title' | translate}} <span class="count">({{userSkills.length}})</span></h4>
</div>

<loading ng-if="!fetchSkills().$resolved"></loading>

<div ng-show="fetchSkills().$resolved" class="detail-group">
<ng-form class="instant-add" separate-validation ng-disabled="saving" id="skillsForm" name="skillsForm"
  ng-show="fetchSkills().$resolved && ['PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT', 'MANAGE_ALL_USER_SKILLS', 'MANAGE_TENANT_ENROLLMENT'] | hasPermission">
  <type-ahead placeholder="{{'details.skills.placeholder' | translate}}"
      items="fetchSkills()"
      name-field="name"
      on-enter="save(item)"
      selected-item="selectedSkill"
      filters="filterSkills"></type-ahead>
  <number-slider
    id="new-user-skill-proficiency" ng-if="selectedSkill.hasProficiency || (skillsForm.name.$dirty && ! selectedSkill.id)"
    placeholder="{{'skill.details.proficiency' | translate}}" value="newUserSkill.proficiency"
    min-value="1" max-value="100" ></number-slider>
  <div>
    <a lo-submit-spinner lo-submit-spinner-status="saving" id="add-skill-btn" ng-disabled="!selectedSkill" ng-click="save(selectedSkill)" class="btn"><i class="fa fa-plus"></i></a>
  </div>
</ng-form>

  <p id="no-user-skills" class="null" ng-if="userSkills.length == 0">{{'details.skills.none' | translate}}</p>
  <ng-form separate-validation name="userSkillsForm">
    <table scroll-table max-height="300" class="table" ng-show="userSkills.length > 0">
      <thead>
        <tr>
          <th>{{'value.name' | translate}}</th>
          <th style="text-align:right">{{'skill.details.proficiency' | translate}}</th>
          <th>&nbsp;</th>
          <th class="control-col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="userSkill in userSkills | orderBy:'name'">
          <td>{{userSkill.name}}</td>
          <td id="user-skill-table-proficiency" class="unpadded">
            <number-slider value="userSkill.proficiency" required="true" name="proficiency{{$index}}" min-value="1" max-value="100" id="proficiency{{$index}}" ng-show="userSkill.proficiency >= 0 || userSkillsForm['proficiency' + $index].$dirty"></number-slider>
          </td>
          <td class="unpadded">
            <a id="cancel-proficiency-edit-btn" ng-show="userSkill.proficiency != userSkill.$original.proficiency" class="btn" ng-click="userSkill.reset()">{{'value.cancel'| translate}}</a>
            <button id="save-proficiency-edit-btn" ng-show="!userSkill.$busy && userSkill.proficiency != userSkill.$original.proficiency" ng-disabled="userSkillsForm['proficiency' + $index].$invalid" class="btn btn-primary" ng-click="updateUserSkill(userSkill)">{{'value.save' | translate}}</button>
            <a ng-show="userSkill.$busy" disabled="true" class="btn btn-primary"><i class="fa fa-refresh fa-spin"></i></a>
          </td>
          <td style="text-align:right">
            <i class="fa fa-times remove" ng-click="remove(userSkill)"
            title="{{'value.remove' | translate}}"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-form>
</div>
