<div id="reset-password-page" class="lo-gradient-squares">
  <div id="reset-password-wrapper">
    <div ng-show="loading">
      <loading></loading>
    </div>

    <form id="reset-form" name="resetForm" ng-submit="resetPassword()" ng-show="!loading">
      <img ng-src="{{$root.logo}}" height="23">
      <div id="glass-wrapper">
        <div class="blur-bg"></div>
          <div class="blur-over">
            <span>{{'details.password.forgot' | translate}}</span>
            <br><br>
            <div class="lo-alert lo-error" ng-if="error">
              {{error}}
            </div>
            <div class="input-group">
              <form-error field="resetForm.newPassField"
              error-type-required="{{'details.email.error' | translate}}" error-type-email="{{'details.email.invalid' | translate}}"></form-error>
              <input type="email" placeholder="{{'value.email' | translate}}" ng-model="email" required name="newPassField" />
            </div>
          </div>
      </div>
      <input class="btn btn-primary lo-accent-border lo-accent-bg" type="submit" value="{{'user.details.password.reset' | translate}}" />
    </form>

    <p ng-show="!loading" class="forgot-pass"><a ui-sref="login">{{'details.password.forgot.back' | translate}}</a></p>
    <p ng-show="!loading" class="copyright">{{'copyright' | translate}}</p>
    <p ng-show="!loading" class="copyright">{{'signup.legal' | translate}}</p>
  </div>
</div>
