<div class="divider-header">
  <h4>{{'details.capacityRules.title' | translate}}</h4>
</div>

<ng-form
  separate-validation id="setCapacityRule"
  name="setCapacityRule"
  ng-show="['MANAGE_ALL_CAPACITY_RULES'] | hasPermission">
  <div class="input-group" ng-if="ready && fetchCapacityRules().$resolved">
    <label>{{'details.currentCapacityRule' | translate}}</label>
    <div>
      <select ng-model="currentCapacityRule.id" name="currentCapacityRuleId"
        ng-disabled="disabled">
        <option
          ng-repeat="rule in fetchCapacityRules()"
          value="{{rule.id}}"
          ng-selected="currentCapacityRule.id === rule.id"
          ng-disabled="!rule.active">{{(rule.active ? rule.name : rule.name + ' - (' + ('users.details.capacityRule.inactive' | translate) + ')')}}
        </option>
      </select>

      <a class="btn"
        ng-disabled="!currentCapacityRule.id"
        lo-submit="removeRule()"
        title="{{'value.remove' | translate}}">
          <i class="fa fa-minus"></i>
      </a>
    </div>
  </div>
</ng-form>
