<div id="main-content" class="invites">
  <h1>Invites for {{ Session.tenant.name }}</h1>

  <div ng-show="tenants.$resolved && tenants.length == 0">
    No tenants available to send invites from. Please create a tenant.
  </div>

  <div ng-show="!tenants.$resolved || !invites.$resolved">
    <i style="font-size: 30px;" class="fa fa-cog fa-spin"></i>
  </div>

  <div ng-show="tenants.$resolved && tenants.length > 0">
    <p ng-show="invites.$resolved && ! invites.length > 0">
      No pending invitations.
    </p>

    <table ng-show="invites.$resolved && invites.length > 0">
      <thead>
        <th>Email</th>
        <th>State</th>
        <th>Sent On</th>
        <th>Expiry Date</th>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tr ng-repeat="curInvite in invites">
        <td>{{curInvite.email}}</td>
        <td>{{curInvite.invitationState}}</td>
        <td>{{curInvite.created | date}}</td>
        <td>{{curInvite.invitationExpiryDate | date}}</td>
        <td><a ng-click="resend(curInvite)" class="btn">Resend</a></td>
        <td><a ng-click="remove(curInvite)" class="btn">Delete</a></td>
        <td><a ng-click="accept(curInvite)" class="btn">Accept</a></td>
      </tr>
    </table>
  </div>

  <div id="details-form" >
    <h1>New Invite</h1>
    <form id="detail-body-pane" style="flex: inherit; height: auto; width: 500px" class="new-invite-form" field="detailsForm" ng-submit="save()">
      <div class="input-group">
        <label>Email</label>
        <div>
          <input autocomplete="off" ng-model="newInvite.email" name="email" type="email" email ng-required="true"></input>
        </div>
      </div>
      <div class="input-group">
        <label>Tenant</label>
        <div>
          <select ng-required="true" ng-model="newInvite.tenantId" name="tenantId" ng-options="tenant.id as tenant.name for tenant in tenants"></select>
        </div>
      </div>
      <input type="submit" class="btn" />
    </form>
  </div>
</div>
