<div id="user-profile" name="tenantUserForm">
  <h2>{{'navigation.profile' | translate}}</h2>
  <div class="mystery-man">
    <i id="user-profile-pic" class="fa fa-user"></i>
  </div>

  <div class="wrapper" disable-contents="! ('PLATFORM_MANAGE_USER_ACCOUNT' | hasPermission)">
    <div class="divider-header first-header">
      <h4>{{'details' | translate}}</h4>
    </div>

    <form id="user-form" name="userForm"
      separate-validation
      ng-model="userData"
      ng-resource="userData"
      lo-form-submit
      lo-form-alert>

      <div>
        <label>{{'details.email' | translate}}</label>
        <div>
          <input readonly ng-disabled="true" ng-model="userData.email" name="email" type="text"></input>
        </div>
      </div>
      <div>
        <label>{{'details.firstName' | translate}} *</label>
        <div>
          <form-error field="userForm.firstName"
            error-type-required="{{'details.firstName.error' | translate}}"></form-error>
          <input ng-required="true" ng-model="userData.firstName" name="firstName" type="text"></input>
        </div>
      </div>
      <div>
        <label>{{'details.lastName' | translate}} *</label>
        <div>
          <form-error field="userForm.lastName"
            error-type-required="{{'details.lastName.error' | translate}}"></form-error>
          <input ng-required="true" ng-model="userData.lastName" name="lastName" type="text"></input>
        </div>
      </div>
      <div ng-show="resettingPassword || userForm.currentPassword.$error.api">
        <label>{{'details.password.current' | translate}}</label>
        <div>
          <form-error field="userForm.currentPassword"
            error-type-required="{{'details.password.error' | translate}}">
          </form-error>

          <input autocomplete="off" name="currentPassword" type="password"
            ng-model="userData.currentPassword"
            ng-required="userForm.currentPassword.$dirty && userForm.currentPassword.$invalid"/>
        </div>
      </div>

      <div ng-show="'PLATFORM_MANAGE_MY_PASSWORD' | hasPermission">
        <label>{{'details.password.new' | translate}}</label>
        <div>
          <input id="reset-password-button" type="button" class="btn"
                 ng-hide="resettingPassword || userForm.password.$error.api"
                 ng-click="resettingPassword = true"
                 value="{{'user.details.password.reset' | translate}}">

          <form-error field="userForm.password"
                      error-type-required="{{'details.password.error' | translate}}">
          </form-error>

          <input autocomplete="off" name="newPassword" type="password"
                 ng-model="userData.password"
                 ng-show="resettingPassword || userForm.newPassword.$error.api"
                 ng-required="userForm.newPassword.$dirty && userForm.currentPassword.$invalid"/>

          <p id="password-policy" ng-show="userForm.newPassword.$dirty || userForm.newPassword.$error.api"><small>{{'details.password.default.policy' | translate}}</small></p>
        </div>
      </div>

      <div id="default-tenant">
        <label>{{'details.defaultTenant' | translate}}</label>
        <div ng-show="userData.defaultTenant || userTenantList.length">
          <select
            name="defaultTenant"
            ng-model="userData.defaultTenant"
            ng-options="tenant.tenantId as tenant.name for tenant in userTenantList">
            <option
              ng-disabled="true"
              value=""
              ng-selected="!userData.defaultTenant">
                {{'details.noDefaultTenant' | translate}}
            </option>
          </select>
        </div>
        <div ng-show="!userData.defaultTenant && userTenantList.length === 0" class="no-tenant-assigned">{{'details.noTenantAssigned' | translate}}</div>

      </div>

      <div class="submit-wrapper" ng-show="userData.defaultTenant || userTenantList.length">
        <input type="submit" lo-submit="submit()" id="save-user-details-btn" class="btn btn-primary"
        ng-disabled="userForm.$invalid || ! userForm.$dirty" value="{{'value.update' | translate}}"/>
      </div>

      <div ng-show="userData.defaultTenant || userTenantList.length">
        <label>{{'value.supervisor' | translate}}</label>
        <div>
          <span ng-if="!noSupervisor">{{supervisorName}}</span>
          <span ng-if="noSupervisor" class="null">{{'value.noSupervisor' | translate}}</span>
        </div>
      </div>

    </form>


    <ng-form id="user-extensions-section" name="extensionsForm"
      ng-show="userData.defaultTenant || userTenantList.length"
      ng-resource="tenantUser"
      ng-model="tenantUser"
      lo-form-submit
      lo-form-alert>

      <lo-extensions
        tenant-user="tenantUser"
        form="extensionsForm"
        has-twilio-integration="hasTwilioIntegration"
        ng-disabled="!(
            ('MANAGE_ALL_USER_EXTENSIONS' | hasPermission) ||
            ('MANAGE_USER_EXTENSIONS' | hasPermission) ||
            ('MANAGE_MY_EXTENSIONS' | hasPermission)
          )">
      </lo-extensions>
    </ng-form>

    <div ng-show="userData.defaultTenant || userTenantList.length">
      <div class="divider-header">
        <h4 id="user-skills-header">{{'details.skills.title' | translate}}</h4>
      </div>
      <p id="no-user-skills" class="null" ng-if="tenantUser.$skills.length == 0">{{'profile.skills.none' | translate}}</p>
      <table max-height="300" class="table" ng-show="tenantUser.$skills.length > 0">
        <thead>
          <tr>
            <th>{{'value.name' | translate}}</th>
            <th style="text-align:right">{{'skill.details.proficiency' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="userSkill in tenantUser.$skills | orderBy:'name'">
            <td>{{userSkill.name}}</td>
            <td style="text-align:right">{{userSkill.proficiency > 0 ? userSkill.proficiency : "-"}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-show="userData.defaultTenant || userTenantList.length">
      <div class="divider-header">
        <h4 id="user-groups-header">{{'details.groups.title' | translate}}</h4>
      </div>
      <p id="no-user-groups" ng-show="tenantUser.$groups.length === 0" class="null"
        translate="profile.usergroups.none">
      </p>
      <div id="tag-wrapper" class="clear" ng-class="{collapsed : collapsed}">
        <div id="tags-inside" class="clear">
          <div ng-repeat="userGroup in tenantUser.$groups" class="tag">
            {{userGroup.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
