#userProfile {
  padding: 10px 30px;
  
  .mystery-man {
    color: #fff;
    background-color: #eee;
    font-size: 10em;
    height: 170px;
    margin-right: 0.5em;
    padding: 15px 20px;
  }
  
  .wrapper {
    width: 500px;
  }
  
  #detailsForm {
    & > div {
      width: 100%;
      margin: 10px 0;
      
      & > input, & > div {
        width: 70%;
        display: inline-block;
      }
    }
    
    label {
      display: inline-block;
      padding-right: 10px;
      width: 30%;
      float: left;
    }
  }
}

