#userProfile {
  padding: 10px 30px;
  
  .mystery-man {
    color: #fff;
    background-color: #eee;
    font-size: 10em;
    height: 170px;
    margin-right: 0.5em;
    padding: 15px 20px;
  }
  
  .wrapper {
    width: 500px;
  }

  .table {
    border: $light-grey solid 1px;
    border-spacing: 0;
    @include border-radius(0px);
    font-size: 0.9em;
    width: 100%;
    max-width: $max-control-width + 200px;
    
    &.clone-header {
        @include border-radius-complex(4px, 0, 0, 4px);
        border-bottom: 0;
  }

  td, th {
    padding: 10px;
  }

  th {
    border-bottom: $light-grey solid 1px;
    color: $dark-grey;
    text-align: left;
    font-weight: 600;
  }

  tbody tr:hover {
    background-color: $accent-light;
  }

  .scrollable-table-container {
    max-width: $max-control-width + 200px;
  }
}
  
  #detailsForm {
    & > div {
      width: 100%;
      margin: 10px 0;
      
      & > input, & > div {
        width: 70%;
        display: inline-block;
      }
    }
    
    label {
      display: inline-block;
      padding-right: 10px;
      width: 30%;
      float: left;
    }
  }
}

