<div id="userProfile">
  <h2>User Profile</h2>
  <div class="mystery-man pull-left">
    <i id="user-profile-pic" class="fa fa-user"></i>
  </div>

  <div class="pull-left wrapper" disable-contents="! ('PLATFORM_MANAGE_USER_ACCOUNT' | hasPermission)">
    <form ng-submit="save()" name="detailsForm" id="detailsForm">
      <div id="user-profile-email">
        <label>Email:</label> {{user.email}}
      </div>
      <div>
        <label>{{'details.firstName' | translate}}</label>
        <div>
          <form-error field="detailsForm.firstName"></form-error>
          <input ng-model="user.firstName" name="firstName" type="text"></input>
        </div>
      </div>
      <div>
        <label>{{'details.lastName' | translate}}</label>
        <div>
          <form-error field="detailsForm.lastName" error-type-required="{{'details.lastName.error' | translate}}"></form-error>
          <input ng-model="user.lastName" name="lastName" type="text"></input>
        </div>
      </div>
      <div>
        <label>{{'details.password' | translate}}</label>
        <div>
          <input id="reset-password-button" type="button" class="btn" ng-hide="detailsForm.password.$dirty"
          ng-click="detailsForm.password.$setDirty()" value="{{'user.details.password.reset' | translate}}">
          <form-error field="detailsForm.password"
          error-type-required="{{'details.password.error' | translate}}">
        </form-error>
        <input ng-required="detailsForm.password.$dirty" autocomplete="off" ng-model="user.password" name="password" type="password" ng-show="detailsForm.password.$dirty"></input>
      </div>
    </div>
    <div>
      <label>&nbsp;</label>
      <input ng-disabled="detailsForm.$invalid || ! detailsForm.$dirty" type="submit" class="btn btn-primary" value="{{'value.update' | translate}}"/>
    </div>
  </form>

  <div class="divider-header first-header">
    <h4>Skills</h4>
  </div>
  <table scroll-table max-height="300" class="table" ng-show="userSkills.length > 0">
    <thead>
      <tr>
        <th>{{'value.name' | translate}}</th>
        <th style="text-align:right">{{'skill.details.proficiency' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="userSkill in userSkills | orderBy:'name'">
        <td>{{userSkill.name}}</td>
        <td style="text-align:right">{{userSkill.proficiency > 0 ? userSkill.proficiency : "-"}}</td>
      </tr>
    </tbody>
  </table>

  <div class="divider-header first-header">
    <h4>Groups</h4>
  </div>
  <div id="tag-wrapper" class="clear" ng-class="{collapsed : collapsed}">
    <div id="tags-inside" class="clear">
      <div ng-repeat="userGroup in userGroups" class="tag">
        {{userGroup.groupName}}
      </div>
    </div>
  </div>

</div>
