#user-profile {
  padding: 10px 30px;

  overflow-y: auto;
  height: 100%;

  #default-tenant {
    padding-top: 30px
  }

  .mystery-man {
    color: #fff;
    background-color: #eee;
    font-size: 10em;
    height: 170px;
    padding: 15px 20px;
    position: absolute;
    width: 160px;
  }

  .wrapper {
   display: inline-block;
   width: 100%;
   padding-left: 200px;
  }

  .null {
    max-width: $details-table-width;
  }

  .submit-wrapper {
    text-align: right;
  }

  #save-user-details-btn {
    width: 200px !important;
  }

  .table {
    border: $light-grey solid 1px;
    max-width: $max-control-width + 200px;

    th {
      text-align: left;
    }
  }

  .divider-header {
    margin-left: -10px;
  }

  #user-form {
    max-width: 500px;

    & > div {
      width: 100%;
      margin: 10px 0;

      & > input, & > div {
        width: 70%;
        display: inline-block;
      }
    }

    label {
      display: inline-block;
      padding-right: 10px;
      width: 30%;
      float: left;
    }
  }
}
