#outer,
#container {
  position: relative;
}

#logiContainer,
#ssmContainer {
  height: 100%;
  width: 100%;

  iframe {
    width: 100%;
  }
}

#analyticTabs {
  width: auto;
  height: 50px;
  z-index: 10;
  background-color: #172c42;
  position: absolute;
  right: 0;
  color: white;
}

.tab-option {
  font-size: 20px;
  height: 100%;
  width: auto;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  background-color: #172c42;

  &:hover {
    cursor: pointer;
    background-color: #244465;
  }
}

.tab-selected {
  box-shadow: inset 0px -5px 0px 0px #3b6c9f;
}
