modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: rgba(0,0,0,0.65);
  
  & > div {
    background-color: #ffffff;
    @include border-radius();
    border: 1px solid $grey;
    margin: auto auto;
    margin-top: 100px;
    min-width: 300px;
    max-width: 400px;
    overflow: hidden;
    width: 30%;
    top: 80px;
  }
  
  p {
   padding: 10px 30px;
  }
  
  .header, .footer {
    background-color: $lightest-grey;
    padding: 10px 30px;
  }
  
  .header {
    margin: 0;
  }
  
  .footer {
    .btn {
      width: 45%;
    }
    
    .btn + .btn {
      margin-left: 10%;
    }
  }
}