#list-detail-panel {
  .row-odd {
    background-color: blue
  }
  
  tr td:last-child {
    width: 40px;
  }
  
  .btn {
    height: 30px;
    padding-top: 7px;
    vertical-align: middle;
    float: right;
    margin-bottom: 10px;
  }
}

#list-table-panel {
  
}