<table-controls
  id="table-pane"
  config="tableConfig"
  items="fetchLists()"
  selected="selectedList"
  resource-name="List">
    
  <span name="active">
    <span ng-if="item.$original.active">{{'value.enabled' | translate}}</span>
    <span ng-if="!item.$original.active" class="disabled">{{'value.disabled' | translate}}</span>
  </span>  
  
</table-controls>

<resize-handle
  ng-show="selectedList"
  id="resize-pane"
  right-element-id="right-panel"
  left-element-id="table-pane"></resize-handle>

<lo-details-panel
  id="list-detail-panel"
  class="right-panel"
  ng-show="selectedList"
  ng-resource="selectedList">

  <ng-form
    class="details-pane"
    unsaved-changes-warning
    name="forms.detailsForm"
    ng-resource="selectedList"
    lo-form-submit lo-form-cancel lo-form-alert>

    <div class="detail-header" ng-include="'app/components/configuration/genericLists/genericListDetailHeader.html'">
    </div>

    <div class="detail-body" ng-include="'app/components/configuration/genericLists/genericListDetailBody.html'">
    </div>

    <div class="detail-controls">
      <input
        id="cancel-details-btn" class="btn" type="button"
        ng-disabled="selectedList.$busy"
        value="{{'value.cancel' | translate}}"
        lo-cancel></input>

      <input
        id="submit-details-btn"
        lo-submit="submit()"
        lo-submit-spinner
        lo-submit-spinner-status="selectedList.$busy"
        ng-disabled="forms.detailsForm.$pending || forms.detailsForm.$invalid || ! forms.detailsForm.$dirty"
        class="btn btn-primary"
        type="submit"
        value="{{'value.submit' | translate}}" />
    </div>
  </ng-form>

</lo-details-panel>
