<label>
  {{ labelKey | translate}}
</label>
<div class="tag-wrapper clear">
  <div ng-repeat="operand in operands" class="tag">
    {{operand.getDisplay()}}
    <a ng-click="remove(operand)">
      <i class="fa fa-times"></i>
    </a>
  </div>
</div>
<div>
  <type-ahead hover="true"
    placeholder="{{placeholderKey | translate}}"
    items="fetchGroups()"
    selected-item="selected">
  </type-ahead>
  <a class="add btn"
    ng-disabled="! selected"
    ng-click="add(selected)">
    <i class="fa fa-plus"></i>
  </a>
</div>