<label ng-class="{'has-elements': operands.length}">
  {{ labelKey | translate}}
</label>
<div>
  <type-ahead hover="true"
    placeholder="{{placeholderKey | translate}}"
    items="fetchGroups()"
    selected-item="typeaheadItem"
    filters="filterGroups">
  </type-ahead>
  <button class="add btn" type="button"
    ng-disabled="! selected"
    ng-click="add(selected)">
    <i class="fa fa-plus"></i>
  </button>
</div>
<div class="tag-wrapper clear">
  <div ng-repeat="operand in operands" class="tag">
    {{operand.display}}
    <a ng-click="remove(operand)">
      <i class="fa fa-times"></i>
    </a>
  </div>
</div>