<div class="divider-header">
  <h4>
    {{'role.permissions.title' | translate}}
    <b class="count" translate="value.numMembers"
      translate-value-number="{{role.permissions.length}}" >
    </b>
 </h4>
</div>
<ng-form class="instant-add" ng-show="(role.type != 'system' && (['PLATFORM_CREATE_TENANT_ROLES', 'MANAGE_ALL_ROLES'] | hasPermission) && Session.tenant.tenantId == role.tenantId) || 
Session.user.platformRoleName == 'Platform Administrator'" id="addPermission" name="addPermission">
  <type-ahead hover="true"
    placeholder="{{'role.details.permission.placeholder' | translate}}"
    items="filtered"
    selected-item="selectedPermission"
    on-enter="save()"></type-ahead>
  <div>
    <a id="add-permission-btn" ng-disabled="!selectedPermission.id" class="btn" ng-click="save()" title="{{'value.save' | translate}}"><i class="fa fa-plus"></i></a>
  </div>
  <input type="hidden" name="permissionchanges" ng-model="permissionchanges"/>
</ng-form>

<p class="null" id="no-role-permissions-msg" ng-show="role.permissions.length == 0">{{'role.permissions.none' | translate}}</p>

<table class="table" ng-show="rolePermissions.length > 0">
  <thead>
    <tr>
      <th>{{'value.name' | translate}}</th>
      <th>{{'value.description' | translate}}</th>
      <th ng-if="(role.type != 'system' && (['PLATFORM_CREATE_TENANT_ROLES', 'MANAGE_ALL_ROLES'] | hasPermission) && Session.tenant.tenantId == role.tenantId) || 
      Session.user.platformRoleName == 'Platform Administrator'" style="width: 30px;"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="permission in rolePermissions">
      <td>{{permission.name}}</td>
      <td>{{permission.description}}</td>
      <td ng-if="(role.type != 'system' && (['PLATFORM_CREATE_TENANT_ROLES', 'MANAGE_ALL_ROLES'] | hasPermission) && Session.tenant.tenantId == role.tenantId) || 
      Session.user.platformRoleName == 'Platform Administrator'"><a class="remove" title="{{'role.permissions.remove.alt' | translate}}" ng-click="remove(permission)"><i class="fa fa-times"></i></a></td>
    </tr>
  </tbody>
</table>
