<div>
  <div class="info pull-left">
    <h1 ng-if="originalResource.id">{{originalResource.source}}</h1>
    <h1 ng-if="!originalResource.id">Creating New Media</h1>

    <div class="details">
      <div>
        <b>
          <span ng-show="originalResource.created"
            translate="value.createdby"
            translate-value-date="{{originalResource.created | date:'medium'}}"
            translate-value-creator="{{creator.displayName}}"></span>
            &nbsp;
        </b>
        <br/>
        <b>
          <span ng-show="originalResource.created"
            translate="value.updatedby"
            translate-value-date="{{originalResource.created | date:'medium'}}"
            translate-value-enabler="{{updater.displayName}}"></span>
            &nbsp;
        </b>
      </div>
    </div>
  </div>
</div>