<div>
  <div class="info pull-left">
    <h1 ng-if="originalResource.id">{{originalResource.source}}</h1>
    <h1 ng-if="!originalResource.id">Creating New Media</h1>

    <div class="details">
      <div>
        <b>
          <span
            translate="value.createdby.time"
            translate-value-date="{{originalResource.created | date:'medium'}}"
            translate-value-creator="{{originalResource.createdBy | displayName}}"></span>
            &nbsp;
        </b>
        <br/>
        <b>
          <span ng-show="originalResource.updatedBy"
            translate="value.updatedby"
            translate-value-date="{{originalResource.updated | date:'medium'}}"
            translate-value-updater="{{originalResource.updatedBy | displayName}}"></span>
            &nbsp;
        </b>
      </div>
    </div>
  </div>
</div>
