<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>

<div class="input-group">
  <label>{{'value.type' | translate}}</label>
  <div>
    <form-error field="detailsForm.type" error-type-api="true" error-type-required="media.details.type.error"></form-error>
    <select ng-change="text = ''" ng-disabled="resource.id" 
      ng-required="!resource.id" ng-model="resource.type" name="type" required
      ng-options="type.value as type.display for type in mediaTypes">
    </select>
  </div>
</div>

<div class="input-group">
  <label>{{'value.source' | translate}}</label>
  <div>
    <form-error field="detailsForm.source" error-type-api="true" error-type-required="media.details.source.error"></form-error>
    <input type="text" ng-required="true" ng-model="resource.source" name="source" required></input>
  </div>
</div>
