<management-menu menu-locked="Session.lockSideMenu" menu-config="sidebarConfig"></management-menu>

<div id="main-content" ng-class="{'expanded-menu': Session.lockSideMenu}">
  <div id="table-pane">
    <table-controls config="tableConfig" items="queues" on-create-click="createQueue" selected="selectedQueue" resource-name="queues"></table-controls>
    <resize-handle ng-show="!!selectedQueue" right-element-id="details-pane" left-element-id="table-pane" left-min-width="600" right-min-width="400" ></resize-handle>
  </div>
  
  <div id="right-panel" class="right-panel">
    <resource-details id="details-pane"
    ng-show="selectedQueue"  
    extend-scope="additional"
    header-template-url="app/components/queues/queueDetailHeader.html"
    body-template-url="app/components/queues/queueDetailBody.html"
    resource="selectedQueue"
   />
  </div>
</div>