.dispositionTextarea {
  border: #CCCCCC solid 1px;
  resize: none;
  font-size: 15px;
  padding: 0px;
  width: 350px;
  height: auto;
}

.list-editor {
  border: #CCCCCC solid 1px;
  height: 100%;
  margin-left: 10px;
  width: 95%;

  .fixdisplay {
    display: -moz-inline-box;
    display: inline-block;
    max-width: 90%;
    vertical-align: top;
  }

  .list-controls {
    border-bottom: #CCCCCC solid 1px;
    height: 48px;
    padding: 7px 5px 5px 5px;

    .fa-dot-circle-o {
      margin-left:50px;
      margin-top:5px;
    }

    .fa-plus-square {
      margin-left: 50px;
    }

    .fa-times {
      margin-left: 10px;
    }

    .fa-chevron-circle-left {
      margin-left: 60px;
    }

    .fa-chevron-circle-right, .fa-chevron-circle-down, .fa-chevron-circle-up{
      margin-left: 15px;
    }

  }

  .list-body {
    height: 20em;
    overflow: auto;
    padding: 15px;
    font-size:15px;

    ul {
      list-style-position: inside;

      .nested {
        list-style-type: circle;
      }


      li {
        padding: 3px;

        .selectedDispo {
          border: 1px solid #ccc;
          margin-right: 0;
          padding: 1px 10px 1px 1px;


        }



        .disabledDispo {
          color: lightgrey;
          text-decoration: line-through;

        }

        .nested-disposition {
          margin-left: 15px;
        }

        .dispoDropdown {
          position: relative;
          z-index: 10;
          min-width: 250px;

          ul {
            background-color: white;
            border: 1px solid #ccc;
            padding: 5px;
            position: absolute;
            width: auto;

            li:hover {
              background-color: $accent-light;
            }
          }
        }

        div:not(.dispoDropdown):not(.wrapper) {
          border: 1px solid #ccc;
          color: #ccc;
          display: inline-block;
          margin-left: 0;
          padding: 1px;
          position: relative;
          right: 4px;

          i {
            position: relative;
            bottom: 4px;
            padding: 1px;
          }
        }
      }
    }
  }
}
