<div class="list-editor clone-header table">

  <div class="list-controls">
    <i class="fa fa-dot-circle-o fa-2x remove" title="{{'list.editor.category.tooltip' | translate}}" ng-click="addCategory()" ng-hide="readOnly" aria-hidden="true"></i>
    <i class="fa fa-plus-square fa-2x remove" title="{{'list.editor.newList.tooltip' | translate}}" ng-click="addDispo()" ng-hide="readOnly" aria-hidden="true"></i>
    <i class="fa fa-times fa-2x remove" title="{{'list.editor.delete.tooltip' | translate}}" ng-click="remove()" ng-hide="readOnly" aria-hidden="true"></i>
    <i class="fa fa-chevron-circle-left fa-2x remove" title="{{'list.editor.decrease.tooltip' | translate}}" ng-click="promote()" ng-hide="readOnly" aria-hidden="true"></i>
    <i class="fa fa-chevron-circle-right fa-2x remove" title="{{'list.editor.increase.tooltip' | translate}}" ng-click="demote()" ng-hide="readOnly" aria-hidden="true"></i>
    <i class="fa fa-chevron-circle-down fa-2x remove" title="{{'list.editor.down.tooltip' | translate}}" ng-click="moveDown()" ng-hide="readOnly" aria-hidden="true"></i>
    <i class="fa fa-chevron-circle-up fa-2x remove" title="{{'list.editor.up.tooltip' | translate}}" ng-click="moveUp()" ng-hide="readOnly" aria-hidden="true"></i>
  </div>

  <div class="list-body">
    <ul ng-hide="$parent.loading">
      <li ng-repeat="disposition in dispositionList track by $index" ng-class="{nested: disposition.hierarchy.length}">

        <div class="wrapper fixdisplay" ng-show="disposition.type !== 'category'">
          <span ng-click="selectDisposition($index)" ng-class="{selectedDispo: disposition === selectedDispo, disabledDispo: !disposition.active && disposition.id}" ng-show="!disposition.hierarchy.length">{{disposition.name}}</span>
          <span class="nested-disposition" ng-click="selectDisposition($index)" ng-class="{selectedDispo: disposition === selectedDispo, disabledDispo: !disposition.active && disposition.id}" ng-show="disposition.hierarchy.length === 1">{{disposition.name}}</span>
          <div class="dropdown-arrow" ng-click="toggleDropdown($index)" ng-show="disposition === selectedDispo && !readOnly"><i class="fa fa-sort-desc fa-lg"></i></div>
          <div ng-show="dropdown === $index" class="dispoDropdown">
            <ul>
              <li ng-repeat="dispo in possibleDispos track by $index" ng-click="selectNewDispo(dispoTracker(dispo))" ng-hide="!dispo.active || (shared && !dispo.shared)">{{dispo.name}}</li>
            </ul>
          </div>
        </div>

        <div class="wrapper fixdisplay" ng-show="disposition.type === 'category'">
          <input id="category-{{$index}}" ng-click="selectDisposition($index)" title="{{disposition.name}}" ng-focus="highlightText($event)" ng-class="{selectedDispo: disposition === selectedDispo}" ng-model="disposition.name" ng-disabled="readOnly"></input>
        </div>

      </li>
    </ul>

    <div ng-hide="$parent.loading || (!$parent.loading && dispositionList.length)" class="null">
      {{emptyListMessage()}}
    </div>

    <loading ng-show="$parent.loading"></loading>
  </div>

</div>
