<loading ng-if="csc.loading"></loading>
<ng-form name="forms.settingsForm" ng-if="!csc.loading">
  <div class="campaign-setting">
    <div class="campaign-setting-infopane">
      <div class="infopane-left">
        <h2 class="campaign-setting-title">{{'campaigns.details.settings' | translate}} - {{csc.campaignSettings.name}}</h2>
        <small>{{'value.indicatesRequiredField' | translate}}</small>
      </div>
      <div class="infopane-right">
        <div class="info text-right">
          <b audit-text ng-if="!!csc.versionSettings.createdBy"
            translation="value.updatedby"
            user-id="csc.versionSettings.createdBy"
            date="csc.versionSettings.created">
          </b>
        </div>
      </div>
  </div>
    <div class="col-1">
      <div class="input-group">
        <div class="divider-header first-header">
          <h4>{{'value.details.detail' | translate}}</h4>
        </div>
      </div>
      <div disable-contents="! (['MANAGE_CAMPAIGNS'] | hasPermission)">
        <div class="input-group">
          <form-error field="forms.settingsForm.channel" error-type-required="{{'campaigns.details.channelDropdownDefault.error' | translate}}"></form-error>
        </div>
        <div class="input-group extra-padding">
          <label>{{'details.channelType' | translate}} *</label>
          <div>
            <select required ng-model="csc.versionSettings.channel" ng-options="channel for channel in csc.campaignChannels" ng-disabled="csc.campaignChannels.length < 2">
              <option disabled value="">{{'campaigns.details.channelDropdownDefault' | translate}}</option>
            </select>
          </div>
        </div>

        <div class="input-group extra-padding">
          <label>{{'details.flow' | translate}} *</label>
          <div>
            <form-error field="forms.settingsForm.flowId" error-type-required="{{'campaigns.details.flow.error' | translate}}"></form-error>
            <select name="flowId" required ng-model="csc.versionSettings.flowId" ng-options="flow.id as flow.name for flow in csc.flows">
              <option disabled value="">{{'campaigns.details.flow' | translate}}</option>
            </select>
          </div>
        </div>

        <div class="input-group">
          <form-error field="forms.settingsForm.callerId" error-type-phone-number="{{'campaigns.details.setting.anierror' | translate}}"></form-error>
        </div>
        <div class="input-group extra-padding">
          <label>{{'campaigns.details.editor.ani' | translate}}</label>
          <div>
            <input ng-model="csc.versionSettings.callerId" name="callerId" class="ani" type="tel"/>
          </div>
        </div>

        <div class="input-group">
          <form-error field="forms.settingsForm.flowId" error-type-required="{{'campaigns.details.flow.error' | translate}}"></form-error>
        </div>
        <div class="input-group extra-padding">
          <label>{{'campaigns.details.setting.timezoneHeader' | translate}} *</label>

          <select name="timezone"
            ng-model="csc.versionSettings.defaultTimeZone"
            ng-options="timezone.timezone as timezone.getDisplay() for timezone in csc.timezones | orderBy:'offsetInMilliseconds'"
            required>
            <option value="" disabled>{{'campaigns.details.settings.select.timezone' | translate}}</option>
          </select>
        </div>

        <div class="input-group extra-padding">
          <label>{{'campaigns.details.setting.expiry' | translate}}</label>
          <div>
            <input
              ng-model="csc.leadExpiry"
              numbers-only
              type="number"
              name="defaultLeadExpiration"
              string-to-number>
            <select ng-model="csc.expiryUnit">
              <option value="hr">{{'campaigns.details.settings.hours' | translate}}</option>
              <option value="day">{{'campaigns.details.settings.days' | translate}}</option>
            </select>
          </div>
        </div>
     </div>

     <div class="input-group">
       <div class="divider-header first-header">
         <h4>{{'campaigns.details.setting.dnc' | translate}}</h4>
       </div>
    </div>

     <div disable-contents="! (['MANAGE_CAMPAIGNS'] | hasPermission)">
        <div class="input-group">
          <div id="dnc-list">
            <select name="dncListId" class="do-not-call"
                ng-model="csc.selectedDncList"
                ng-options="dncList.id as dncList.name for dncList in csc.dncLists | orderBy:'name'"
                >
               <option value="" disabled>{{'campaigns.details.settings.select.dnc' | translate}}</option>
            </select>
         </div>

         <div id="add-dnc">
            <button id="donotcall-btn"
               class="btn pull-right"
               type="button"
               ng-click="csc.addDNC(csc.selectedDncList)"
               ng-disabled="csc.enableDisableDncAddBtn(csc.selectedDncList)">
              <i class="fa fa-plus"></i>
            </button>
         </div>
        </div>

        <div class="input-group" id="dnc-list-display">
          <table class="dnc-table">
            <tr ng-repeat="dncList in csc.selectedLists">
              <td class="dnclist-name">{{dncList.name}}</td>
              <td class="remove-dnc"><i class="fa fa-close remove list" ng-click="csc.removeDNC($index)"></i></td>
            </tr>
          </table>
        </div>
     </div>

     <div class="input-group">
        <form-error field="forms.settingsForm.flowId" error-type-required="{{'campaigns.details.setting.dispositionList.error' | translate}}"></form-error>
     </div>

    <div class="input-group">
      <div class="divider-header first-header">
        <h4>{{'campaigns.details.setting.disposition' | translate}}</h4>
      </div>
    </div>
     <div class="input-group extra-padding">
        <label>{{'campaigns.details.setting.dispositionList' | translate}} *</label>
        <select name="dispositionId"
            ng-model="csc.versionSettings.dispositionCodeListId"
            ng-options="disposition.id as disposition.name for disposition in csc.dispositionLists"
            required>
            <option value="" disabled>{{'campaigns.details.settings.select.disposition' | translate}}</option>
          </select>
      </div>

      <div class="input-group">
        <button class="btn dispo-btn" ng-disabled="!csc.versionSettings.dispositionCodeListId || csc.versionSettings.dispositionCodeListId.length === 0" ng-click="csc.gotoDispoMap(csc.versionSettings.dispositionCodeListId)">{{'campaigns.details.setting.dispositionBtn' | translate}}</button>
      </div>

  </div>

    <div class="col-2">
      <div class="spacing" disable-contents="! (['MANAGE_CAMPAIGNS'] | hasPermission)">
          <div class="divider-header first-header">
            <h4>{{'campaigns.details.setting.redial' | translate}}</h4>
          </div>

          <div class="input-group">
            <label>{{'campaigns.details.setting.retry' | translate}}</label>
            <input ng-model="csc.versionSettings.defaultLeadRetryInterval"
                   name="defaultLeadRetryInterval"
                   class="redial"
                   string-to-number
                   type="number"/>
          </div>

          <div class="input-group">
            <label>{{'campaigns.details.setting.retryMax' | translate}}</label>
            <input ng-model="csc.versionSettings.defaultMaxRetries"
                   name="defaultMaxRetries"
                   class="redial"
                   type="number"
                   min="1"
                   required/>
          </div>
      </div>

      <div disable-contents="! (['MANAGE_CAMPAIGNS'] | hasPermission)">
        <div class="divider-header first-header">
          <h4>{{'campaigns.details.setting.scheduling' | translate}}</h4>
        </div>

        <div class="input-group time-select">
          <div class="lo-error" ng-if="csc.scheduleTimeIsInvalid">{{'campaigns.details.settings.time.invalid' | translate}}</div>
          <label>{{'campaigns.details.setting.earliestTime' | translate}}</label>
          <div>
            <select name="startHour" required ng-model="csc.scheduleStartHour" ng-options="n for n in csc.hours" ng-change="csc.validateTimeAndDate(forms.settingsForm)">
              <option disabled value="">{{'campaigns.details.setting.hour' | translate}}</option>
            </select>
            :
            <select name="startMinutes" required ng-model="csc.scheduleStartMinutes" ng-options="n for n in csc.minutes" ng-change="csc.validateTimeAndDate(forms.settingsForm)">
              <option disabled value="">{{'campaigns.details.setting.minute' | translate}}</option>
            </select>
            |
            <select name="startAmPm" required ng-model="csc.scheduleStartAmPm" ng-change="csc.validateTimeAndDate(forms.settingsForm)">
              <option value="am">AM</option>
              <option value="pm">PM</option>
            </select>
          </div>
        </div>
        <div class="input-group time-select">
          <label>{{'campaigns.details.setting.latestTime' | translate}}</label>
          <div>
            <select name="endHour" required ng-model="csc.scheduleEndHour" ng-options="n for n in csc.hours" ng-change="csc.validateTimeAndDate(forms.settingsForm)">
              <option disabled value="">{{'campaigns.details.setting.hour' | translate}}</option>
            </select>
            :
            <select name="endMinutes" required ng-model="csc.scheduleEndMinutes" ng-options="n for n in csc.minutes" ng-change="csc.validateTimeAndDate(forms.settingsForm)">
              <option disabled value="">{{'campaigns.details.setting.minute' | translate}}</option>
            </select>
            |
            <select name="endAmPm" required ng-model="csc.scheduleEndAmPm" ng-change="csc.validateTimeAndDate(forms.settingsForm)">
              <option value="am">AM</option>
              <option value="pm">PM</option>
            </select>
          </div>
        </div>

        <div class="input-group">
          <div class="lo-error" ng-if="csc.noDaysChecked">{{'campaigns.details.settings.day.invalid' | translate}}</div>
        </div>
        <div class="input-group nowrap">
          <label>{{'campaigns.details.setting.daysToCall' | translate}}</label>
            {{'campaigns.details.setting.s' | translate}}<input class="week" type="checkbox" name="sunday" ng-model="csc.sundaySelected">
            {{'campaigns.details.setting.m' | translate}}<input class="week" type="checkbox" name="monday" ng-model="csc.mondaySelected">
            {{'campaigns.details.setting.t' | translate}}<input class="week" type="checkbox" name="tuesday" ng-model="csc.tuesdaySelected">
            {{'campaigns.details.setting.w' | translate}}<input class="week" type="checkbox" name="wednesday" ng-model="csc.wednesdaySelected">
            {{'campaigns.details.setting.th' | translate}}<input class="week" type="checkbox" name="thursday" ng-model="csc.thursdaySelected">
            {{'campaigns.details.setting.f' | translate}}<input class="week" type="checkbox" name="friday" ng-model="csc.fridaySelected">
            {{'campaigns.details.setting.s' | translate}}<input class="week" type="checkbox" name="saturday" ng-model="csc.saturdaySelected">
        </div>
      </div>

      <!-- WIP EXCEPTIONS!!!!! -->

      <div class="divider-header">
        <h4>{{'campaigns.details.setting.exceptions' | translate}}</h4>
      </div>

      <form-error field="forms.exceptionsForm.date"
        error-type-date="{{'campaigns.details.settings.date.invalid' | translate}}">
      </form-error>
      <form-error field="forms.exceptionsForm.startHour"
        error-type-required="{{'campaigns.details.settings.startHr.invalid' | translate}}">
      </form-error>
      <form-error field="forms.exceptionsForm.startMinutes"
        error-type-required="{{'campaigns.details.settings.startMin.invalid' | translate}}">
      </form-error>
      <form-error field="forms.exceptionsForm.startAmPm"
        error-type-required="{{'campaigns.details.settings.startAmPm.invalid' | translate}}">
      </form-error>
      <form-error field="forms.exceptionsForm.endHour"
        error-type-required="{{'campaigns.details.settings.endHr.invaild' | translate}}">
      </form-error>
      <form-error field="forms.exceptionsForm.endMinutes"
        error-type-required="{{'campaigns.details.settings.endMins.invalid' | translate}}">
      </form-error>
      <form-error field="forms.exceptionsForm.endAmPm"
        error-type-required="{{'campaigns.details.settings.endAmPm.invalid' | translate}}">
      </form-error>
      <div class="lo-error" ng-if="csc.exceptionTimeIsInvalid">{{'campaigns.details.settings.time.invalid' | translate}}</div>

      <div class="exceptions-form nowrap">
        <ng-form name="forms.exceptionsForm" separate-validation>
          <div class="schedule-exception-date-group">
            <input type="text"
            name="date"
            ng-model="csc.newExceptionHour.date"
            moment-picker="csc.newExceptionHour.date"
            format="YYYY-MM-DD"
            start-view="month"
            max-view="month"
            required
            ng-model-options="{timezone: 'UTC'}"
            min-date=hec.provideDateToday
            items="hours.$exceptions"
            class="schedule-exception-date"
            readonly>

            <i class="fa fa-calendar fa-lg schedule-exception-calendar" aria-hidden="true"></i>
          </div>

          <div class="schedule-exception-time" disable-contents="csc.newExceptionHour.allDay">
            <label>{{'value.start' | translate}}</label>

            <div>
              <select ng-required="!csc.newExceptionHour.allDay" name="startHour" ng-model="csc.newExceptionHour.startHour" ng-options="n for n in csc.hours">
                <option disabled value="">HH</option>
              </select>
              :
              <select ng-required="!csc.newExceptionHour.allDay" name="startMinutes" ng-model="csc.newExceptionHour.startMinutes" ng-options="n for n in csc.minutes">
                <option disabled value="">MM</option>
              </select>
              |
              <select ng-required="!csc.newExceptionHour.allDay" name="startAmPm" ng-model="csc.exceptionStartAmPm">
                <option value="am">AM</option>
                <option value="pm">PM</option>
              </select>
            </div>
          </div>

          <div class="schedule-exception-time" disable-contents="csc.newExceptionHour.allDay">
            <label>{{'value.end' | translate}}</label>

            <div>
              <select ng-required="!csc.newExceptionHour.allDay" name="endHour" ng-model="csc.newExceptionHour.endHour" ng-options="n for n in csc.hours">
                <option disabled value="">HH</option>
              </select>
              :
              <select ng-required="!csc.newExceptionHour.allDay" name="endMinutes" ng-model="csc.newExceptionHour.endMinutes" ng-options="n for n in csc.minutes">
                <option disabled value="">MM</option>
              </select>
              |
              <select ng-required="!csc.newExceptionHour.allDay" name="endAmPm" ng-model="csc.exceptionEndAmPm">
                <option value="am">AM</option>
                <option value="pm">PM</option>
              </select>
            </div>
          </div>

          <div class="schedule-exception-time">
            <input type="checkbox" ng-model="csc.newExceptionHour.allDay" />
            <label>{{'campaigns.details.setting.allDay' | translate}}</label>
          </div>

          <button id="add-hours-exception" class="btn" type="button" ng-click="csc.addHoursException(forms.exceptionsForm)">
            <i class="fa fa-plus"></i>
          </button>
        </ng-form>
      </div>

        <div class="exceptions-table-container">
          <table class="table" id="exceptions-table" ng-if="csc.exceptions.length">
            <thead>
              <tr>
                <th>{{'value.date' | translate}}</th>
                <th>{{'value.start' | translate}}</th>
                <th>{{'value.end' | translate}}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="exception in csc.exceptions track by $index | orderBy:'date'">
                <td>{{exception.date}}</td>
                <td>{{exception.startTime}}</td>
                <td>{{exception.endTime}}</td>
                <td>
                  <a class="remove"
                    title="{{'hours.exception.remove' | translate}}"
                    ng-click="hec.removeException(exception.$originalIndex)">
                    <i class="fa fa-times" ng-click="csc.removeException($index)"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <div ng-if="!csc.exceptions.length" class="null">
            {{'hours.exception.noneDefined' | translate}} {{'hours.exception.noneDefined.hasPermission' | translate}}
          </div>
        </div>

        <!-- END WIP -->

    </div>
  </div>

  <div class="campaign-controls">
    <input
      id="cancel-details-btn" class="btn campaign-cancel" type="button"
      ng-disabled="csc.versionSettings.$busy"
      value="{{'value.cancel' | translate}}"
      ng-click="csc.cancel()"/>

    <input
      id="submit-details-btn"
      class="btn btn-primary campaign-submit"
      ng-click="csc.submit()"
      type="submit"
      ng-disabled="!('MANAGE_CAMPAIGNS' | hasPermission) || forms.settingsForm.$pending || forms.settingsForm.$invalid || !forms.settingsForm.$dirty || csc.scheduleTimeIsInvalid"
      value="{{'value.submit' | translate}}" />
  </div>
</ng-form>
