<ng-form name="forms.settingsForm">
  <div class="campaign-setting">

    <div class="col">
      <div class="input-group">
    <label>{{'details.flow' | translate}}</label>
    <div>
      <form-error field="forms.settingsForm.flowId" error-type-required="{{'campaigns.details.flow.error' | translate}}"></form-error>
      <select name="flowId" required ng-model="csc.versionSettings.flowId" ng-options="flow.id as flow.name for flow in csc.flows">
        <option disabled value="">{{'campaigns.details.flow' | translate}}</option>
      </select>
    </div>
  </div>

      <div class="input-group">
        <label>{{'campaigns.details.setting.ani' | translate}}</label>
        <div>
          <form-error field="forms.settingsForm.callerId"
            error-type-required="{{'dispatchMappings.details.phone.error' | translate}}"
            error-type-phone-number="{{'details.phoneNumber.error' | translate}}">
          </form-error>
          <input required ng-model="csc.versionSettings.callerId" name="callerId" class="ani" type="tel"/>
        </div>
      </div>

      <div class="input-group">
        <label>{{'campaigns.details.setting.timezoneHeader' | translate}}</label>
        <select name="timezone"
          ng-model="csc.versionSettings.defaultTimeZone"
          ng-options="timezone.timezone as timezone.getDisplay() for timezone in csc.timezones | orderBy:'offsetInMilliseconds'">

          <option value="" disabled>{{'campaigns.details.settings.select.timezone' | translate}}</option>
        </select>
      </div>

      <!-- <div class="input-group">
        <label>{{'campaigns.details.settings.regionHeader' | translate}}</label>
        <select name="region"
          ng-model="csc.campaignSetting.region"
          ng-options="timezone.timezone as timezone.getDisplay() for timezone in csc.timezones | orderBy:'offsetInMilliseconds'">

          <option value="" disabled>{{'campaigns.details.settings.select.region' | translate}}</option>
        </select>
      </div> -->

      <div class="input-group">
        <label>{{'campaigns.details.setting.expiry' | translate}}</label>
        <div>
          <input ng-model="csc.versionSettings.defaultLeadExpiration" name="expiryDate" string-to-number type="number">
          <select ng-model="csc.expiryUnit">
            <option value="hr">{{'campaigns.details.settings.hours' | translate}}</option>
            <option value="day">{{'campaigns.details.settings.days' | translate}}</option>
          </select>
        </div>
      </div>

      <div class="input-group">
        <label>{{'campaigns.details.setting.dispositionList' | translate}}</label>
        <select name="dispositionId"
            ng-model="csc.versionSettings.dispositionCodeListId"
            ng-options="disposition.id as disposition.name for disposition in csc.dispositionLists">

            <option value="" disabled>{{'campaigns.details.settings.select.disposition' | translate}}</option>
          </select>
      </div>

      <div class="input-group">
        <button class="btn dispo-btn" ng-hide="!csc.versionSettings.dispositionCodeListId || csc.versionSettings.dispositionCodeListId.length === 0" ng-click="csc.gotoDispoMap(csc.versionSettings.dispositionCodeListId)">{{'campaigns.details.setting.dispositionBtn' | translate}}</button>
      </div>

     <div class="input-group">
       <div class="divider-header first-header">
         <h4>{{'campaigns.details.setting.dnc' | translate}}</h4>
       </div>

       <div id="dnc-list">
         <select name="flowId" class="do-not-call"
             ng-model="csc.campaignSetting.flowId"
             ng-options="flow.id as flow.name for flow in csc.fetchFlows()">

             <option value="" disabled>{{'campaigns.details.settings.select.flow' | translate}}</option>
         </select>
      </div>

      <div id="add-dnc">
         <button id="donotcall-btn" class="btn pull-right" type="button"
           ng-click="csc.addDNC(csc.campaignSetting.flowId)">
           <i class="fa fa-plus"></i>
         </button>
      </div>
     </div>

     <div class="input-group">
       <ul>
         <li ng-repeat="dncList in dncLists">
           {{dncList}}
           <i class="fa fa-close remove list" ng-click="csc.removeDNC($index)"></i>
         </li>
       </ul>
     </div>

    </div>

    <div class="col">

      <div class="input-group">
        <div class="divider-header first-header">
          <h4>{{'campaigns.details.setting.scheduling' | translate}}</h4>
        </div>

        <div class="input-group">
          <label>{{'campaigns.details.setting.earliestTime' | translate}}</label>
          <input required ng-model="csc.versionSettings.schedule[0].startTime" name="name" class="call" type="text"/>
        </div>

        <div class="input-group">
          <label>{{'campaigns.details.setting.latestTime' | translate}}</label>
          <input required ng-model="csc.versionSettings.schedule[0].endTime" name="name" class="call" type="text"/>
        </div>

        <div class="input-group">
          <label>{{'campaigns.details.setting.daysToCall' | translate}}</label>
            {{'campaigns.details.setting.s' | translate}}<input class="week" type="checkbox" name="sunday" ng-checked="csc.schedule.day === 'sunday'" ng-model="csc.versionSettings.schedule.day.sunday" >
            {{'campaigns.details.setting.m' | translate}}<input class="week" type="checkbox" name="monday" ng-model="csc.versionSettings.schedule.day.monday" >
            {{'campaigns.details.setting.t' | translate}}<input class="week" type="checkbox" name="tuesday" ng-checked="true" ng-model="csc.versionSettings.schedule.day.tuesday">
            {{'campaigns.details.setting.w' | translate}}<input class="week" type="checkbox" name="wednesday" ng-model="csc.versionSettings.schedule.day.wednesday">
            {{'campaigns.details.setting.th' | translate}}<input class="week" type="checkbox" name="thursday" ng-model="csc.versionSettings.schedule.day.thursday">
            {{'campaigns.details.setting.f' | translate}}<input class="week" type="checkbox" name="friday" ng-model="csc.versionSettings.schedule.day.friday">
            {{'campaigns.details.setting.s' | translate}}<input class="week" type="checkbox" name="saturday" ng-model="csc.versionSettings.schedule.day.saturday">
        </div>
        {{csc.schedule[0].day}}
      </div>

    </div>

    <div class="col">

      <div class="input-group">
        <div class="divider-header first-header">
          <h4>{{'campaigns.details.setting.redial' | translate}}</h4>
        </div>

        <div class="input-group">
          <label>{{'campaigns.details.setting.retry' | translate}}</label>
          <input ng-model="csc.versionSettings.defaultLeadRetryInterval" name="defaultLeadRetryInterval" class="redial" string-to-number type="number"/>
        </div>

        <div class="input-group">
          <label>{{'campaigns.details.setting.retryMax' | translate}}</label>
          <input ng-model="csc.versionSettings.defaultMaxRetries" name="name" class="redial" type="text"/>
        </div>
      </div>

    </div>


  </div>
  <div class="campaign-controls">
    <input
      id="cancel-details-btn" class="btn campaign-cancel" type="button"
      ng-disabled="csc.versionSettings.$busy"
      value="{{'value.cancel' | translate}}"
      ng-click="csc.cancel()"/>

    <input
      id="submit-details-btn"
      class="btn btn-primary campaign-submit"
      ng-click="csc.submit()"
      type="submit"
      value="{{'value.submit' | translate}}" />
  </div>
</ng-form>
