.campaign-setting {
  padding: 15px;

  h2 {
    padding: 10px 0;
  }

  small {
    padding: 0 10px 20px;
    display: block;
  }

  .campaign-setting-title {
    left: 8px;
    position: relative;
  }

  .infopane-left {
    display: inline-block;
    width: 45%;
  }

  .extra-padding {
    padding-left: 15px;
  }

  .infopane-right {
    display: inline-block;
    width:45%;
    vertical-align: top;
    margin-top: 15px;
  }
  .text-right {
    text-align: right;
  }
}


.col-1 {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  padding-left: 160px;
}

.col-2 {
  width: 49%;
  display: inline-block;
  vertical-align: top;

  .spacing {
    margin-bottom: 20px;
  }
}

.col-3 {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

.nowrap {
  white-space: nowrap;
}

.ani {
  width: 180px !important;
}

.dispo-btn {
  float: right;
  padding: 10px 15px;
}


#dnc-list {
  display: inline-block;
  width:90%;
}

.dnc-table {
  padding-left: 15px;
}

.dnclist-name {
  width:90%;
}
.remove-dnc {
  width:10%;
}

#add-dnc {
  display: inline-block;
  width: 9%;
  vertical-align: middle;
}

#donotcall-btn {
  height: 30px;
  width: 40px;
}

.redial {
  width: 100px !important;
}

.three {
  margin-bottom: 250px;
}

.call {
  width: 125px !important;
}

.week {
  margin: 10px;
}

.campaign-controls {
  width: calc(100% - 70%);
  margin: 15px auto 15px;
  text-align: center;
}

.no-dispositions {
  height:100px;
}

.disposition-mapping-error {
  text-align: center;
  padding-top: 45px;
  font-size: 15px;
  color: red;
}

#modal > div.publish.disposition-modal {
  max-width:750px;
  width:50%;
}

.disposition-modal {
  .loading {
    padding-bottom: 30px;
  }
}

.hierarchy-title {
  font-weight: 800;
  border-bottom: 1px solid #c0c0c0;
}

.hierarchy-child {
  padding-left: 25px;
}

.edit-btn {
  width: 50px !important;
}

.edit-td {
  text-align: center;
}

.disposition-dnc {
  margin: 0 auto;
  padding-bottom: 15px;
}

.disposition-mapping-form{
  min-height: 300px;
  max-height: 530px;
  overflow: auto;
}

.disposition-table {
  width:100%;
  border-collapse: collapse;
}

.disposition-map {
  margin: 0 auto;
}

.disposition-header {
  text-align: center;
  text-decoration: underline;
  padding-top: 10px;
  padding-bottom: 10px;
}

.disposition-contact-list {
  padding:5px;
}

.disposition-contact-list > input {
  padding-right: 5px;
}

.donot-contact-buttons {
  padding-top:10px;
}

.donot-contact-cancel, .donot-contact-submit {
  width: 100px !important;
}

.dispo-mapping-buttons {
  text-align: center;
}

.input-group {

  &.time-select {

    label {
      display: table-row;
    }

    div {
      display: table-row;

      select {
        width: auto;
        min-width: 70px;
        display: inline-block;
      }
    }
  }
}

.schedule-exception-date-group {
  display: inline-block;
}

.schedule-exception-date {
  width: 100px !important;
}

.schedule-exception-calendar {
  color: grey;
  padding-left: 5px;
}

.schedule-exception-time {
  display: inline-block;
  position: relative;
  padding-left: 10px;

  select {
    display: inline-block;
    width: 50px;
  }
}

.exceptions-form {
  padding-top: 10px;
}

.exceptions-table-container {
  margin-top: 25px;
}

#exceptions-table {
  border: 1px solid #ccc;
  width: 85%;
  td {
    text-align: center;
  }
}
