.campaign-setting {
  margin-top:50px;
  padding: 15px;
}

.campaign-setting-title {
  left: 8px;
  position: relative;
  top: -25px;
}

.col {
  width:33%;
  display: inline-block;
  vertical-align: top;
}

.ani {
  width: 180px !important;
}

.dispo-btn {
  float: right;
  padding: 10px 15px;
}

#dnc-list {
  display: inline-block;
  width:90%;
}

#add-dnc {
  display: inline-block;
  width: 10%;
  vertical-align: middle;
}

#donotcall-btn {
  height: 30px;
  width: 40px;
}

.redial {
  width: 100px !important;
}

.three {
  margin-bottom: 250px;
}

.call {
  width: 125px !important;
}

.week {
  margin: 10px;
}

.campaign-controls {
  width: calc(100% - 70%);
  margin: 15px auto 15px;}

.no-dipositions {
  height:200px;}

  #modal > div.publish.disposition-modal {
    max-width:750px;
    width:50%;}

  .disposition-mapping-form{
    min-height: 300px;}

  .disposition-map {
    width:49%;
    display:inline-block;}

  .disposition-dnc {
    position:absolute;
    width: 49%;
    display:inline-block;}

  .disposition-table {
    width:100%;}

  .disposition-header {
    text-align: left;}

  .disposition-contact-list {
    padding:5px;}

  .disposition-contact-list > input {
    padding-right: 5px;}

  .donot-contact-buttons {
    padding-top:10px;}

  .donot-contact-cancel, .donot-contact-submit {
    width: 100px !important;}

   .dispo-mapping-buttons {
     text-align: center;}

.input-group {
  &.time-select {


    label {
      display: table-row;
    }

    div {
      display: table-row;

      select {
        width: auto;
        min-width: 70px;
        display: inline-block;
      }
    }
  }
}
