<div class="publish">
  <h3 class="header">{{title}}</h3>
  <ng-form name="forms.dispositionMapping">
    <div class="input-group">
      <!-- <label>Name</label>
      <form-error field="forms.dispositoi.name"
        error-type-required="Please enter a draft name"></form-error>
      <input type="text" ng-model="csc.versionSettings.dispositionCodeListId" name="name" ng-required="true"/> -->
      <table>
        <tr>
          <th>Code</th>
          <th>Action</th>
        </tr>
        <tr>
            <td>MEG:</td>
            <td ng-repeat="">
              {{csc.versionSettings.dispositionMappings.action}}
            </td>
        </tr>
      </table>
      <!-- <ul >
        <li ng-repeat="prop in csc.versionSettings.dispositionMappings">
          {{prop}}
        </li>
      </ul> -->
      <div>
        <table>
          <tr>Select Lists to Receive Do Not Contact Dispositions</tr>
          <tr>
          </tr>  
        </table>
      </div>
    </div>

  </ng-form>
  <div class="footer">
    <input type="button" id="modal-cancel" class="btn" ng-click="cancelCallback()" value="{{'value.cancel' | translate}}"/>
    <input type="submit" id="modal-ok" class="btn btn-primary" ng-click="okCallback(draft)" ng-disabled="forms.newDraft.$invalid">
  </div>
</div>
