<div class="publish disposition-modal" >
  <h3 class="header">{{title}}</h3>
  <div class="no-dispositions" ng-hide="showDispositions">
    <h4 class="error">No Dispositions are assigned to this list!</h4>
  </div>
  <ng-form name="forms.dispositionMapping" class="disposition-mapping-form" ng-show="showDispositions">
    <div class="input-group disposition-map">
      <!-- <label>Name</label>
      <form-error field="forms.dispositoi.name"
        error-type-required="Please enter a draft name"></form-error>
      <input type="text" ng-model="csc.versionSettings.dispositionCodeListId" name="name" ng-required="true"/> -->
      <table class="disposition-table">
        <tr>
          <th class="disposition-header">Code</th>
          <th class="disposition-header">Action</th>
        </tr>
        <!-- flow.id as flow.name for flow in csc.flows -->
<!-- (key, value) in csc.versionSettings.dispositionMappings track by $index -->
        <tr ng-repeat="disposition in csc.currentDispositionList track by $index">
            <td>{{disposition.name}}</td>
            <td>
              <select ng-model="csc.versionSettings.dispositionMappingList[$index].action"
                      ng-change="csc.changeDispoMap(csc.versionSettings.dispositionMappingList[$index].action)"
                      ng-init="csc.versionSettings.dispositionMappingList[$index].action='success'">

                <option name="dispoMapSuccess" value="success">Success</option>
                <option name="dispoMapRedial" value="redial">Redial</option>
                <option name="dispoMapDnc" value="dnc">Add to DNC</option>
              </select>
            </td>
        </tr>
      </table>
    </div>

    <div class="input-group disposition-dnc" ng-show="showDispoDNC">
      <div class="first-header">
        <h4>{{'campaigns.details.setting.dnc' | translate}} - {{csc.versionSettings.dispositionMappingList[$index].name}}</h4>
      </div>

      <div id="dnc-list" class="disposition-contact-list">
        <input type="checkbox" value="Global DNC">
        <label>GlobalDNC<label>
      </div>
      <div id="dnc-list" class="disposition-contact-list">
        <input type="checkbox" value="Global DNC">
        <label>Customer Opt-out<label>
      </div>
      <div id="dnc-list" class="disposition-contact-list">
        <input type="checkbox" value="Global DNC">
        <label>ACME DO NOT CALL<label>
      </div>
      <div id="dnc-list" class="disposition-contact-list">
        <input type="checkbox" value="Global DNC">
        <label>ACME DO NOT CALL<label>
      </div>

      <div class="donot-contact-buttons">
        <input type="button" id="modal-cancel" class="btn donot-contact-cancel" ng-click="csc.cancelDispoDnc()" value="{{'value.cancel' | translate}}"/>
        <input type="submit" id="modal-ok" class="btn btn-primary donot-contact-submit" ng-click="okCallback(draft)" ng-disabled="forms.newDraft.$invalid">
      </div>
    </div>

  </ng-form>
  <div class="footer dispo-mapping-buttons">
    <input type="button" id="modal-cancel" class="btn donot-contact-cancel" ng-click="cancelCallback()" value="{{'value.cancel' | translate}}"/>
    <input type="submit" id="modal-ok" class="btn btn-primary donot-contact-submit" ng-click="okCallback(draft)" ng-disabled="forms.newDraft.$invalid">
  </div>
</div>
