<div>{{'tenant.details.name' | translate}}<input type="text" ng-required="true" ng-model="resource.name"></input></div>
<div>
  {{'tenant.details.admin' | translate}}
  <select ng-model="resource.adminUserId" ng-options="user.id as user.displayName for user in users"></select>
</div>
<div>
  {{'tenant.details.description' | translate}}
  <input type="text" ng-required="false" ng-model="resource.description">
</div>
<div ng-hide="true"><toggle class="tenant-toggle" ng-model="resource.status"></toggle></div>
<div ng-hide="!resource.id">{{'tenant.details.region' | translate}} {{resource.regionId}}</div>