<div ng-hide="! tenant.id">
  <h2>{{tenant.name}}</h2>
  <p translate="tenant.details.createdby" translate-value-date="{{tenant.created | date:'medium'}}" translate-value-creator="John Doe"></p>
  <p translate="tenant.details.updatedby" translate-value-date="{{tenant.updated | date:'medium'}}" translate-value-updater="John Doe"></p>
</div>


<h3>{{'tenant.details.title' | translate}}</h3>
<form ng-submit="save()">
  <div>{{'tenant.details.name' | translate}}<input type="text" ng-required="true" ng-model="tenant.name"></input></div>
  <div>
    {{'tenant.details.admin' | translate}}
    <select ng-model="tenant.adminUserId">
      <option ng-repeat="user in users" value="{{user.id}}">{{user.displayName}}</option>
    </select>
  </div>
  <div>{{'tenant.details.description' | translate}} <input type="text" ng-required="false" ng-model="tenant.description"></input></div>
  <div ng-hide="true"><toggle class="tenant-toggle" ng-model="tenant.status"></toggle></div>
  <div ng-hide="!tenant.id">{{'tenant.details.region' | translate}} {{tenant.regionId}}</div>

  <input type="submit" class="btn btn-primary" value="{{'value.save' | translate}}"/>
  <a class="btn" ng-click="cancel()">{{'value.cancel' | translate}}</a>
</form>
