#week-hours-table {
  margin-top: 20px;
}

#add-exception-form .controls {
  margin-top: 20px;
  margin-bottom: 20px;

  input, a {
    float: left;
    width: calc(50% - 3px) !important;
  }

  input + input, input + a {
    margin-left: 6px !important;
  }
}
