<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>

<div>
  <div class="input-group">
    <label>{{'value.name' | translate}} *</label>
    
    <form-error field="forms.detailsForm.name"
      error-type-required="{{'value.error.name.required' | translate}}">
    </form-error>
    <input type="text" name="name"
      ng-model="selectedHour.name"
      ng-required="true"/>
  </div>

  <div class="input-group">
    <label class="textarea-label">{{'value.description' | translate}}</label>
    <textarea ng-model="selectedHour.description"></textarea>
  </div>

  <div class="input-group"
    ng-if="timezones.$resolved">
    <label>{{'hours.timezone.header' | translate}} *</label>
    
    <form-error field="forms.detailsForm.timezone"
      error-type-required="{{'hours.timezone.required' | translate}}">
    </form-error>
    <select name="timezone"
      ng-required="true"
      ng-model="selectedHour.timezone"
      ng-options="timezone for timezone in timezones">

      <option value="" disabled>{{'hours.timezone.select.placeholder' | translate}}</option>
    </select>
  </div>
</div>

<div class="divider-header">
  <h4>{{'hours.hours.title' | translate}}</h4>
</div>

<div>
  <div class="input-group">
    <label>{{'hours.details.hour' | translate}}</label>
    <div>
      <input type="radio"
        ng-model="isHoursCustom"
        ng-change="onIsHoursCustomChanged(isHoursCustom)"
        ng-value="false">
      <label>{{'hours.open.default' | translate}}</label>

      <input type="radio"
        ng-model="isHoursCustom"
        ng-change="onIsHoursCustomChanged(isHoursCustom)"
        ng-value="true">
      <label>{{'hours.open.custom' | translate}}</label>
    </div>
  </div>

  <div class="input-group" ng-show="isHoursCustom || hasHours()">
    <form-error field="forms.detailsForm.sunStartTimeMinutes"
      error-type-required="{{'hours.day.startTime.required' | translate:generateHoursMessage('sunday')}}">
    </form-error>
    <form-error field="forms.detailsForm.sunEndTimeMinutes"
      error-type-required="{{'hours.day.endTime.required' | translate:generateHoursMessage('sunday')}}">
    </form-error>

    <form-error field="forms.detailsForm.monStartTimeMinutes"
      error-type-required="{{'hours.day.startTime.required' | translate:generateHoursMessage('monday')}}">
    </form-error>
    <form-error field="forms.detailsForm.monEndTimeMinutes"
      error-type-required="{{'hours.day.endTime.required' | translate:generateHoursMessage('monday')}}">
    </form-error>

    <form-error field="forms.detailsForm.tueStartTimeMinutes"
      error-type-required="{{'hours.day.startTime.required' | translate:generateHoursMessage('tuesday')}}">
    </form-error>
    <form-error field="forms.detailsForm.tueEndTimeMinutes"
      error-type-required="{{'hours.day.endTime.required' | translate:generateHoursMessage('tuesday')}}">
    </form-error>

    <form-error field="forms.detailsForm.wedStartTimeMinutes"
      error-type-required="{{'hours.day.startTime.required' | translate:generateHoursMessage('wednesday')}}">
    </form-error>
    <form-error field="forms.detailsForm.wedEndTimeMinutes"
      error-type-required="{{'hours.day.endTime.required' | translate:generateHoursMessage('wednesday')}}">
    </form-error>

    <form-error field="forms.detailsForm.thuStartTimeMinutes"
      error-type-required="{{'hours.day.startTime.required' | translate:generateHoursMessage('thursday')}}">
    </form-error>
    <form-error field="forms.detailsForm.thuEndTimeMinutes"
      error-type-required="{{'hours.day.endTime.required' | translate:generateHoursMessage('thursday')}}">
    </form-error>

    <form-error field="forms.detailsForm.friStartTimeMinutes"
      error-type-required="{{'hours.day.startTime.required' | translate:generateHoursMessage('friday')}}">
    </form-error>
    <form-error field="forms.detailsForm.friEndTimeMinutes"
      error-type-required="{{'hours.day.endTime.required' | translate:generateHoursMessage('friday')}}">
    </form-error>

    <form-error field="forms.detailsForm.satStartTimeMinutes"
      error-type-required="{{'hours.day.startTime.required' | translate:generateHoursMessage('saturday')}}">
    </form-error>
    <form-error field="forms.detailsForm.satEndTimeMinutes"
      error-type-required="{{'hours.day.endTime.required' | translate:generateHoursMessage('saturday')}}">
    </form-error>

    <table id="week-hours-table" class="table">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>{{'hours.startTime' | translate}}</th>
          <th>{{'hours.endTime' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{'hours.sunday' | translate}}</th>
          <td>
            <input type="time" name="sunStartTimeMinutes"
              ng-model="selectedHour.sunStartTimeMinutes"
              date-to-minute-converter>
          </td>
          <td>
            <input type="time" name="sunEndTimeMinutes"
              ng-model="selectedHour.sunEndTimeMinutes"
              date-to-minute-converter/>
          </td>
        </tr>

        <tr>
          <th scope="row">{{'hours.monday' | translate}}</th>
          <td>
            <input type="time" name="monStartTimeMinutes"
              ng-model="selectedHour.monStartTimeMinutes"
              ng-required="false"
              date-to-minute-converter>
          </td>
          <td>
            <input type="time" name="monEndTimeMinutes"
              ng-model="selectedHour.monEndTimeMinutes"
              date-to-minute-converter/>
          </td>
        </tr>

        <tr>
          <th scope="row">{{'hours.tuesday' | translate}}</th>
          <td>
            <input type="time" name="tueStartTimeMinutes"
              ng-model="selectedHour.tueStartTimeMinutes"
              date-to-minute-converter>
          </td>
          <td>
            <input type="time" name="tueEndTimeMinutes"
              ng-model="selectedHour.tueEndTimeMinutes"
              date-to-minute-converter/>
          </td>
        </tr>

        <tr>
          <th scope="row">{{'hours.wednesday' | translate}}</th>
          <td>
            <input type="time" name="wedStartTimeMinutes"
              ng-model="selectedHour.wedStartTimeMinutes"
              date-to-minute-converter>
          </td>
          <td>
            <input type="time" name="wedEndTimeMinutes"
              ng-model="selectedHour.wedEndTimeMinutes"
              date-to-minute-converter/>
          </td>
        </tr>

        <tr>
          <th scope="row">{{'hours.thursday' | translate}}</th>
          <td>
            <input type="time" name="thuStartTimeMinutes"
              ng-model="selectedHour.thuStartTimeMinutes"
              date-to-minute-converter>
          </td>
          <td>
            <input type="time" name="thuEndTimeMinutes"
              ng-model="selectedHour.thuEndTimeMinutes"
              date-to-minute-converter/>
          </td>
        </tr>

        <tr>
          <th scope="row">{{'hours.friday' | translate}}</th>
          <td>
            <input type="time" name="friStartTimeMinutes"
              ng-model="selectedHour.friStartTimeMinutes"
              date-to-minute-converter>
          </td>
          <td>
            <input type="time" name="friEndTimeMinutes"
              ng-model="selectedHour.friEndTimeMinutes"
              date-to-minute-converter/>
          </td>
        </tr>

        <tr>
          <th scope="row">{{'hours.saturday' | translate}}</th>
          <td>
            <input type="time" name="satStartTimeMinutes"
              ng-model="selectedHour.satStartTimeMinutes"
              date-to-minute-converter>
          </td>
          <td>
            <input type="time" name="satEndTimeMinutes"
              ng-model="selectedHour.satEndTimeMinutes"
              date-to-minute-converter/>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="divider-header"
  ng-hide="selectedHour.isNew()">
  <h4>{{'hours.exceptions.title' | translate}}</h4>
  <a class="btn pull-right" title="Add a schedule exception"
    ng-click="showCreateException()">
    <i class="fa fa-plus center"></i>
  </a>
</div>

<ng-form id="add-exception-form"
  name="forms.exceptionHour"
  ng-show="exceptionHour"
  ng-resource="exceptionHour"
  lo-form-submit
  lo-form-cancel
  seperate-validation>

  <div class="input-group">
    <label>{{'value.date' | translate}} *</label>

    <form-error field="forms.exceptionHour.date"></form-error>
    <input type="date" name="date"
      ng-model="exceptionHour.date"
      ng-required="exceptionHour"
      utc-date-converter>
  </div>

  <div class="input-group">
    <label>{{'value.description' | translate}}</label>

    <form-error field="forms.exceptionHour.description"></form-error>
    <textarea name="description"
      ng-model="exceptionHour.description">
    </textarea>
  </div>

  <div class="input-group">
    <label></label>
    <div>
      <input type="radio" ng-model="exceptionHour.isAllDay" ng-value="true">
      <label>{{'hours.exception.isAllDay' | translate}}</label>

      <input type="radio" ng-model="exceptionHour.isAllDay" ng-value="false">
      <label>{{'hours.exception.custom' | translate}}</label>
    </div>
  </div>

  <div class="input-group"
    ng-show="!exceptionHour.isAllDay">
    <label>{{'hours.startTime' | translate}}</label>

    <form-error field="forms.exceptionHour.startTimeMinutes"></form-error>
    <input type="time" name="startTimeMinutes"
      ng-model="exceptionHour.startTimeMinutes"
      ng-required="exceptionHour && !exceptionHour.isAllDay"
      date-to-minute-converter/>
  </div>

  <div class="input-group"
    ng-show="!exceptionHour.isAllDay">
    <label>{{'hours.endTime' | translate}}</label>

    <form-error field="forms.exceptionHour.endTimeMinutes"></form-error>
    <input type="time" name="endTimeMinutes"
      ng-model="exceptionHour.endTimeMinutes"
      ng-required="exceptionHour && !exceptionHour.isAllDay"
      date-to-minute-converter/>
  </div>

  <div class="input-group controls">
    <label></label>
    <input type="button" class="btn"
      value="{{'value.cancel' | translate}}"
      ng-click="cancelException()"/>
    <input type="button" class="btn btn-primary"
      value="{{'value.submit' | translate}}"
      lo-submit="submitException()"/>
  </div>

</ng-form>

<p class="null"
  ng-show="! selectedHour.$exceptions.length && ! exceptionHour && !selectedHour.isNew()">
  {{'hours.exception.noneDefined' | translate}}
</p>

<table class="table"
  ng-show="selectedHour.$exceptions.length && !selectedHour.isNew()">
  <thead>
    <tr>
      <th>{{'value.date' | translate}}</th>
      <th>{{'value.description' | translate}}</th>
      <th>{{'value.start' | translate}}</th>
      <th>{{'value.end' | translate}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="exception in selectedHour.$exceptions">
      <td>{{exception.date | date:'dd-MM-yyyy'}}</td>
      <td>{{exception.description}}</td>
      <td>{{exception.startTimeMinutes | minutesToTime}}</td>
      <td>{{exception.endTimeMinutes | minutesToTime}}</td>
      <td>
        <a class="remove"
          title="{{'hours.exception.remove' | translate}}"
          ng-click="removeException(exception)">
          <i class="fa fa-times"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
