<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>

<div>
  <div class="input-group">
    <label>{{'value.name' | translate}} *</label>
    <input type="text" ng-model="selectedHours.name" ng-required="true"/>
  </div>

  <div class="input-group">
    <label class="textarea-label">{{'value.description' | translate}}</label>
    <textarea ng-model="selectedHours.description"></textarea>
  </div>

  <div class="input-group">
    <label>{{'hours.timezone.header' | translate}} *</label>
    <select ng-model="selectedHours.timezone"
      ng-options="timezone for timezone in timezones">
      
      <option value="" disabled>{{'hours.timezone.select.placeholder' | translate}}</option>
    </select>
  </div>
</div>

<div class="divider-header">
  <h4>{{'hours.hours.title' | translate}}</h4>
</div>

<div>
  <div class="input-group"
    ng-init="isHoursCustom = false">
    <label>Business Hours</label>
    <div>
      <input type="radio" ng-model="isHoursCustom" ng-value="false">
      <label>24/7 Hours</label>
      
      <input type="radio" ng-model="isHoursCustom" ng-value="true">
      <label>Scheduled Hours</label>
    </div>
  </div>
  
  <div class="input-group" ng-show="isHoursCustom || hasHours()">
    <form-error field="forms.detailsForm.sunStartTimeMinutes"
      error-type-required="{{'hours.day.startTime.required' | translate:generateHoursMessage('sunday')}}">
    </form-error>
    <form-error field="forms.detailsForm.sunEndTimeMinutes"
      error-type-required="{{'hours.day.endTime.required' | translate:generateHoursMessage('sunday')}}">
    </form-error>
    <table id="week-hours-table" class="table">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>{{'hours.startTime' | translate}}</th>
          <th>{{'hours.endTime' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{'hours.sunday' | translate}}</th>
          <td>
            <input type="time" name="sunStartTimeMinutes"
              ng-model="hours.sunStartTimeMinutes"
              ng-required="false">
          </td>
          <td>
            <input type="time" name="sunEndTimeMinutes"
              ng-model="hours.sunEndTimeMinutes"
              ng-required="false"/>
          </td>
        </tr>
        
        <tr>
          <th scope="row">{{'hours.monday' | translate}}</th>
          <td><input type="time" ng-model="hours.monStartTimeMinutes"/></td>
          <td><input type="time" ng-model="hours.monEndTimeMinutes"/></td>
        </tr>
        
        <tr>
          <th scope="row">{{'hours.tuesday' | translate}}</th>
          <td><input type="time" ng-model="hours.tueStartTimeMinutes"/></td>
          <td><input type="time" ng-model="hours.tueEndTimeMinutes"/></td>
        </tr>
        
        <tr>
          <th scope="row">{{'hours.wednesday' | translate}}</th>
          <td><input type="time" ng-model="hours.wedStartTimeMinutes"/></td>
          <td><input type="time" ng-model="hours.wedEndTimeMinutes"/></td>
        </tr>
        
        <tr>
          <th scope="row">{{'hours.thursday' | translate}}</th>
          <td><input type="time" ng-model="hours.thuStartTimeMinutes"/></td>
          <td><input type="time" ng-model="hours.thuEndTimeMinutes"/></td>
        </tr>
        
        <tr>
          <th scope="row">{{'hours.friday' | translate}}</th>
          <td><input type="time" ng-model="hours.friStartTimeMinutes"/></td>
          <td><input type="time" ng-model="hours.friEndTimeMinutes"/></td>
        </tr>
        
        <tr>
          <th scope="row">{{'hours.saturday' | translate}}</th>
          <td><input type="time" ng-model="hours.satStartTimeMinutes"/></td>
          <td><input type="time" ng-model="hours.satEndTimeMinutes"/></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="divider-header">
  <h4>{{'hours.exceptions.title' | translate}}</h4>
  <a class="btn pull-right" title="Add a schedule exception" ng-click="showCreateException()"><i class="fa fa-plus"></i></a>
</div>

<ng-form ng-show="exceptionHours" id="add-exception-form" seperate-validation>

  <div class="input-group">
    <label>{{'value.date' | translate}} *</label>
    <input type="date" ng-model="exceptionHours.date" ng-required="exceptionHours"/>
  </div>
  
  <div class="input-group">
    <label>{{'value.description' | translate}}</label>
    <textarea ng-model="exceptionHours.description"></textarea>
  </div>
  
  <div class="input-group">
    <label>{{'hours.startTime' | translate}}</label>
    <input type="time" ng-required="exceptionHours"/>
  </div>
  
  <div class="input-group">
    <label>{{'hours.endTime' | translate}}</label>
    <input type="time" name=""
      ng-required="exceptionHours"/>
  </div>
  
  <div class="input-group controls">
    <label></label>
    <input type="button" class="btn" value="Cancel" ng-click="exceptionHours = null"/>
    <input type="button" class="btn btn-primary" value="Submit" ng-click="addException()"/>
  </div>
  
</ng-form>

<p class="null" ng-show="! selectedHours.$exceptions.length && ! exceptionHours">
  No exceptions for the schedule have been defined. Add one with the plus button, above!
</p>

<table class="table" ng-show="selectedHours.$exceptions.length">
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Start</th>
      <th>End</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="exception in selectedHours.$exceptions">
      <td>{{exception.date}}</td>
      <td>{{exception.description}}</td>
      <td>{{exception.start}}</td>
      <td>{{exception.end}}</td>
    </tr>
  </tbody>
</table>