#week-hours-table {
  margin-top: 20px;
}

.add-exception-form  {
  margin-top: 20px;
  margin-bottom: 20px;

  .controls {
    input, a {
      float: left;
      width: calc(50% - 3px) !important;
    }

    input + input, input + a {
      margin-left: 6px !important;
    }
  }
}

.details-pane .moment-picker-contents {
  width: 100%;
}

.moment-picker {
  display: inline-block;
}
