<div ng-if="! selectedHours.isNew()">
  <toggle class="status-toggle" ng-model="selectedHours.active" 
  confirm-disable-message="{{'hours.details.disable.confirm' | translate}}"
  confirm-enable-message="{{'hours.details.enable.confirm' | translate}}"
  ng-disabled="!('MANAGE_ALL_BUSINESS_HOURS' | hasPermission)"></toggle>

  <div class="info">
    <h1 id="integration-details-type-header">{{selectedIntegration.$original.type}}</h1>
    <div class="details">
      <div ng-if="! (['PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT', 'VIEW_ALL_USERS', 'MANAGE_ALL_USER_EXTENSIONS', 'MANAGE_ALL_GROUP_USERS', 'MANAGE_ALL_USER_SKILLS', 'MANAGE_ALL_USER_LOCATIONS', 'MANAGE_TENANT_ENROLLMENT'] | hasPermission)">
        <b audit-text
          translation="value.createdon.time"
          date="selectedIntegration.$original.created">
        </b>
        <br/>
        <b audit-text ng-if="!!selectedHours.$original.updated"
          translation="value.updatedon"
          date="selectedHours.$original.updated">
        </b>
      </div>
      <div ng-if="['PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT', 'VIEW_ALL_USERS', 'MANAGE_ALL_USER_EXTENSIONS', 'MANAGE_ALL_GROUP_USERS', 'MANAGE_ALL_USER_SKILLS', 'MANAGE_ALL_USER_LOCATIONS', 'MANAGE_TENANT_ENROLLMENT'] | hasPermission">
        <b audit-text
          translation="value.createdby.time"
          user-id="selectedHours.$original.createdBy"
          date="selectedHours.$original.created">
        </b>
        <br/>
        <b audit-text ng-if="!!selectedHours.$original.updatedBy"
          translation="value.updatedby"
          user-id="selectedHours.$original.updatedBy"
          date="selectedHours.$original.updated">
        </b>
      </div>
    </div>
  </div>
</div>

<h1 id="hours-details-create-header" ng-if="selectedHours.isNew()">{{'hours.details.creating' | translate}}</h1>
