<label>
  {{ modifier.labelKey | translate}}
</label>
<div class="tag-wrapper clear">
  <div ng-repeat="operand in modifier.operands()" class="tag">
    {{operand.getDisplay()}}
    <a ng-click="modifier.remove(operand)">
      <i class="fa fa-times"></i>
    </a>
  </div>
</div>
<div>
  <type-ahead hover="true"
    placeholder="{{modifier.placeholderKey | translate}}"
    items="modifier.options | invoke"
    selected-item="selected">
  </type-ahead>
  <a class="add btn"
    ng-disabled="! selected"
    ng-click="modifier.add(selected)">
    <i class="fa fa-plus"></i>
  </a>
</div>