.queue-query{
  
  .input-group + .input-group {
    margin-top: 20px;
  }
  
  .input-group.has-elements label{
    border-right: 3px solid $accent-light;
  }
  
  .query-component + .query-component {
    border-top: 1px solid $lightest-grey;
    margin-top: 20px;
    padding-top: 20px;
  }
}