queue-query-creator{
  
  .input-group {
    max-width: $max-control-width + 300; 
  }
  
  .input-group + .input-group {
    margin-top: 20px;
  }
  
  .tag-wrapper {
    display: block;
  }
  
  .input-group.has-elements label{
    border-right: 3px solid $accent-light;
  }
  
  .input-group.has-elements div {
    margin-left: 5px;
  }
  
  .query-component + .query-component {
    border-top: 1px solid $lightest-grey;
    margin-top: 20px;
    padding-top: 20px;
  }
  
  .tag {
    margin: 5px;
  }
}