<div class="queue-query">
  <div ng-repeat="(groupName, componentList) in queryComponents" class="query-component">

    <div ng-repeat="component in componentList" class="input-group" ng-class="{'has-elements': component.list.length}">
      <label>
        {{ component.labelKey | translate}}
      </label>
      <div>
        <div ng-repeat="selected in component.list" class="tag">
          {{selected.getDisplay()}}
          <a ng-click="remove(component, selected)"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div>
        <type-ahead hover="true" placeholder="{{component.placeholderKey | translate}}" items="component.dropItems" selected-item="component.selected"></type-ahead>
        <a class="add btn" ng-click="add(component)"><i class="fa fa-plus"></i></a>
      </div>
    </div>
  </div>
</div>
