readonly-queue-query{
  .input-group {
    margin: 0;
    padding: 0;
  }
  
  .tag-wrapper {
    display: block;
  }
  
  .tag {
    margin: 5px;
  }
  
  .input-group label {
    width: 130px;
  }
}