.edit-field {
  margin-bottom: 15px;
  color: $dark-grey;
  .input-toggle {
    div {
      margin-top: 5px;
      display: block;
      border: $lighter-grey 1px solid;
      @include border-radius(4px);
      label {
        display: inline-block;
        margin: 10px;
      }
      .placeholder {
        color: $light-grey;
      }
      i {
        margin-top: 3px;
        display: inline-block;
        float: right;
        height: 39px;
        width: 38px;
        vertical-align: middle;
        font-size: 28px;
        text-align: center;
      }
    }
    div:hover {
      border: $light-grey 1px solid;
    }
  }
  input,
  select {
    display: block;
    margin-top: 5px;
    border: 1px solid $light-grey;
    @include border-radius(4px);
    padding: 8px;
  }
}