
<div class="edit-field">
  <label>{{label}}</label>
  <div class="input-toggle">
    <input type="text" ng-model="field.value" name="{{field.name}}" type="{{type}}" required="" ng-if="field.edit" ng-enter="saveHandler(save, field)">
    
    <div ng-mouseover="hover=true" ng-mouseout="hover=false" ng-click="edit(field)" title="Click to edit." ng-if="!field.edit">
      <label ng-show="field.value">{{field.value}}</label>
      <label class="placeholder" ng-show="!field.value">Click to add value</label>
      <button ng-show="hover">E</button>
    </div>
  </div>
</div>