$queryDashboardSelector: 'body #queues-dashboard .gridster &';

*, div {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

lo-resource-table {
  border: 1px solid #ccc;
}

.table-widget#table-pane {
  display: block !important;

  table-controls {
    padding: 0;
  }

  .table-controls.top-row {
    display: none;
  }

  lo-resource-table {
    padding: 0;
  }

  .table-error {
    color: #ff0000;
  }
}

.realtime-dashboard-editor-wrapper {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  position: relative;
  height: 100vh;
  width: 100%;
}

.dashboard-directive {
  position: relative;
}

.dashboard-fullscreen {
  position: absolute;
  top: 15px;
  right: 245px;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
}

.dashboard-btn-create {
  position: absolute;
  right: 145px;
  top: 15px;
  z-index: 2;
}

.dashboard-btn-save {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
}

.dashboard-loading {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: #cecece;

  i {
    margin-right: 5px;
  }
}

.subhead-wrapper {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  font-size: 12px;
}

.subhead {
  width: auto;
  display:inline-block;
  padding: 8px 18px;
  position: relative;
  z-index: 6;
}

.rt-subhead dropdown {
  font-size: 1.5rem;
}

.rt-subhead-right {
  position: relative;
  z-index: 6;
  margin-top: 10px;
  margin-right: 280px;
  float:right;
}

.rt-subhead-right::after {
  clear:both;
}

.rt-subhead-right dropdown {
  font-size: 1.2rem;
}

.dashboard-save {
  max-width: 200px;
  margin: 0;
  width: 45%;
  float: right;
  margin-top: 20px;
}

.dashboard-cancel {
  max-width: 200px;
  margin: 0;
  width: 45%;
  float: left;
  margin-top: 20px;
}

.selector-title {
  display: inline-block;
  vertical-align: middle;
  color: #919191;
}

.selector-title h1:after,
.selector-title h2:after {
  content: " / ";
}

.dropdown-selected {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  top:2px;
}

.widget-error {
  color: red;
  margin: 20px 0 0 45px;
}

div[gridster-item] {
  position: absolute;

  &.wrapper-statistic,
  &.wrapper-linechart {
    border-radius: 5px;
    box-shadow: 1px 1px 2px #ececec;
    background-color: #fff;
    padding: 2px;
    border: 1px solid #ececec;
  }
}

.gridster {
  margin: 20px auto;
}
.gauge-no-data{
  color: #ff0000;
}

.widget-wrapper {

  .handle-se {
    cursor: se-resize;
    width: 0;
    transform: rotate(135deg);
    height: 0;
    right: -5px;
    bottom: -1px;
    border-style: double;
    border-width: 0 8px 8px 8px;
  }

  .widget {

    lo-resource-table {
      overflow: hidden;
    }

    .scrollable-table-container {
      height: 100%;
      -webkit-box-sizing: border-box;
    }

    .source-switcher-widget {
      border-bottom: 2px solid #eee;

      h2 {
        font-size: 1.5vw;
        display: inline-block;
        margin: 0;
        position: relative;

        #{$queryDashboardSelector} {
          padding-right: 20px;
        }
      }

      select {
        width: 50%;
        float: right;
        display: inline-block;

        #{$queryDashboardSelector} {
          float: none;
        }
      }
    }

    .label-widget {
      border-bottom: 2px solid #eee;

      h2 {
        font-size: 1.5vw;
        margin: 0;
        padding: 0;
      }
    }

    .statistic-widget {
      text-align: center;
      height: 100%;
      position: relative;

      .stat-header, .stat-footer {
        color: #777;
        font-size: 1vw;
        font-weight: 200;
        white-space:nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .stat-header {}

      .stat-value-loading {
        font-size: 2vw;
        color: #777;
        width: 100%;
        text-align: center;
        position: relative;
        top: 15px;
      }

      .stat-value {
        font-size: 3vw;
        color: #777;
        font-weight: normal;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .stat-footer {
        position: absolute;
        width: 100%;
        bottom: 0;
      }
    }

    .gauge-widget {
      text-align: center;
      height: 100%;
      position: relative;

      .c3-chart-arcs-background{
          fill:#e0e0e0;
          stroke:none;
       }
       .c3-chart-arc .c3-gauge-value {
         fill: #777;
         font-size: 1.25vw;
        }
       .c3-gauge-value {
         font-weight: normal;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
       }
       .stat-header, .stat-footer {
         color: #777;
         font-size: 1vw;
         font-weight: 200;
         white-space:nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
       }

       .stat-header {}

       .stat-value-loading {
         font-size: 2vw;
         color: #777;
         width: 100%;
         text-align: center;
         position: relative;
         top: 15px;
       }

       .stat-value {
         font-size: 3vw;
         color: #777;
         font-weight: normal;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
       }

       .stat-footer {
         position: relative;
         padding-top: 5px;
         width: 100%;
         bottom: 0;
       }
    }
  }
}

.selected-widget {
  border: 2px solid #07487a !important;

  table-controls {
    position: relative;
    right: 20px;
  }
}

.locked-select {
  background: lightgray;
}

.remove-widget {
  position: absolute;
  right: 7px;
  top: 5px;
  z-index: 5;
  font-size: 24px;
  color: #07487a;
}

.locked-widget{
  position: absolute;
  right: 33px;
  top: 6px;
  z-index: 5;
  font-size: 24px;
  color: #07487a;
}

.widget-panel {
  height: 100%;
  padding: 20px;
}

#dashboard-container {
  left: 0;
  right: 0;
  bottom: 0;
  top: 48px;
  position: absolute;
  background-color: #bcbcbc;
}

#toolbar-container {
  left: 0;

  h1 {
    margin-top: 5px;
    margin-left: 5px;
  }
}

#widget-inspector-container {
  position: absolute;
  top: -20px;
  right: 0;
  width: 350px;
  height: 100vh;
  z-index: 8;
  bottom: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  -webkit-transition: right 300ms ease;
  transition: right 300ms ease;
  background: #fff;
}
