@import "../../node_modules/c3/c3.min.css";
$queryDashboardSelector: 'body #queues-dashboard .gridster &';

*, div {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

lo-resource-table {
  border: 1px solid #ccc;
}

.table-widget#table-pane {
  display: block !important;

  table-controls {
    padding: 0;
  }

  .table-controls.top-row {
    display: none;
  }

  lo-resource-table {
    padding: 0;
  }

  table-controls {
    display: none;
  }
}

.realtime-dashboard-editor-wrapper {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  position: relative;
  height: 100%;
  width: 100%;
}

.dashboard-directive {
  position: relative;
  top: -50px;
  z-index: 5;
}

.dashboard-fullscreen {
  position: absolute;
  top: 60px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
}

.dashboard-loading {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: #cecece;

  i {
    margin-right: 5px;
  }
}

.subhead {
  height: 7rem;
  left: 0;
  margin: 0;
  padding: 8px 18px;
  position: relative;
  right: 0;
  z-index: 1;
}

.dashboard-title {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  font-weight: 400;
}

.dashboard-title h1:first-child {
  color:#919191;
  font-size: 1.7rem;
  line-height: 1.2;
  display: inline-block;
  white-space: nowrap;
}
.dashboard-title h1:after {
  content:" / ";
  height:1.7rem;
  /*color:#474747;*/
}


.dashboard-selected {
  font-size: 1.5rem;
  line-height: 1.2;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  font-weight: 400;
  cursor: pointer;
  top:2px;
}

.widget-error {
  color: red;
  margin: 50px 0 0 45px;
}

div[gridster-item] {
  position: absolute;

  &.wrapper-statistic,
  &.wrapper-linechart {
    border-radius: 5px;
    box-shadow: 1px 1px 2px #ececec;
    background-color: #fff;
    padding: 2px;
    border: 1px solid #ececec;
  }
}

.gridster {
  margin: 20px auto;
}
.gauge-no-data{
  color: #ff0000;
}
.widget-wrapper {

  .handle-se {
    cursor: se-resize;
    width: 0;
    transform: rotate(135deg);
    height: 0;
    right: -5px;
    bottom: -1px;
    border-style: double;
    border-width: 0 8px 8px 8px;
  }

  .widget {

    .source-switcher-widget {
      border-bottom: 2px solid #eee;

      h2 {
        font-size: 1.5vw;
        display: inline-block;
        margin: 0;
        position: relative;
        top: 5px;
        padding: 0 0 10px 0;

        #{$queryDashboardSelector} {
          padding-right: 20px;
        }
      }

      select {
        width: 50%;
        float: right;
        display: inline-block;

        #{$queryDashboardSelector} {
          float: none;
        }
      }
    }

    .label-widget {
      border-bottom: 2px solid #eee;

      h2 {
        font-size: 1.5vw;
        margin: 0;
        padding: 0;
      }
    }

    .statistic-widget {
      text-align: center;
      height: 100%;
      position: relative;

      .stat-header, .stat-footer {
        color: #777;
        font-size: 1vw;
        font-weight: 200;
        white-space:nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .stat-header {}

      .stat-value-loading {
        font-size: 2vw;
        color: #777;
        width: 100%;
        text-align: center;
        position: relative;
        top: 15px;
      }

      .stat-value {
        font-size: 3vw;
        color: #777;
        font-weight: normal;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .stat-footer {
        position: absolute;
        width: 100%;
        bottom: 0;
      }
    }

    .gauge-widget {
      text-align: center;
      height: 100%;
      position: relative;

      .c3-chart-arcs-background{
          fill:#e0e0e0;
          stroke:none;
       }
       .c3-chart-arc .c3-gauge-value {
         fill: #777;
         font-size: 1.25vw;
        }
       .c3-gauge-value {
         font-weight: normal;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
       }
       .stat-header, .stat-footer {
         color: #777;
         font-size: 1vw;
         font-weight: 200;
         white-space:nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
       }

       .stat-header {}

       .stat-value-loading {
         font-size: 2vw;
         color: #777;
         width: 100%;
         text-align: center;
         position: relative;
         top: 15px;
       }

       .stat-value {
         font-size: 3vw;
         color: #777;
         font-weight: normal;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
       }

       .stat-footer {
         position: relative;
         padding-top: 5px;
         width: 100%;
         bottom: 0;
       }
    }
  }
}
