<div class="publish">
  <h3 class="header">{{title}}</h3>
  <ng-form name="forms.publishNewVersion">
    <div class="input-group">
      <label>Stat Name</label>
      <form-error field="forms.publishNewVersion.statName"
        error-type-required="Please enter a Stat name"></form-error>
      <input type="text" ng-model="stat.name" name="statName" ng-required="true"/>
    </div>
    <div class="input-group">
      <label>Make active</label>
      <toggle ng-model="stat.active"></toggle>
    </div>
    <div class="input-group">
      <label>Version name</label>
      <form-error field="forms.publishNewVersion.versionName"
        error-type-required="Please enter a version name"></form-error>
      <input type="text" ng-model="version.name" name="versionName" ng-required="true"/>
    </div>
  </ng-form>
  <div class="footer">
    <input type="button" id="modal-cancel" class="btn" ng-click="cancelCallback()" value="{{'value.cancel' | translate}}"/>
    <input type="submit" ng-click="okCallback(stat, version)" class="btn btn-primary" id="modal-ok" ng-disabled="forms.publishNewVersion.$invalid || ! forms.publishNewVersion.$dirty" value="{{'value.submit' | translate}}">
  </div>
</div>
