<div class="publish">
  <h3 class="header">{{title}}</h3>
  <div class="form">
    <div class="input-group">
      <label>Name</label>
      <input type="text" ng-model="version.name"/>
    </div>
    <div class="input-group">
      <label>Description</label>
      <input type="text" ng-model="version.description"/>
    </div>
  </div>
  <div class="footer">
    <a id="modal-cancel" class="btn" ng-click="cancelCallback()">{{'value.cancel' | translate}}</a>
    <a ng-click="okCallback(version)" class="btn btn-primary" id="modal-ok">{{'value.ok' | translate}}</a>
  </div>
</div>
