$main-font: Arial, Helvetica, sans-serif;
$navbar-height: 50px;
$left-nav-width: 150px;
$left-nav-left-hide: -120px;
$left-nav-closed-width: $left-nav-width + $left-nav-left-hide;

$lightest-grey: #ebebeb;
$light-grey: #CCCCCC;
$grey: #999999;
$dark-grey: #656565;
$darkest-grey: #474747;
$succes-green: #4fb845;

$main-color: #07487a;
$accent1: #3498db;
$accent-light: #e6f5ff;

$max-control-width: 500px;
$controls-label-width: 150px;
