$main-font: Arial, Helvetica, sans-serif;
$navbar-height: 50px;
$left-nav-width: 150px;
$left-nav-left-hide: -120px;
$left-nav-closed-width: $left-nav-width + $left-nav-left-hide;

$lightest-grey: #ebebeb;
$lighter-grey: #CCCCCC;
$light-grey: #999999;
$medium-grey: #CFCFCF;
$dark-grey: #474747;

$main-color: #07487a;
$accent1: #3498db;
$accent-light: #e6f5ff;