$input-height: 36px;
$input-left-padding: 15px;
$input-border-shadow: rgba(102,175,233,.6);

input[type=password], input[type=text], input[type=email], select, textarea{
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
  transition: all 0.2s linear;
  font-size: 13px;
  color: #222222;
  max-width: 100%;
  position: relative;
  height: $input-height;
  padding-left: $input-left-padding;
  box-sizing: border-box;
  width:100%;

  &::-webkit-input-placeholder {
    color: #999999;
  }

  &:-moz-placeholder {
    color: #999999;
  }

  &:focus{
    border-color: $accent1;
    outline: 0;
    @include box-shadow-2(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $input-border-shadow);
  }

  &.ng-touched.ng-invalid {
    border-color: red;
  }
}

textarea {
  height: 5em;
  padding-top: 7px;
}

.inner-addon-right {
  display: inline-table;
  width: 100%;

  input {
    display:table-cell;
    @include border-radius-complex(0, 0, 5px, 5px);
    border-right: none;
      transition: none;

    &:focus {
      + i {
        border-color: $accent1;
        outline: 0;
        @include box-shadow-2(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $input-border-shadow);
      }
    }
  }

  i {
    display:table-cell;
    width: 40px;
    text-align: center;
    border: 1px solid transparent;
    border-left: none;
    @include border-radius-complex(4px, 4px, 0, 0);
  }
}