$main-content-left-margin: 15px;

$right-pane-min-width: 300px;
$right-pane-default-width: $right-pane-min-width + 250px;

header {
  width: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 100%;
  min-width: $min-body-width;
}

.center {
  text-align: center;
}

.container {
  height: 100%;
  width: 100%;
  padding-top: $navbar-height;

  .app-loader {
    display: table;

    .app-loader-content {
      text-align: center;
      position: relative;
      display: table-cell;
      vertical-align: middle;

      >i {
        font-size: 20em;
      }
    }
  }

  .content-container, .app-loader {
    height: 100%;
    width: 100%;
  }
}

#main-content {
  display: table;
  top: $navbar-height;
  height: 100%;
  width: 100%;

  #table-pane {
    display: table-cell;
    min-width: 500px;
    padding: 20px;
    box-sizing: border-box;
    vertical-align: top;
    height: 100%;
    overflow-y: auto;
  }

  .resize-pane {
    display: table-cell;
    height:100%;
    width: 10px;
    border-left: 1px solid $light-grey;
    border-right: 1px solid $light-grey;
    vertical-align: middle;
    text-align: center;
  }

  .right-panel {
    display: table-cell;
    width: $right-pane-default-width;
    min-width: $right-pane-min-width;
    height: 100%;
  }

  .details-pane {
    height: 100%;
    overflow-y: auto;
    height: 100%;
    -ms-box-orient: vertical;
    @include display-flex();
    @include flex-box-direct(column);
    position: relative;
    vertical-align: top; /* fixes scrollbar when two resource details panels are open */

    .detail-header {
      background-color: #fff;
      border-bottom: 1px solid #dadada;
      padding: 15px;
      padding-right: 25px; /* add room for x button */
      position: relative;
  
      toggle {
        position: absolute;
        top: 20px;
        left: 15px;
      }
  
      toggle + * {
        padding-left: $toggle-width + 5px;
      }
  
      h1 {
        word-break: break-all;
        padding: 0;
        padding-bottom: 5px;
        line-height: 0.8em;
        margin: 0;
      }
  
      .info {
        b {
          font-size: .7em;
          color: $grey;
        }
      }
    }

    .detail-body {
      @include flex(1, 1, auto);
      height: 0;
      min-height: 0;
      overflow: auto;
      padding: 15px;

      .table {
        border: $light-grey solid 1px;
        border-spacing: 0;
        @include border-radius(0px);
        font-size: 0.9em;
        width: 100%;
        max-width: $max-control-width + 200px;
        
        &.clone-header {
            @include border-radius-complex(4px, 0, 0, 4px);
            border-bottom: 0;
        }
  
        td, th {
          padding: 10px;
        }
  
        th {
          border-bottom: $light-grey solid 1px;
          color: $dark-grey;
          text-align: left;
          font-weight: 600;
        }
  
        tbody tr:hover {
          background-color: $accent-light;
        }
        
        .control-col {
          width: 40px;
        }
      }
  
      .scrollable-table-container {
        max-width: $max-control-width + 200px;
      }
    }

    .detail-controls {
      border-top: 1px solid #dadada;
      justify-content: flex-end;
      @include display-flex();
      padding: 15px 5px;
  
      input, .btn {
        max-width: 200px;
        margin: 0;
        width: 45%;
      }
      
      .btn + .btn{
      	margin-left: 20px;
      }
    }
  
    > .fa-remove {
      position: absolute;
      top : 10px;
      right : 10px;
      z-index: 2;
      font-size: 1.5em;
    }
  }
}

.tile + .tile {
  padding-top: 10px;
}

.detail-group, .input-group {
  margin-left: 10px;
  padding-right: 10px;
  width: 100%;
}
    
.input-group {
  display: table;
  max-width: $max-control-width;

  & + .input-group {
    padding-top: 10px;
  }

  & > label, & > div {
    display: table-cell;
  }

  label {
    width: $controls-label-width;
    padding-right: 10px;
    vertical-align: middle;
  }

  label.textarea-label {
    padding-top: 0.7em;
    vertical-align: top;
  }

  // > div {
  //   display: flex;
  //   flex-direction: row;
  //   flex-wrap: nowrap;
  //   justify-content: flex-start;
  //   align-items: center;
  //   position: relative;
  //   
  //   * + .btn {
  //     margin-left: 10px;
  //   }
  // }

  > .timestamp input[type=text] {
    width: 60px;
  }

  button, input[type=button] {
    // width: 175px;
  }
}

div[disable-contents] + .input-group, .input-group + div[disable-contents] {
  padding-top: 10px;
}

.divider-header {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NEQ5RDgxQzc2RjQ5MTFFMjhEMUNENzFGRUMwRjhBRTciIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NEQ5RDgxQzg2RjQ5MTFFMjhEMUNENzFGRUMwRjhBRTciPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0RDlEODFDNTZGNDkxMUUyOEQxQ0Q3MUZFQzBGOEFFNyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0RDlEODFDNjZGNDkxMUUyOEQxQ0Q3MUZFQzBGOEFFNyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PvXFWFAAAAAYSURBVHjaYvj//z8D0/Pnz/8zgFgAAQYAS5UJscReGMIAAAAASUVORK5CYII=) repeat-x scroll 0 10px;
  margin: 25px 0 10px;

  & > * {
    background-color: #fff;
  }

  .count {
    color: $dark-grey;
  }

  &.first-header {
    margin-top: 5px;
  }

  h4 {
    color: #333;
    display: inline-block;
    margin: 0;
    padding-right: 5px;
  }
  
  .btn {
    margin-bottom: 10px;
  }
}
    
.two-col .logical-group {
  float: left;
  max-width: $max-control-width  + 200px;
  width: 50%;

  &+.logical-group {
    padding-left: 25px;
  }

  .divider-header {
    margin-top: 5px;
    max-width: $max-control-width;
  }
}
  
.compact-view .detail-body {
  .input-group, .detail-group {
    margin-left: 5px;
  }

  // .input-group > div {
  //   display: block;
  // }

  // .input-group label, .detail-group label {
  //   display: block;
  //   margin: 5px 0 5px 0;
  // }

  .divider-header+.input-group label, .divider-header+.detail-group label {
    margin-top: 5px;
  }
}

