$main-content-left-margin: 15px;



header {
  position: absolute;
  height: $navbar-height;
}

.container {
  height: 100%;
  width: 100%;
  padding-top: $navbar-height;

  .app-loader {
    display: table;

    .app-loader-content {
      text-align: center;
      position: relative;
      display: table-cell;
      vertical-align: middle;

      >i {
        font-size: 20em;
      }
    }
  }

  .content-container, .app-loader {
    height: 100%;
    width: 100%;
  }
}

#main-content {
  display: table;
  padding-left: $left-nav-closed-width + $main-content-left-margin;
  left: $left-nav-closed-width;
  top: $navbar-height;
  height: 100%;
  width: 100%;
  @include transition(0.5s all);

  &.expanded-menu {
    padding-left: $left-nav-width + $main-content-left-margin;
  }


  #table-pane {
    display: table-cell;
    min-width: 600px;
    padding: 20px;
    box-sizing: border-box;
    vertical-align: top;
    height: 100%;
    overflow-y: auto;
  }

  .resize-pane {
    display: table-cell;
    height:100%;
    width: 10px;
    border-left: 1px solid $light-grey;
    border-right: 1px solid $light-grey;
    vertical-align: middle;
    text-align: center;
  }

  .details-pane {
    width: 500px;
    min-width: 350px;
    height: 100%;
    overflow-y: auto;
    display: table-cell;
  }

}
