$main-content-left-margin: 15px;



header {
  position: absolute;
  height: $header-height;
}


#container {
  height: 100%;
  width: 100%;
  padding-top: $header-height; 
}

#main-content {
  display: table;
  padding-left: $left-nav-closed-width + $main-content-left-margin;
  left: $side-menu-width;
  top: $navbar-height;
  height: 100%;
  width: 100%;
  @include transition(0.5s all);

  &.expanded-menu {
    padding-left: $left-nav-width + $main-content-left-margin;
  }


  #table-pane {
    display: table-cell;
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
    vertical-align: top;
    height: 100%;
    overflow-y: auto;
  }

  #resize-pane {
    display: table-cell;
    height:100%;
    width: 10px;
    border-left: 1px solid $medium-grey;
    border-right: 1px solid $medium-grey;
    vertical-align: middle;
    text-align: center;
  }

  #details-pane {
    height: 100%;
    overflow-y: auto;
    display: table-cell;
  }

}
