<div class="divider-header">
  <h4>{{'details.groups.title' | translate}} <span class="count" ng-show="userGroups.$resolved">({{userGroups.length}})</span></h4>
</div>

<loading ng-show="groups && !groups.$resolved && userGroups && !userGroups.$resolved"></loading>
<p ng-hide="groups && groups.$resolved && userGroups.$resolved && groups.length" class="null">{{'details.groups.none' | translate}}</p>

<div ng-show="groups.$resolved && userGroups.$resolved" class="detail-group">
  <ng-form seperate-validation id="addGroup" name="addGroup">
    <type-ahead hover="true" placeholder="{{'details.groups.placeholder' | translate}}" items="filtered" selected-item="selectedGroup" is-required="true" name-field="name" ></type-ahead>
    <a ng-hide="saving" ng-disabled="!selectedGroup" class="btn" ng-click="save()" title="{{'value.save' | translate}}"><i class="fa fa-plus"></i></a>
    <a ng-show="saving" ng-disabled="true" class="btn btn-primary"><i class="fa fa-refresh fa-spin"></i></a>
  </ng-form>

  <div class="input-group">
    <p ng-show="userGroups.length === 0 && ! addNew" class="null" translate="details.usergroups.none" translate-value-display-name="{{user.displayName}}"></p>
  </div>

  <div ng-show="userGroups.length > 0">
    <div id="tag-wrapper" class=" clear" ng-class="{collapsed : collapsed}">
      <div id="tags-inside" class="clear">
        <div ng-repeat="userGroup in userGroups" class="tag">
          {{userGroup.groupName}}
          <a ng-click="remove(userGroup)" title="{{'details.usergroups.remove' | translate}}"><i class="fa fa-times"></i></a>
        </div>
      </div>
    </div>

    <div ng-show="! hideCollapseControls">
      <div class="expander down" ng-show="collapsed"><a ng-click="collapsed = false" title="{{'details.groups.showall' | translate}}"><i class="fa fa-ellipsis-h"></i></a></div>
      <div class="expander up" ng-show="! collapsed"><a ng-click="collapsed = true" title="{{'details.groups.hideextra' | translate}}"><i class="fa fa-caret-up"></i></a></div>
    </div>

  </div>
</div>
