<loading ng-show="!groups.$resolved || !userGroups.$resolved"></loading>

<div ng-show="groups.$resolved && userGroups.$resolved">
  <div class="divider-header">
    <h4>Groups <span class="count">({{userGroups.length}})</span></h4>
  </div>
  
  <div ng-show="groups.length > 0 && filtered.length > 0" class="clear">
    <div ng-if="addNew" class="add-wrapper">
      <select ng-model="groupId" ng-options="group.id as group.name for group in (filtered = (groups | objectNegation:'id':userGroups:'groupId' | orderBy:name))">
        <option disabled value="">Select Group...</option>
      </select>
      <input type="button" class="btn pull-right" value="Save" ng-click="add(groupId)"/>
    </div>
    
    <input ng-show="! addNew" type="button" class="btn pull-right" value="Assign Group" ng-click="addNew = true"/>
  </div>
  
  <p ng-show="userGroups.length === 0" class="null">{{user.displayName}} is not assigned to any groups.</p>
  
  <table ng-show="userGroups.length > 0">
    <tr ng-repeat="userGroup in userGroups">
      <td>{{userGroup.groupName}}</td>
      <td><input value="X" type="button" ng-click="remove(userGroup)" /></td>
    </tr>
  </table>
  
</div>