<div ng-show="!groups.$resolved || !userGroups.$resolved">
  Loading...
</div>

<div ng-show="groups.$resolved && userGroups.$resolved">
  <table>
    <tr ng-show="userGroups.length === 0">
      <td>None found</td>
    <tr>
    <tr ng-show="userGroups.length > 0" ng-repeat="userGroup in userGroups">
      <td>{{userGroup.groupName}}</td>
      <td><input value="X" type="button" ng-click="remove(userGroup)" /></td>
    </tr>
    <tr ng-show="groupId">
      <td><select ng-model="groupId" ng-options="group.id as group.name for group in (filtered = (groups | objectNegation:'id':userGroups:'groupId' | orderBy:name))"></select></td>
      <td>{{groupId}}</td>
    </tr>
  </table>
  <div ng-show="groups.length > 0 && filtered.length > 0">
    <input ng-show="!groupId" type="button" class="btn" value="Add New" ng-click="new()"/>
    <input ng-show="groupId" type="button" class="btn" value="Save" ng-click="add(groupId)"/>
  </div>
</div>