
<table-controls
    id="table-pane"
    config="tableConfig"
    items="fetchGroups()"
    selected="selectedGroup"
    resource-name="Group">

  <span name="active">
    <span ng-if="item.active">{{'value.enabled' | translate}}</span>
    <span ng-if="!item.active" class="disabled">{{'value.disabled' | translate}}</span>
  </span>

  <span name="members">
    {{item.fetchGroupUsers().length}}
  </span>

</table-controls>

<resize-handle
    ng-show="selectedGroup || showBulkActions"
    id="resize-pane"
    right-element-id="right-panel"
    left-element-id="table-pane"></resize-handle>

<lo-details-panel id="right-panel" 
  class="right-panel"
  ng-show="selectedGroup || showBulkActions"
  ng-resource="selectedGroup">
  
  
  <ng-form unsaved-changes-warning 
    class="details-pane"
    ng-show="selectedGroup && !showBulkActions" 
    name="forms.detailsForm"
    ng-model="selectedGroup"
    ng-resource="selectedGroup"
    lo-form-submit
    lo-form-cancel
    lo-form-alert>
    
    <div class="detail-header"
      ng-include src="'app/components/management/groups/groupDetailHeader.html'">
    </div>

    <div class="detail-body"
      ng-include src="'app/components/management/groups/groupDetailBody.html'">
    </div>

    <div class="detail-controls">
      <input id="cancel-details-btn" type="button" class="btn"
        value="{{'value.cancel' | translate}}"
        lo-cancel>
      </input>
      <input id="submit-details-btn" class="btn btn-primary"
        type="submit" value="{{'value.submit' | translate}}"
        ng-disabled="forms.detailsForm.$invalid || ! forms.detailsForm.$dirty"
        lo-submit="submit()"
        lo-submit-spinner
        lo-submit-spinner-status="selectedGroup.$busy">
      </input>
    </div>
  </ng-form>
  
  <bulk-action-executor class="details-pane group-ba" ng-show="showBulkActions" items="fetchGroups()"
    bulk-actions="bulkActions" show-bulk-actions="showBulkActions">
    <ba-set-group-status bulk-action="bulkActions.setGroupStatus"></ba-set-group-status>
  </bulk-action-executor>
</lo-details-panel>