<div class="lo-alert lo-alert-info" ng-show="! selectedGroup.isNew() && selectedGroup.type == 'everyone' && ('MANAGE_ALL_GROUPS' | hasPermission)">
  {{'group.readonly.warning' | translate}}
</div>

<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>

<div disable-contents="! ('MANAGE_ALL_GROUPS' | hasPermission) || selectedGroup.type == 'everyone'">
  <div class="input-group">
    <label>{{'value.name' | translate}} *</label>
    <form-error field="forms.detailsForm.name"
      error-type-required="{{'details.name.error' | translate}}">
    </form-error>
    <div>
      <input required ng-model="selectedGroup.name" name="name" type="text"></input>
    </div>
  </div>

  <div class="input-group">
    <label class="textarea-label">{{'value.description' | translate}}</label>
    <div>
      <textarea ng-model="selectedGroup.description" name="description"></textarea>
    </div>
  </div>

  <div ng-if="!selectedGroup.isNew() && ['PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT', 'MANAGE_ALL_GROUP_USERS', 'MANAGE_TENANT_ENROLLMENT'] | hasPermission">
    <div class="divider-header">
      <h4>{{'value.members' | translate}}
        <b class="count" translate="value.numMembers"
          translate-value-number="{{selectedGroup.fetchGroupUsers().length}}" >
        </b>
      </h4>
    </div>

    <div id="addUser" ng-show="selectedGroup.type != 'everyone'">
      <type-ahead placeholder="{{'details.users.placeholder' | translate}}"
        items="fetchUsers()"
        name-field="displayName"
        on-enter="save(item)"
        selected-item="typeahead.selectedUser"
        filters="filterUsers">
      </type-ahead>
      <a id="add-member-btn" class="btn"
        ng-show="!saving"
        ng-disabled="!typeahead.selectedUser"
        ng-click="addMember(typeahead.selectedUser)" >
          <i class="fa fa-plus"></i>
      </a>
      <a class="btn btn-primary"
        ng-show="saving" ng-disabled="true">
        <i class="fa fa-refresh fa-spin"></i>
      </a>
    </div>

    <p ng-if="selectedGroup.fetchGroupUsers().$resolved"
      class="null" id="empty-members-message" ng-hide="selectedGroup.fetchGroupUsers().length">
      {{'group.details.members.none' | translate}}
    </p>

    <loading ng-if="selectedGroup.fetchGroupUsers().$resolved != undefined"
      ng-show="!selectedGroup.fetchGroupUsers().$resolved">
    </loading>

    <table class="table"
      ng-show="selectedGroup.$memberList.length > 0">
      <thead>
        <tr>
          <th>{{'value.name' | translate}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in selectedGroup.$memberList">
          <td><a ui-sref="content.management.users({id: user.memberId})">
            <audit-text translation="value.displayName" user-id="user.memberId">
            </audit-text>
          </a></td>
          <td td style="text-align:right">
            <a id="remove-member-btn" ng-click="removeMember(user)" ng-show="selectedGroup.type != 'everyone'">
              <i class="fa fa-times remove"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <group-reason-lists
    group="selectedGroup"
    ng-if="!selectedGroup.isNew()">    
  </group-reason-lists>
</div>
