<div ng-hide="selectedGroup.isNew()">
  <toggle class="status-toggle" ng-model="selectedGroup.active" name="active" 
  confirm-disable-message="{{'group.details.disable.confirm' | translate}}"
  confirm-enable-message="{{'group.details.enable.confirm' | translate}}"
  ng-disabled="!('MANAGE_ALL_GROUPS' | hasPermission) || selectedGroup.$original.type == 'everyone'"></toggle>

  <div class="info">
     <h1 id="group-details-name-header">{{selectedGroup.$original.name}}</h1>
     <div class="details" ng-if="['PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT', 'VIEW_ALL_USERS', 'MANAGE_ALL_USER_EXTENSIONS', 'MANAGE_ALL_GROUP_USERS', 'MANAGE_ALL_USER_SKILLS', 'MANAGE_ALL_USER_LOCATIONS', 'MANAGE_TENANT_ENROLLMENT'] | hasPermission">
       <b audit-text
         translation="value.createdby.time"
         user-id="selectedGroup.$original.createdBy"
         date="selectedGroup.$original.created">
       </b>
       <br/>
       <b audit-text ng-if="!!selectedGroup.$original.updatedBy"
         translation="value.updatedby"
         user-id="selectedGroup.$original.updatedBy"
         date="selectedGroup.$original.updated">
       </b>
     </div>
     <div class="details" ng-if="!(['PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT', 'VIEW_ALL_USERS', 'MANAGE_ALL_USER_EXTENSIONS', 'MANAGE_ALL_GROUP_USERS', 'MANAGE_ALL_USER_SKILLS', 'MANAGE_ALL_USER_LOCATIONS', 'MANAGE_TENANT_ENROLLMENT'] | hasPermission)">
       <b audit-text
         translation="value.createdon.time"
         date="selectedGroup.$original.created">
       </b>
       <br/>
       <b audit-text ng-if="!!selectedGroup.$original.updated"
         translation="value.updatedon"
         date="selectedGroup.$original.updated">
       </b>
     </div>
  </div>
</div>

<h1 ng-hide="! selectedGroup.isNew()">{{'group.details.creating' | translate}}</h1>
