
<table-controls
    id="table-pane"
    config="tableConfig"
    items="groups"
    on-create-click="createGroup"
    selected="selectedGroup"
    resource-name="{{'tenants:' + Session.tenant.tenantId + ':groups'}}"></table-controls>

<resize-handle
    id="resize-pane"
    ng-show="!!selectedGroup"
    right-element-id="details-pane"
    left-element-id="table-pane"
    left-min-width="600"
    right-min-width="400"></resize-handle>

<resource-details
    id="details-pane"
    ng-show="selectedGroup"
    extend-scope="additional"
    header-template-url="app/components/management/groups/groupDetailHeader.html"
    body-template-url="app/components/management/groups/groupDetailBody.html"
    resource="selectedGroup"></resource-details>