<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>

<div class="input-group">
  <label>{{'value.name' | translate}}</label>
  <div>
    <form-error field="detailsForm.name" error-type-api="{{'details.name.error' | translate}}" error-type-required="{{'details.name.error' | translate}}"></form-error>
    <input required ng-model="resource.name" name="name" type="text"></input>
  </div>

</div>

<div class="input-group">
  <label class="textarea-label">{{'value.description' | translate}}</label>
  <div>
    <textarea ng-model="resource.description" name="description"></textarea>
  </div>
</div>

<div class="divider-header" ng-hide="! resource.id">
  <h4>Members <b class="count" translate="value.numMembers" translate-value-number="{{resource.members ? resource.members.length : 0}}" ></b></h4>
</div>

<p class="null" ng-show="resource.members.length == 0">There are no members assigned to this group.</p>

<div ng-if="resource.id" class="input-group">
  <label>&nbsp;</label>
  <table ng-hide="! resource.members.length > 0">
    <thead>
      <tr><th>{{'value.name' | translate}}</th></tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in resource.members">
        <td>{{user.displayName}}</td>
      </tr>
    </tbody>
  </table>
</div>
