
<table-controls
    id="table-pane"
    config="tableConfig"
    items="fetchGroups()"
    selected="selectedGroup"
    resource-name="group">

  <span name="status">
    <span ng-if="item.status">{{'value.enabled' | translate}}</span>
    <span ng-if="!item.status" class="disabled">{{'value.disabled' | translate}}</span>
  </span>

  <span name="members">
    {{item.fetchGroupUsers().length}}
  </span>

</table-controls>

<resize-handle
    ng-show="selectedGroup || showBulkActions"
    id="resize-pane"
    right-element-id="right-panel"
    left-element-id="table-pane"></resize-handle>

<div id="right-panel" class="right-panel" ng-show="selectedGroup || showBulkActions">
  <resource-details
      ng-show="selectedGroup && !showBulkActions"
      id="details-pane"
      extend-scope="additional"
      header-template-url="app/components/management/groups/groupDetailHeader.html"
      body-template-url="app/components/management/groups/groupDetailBody.html"
      original-resource="selectedGroup"
      resource-name="group"></resource-details>

  <bulk-action-executor class="details-pane group-ba" ng-show="showBulkActions" items="fetchGroups()"
    bulk-actions="bulkActions" show-bulk-actions="showBulkActions">
    <ba-set-group-status bulk-action="bulkActions.setGroupStatus"></ba-set-group-status>
  </bulk-action-executor>
</div>