<div ng-hide="! originalResource.id">
  <div class="pull-left">
    <toggle class="status-toggle" ng-model="resource.status"></toggle>
  </div>
  <div class="info">
     <h1>{{originalResource.name}}</h1>
     <div class="details">
        <b translate="value.createdby" translate-value-date="{{originalResource.created | date:'medium'}}" translate-value-creator="{{creator.displayName}}"></b>
        <br/>
        <b ng-if="updater" translate="value.updatedby" translate-value-date="{{originalResource.updated | date:'medium'}}" translate-value-updater="{{updater.displayName}}"></b>
     </div>
  </div>
</div>

<div ng-hide="originalResource.id">
  <h1>Creating Group</h1>
</div>
