<div ng-hide="! resource.id">
  <div class="info">
     <h1>{{resource.name}}</h1>
     <div class="details">
        <b translate="value.details.createdby" translate-value-date="{{resource.created | date:'medium'}}" translate-value-creator="{{creator.displayName}}"></b>
        <b translate="value.details.updatedby" translate-value-date="{{resource.updated | date:'medium'}}" translate-value-updater="{{updater.displayName}}"></b>
     </div>
  </div>
</div>

<div ng-hide="resource.id">
  <h1>Creating Group</h1>
</div>