<div
  class="new-user-email"
  ng-if="scenario().indexOf('invite') === 0">
  <div class="divider-header first-header">
    <h4>{{'user.details.login.information' | translate}}</h4>
  </div>

  <div class="input-group">
    <label>{{'details.email' | translate}} *</label>
    <form-error field="forms.detailsForm.email"
      error-type-api="{{'details.email.error' | translate}}"
      error-type-required="{{'details.email.error' | translate}}"
      error-type-email="{{'details.email.invalid' | translate}}">
    </form-error>
    <div>
      <input autocomplete="off" name="email" type="email" ng-required="true"
        ng-model="selectedTenantUser.email"
        ng-resource="selectedTenantUser"
        ng-model-options="{ updateOn: 'blur', allowInvalid: true }"
        duplicate-email>
      </input>
      <i class="email-verify-spinner"
        ng-class="{'fa fa-spin fa-spinner' : forms.detailsForm.email.$pending.duplicateUsername}">
      </i>
    </div>
  </div>

  <div class="input-group" ng-if="! forms.detailsForm.$error.duplicateEmail">
    <label>{{'details.platformRole' | translate}} *</label>
    <form-error
      field="forms.detailsForm.platformRoleId"
      error-type-required="{{'details.role.error' | translate}}">
    </form-error>
    <div>
      <select ng-model="selectedTenantUser.$user.roleId" name="platformRoleId" id="user-platform-role-dropdown" required
        ng-options="role.id as role.name for role in fetchPlatformRoles()">
        <option value="" ng-disabled="true">
          {{'users.details.role.select' | translate}}
        </option>
      </select>
    </div>
  </div>

  <div class="input-group">
    <label>{{'details.role' | translate}} *</label>
    <form-error
      field="forms.detailsForm.roleId"
      error-type-required="{{'details.role.error' | translate}}">
    </form-error>
    <div>
      <select ng-model="selectedTenantUser.roleId" name="roleId" required
        ng-options="role.id as role.name for role in fetchTenantRoles()">
        <option value="" ng-disabled="true">
          {{'users.details.role.select' | translate}}
        </option>
      </select>
    </div>
  </div>

  <div class="input-group">
    <label>{{'details.inviteNow' | translate}}</label>
    <div>
      <toggle ng-model="selectedTenantUser.status"
        true-value="accepted"
        false-value="disabled"
        ng-init="selectedTenantUser.status = 'accepted'"
        name="inviteNow">
      </toggle>
    </div>
  </div>
</div>

<div id="user-exists-alert" class="input-group" ng-show="forms.detailsForm.email.$error.duplicateEmail">
  <div class="lo-alert">{{'details.email.alreadyExists' | translate}}</div>
</div>

<div class="logical-group">
  <div disable-contents="!canSaveUser(selectedTenantUser)">
    <div class="divider-header first-header">
      <h4>{{'details' | translate}}</h4>
    </div>

    <div class="input-group">
      <label>{{'details.firstName' | translate}} <span ng-show="namesRequired()">*</span></label>
      <form-error field="forms.detailsForm.firstName"
        error-type-required="{{'details.firstName.error' | translate}}"></form-error>
      <div ng-switch="invitedUserExistsOnPlatform()">
        <input ng-switch-when="false" name="firstName"
          type="text"
          ng-required="namesRequired()"
          ng-model="selectedTenantUser.$user.firstName"></input>

        <input ng-switch-when="true" type="text"></input>
      </div>
    </div>

    <div class="input-group">
      <label>{{'details.lastName' | translate}} <span ng-show="namesRequired()">*</span></label>

      <form-error field="forms.detailsForm.lastName"
        error-type-required="{{'details.lastName.error' | translate}}"></form-error>
      <div ng-switch="invitedUserExistsOnPlatform()">
        <input ng-switch-when="false" name="lastName"
          type="text"
          ng-required="namesRequired()"
          ng-model="selectedTenantUser.$user.lastName">

        <input ng-switch-when="true" type="text"></input>
      </div>
    </div>

    <div class="input-group">
      <label>{{'details.externalId' | translate}}</label>
      <form-error field="forms.detailsForm.externalId">
      </form-error>
      <div ng-switch="invitedUserExistsOnPlatform()">
        <input ng-switch-when="false" ng-model="selectedTenantUser.$user.externalId" name="externalId" type="text"></input>
        <input ng-switch-when="true" type="text"></input>
      </div>
    </div>

    <span ng-if="hasVerintIntegration">
      <div class="input-group display-only">
        <label>{{'details.tenantUserId' | translate}}</label>
        <div ng-switch="invitedUserExistsOnPlatform()">
          <span ng-switch-when="false" name="tenantUserId" type="text">{{selectedTenantUser.aliasTenantUserId}}</span>
          <span ng-switch-when="true" type="text"></span>
        </div>
      </div>

      <div class="input-group display-only">
        <label>{{'details.platformUserId' | translate}}</label>
        <div ng-switch="invitedUserExistsOnPlatform()">
          <span ng-switch-when="false" name="platformUserId" type="text">{{selectedTenantUser.$user.id}}</span>
          <span ng-switch-when="true" type="text"></span>
        </div>
      </div>
    </span>
  </div>
</div>

<div ng-if="scenario() === 'update'" class="logical-group">
  <div class="divider-header">
    <h4>{{'details.login' | translate}}</h4>
  </div>

  <div class="input-group">
    <label>{{'details.email' | translate}}</label>
    <div>
      <span id="user-details-email">{{selectedTenantUser.email}}</span>
    </div>
  </div>
</div>

<div
  class="input-group"
  disable-contents="! (['PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT', 'MANAGE_TENANT_ENROLLMENT']  | hasPermission)"
  ng-if="scenario() === 'update'">
  <label>{{'details.role' | translate}} <span ng-if="Session.user.id == selectedTenantUser.id">*</span></label>
  <form-error field="forms.detailsForm.roleId"
    error-type-required="{{'details.role.error' | translate}}">
  </form-error>
  <div>
    <select
      ng-model="selectedTenantUser.roleId"
      name="roleId"
      required
      ng-options="role.id as role.name for role in fetchTenantRoles()"
      ng-disabled="Session.user.id == selectedTenantUser.id || scenario() === 'update'">
      <option value="" ng-disabled="true">
        {{'users.details.role.select' | translate}}
      </option>
    </select>
  </div>
</div>

<loading ng-if="('USER_IDENTITY_PROVIDER_VIEW'| hasPermission) && ('IDENTITY_PROVIDERS_READ'| hasPermission) && !displaySsoFields()"></loading>

<div
  ng-if="('USER_IDENTITY_PROVIDER_VIEW'| hasPermission) && ('IDENTITY_PROVIDERS_READ'| hasPermission) && displaySsoFields()"
  disable-contents="!('USER_IDENTITY_PROVIDER_UPDATE'| hasPermission)"
  class="logical-group">
  <div class="input-group">
    <label>{{'users.details.CxEngageAuthentication' | translate}}</label>
    <div>
      <select
        name="defaultCxEngageAuthentication"
        ng-model="selectedTenantUser.noPassword"
        ng-disabled="selectedTenantUser.disableCxEngageStatusSelect">
          <option
            ng-repeat="option in cxEngageAuthOptions"
            ng-selected="selectedTenantUser.noPassword === option.value"
            ng-value="option.value">
            {{option.display}}
          </option>
      </select>
    </div>
  </div>

  <div
    ng-if="scenario() === 'update'"
    class="input-group">
    <label>&nbsp;</label>
    <div>
      <div
        id="password-reset"
        ng-if="setInviteButton(selectedTenantUser, resetBtn) && selectedTenantUser.status !== 'disabled'"
        disable-contents="(
          !(
            ['PLATFORM_MANAGE_ALL_USER_PASSWORDS', 'MANAGE_ALL_USER_PASSWORDS']  | hasPermission
          ) &&
          (
            selectedTenantUser.id !== Session.user.id
          ) ||
          (
            !(
              ['PLATFORM_MANAGE_MY_PASSWORD']| hasPermission
            ) &&
            (
              selectedTenantUser.id === Session.user.id
              )
            )
          )">
        <input
          id="password-reset-btn"
          class="btn" type="button"
          ng-click="resetPassword()"
          value="{{'value.passwordReset' | translate}}"></input>
      </div>

      <div
        ng-if="setInviteButton(selectedTenantUser, resendBtn) &&
          selectedTenantUser.status !== 'disabled' &&
          (
            [
              'PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT',
              'MANAGE_TENANT_ENROLLMENT'
            ] | hasPermission
          )">
        <input id="resend-invitation-btn" type="button" class="btn" ng-click="resend()"
          value="{{(selectedTenantUser.invitationStatus == 'pending' ? 'user.details.invitation.send' : 'user.details.invitation.resend') | translate}}">
        <a
          ng-show="('USER_IDENTITY_PROVIDER_UPDATE'| hasPermission) && displayExpireLink(selectedTenantUser.invitationStatus)"
          id="expire-invitation-link"
          ng-click="expireTenantUser()">
          {{'user.details.invitation.expire' | translate}}
        </a>
      </div>
    </div>
  </div>

  <div class="input-group">
    <label>{{'user.details.singleSignOnIdp' | translate}}</label>
    <div>
      <select
        name="defaultIdentityProvider"
        ng-model="selectedTenantUser.defaultIdentityProvider"
        ng-disabled="selectedTenantUser.disableDefaultSsoProvider">
        <option
          ng-repeat="option in identityProviders"
          ng-selected="option.id === selectedTenantUser.defaultIdentityProvider"
          ng-value="option.id">
          {{option.name}}
        </option>
      </select>
    </div>
  </div>
</div>

<div ng-if="scenario() === 'update'">
  <lo-extensions
    has-twilio-integration="hasTwilioIntegration"
    tenant-user="selectedTenantUser"
    ng-disabled="!(
        ('MANAGE_ALL_USER_EXTENSIONS' | hasPermission) ||
        ('MANAGE_USER_EXTENSIONS' | hasPermission) ||
        (
          ('MANAGE_MY_EXTENSIONS' | hasPermission) && (Session.user.id === selectedTenantUser.id)
        )
      )">
  </lo-extensions>
  <user-skills user="selectedTenantUser"></user-skills>
  <user-groups user="selectedTenantUser"></user-groups>
  <user-reason-lists user="selectedTenantUser"></user-reason-lists>
  <user-capacity-rules user="selectedTenantUser"></user-capacity-rules>
  <user-transfer-lists user="selectedTenantUser"></user-transfer-lists>
  <user-message-templates user="selectedTenantUser"></user-message-templates>
</div>
