#user-detail-header {
  .mystery-man {
    color: #fff;
    background-color: #eee;
    font-size: 2em;
    padding: 15px 20px;
    margin-right: 10px;
  }

  toggle {
    position: static !important;
  }

  .info {
    .details {
      display: table;

      & > * {
        display: table-cell;
        vertical-align: top;
      }
    }
  }
}

.new-user-email {
  .email-verify-spinner {
    position: absolute;
    right: 5px;
    top: 9px;
  }
}

#expire-invitation-link {
  margin-left: 10px;
}

#password-reset {
  text-align: left;
}

.logical-group {
  margin-bottom: 10px;
}

.display-only {
  margin-top: 12px;

  span {
    margin-left: 5px;
  }
}

.platform-status-disabled {
  color: #999999;
}

.impersonate-user-btn {
  width: auto !important;
}
