<div ng-if="originalResource.id" id="user-detail-header">
  <div class="mystery-man pull-left">
    <i class="fa fa-user"></i>
  </div>

  <div class="info">
    <h1>{{originalResource.firstName}} {{originalResource.lastName}}</h1>

    <div class="details">
      <div>
        <toggle class="status-toggle" ng-model="resource.status"></toggle>
      </div>

      <div>
        <b
          translate="value.createdby"
          translate-value-date="{{originalResource.created | date:'medium'}}"
          translate-value-creator="{{creator.displayName}}">
        </b>
        <br/>
        <b
          translate="value.updatedby"
          translate-value-date="{{originalResource.updated | date:'medium'}}"
          translate-value-updater="{{updater.displayName}}">
        </b>
      </div>
    </div>
  </div>
</div>

<div ng-if="! originalResource.id">
  <div class="info">
    <h1>Creating New User</h1>
  </div>
</div>
