<div ng-if="!selectedTenantUser.isNew()" id="user-detail-header">
    <div class="mystery-man pull-left">
      <i class="fa fa-user"></i>
    </div>
    <div class="info">
      <h1>{{selectedTenantUser.$user.$original.getDisplay()}}</h1>

      <div class="details">
        <div>
          <toggle class="status-toggle" name="status"
            ng-model="selectedTenantUser.status"
            true-value="accepted" false-value="disabled"
            ng-disabled="Session.user.id === selectedTenantUser.id || hasRequiredProps(selectedTenantUser)"
            confirm-disable-message="{{'user.details.disable.confirm' | translate}}"
            confirm-enable-message="{{'user.details.enable.confirm' | translate}}"
            disable-contents="! (['PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT', 'MANAGE_TENANT_ENROLLMENT'] | hasPermission)"
            on-confirm="updateStatus()">
          </toggle>
        </div>

        <div>
          <b audit-text
            translation="value.createdby.time"
            user-id="selectedTenantUser.$original.createdBy"
            date="selectedTenantUser.$original.created">
          </b>
          <br/>
          <b audit-text
            ng-show="!!selectedTenantUser.$original.updatedBy"
            translation="value.updatedby"
            user-id="selectedTenantUser.$original.updatedBy"
            date="selectedTenantUser.$original.updated">
          </b>
        </div>
      </div>
    </div>
  </div>

  <h1 ng-if="selectedTenantUser.isNew()">{{'user.details.creating' | translate}}</h1>
