
<table-controls
  id="table-pane"
  config="tableConfig"
  items="users"
  selected="selectedUser"
  resource-name="user">

  <user-status name="status" ng-model="item.status"></user-status>

  <center name="state">
    <user-state state="{{item.state}}"></user-state>
  </center>
</table-controls>

<resize-handle
    ng-show="selectedUser || showBulkActions"
    id="resize-pane"
    right-element-id="user-pane"
    left-element-id="table-pane"
    left-min-width="700"
    right-min-width="300"></resize-handle>

<lo-details-panel
  id="user-pane"
  class="details-pane"
  ng-show="selectedUser || showBulkActions"
  ng-resource="selectedUser">

    <ng-form
      unsaved-changes-warning
      class="details-form"
      name="forms.detailsForm"
      ng-resource="selectedUser"
      lo-form-submit="user:save"
      lo-form-cancel="user:cancel"
      lo-form-alert>

      <div class="detail-header-pane" ng-show="selectedUser.id" ng-include="'app/components/management/users/userDetailHeader.html'">
      </div>

      <div class="detail-body-pane" ng-include="'app/components/management/users/userDetailBody.html'">
      </div>

        {{ invite }}
      <div class="detail-controls-pane">

        <input
          id="cancel-details-btn"
          lo-chain-executor="user:cancel"
          ng-disabled="selectedUser.$busy"
          type="button"
          class="btn"
          ng-click="reset()"
          value="{{'value.cancel' | translate}}"></input>

        <input
          id="submit-details-btn"
          lo-chain-executor="user:save"
          lo-submit-spinner
          lo-submit-spinner-status="selectedUser.$busy"
          ng-show="!forms.detailsForm.$error.duplicateUsername"
          ng-disabled="forms.detailsForm.$pending || forms.detailsForm.$invalid || ! forms.detailsForm.$dirty"
          class="btn btn-primary"
          type="submit"
          value="{{'value.submit' | translate}}" />

        <input
          id="invite-btn"
          lo-chain-executor="user:tenant:invite"
          lo-submit-spinner
          lo-submit-spinner-status="invite.$busy"
          ng-show="forms.detailsForm.$error.duplicateUsername"
          class="btn btn-primary"
          type="button"
          value="{{'value.submit' | translate}}" />
      </div>
    </ng-form>
  </div>

  <bulk-action-executor class="details-pane user-ba" ng-show="showBulkActions" items="users"
    bulk-actions="bulkActions" show-bulk-actions="showBulkActions"
    confirm-message-key="bulkActions.user.confirm.message" drop-order-by="lastName">
    <ba-set-status bulk-action="bulkActions.setStatus"></ba-set-status>
    <ba-reset-password bulk-action="bulkActions.resetPassword"></ba-reset-password>
    <ba-user-skills bulk-action="bulkActions.userSkills" users="users"></ba-user-skills>
    <ba-user-groups bulk-action="bulkActions.userGroups" users="users"></ba-user-groups>
  </bulk-action-executor>
</lo-details-panel>
