#user-detail-header {
  .mystery-man {
    color: #fff;
    background-color: #eee;
    font-size: 2em;
    height: 100%;
    margin-right: 0.5em;
    padding: 15px 20px;
  }
  
  toggle {
    position: static;
  }
  
  .info {
    .user-state {
      display:inline-block;
      font-size: 0.7em;
      vertical-align: top;
    }
    
    .details {
      display: table;
      
      & > * {
        display: table-cell;
      }
    }
  }
}
