
<table-controls
  id="table-pane"
  config="tableConfig"
  items="fetchTenantUsers()"
  selected="selectedTenantUser"
  resource-name="tenantUser">

  <user-status name="$original.status" ng-model="item.$original.status"></user-status>

  <center name="state">
    <user-state state="{{item.state}}"></user-state>
  </center>
</table-controls>

<resize-handle
    ng-show="selectedTenantUser || showBulkActions"
    id="resize-pane"
    right-element-id="user-pane"
    left-element-id="table-pane"></resize-handle>

<lo-details-panel
  id="user-pane"
  class="right-panel"
  ng-if="selectedTenantUser || showBulkActions"
  ng-resource="selectedTenantUser">
    
  <user-detail-panel ng-show="selectedTenantUser && !showBulkActions" selected-tenant-user="selectedTenantUser"></user-detail-panel>

  <bulk-action-executor class="right-panel user-ba" ng-show="showBulkActions" items="fetchTenantUsers()"
    bulk-actions="bulkActions" show-bulk-actions="showBulkActions"
    confirm-message-key="bulkActions.user.confirm.message" drop-order-by="lastName">
    <ba-set-status bulk-action="bulkActions.setStatus"></ba-set-status>
    <ba-reset-password bulk-action="bulkActions.resetPassword"></ba-reset-password>
    <ba-user-skills bulk-action="bulkActions.userSkills" users="fetchTenantUsers()"></ba-user-skills>
    <ba-user-groups bulk-action="bulkActions.userGroups" users="fetchTenantUsers()"></ba-user-groups>
  </bulk-action-executor>
</lo-details-panel>
