<div ng-if="selectedUser.$original.id" id="user-detail-header">
  <div class="mystery-man pull-left">
    <i class="fa fa-user"></i>
  </div>

  <div class="info">
    <h1>{{selectedUser.$original.firstName}} {{selectedUser.$original.lastName}}</h1>

    <div class="details">
      <div>
        <toggle class="status-toggle" ng-model="selectedUser.status" true-value="enabled" false-value="disabled" ng-disabled="Session.user.id === selectedUser.id"
          confirm-disable-message="{{'user.details.disable.confirm' | translate}}"
          confirm-enable-message="{{'user.details.enable.confirm' | translate}}">
        </toggle>
      </div>

      <div>
        <b audit-text
          translation="value.createdby.time"
          user-id="selectedUser.$original.createdBy"
          date="selectedUser.$original.created">
        </b>
        <br/>
        <b audit-text ng-if="!!selectedUser.$original.updatedBy"
          translation="value.updatedby"
          user-id="selectedUser.$original.updatedBy"
          date="selectedUser.$original.updated">
        </b>
      </div>
    </div>
  </div>
</div>

<h1 ng-if="! selectedUser.$original.id">{{'user.details.creating' | translate}}</h1>

