<div class="new-user-email" ng-if="!selectedUser.id">
  <div class="divider-header first-header">
    <h4>Login Information</h4>
  </div>

  <div class="input-group">
    <label>{{'details.email' | translate}} *</label>
    <form-error field="forms.detailsForm.email" error-type-api="{{'details.email.error' | translate}}" error-type-required="{{'details.email.error' | translate}}" error-type-email="{{'details.email.invalid' | translate}}"></form-error>
    <div>
      <input autocomplete="off" ng-model="selectedUser.email" name="email" type="email" ng-required="true" api-error duplicate-username ng-model-options="{ updateOn: 'blur', allowInvalid: true }"></input>
      <i class="email-verify-spinner" ng-class="{'fa fa-spin fa-spinner' : forms.detailsForm.email.$pending.duplicateUsername}"></i>
    </div>
  </div>
  <div class="input-group" ng-show="forms.detailsForm.email.$error.duplicateUsername">
    <div class="message-block">{{'details.email.alreadyExists' | translate}}</div>
  </div>
</div>

<div class="logical-group" ng-show="selectedUser.id">
  <div class="divider-header">
    <h4>{{'details.tenantStatus' | translate}}</h4>
  </div>

  <div class="input-group">
    <label>{{'details.inviteStatus' | translate}}</label>
    <div>
      <div class="tenant-status">test{{selectedUser.tenantStatus}}</div>
      <help-icon translate-value="details.tenantStatus.help"></help-icon>
    </div>
  </div>

  <div class="input-group">
    <div>
      <div class="message-block">{{'details.tenantStatus.notInvited' | translate}}</div>
    </div>
  </div>

  <div class="input-group">
    <label>{{'details.inviteNow' | translate}}</label>
    <div>
      <toggle ng-model="inviteNow" name="inviteNow" type="text"></toggle>
    </div>
  </div>

  <div class="input-group">
    <label></label>
    <div>
      <button class="btn" translate="details.resendInvitation" ng-model="inviteNow" name="inviteNow" type="text"></toggle>
    </div>
  </div>

</div>

<div class="logical-group" disable-contents="forms.detailsForm.email.$error.duplicateUsername">
  <div class="divider-header" ng-class="{'first-header' : selectedUser.id}">
    <h4>{{'details' | translate}}</h4>
  </div>

  <div class="input-group">
    <label>{{'details.firstName' | translate}} *</label>
    <form-error field="forms.detailsForm.firstName" error-type-required="{{'details.firstName.error' | translate}}" error-type-api="{{'details.firstName.error' | translate}}"></form-error>
    <div>
      <input ng-model="selectedUser.firstName" ng-required="selectedUser.id" name="firstName" type="text" ng-change="updateDisplayName(this)"></input>
    </div>
  </div>

  <div class="input-group">
    <label>{{'details.lastName' | translate}} *</label>
    <form-error field="forms.detailsForm.lastName" error-type-required="{{'details.lastName.error' | translate}}" error-type-api="{{'details.lastName.error' | translate}}"></form-error>
    <div>
      <input ng-model="selectedUser.lastName" ng-required="selectedUser.id"  name="lastName" type="text" ng-change="updateDisplayName(this)"></input>
    </div>
  </div>

  <div class="input-group">
    <label>{{'details.personalTelephone' | translate}}</label>
    <form-error field="forms.detailsForm.personalTelephone" error-type-phone-number="{{'details.phoneNumber.error' | translate}}"></form-error>
    <div>
      <input name="personalTelephone" type="tel" ng-model="selectedUser.personalTelephone" api-error>
      <help-icon text="Personal Telephone should be E.164 format"></help-icon>
    </div>
  </div>

  <div class="input-group">
    <label>{{'details.externalId' | translate}}</label>
    <form-error field="forms.detailsForm.externalId" error-type-api="Must be a String"></form-error>
    <div>
      <input ng-model="selectedUser.externalId" name="externalId" type="text"></input>
    </div>
  </div>

  <div class="input-group" ng-show="!selectedUser.id">
    <label>{{'details.inviteNow' | translate}}</label>
    <div>
      <toggle ng-model="inviteNow" name="inviteNow" type="text"></toggle>
      <help-icon translate-value="details.inviteNow.help"></help-icon>
    </div>
  </div>
</div>

<div ng-if="selectedUser.id" class="logical-group">
  <div class="divider-header">
    <h4>{{'details.login' | translate}}</h4>
  </div>

  <div class="input-group">
    <label>{{'details.email' | translate}}</label>
    <div>
      <span id="user-details-email">{{selectedUser.email}}</span>
    </div>
  </div>

  <div class="input-group">
    <label>{{'details.password' | translate}}</label>
    <form-error field="forms.detailsForm.password" error-type-api="{{'details.password.error' | translate}}" error-type-required="{{'details.password.error' | translate}}"></form-error>
    <div>
      <input type="button" class="btn" ng-hide="forms.detailsForm.password.$dirty" ng-click="forms.detailsForm.password.$setDirty()" value="{{'user.details.password.reset' | translate}}">
      <input ng-required="forms.detailsForm.password.$dirty" autocomplete="off" ng-model="selectedUser.password" name="password" type="password" ng-show="forms.detailsForm.password.$dirty"></input>
    </div>
  </div>
</div>

<div class="clear"></div>

<div ng-if="selectedUser.original.id">
  <user-skills user="selectedUser"></user-skills>
  <user-groups user="selectedUser"></user-groups>
</div>
