.dropdown-container {
  position: relative;
}

.dropdown {
  background-color: #FFFFFF;
  border: 1px solid $medium-grey;
  border-top: none;
  font-weight: normal;
  right: 0;
  position: absolute;
  padding: 15px 0;
  top: -2px;
  width: calc(100% - 2px);
  z-index: 10;
}

.drop-origin {
  @include border-radius-complex(6, 0, 0, 6);
}
  
.dropdown-wrapper {

  button {
    font-size: 1em;
    font-family: $main-font;
  }
  
  .dropdown {
    button {
      color: $medium-grey;
    }

    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      padding: 0 15px;
    }
    li:hover {
      background-color: $lighter-grey;
    }
  }
}