.dropdown-container {
  position: relative;
  text-align: left;
}

.dropdown {
  background-color: #FFFFFF;
  border: 1px solid $medium-grey;
  border-top: none;
  font-weight: normal;
  right: 0;
  position: absolute;
  padding: 6px 0;
  top: -2px;
  min-width: 200px;
  width: 100%;
  z-index: 10;
}

.drop-origin {
  @include border-radius-complex(6, 0, 0, 6);
}

.dropdown-wrapper {
  display: inline-block;
  overflow: visible;

  button {
    font-size: 1em;
    font-family: $main-font;
  }

  .drop-label {
    >div {
      width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      display: inline-block;
    }
  }

  .dropdown {
    button {
      color: $medium-grey;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      width: 100%;
    }

    li, li i {
      color: #333;
      padding: 5px;
    }
    li:hover {
      background-color: $lightest-grey;
    }
  }
}
