<div class="dropdown-wrapper">
  <div class="drop-label" ng-class="{'drop-origin' : showDrop}" ng-click="dropClick()" ng-mouseenter="mouseIn()">
    <div>
      <span>{{label}}</span>
      <i id="nav-dropdown-down-arrow" ng-show="showDrop" class="{{collapseIcon}} label-icon"></i>
      <i ng-show="! showDrop" class="{{expandIcon}} label-icon"></i>
    </div>
  </div>

  <div class="dropdown-container">
    <div class="dropdown" ng-hide="! showDrop">
      <ul>
        <li id="{{item.id}}"
          ng-repeat="item in items | orderBy:orderBy"
          ng-click="optionClick(item.onClick)">
            <span ng-if="! item.stateLink"><i class="{{item.iconClass}}"></i>{{item[displayPath]}}</span>
            <a ng-if="item.stateLink" ui-sref="{{item.stateLink}}({{item.stateLinkParams}})"><i class="{{item.iconClass}}"></i>{{item[displayPath]}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
