.dropdown-container {
  position: relative;
  text-align: left;
}

.dropdown {
  background-color: #FFFFFF;
  border: 1px solid $light-grey;
  border-top: none;
  font-weight: normal;
  right: 0;
  position: absolute;
  padding: 6px 0;
  top: -5px;
  min-width: 200px;
  width: 100%;
  z-index: 10;
}

.drop-origin {
  @include border-radius-complex(6, 0, 0, 6);
}

.dropdown-wrapper {
  overflow: visible;

  button {
    font-size: 1em;
    font-family: $main-font;
  }

  .drop-label {

    > div {
      white-space: nowrap;
      margin: 0;
      height: 100%;
      display:table;

      span, i {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
      }

      i {
        padding-left: 10px;
      }
    }
  }

  .dropdown {
    button {
      color: $light-grey;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      width: 100%;
    }

    li, li i {
      color: #333;
      padding: 5px;
    }

    li {
      border-left: 3px solid #fff;
      color: $dark-grey;
      background: #FFFFFF;
      padding: 10px 6px 10px 5px;
      font-size: 14px;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    li:hover {
      color: $dark-grey;
      background: $accent-light;
      background-color: $lightest-grey;
      border-left: 5px solid $accent1
    }
  }
}
