.dropdown-label {
  > div {
    display: inline-block;
  }
  border: 1px solid transparent;
  border-bottom: none;
  
  padding: 5px;
}
.dropdown-label.selected {
  border-color: $medium-grey;
  @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
}
.filter-dropdown {
  border: 1px solid $medium-grey;
  min-width: 140px;
  text-align: left;
  top: 0;
}
.filter-dropdown > div {
  padding: 5px 10px;
}

.filter-dropdown > div:hover {
  background-color: $accent-light;
  border-left: $accent1 4px solid;
  cursor: pointer;
}

.filter-dropdown > .all {
  border-bottom: 1px solid $medium-grey;
  margin-bottom: 10px;
  padding-bottom: 20px;
}