.dropdown-label {
  & > div {
    display: inline-block;
  }

  border: 1px solid transparent;
  border-bottom: none;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  
  .all-label {
    padding-right: 5px;
  }
}

.filter-dropdown {
  border: 1px solid $light-grey;
  color: $darkest-grey;
  max-height: 300px;
  overflow: auto;
  text-align: left;
  top: 0;

  & > div {
    padding: 5px 10px;
  }

  div:hover {
    background-color: $accent-light;
    @include box-shadow(inset 4px 0px 0px 0px $accent1);
    cursor: pointer;
  }
}

.filter-dropdown > .all {
  border-bottom: 1px solid $light-grey;
  margin-bottom: 10px;
  padding-bottom: 10px;
}