<div class="input-group">
  <label ng-class="{'has-elements': cqe.conditionGroup.conditions.length > 0}">
    {{ cqe.sectionLabel }}
  </label>

  <div class="instant-add">
    <div>
      <type-ahead hover="true" placeholder="{{ cqe.placeholderText }}"
        items="cqe.items" selected-item="cqe.selectedItem" filters="cqe.conditionsFilter">
      </type-ahead>

      <proficiency-selector ng-show="cqe.selectedItem.hasProficiency" operator="cqe.conditionOperator" proficiency="cqe.conditionProficiency"></proficiency-selector>
    </div>

    <button class="add btn" type="button"
      ng-disabled="!cqe.selectedItem.id" ng-click="cqe.addSelectedCondition()">
      <i class="fa fa-plus"></i>
    </button>
  </div>

  <div class="tag-wrapper clear">
    <div ng-repeat="condition in cqe.conditionGroup.conditions">
      <div class="tag">
        {{cqe.getConditionName(condition) + ' ' + cqe.prettyConditionFilter(condition)}}
        <a ng-click="cqe.conditionGroup.removeCondition(condition)"><i class="fa fa-times"></i></a>
      </div>
    </div>
  </div>
</div>
