readonly-query {
  display: block;
  margin-bottom: 10px;

  .tag {
    margin: 0 5px;
    &:first-child {
      margin: 0;
    }
  }
  .show-advanced-link, .show-basic-link {
    display: block;
    text-align: right;
    padding-top: 0.7em;
  }

  .show-basic-link {
    margin-bottom: 5px;
  }

  .tag-wrapper {
    margin: 5px 0;
  }
}

.compact-view .show-advanced-link, .compact-view .show-basic-link {
  width: 50%;
  display:inline-block;
  margin-top: 5px;
}

.compact-view #version-basic-query-details > label {
  width: 50%;
  display: inline-block;
}
