.interactions-controls-wrapper {
  max-width: 700px;
  display: block;
  padding: 20px;
  padding-bottom: 0;
  box-sizing: border-box;
  width: 100%;

  .interactions-filters {
    @include flexbox;
    margin-top: 10px;
  }

  .col {
    display: inline-block;
    float: left;
    width: 50%;
  }

  .col > *:first-child {
    padding-top: 0;
  }

  .btn + .btn {
    margin-left: 10px;
  }

  .detail-controls {
    margin-top: 20px;
    text-align: right;
  }
}

.interactions-table table-controls {
  padding: 0;

  .table-controls.top-row{
    margin: 0;
    height: 0;
  }
}
