<table-controls
  id="table-pane"
  config="tableConfig"
  items="fetchQueues()"
  selected="selectedQueue"
  resource-name="Queue">
  
  <span name="active">
    <span ng-if="item.active">{{'value.enabled' | translate}}</span>
    <span ng-if="!item.active" class="disabled">{{'value.disabled' | translate}}</span>
  </span>
  
  <span name="activeQueue">
    {{item.activeQueue.name}}
  </span>

</table-controls>

<resize-handle
  ng-show="!! selectedQueue || showBulkActions"
  id="resize-pane"
  right-element-id="right-panel"
  left-element-id="table-pane" ></resize-handle>

<div id="right-panel" class="right-panel" ng-show="selectedQueue || showBulkActions">
  <resource-details
    ng-show="!! selectedQueue && !showBulkActions"
    id="details-pane"
    extend-scope="additional"
    header-template-url="app/components/flows/queues/queueDetailHeader.html"
    body-template-url="app/components/flows/queues/queueDetailBody.html"
    original-resource="selectedQueue"
    resource-name="Queue"></resource-details>

  <bulk-action-executor class="details-pane" ng-show="showBulkActions" items="fetchQueues()"
    bulk-actions="bulkActions" show-bulk-actions="showBulkActions">
    <ba-set-queue-status bulk-action="bulkActions.setQueueStatus"></ba-set-queue-status>
  </bulk-action-executor>
</div>

<resize-handle
  ng-show="selectedQueueVersion"
  id="resize-pane"
  right-element-id="queue-version-panel"
  left-element-id="right-panel" ></resize-handle>

<lo-details-panel id="queue-version-panel" class="right-panel"
  ng-show="selectedQueueVersion"
  ng-resource="selectedQueueVersion">

  <ng-form unsaved-changes-warning name="forms.versionForm"
    class="details-pane"
    ng-model="selectedQueueVersion"
    ng-resource="selectedQueueVersion"
    lo-form-submit lo-form-cancel lo-form-alert>

    <div class="detail-header"
      ng-include src="'app/components/flows/queues/versions/versionDetailHeader.html'">
    </div>

    <div class="detail-body"
      ng-include src="'app/components/flows/queues/versions/versionDetailBody.html'">
    </div>

    <div class="detail-controls">
      <input id="cancel-version-btn" type="button" class="btn"
        value="{{'value.cancel' | translate}}"
        lo-cancel-chain-executor="version:cancel"></input>
      <input id="create-version-btn" class="btn btn-primary"
        type="submit" value="{{'value.create' | translate}}"
        ng-disabled="forms.versionForm.$invalid"
        lo-submit="saveVersion()"
        lo-submit-spinner lo-submit-spinner-status="selectedQueueVersion.$busy"></input>
    </div>
  </ng-form>
</lo-details-panel>
