<div ng-if="! qc.selectedQueue.isNew()">
  <toggle class="status-toggle" ng-model="qc.selectedQueue.active"
  confirm-disable-message="{{'queue.details.disable.confirm' | translate}}"
  confirm-enable-message="{{'queue.details.enable.confirm' | translate}}"
  ng-disabled="! ('MANAGE_ALL_QUEUES' | hasPermission)"
  on-confirm="qc.updateActive()"></toggle>

  <div class="info">
    <h1>{{qc.selectedQueue.$original.getDisplay()}}</h1>
    <div class="details" ng-if="['PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT', 'VIEW_ALL_USERS', 'MANAGE_ALL_USER_EXTENSIONS', 'MANAGE_ALL_GROUP_USERS', 'MANAGE_ALL_USER_SKILLS', 'MANAGE_ALL_USER_LOCATIONS', 'MANAGE_TENANT_ENROLLMENT'] | hasPermission">
      <b audit-text id="created-by-audit"
        translation="value.createdby.time"
        user-id="qc.selectedQueue.$original.createdBy"
        date="qc.selectedQueue.$original.created">
      </b>
      <br/>
      <b audit-text ng-if="!!qc.selectedQueue.$original.updatedBy" id="updated-by-audit"
        translation="value.updatedby"
        user-id="qc.selectedQueue.$original.updatedBy"
        date="qc.selectedQueue.$original.updated">
      </b>
    </div>
    <div class="details" ng-if="!(['PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT', 'VIEW_ALL_USERS', 'MANAGE_ALL_USER_EXTENSIONS', 'MANAGE_ALL_GROUP_USERS', 'MANAGE_ALL_USER_SKILLS', 'MANAGE_ALL_USER_LOCATIONS', 'MANAGE_TENANT_ENROLLMENT'] | hasPermission)">
      <b audit-text
        translation="value.createdon.time"
        date="qc.selectedQueue.$original.created">
      </b>
      <br/>
      <b audit-text ng-if="!!selectedQueue.$original.updated"
        translation="value.updatedon"
        date="qc.selectedQueue.$original.updated">
      </b>
    </div>
  </div>
</div>

<h1 ng-if="qc.selectedQueue.isNew()">{{'queue.details.creating' | translate}}</h1>
