<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>

<div disable-contents="! ('MANAGE_ALL_QUEUES' | hasPermission)">
  <div class="input-group">
    <label>{{'value.name' | translate}} *</label>
    <form-error field="qc.forms.detailsForm.name"
      error-type-required="{{'value.error.name.required' | translate}}"
      error-type-api="">
    </form-error>
    <div>
      <input type="text" ng-required="true" ng-model="qc.selectedQueue.name" name="name"></input>
    </div>
  </div>

  <div class="input-group">
    <label class="textarea-label">{{'value.description' | translate}}</label>
    <div>
      <textarea ng-model="qc.selectedQueue.description"></textarea>
    </div>
  </div>

  <div ng-if="! qc.selectedQueue.isNew()" class="input-group">
    <label>{{'queue.details.activeVersion' | translate}} *</label>
    <form-error field="qc.forms.detailsForm.activeVersion"
    error-type-required="{{'queue.details.version.error' | translate}}"></form-error>
    <div>
      <select id="active-version-field"
        name="activeVersion"
        ng-required="true"
        ng-model="qc.selectedQueue.activeVersion"
        ng-options="version.version as version.name for version in qc.versions | orderBy:'created':'reverse'"
        ng-class="{'default-selected': ! qc.selectedQueue.activeVersion}">
      <option value="" disabled>Select Version...</option>
      </select>
    </div>
  </div>

  <div ng-if="qc.selectedQueue.isNew()" class="input-group">
    <label class="disabled">{{'queue.details.activeVersion' | translate}}</label>
    <div>
      <input id="active-version-field" type="number" ng-disabled="true" value="1"></input>
    </div>
  </div>
</div>

<div id="create-new-queue-query-details" ng-if="qc.selectedQueue.isNew()">
  <query-list-creator ng-if="qc.VERSION_NUM === 1" form="qc.forms.detailsForm" query-string="qc.initialVersion.query"></query-list-creator>
  <query-builder ng-if="qc.VERSION_NUM === 2" query-string="qc.initialVersion.query"></query-builder>

  <div class="divider-header">
    <h4>{{'queue.details.priority' | translate}}</h4>
  </div>

  <version-priority queue-version="qc.initialVersion"></version-priority>

  <!-- Default SLA -->
  <div class="divider-header">
    <h4>{{'queue.details.sla.header' | translate}}</h4>
  </div>

  <div class="input-group">
    <label>{{'queue.details.sla' | translate}}</label>
    <select name="slaId"
      ng-model="qc.initialVersion.slaId"
      ng-options="sla.id as sla.name for sla in qc.slas | orderBy:'name'">

      <option value="" disabled>{{'tenant.details.sla.placeholder' | translate}}</option>
    </select>
    <div class="lo-error" >{{'queue.details.sla.warning' | translate}}</div>
    <div class="lo-error" >{{'queue.details.sla.interactions.warning' | translate}}</div>
  </div>

</div>

<!-- OLD VERSIONS -->
<div ng-show="!qc.selectedQueue.isNew()" class="queue-versions">
  <div class="divider-header">
    <h4>Versions</h4>
    <a id="add-queue-version-btn" ng-disabled="!('MANAGE_ALL_QUEUES' | hasPermission)" class="btn pull-right" title="Create new version" ng-click="!('MANAGE_ALL_QUEUES' | hasPermission) || qc.addQueueVersion()"><i class="fa fa-plus"></i></a>
  </div>
  <loading ng-show="! qc.versions.$resolved && ! qc.versions.length"></loading>
  <p id="no-versions-msg" ng-show="qc.versions.$resolved && qc.versions.length < 1" class="null">{{'queue.details.version.none' | translate}}</p>

  <div class="queue-version-table">
    <table class="table" ng-show="qc.versions.length">
      <thead>
        <th></th>
        <th>{{'value.version' | translate}}</th>
        <th>{{'value.createdOn' | translate}}</th>
        <th ng-if="['PLATFORM_VIEW_ALL_USERS', 'PLATFORM_CREATE_USERS', 'PLATFORM_MANAGE_ALL_USERS', 'PLATFORM_MANAGE_ALL_TENANTS', 'PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT'] | hasPermission">
          {{'queue.details.createdBy' | translate}}
        </th>
        <th></th>
      </thead>
      <tr ng-repeat-start="version in qc.versions  | orderBy:'created':'reverse'"
        ng-init="version.viewing = (version.version === qc.selectedQueue.activeVersion)"
        id="version-row-{{version.name}}"
        ng-click="qc.toggleDetails(version);">
        <td><i ng-if="version.version === qc.selectedQueue.activeVersion" class="fa fa-circle" title="{{'queue.details.version.active.tooltip' | translate}}"></i></td>
        <td>
          {{version.name}}
        </td>
        <td>{{version.created | date:'medium'}}</td>
        <td ng-if="['PLATFORM_VIEW_ALL_USERS', 'PLATFORM_CREATE_USERS', 'PLATFORM_MANAGE_ALL_USERS', 'PLATFORM_MANAGE_ALL_TENANTS', 'PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT'] | hasPermission">
          <audit-text translation="value.displayName" user-id="version.createdBy"></audit-text>
        </td>
        <td><i class="fa" ng-class="{'fa-caret-down' : !version.viewing, 'fa-caret-up': version.viewing}" title="{{'queue.details.version.expand' | translate}}"></i></td>
      </tr>
      <tr ng-repeat-end id="view-version-{{version.name}}" ng-show="version.viewing">
        <td></td>
        <td colspan="5">
          <div disable-contents="! ('MANAGE_ALL_QUEUES' | hasPermission)">

            <readonly-query query="version.query" show-basic-query="showBasicQuery" version="version.queryVersion">

              <!-- Basic Query -->
              <div id="version-basic-query-details" ng-show="showBasicQuery" class="input-group">
                <label class="textarea-label disabled">{{'queue.details.version.query.basic.title' | translate}}</label>
                <a class="show-advanced-link"
                  ng-click="showBasicQuery = !showBasicQuery;">
                      {{'queue.details.version.query.advanced.link' | translate}}
                </a>
                <query-builder ng-if="version === 2" query-string="query" read-only="true"></query-builder>
                <p ng-if="version === 1" class="null" ng-show="!ednQuery">{{'queue.details.version.query.basic.invalid' | translate}}</p>

                <div ng-if="version === 1" ng-repeat="escalation in ednQuery.escalations">
                  <div class="basic-readonly-query">
                    <h3 ng-show="escalation.afterSecondsInQueue > 0 && escalation.afterSecondsInQueue % 60 !== 0">
                      {{'queue.query.readonly.after.seconds' | translate:{seconds:escalation.afterSecondsInQueue} }}
                    </h3>
                    <h3 ng-show="escalation.afterSecondsInQueue > 0 && escalation.afterSecondsInQueue % 60 === 0">
                      {{'queue.query.readonly.after.minutes' | translate:{minutes:escalation.afterSecondsInQueue / 60} }}
                    </h3>
                    <object-group-editor
                      ng-repeat="item in escalation.query.groups"
                      object-group="item.objectGroup"
                      readonly="true"
                      key="item.key">
                    </object-group-editor>
                  </div>
                </div>
              </div>

              <!-- Advanced Query -->
              <div class="input-group advanced-query-readonly" ng-show="!showBasicQuery">
                <label class="textarea-label disabled">{{'queue.details.version.query.advanced.title' | translate}}</label>
                <a class="show-basic-link"
                  ng-click="showBasicQuery = !showBasicQuery;">
                    {{'queue.details.version.query.basic.link' | translate}}
                </a>
                <textarea id="advanced-query-field" ng-disabled="true" type="text" ng-model="query" name="query"></textarea>
              </div>

            </readonly-query>

            <version-priority queue-version="version" ng-disabled="true"></version-priority>

            <!-- Default SLA -->
            <div style="padding-top: 10px;" class="input-group advanced-query-readonly">
              <label class="textarea-label disabled">Queue SLA</label>
              <div>
                <input type="text" ng-disabled="true" ng-value="version.slaName"></input>
              </div>
            </div>

          </div>
          <a id="create-version-copy-btn"
            class="btn pull-right copy-version-btn"
            ng-if="'MANAGE_ALL_QUEUES' | hasPermission"
            ng-click="qc.copySelectedVersion(version)">
              {{'queue.details.version.copy' | translate}}
          </a>
        </td>
      </tr>
    </table>
  </div>

</div>
