<table-controls
  id="table-pane"
  config="tableConfig"
  items="queues"
  selected="selectedQueue"
  resource-name="queue"></table-controls>

<resize-handle
  ng-show="!! selectedQueue"
  id="resize-pane"
  right-element-id="details-pane"
  left-element-id="table-pane"
  left-min-width="600"
  right-min-width="300" ></resize-handle>

<resource-details
  ng-show="!! selectedQueue"
  id="details-pane"
  extend-scope="additional"
  header-template-url="app/components/flows/queues/queueDetailHeader.html"
  body-template-url="app/components/flows/queues/queueDetailBody.html"
  original-resource="selectedQueue"
  resource-name="queue"></resource-details>
