.queue-versions {
  .bordered-section {
    max-width: $max-control-width + 200px;
  }
  .advanced-query-readonly {
    padding-top: 0;
  }

  .basic-readonly-query {
    h3 {
    }
  }

  .queue-controls{
    text-align: right;
    margin-bottom: 10px;
    margin-top: 10px;

    input, a {
      float: left;
      width: calc(50% - 3px) !important;
    }

    input+input {
      margin-left: 6px !important;
    }
  }

  tr.view-version td {
    border-bottom: 1px solid $light-grey;
    @include drop-shadow();
  }

  tr.view-version:hover {
    background-color: #ffffff !important;
  }

  .copy-version-btn {
    margin-top: 10px;
  }
}

query-builder {

  .add-filter {
    margin-bottom: 0;
  }

  .time-input {
    margin-bottom: 10px;

    label {
      width: 40%;
    }

    input, select {
      width: 50%;
    }
  }

  .add-query {
    margin-top: 10px;
    h4, div {
      display: inline;
      margin-right: 15px;
    }
  }

  .tag-wrapper {
    .tag:first-child {
      margin-left: 0;
    }
  }

  .add-group-button {
    width: 40px;
  }

  .proficiency-operator-dropdown {
    width: 65%;
  }

  .proficiency-value {
    display: block;
    width: 35%;
  }

  .details-group + .details-group {
    margin-top: 20px;
  }

  .tag-wrapper {
    display: block;
  }

  .input-group label{
    border-right: 3px solid transparent;
  }

  label.has-elements {
    border-right: 3px solid $accent-light;
  }

  .query-component {
    margin-left: 10px;

    h4 {
      color: $dark-grey;
    }

    .input-group > div {
      margin-left: 5px;
    }

    .divider-header {
      margin-top: 10px;
      max-width: $max-control-width;
    }
  }

  .tag {
    margin: 0;
  }

  condition-group-editor {
    display: block;

    &:first-child {
    }
  }
}
