<div id="table-pane">
  <table-controls
    config="qc.tableConfig"
    items="qc.fetchQueues()"
    search-query="searchQuery">
  </table-controls>

  <lo-resource-table
    config="qc.tableConfig"
    items="qc.fetchQueues()"
    selected="qc.selectedQueue"
    search-query="searchQuery">

    <span name="$original.active">
      <span ng-if="item.$original.active">{{'value.enabled' | translate}}</span>
      <span ng-if="!item.$original.active" class="disabled">{{'value.disabled' | translate}}</span>
    </span>

    <span name="$original.activeQueue">
      {{item.$original.activeQueue.name}}
    </span>
  </lo-resource-table>
</div>

<resize-handle
  ng-show="!! qc.selectedQueue || showBulkActions"
  id="resize-pane"
  right-element-id="right-panel"
  left-element-id="table-pane" ></resize-handle>

<lo-details-panel id="right-panel" class="right-panel"
  ng-show="qc.selectedQueue || showBulkActions"
  ng-resource="qc.selectedQueue" queue-controller="qc">

  <ng-form unsaved-changes-warning name="qc.forms.detailsForm"
    ng-show="qc.selectedQueue"
    class="details-pane"
    ng-model="qc.selectedQueue"
    ng-resource="qc.selectedQueue"
    lo-form-submit lo-form-alert>

    <ng-form name="qc.forms.headerForm" separate-validation>
      <div class="detail-header"
        ng-include src="'app/components/flows/queues/queueDetailHeader.html'">
      </div>
    </ng-form>

    <div class="detail-body"
      ng-include src="'app/components/flows/queues/queueDetailBody.html'">
    </div>

    <div class="detail-controls">
      <input id="cancel-details-btn" type="button" class="btn"
        value="{{'value.cancel' | translate}}"
        ng-click="qc.confirmCancel()">
      </input>
      <input id="submit-details-btn" class="btn btn-primary"
        type="submit" value="{{'value.submit' | translate}}"
        ng-disabled="qc.forms.detailsForm.$invalid || ! qc.forms.detailsForm.$dirty"
        lo-submit="qc.submit()"
        lo-submit-spinner lo-submit-spinner-status="qc.selectedQueue.$busy"></input>
    </div>
  </ng-form>

  <bulk-action-executor class="details-pane"
    ng-show="showBulkActions"
    items="qc.fetchQueues()"
    show-bulk-actions="showBulkActions">
    <ba-set-queue-status></ba-set-queue-status>
  </bulk-action-executor>
</lo-details-panel>

<resize-handle
  ng-show="qc.selectedQueueVersion"
  id="resize-pane"
  right-element-id="queue-version-panel"
  left-element-id="right-panel" ></resize-handle>

<lo-details-panel id="queue-version-panel" class="right-panel"
  ng-show="qc.selectedQueueVersion"
  ng-resource="qc.selectedQueueVersion" queue-controller="qc">

  <ng-form unsaved-changes-warning
    name="qc.forms.versionForm"
    class="details-pane"
    ng-model="qc.selectedQueueVersion"
    ng-resource="qc.selectedQueueVersion"
    lo-form-submit lo-form-cancel lo-form-alert>

    <div class="detail-header"
      ng-include="'app/components/flows/queues/versions/versionDetailHeader.html'">
    </div>

    <div class="detail-body"
      ng-include="'app/components/flows/queues/versions/versionDetailBody.html'">
    </div>

    <div class="detail-controls">
      <input id="cancel-version-btn" type="button" class="btn"
        value="{{'value.cancel' | translate}}"
        lo-cancel>
      </input>
      <input id="create-version-btn" class="btn btn-primary"
        type="submit" value="{{'value.create' | translate}}"
        ng-disabled="qc.forms.versionForm.$invalid"
        lo-submit="qc.saveVersion()"
        lo-submit-spinner lo-submit-spinner-status="qc.selectedQueueVersion.$busy"></input>
    </div>
  </ng-form>
</lo-details-panel>
