<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>

<div disable-contents="! ('MANAGE_ALL_QUEUES' | hasPermission)">
  <div class="input-group">
    <label>{{'value.name' | translate}} *</label>
    <form-error field="forms.versionForm.queuename"
      error-type-required="{{'value.error.name.required' | translate}}">
    </form-error>
    <div>
      <input type="text" ng-required="true" ng-model="resource.name" name="queuename" api-error></input>
    </div>
  </div>

  <div class="input-group">
    <label class="textarea-label">{{'value.description' | translate}}</label>
    <div>
      <textarea ng-model="resource.description"></textarea>
    </div>
  </div>

  <div ng-if="!resource.isNew()" class="input-group">
    <label>{{'queue.details.activeVersion' | translate}}</label>
    <div>
      <form-error field="forms.versionForm.activeVersion"
      error-type-required="{{'queue.details.version.error' | translate}}"></form-error>
      <select id="active-version-field" name="activeVersion" ng-required="true" ng-model="resource.activeVersion" ng-options="version.version as version.name for version in fetchVersions() | orderBy:'created':'reverse'">
      </select>
    </div>
  </div>

  <div ng-if="resource.isNew()" class="input-group">
    <label class="disabled">{{'queue.details.activeVersion' | translate}}</label>
    <div>
      <input id="active-version-field" type="number" ng-disabled="true" value="1"></input>
    </div>
  </div>
</div>

<div ng-if="resource.isNew()">
  <div class="divider-header first-header">
    <h4>Query</h4>
    <a class="pull-right">
      <span id="show-advanced-query" ng-show="queryType != 'advanced'" ng-click="queryType = 'advanced'">(Show advanced query editor)</span>
      <span id="show-basic-query"ng-show="queryType == 'advanced'" ng-click="queryType = 'basic'">(Show basic query builder)</span>
    </a>
  </div>

  <div class="input-group" ng-if="queryType=='advanced'">
    <label class="textarea-label">{{'value.details.query' | translate}} *</label>
    <form-error field="forms.versionForm.query"
    error-type-required="{{'queue.details.queue.error' | translate}}"></form-error>
    <textarea id="advanced-query-field" ng-required="true" type="text" ng-model="extendScope.initialVersion.query" name="query"></textarea>
  </div>

  <queue-query-creator ng-if="queryType!='advanced'" version="extendScope.initialVersion" queue="resource"></queue-query-creator>

  <div class="divider-header">
    <h4>{{'queue.details.priority' | translate}}</h4>
  </div>

  <version-priority queue-version="extendScope.initialVersion"></version-priority>
</div>

<div ng-if="!resource.isNew()">
  <queue-versions queue="resource"></queue-versions>
</div>
