<table-controls
  id="table-pane"
  config="tableConfig"
  items="queues"
  on-create-click="createQueue"
  selected="selectedQueue"
  resource-name="{{'tenants:' + Session.tenant.tenantId + ':queues'}}"></table-controls>

<resize-handle
  id="resize-pane"
  right-element-id="details-pane"
  left-element-id="table-pane"
  left-min-width="600"
  right-min-width="400" ></resize-handle>

<resource-details
  id="details-pane"
  extend-scope="{versions: []}"
  header-template-url="app/components/designer/queues/queueDetailHeader.html"
  body-template-url="app/components/designer/queues/queueDetailBody.html"
  original-resource="selectedQueue"></resource-details>