<div class="input-group">
  <label>{{'value.name' | translate}}</label>
  <div>
    <form-error field="detailsForm.name" error-type-api="{{'queue.details.name.error' | translate}}" error-type-required="{{'queue.details.name.error' | translate}}"></form-error>
    <input type="text" ng-required="true" ng-model="resource.name" name="name"></input>
  </div>
</div>

<div class="input-group">
  <label class="textarea-label">{{'value.description' | translate}}</label>
  <div>
    <textarea ng-model="resource.description"></textarea>
  </div>
</div>
