.lo-gradient-squares {
  background: $main-color;
  /* Background pattern from subtlepatterns.com */
  background-image: url("/assets/images/square_bg.png"), linear-gradient(to bottom, lighten($main-color, 10), $accent1);
}

#topnav > ul > li:not(#launcher):not(#welcome):not(#helpMenu) .label-icon {
  color : $main-color;
}

#topnav > ul > li:hover:not(#launcher):not(#welcome):not(#helpMenu) .label-icon {
  color: #fff;
}

#topnav > ul > li.active .drop-label span,
#topnav > ul > li:hover .drop-label span,
#topnav > ul > li.active#quality-management-nav-link,
#topnav > ul > li:hover#quality-management-nav-link,
#topnav > ul > li.active #logo,
#topnav > ul > li:hover #logo {
  box-shadow: inset 0px -5px 0px 0px $accent1;
}

lo-time-picker select:not([disabled]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("/assets/images/down-arrow.png");
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 13px 13px;
}

lo-time-picker select::-ms-expand {
  display: none;
}
