.lo-gradient-squares {
  background: $main-color;
  /* Background pattern from subtlepatterns.com */
  background-image: url("/assets/images/square_bg.png"), linear-gradient(to bottom, lighten($main-color, 10), $accent1);
}

#topnav > ul > li:not(#welcome) .label-icon {
  color : $main-color;
}

#topnav > ul > li:hover .label-icon {
  color: #fff !important;
}

#topnav > ul > li.active .drop-label span, 
#topnav > ul > li:hover .drop-label span,
#topnav > ul > li.active #logo, 
#topnav > ul > li:hover #logo {
  box-shadow: inset 0px -5px 0px 0px $accent1;
}