@import 'shared/sass/constants';
@import 'shared/sass/_mixins';
@import 'shared/sass/_fonts';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body > .ng-view {
  height: calc(100% - #{$header-height});
}

header {
  height: $header-height;
}

body {
  margin: 0;
  font-family: $main-font;
  color: #474747;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Source Sans Pro', sans-serif !important;
}

a {
  color: #777;
  text-decoration: none;
}

a:hover {
  color: $main-color;
}

[ng-click] {
  cursor: pointer;
}

.btn {
  background-color: #F5F5F5;
  border: 1px solid $medium-grey;
  border-radius: 4px;
  color: $main-color;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 3px 10px;
  text-align: center;
  vertical-align: middle;
}

.btn-primary {
  background-color: $main-color;
  color: #FFFFFF;
  margin: 0;
}

.btn:hover {
  @include inset-box-shadow;
}

.btn-group {
  .btn {
    border-radius: 0;
    float: left;
  }

  .btn:first-child {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
  }

  .btn + .btn {
    border-left: none;
  }

  .btn:last-child {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
  }
}

.btn.disabled, .btn-group.disabled .btn, .btn[ng-disabled="true"], .btn-group[ng-disabled="true"] .btn  {
  border-color: lighten($medium-grey, 3%);
  color: darken($medium-grey, 20%);
  cursor: default;

  &:hover {
     @include inset-box-shadow(0,0,0);
  }
}

.pull-right {
  float: right;
}

.error {
  color: red;
}

.clear {
  display: block;
  clear: both;
}

.clear:after{
  display:block;
  visibility:hidden;
  height:0;
  clear:both;
  font-size:0;
  content:"";
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
//injector
//endinjector
