@import 'shared/sass/constants';
@import 'shared/sass/_mixins';
@import 'shared/sass/_fonts';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-width: $min-body-width;
}

body > .ng-view {
  height: calc(100% - #{$navbar-height});
}

body {
  margin: 0;
  font-family: $main-font;
  color: #474747;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Source Sans Pro', sans-serif !important;
}

a {
  color: $accent1;
  text-decoration: none;
}

a:hover {
  color: $main-color;
}

[ng-click] {
  cursor: pointer;
}

.btn {
  background-color: #F9F9F9;
  border: 1px solid $light-grey;
  border-radius: 4px;
  color: $main-color;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 3px 10px;
  text-align: center;
  vertical-align: middle;
}

.btn-primary {
  background-color: $main-color;
  color: #FFFFFF;
  margin: 0;
}

.btn-primary:hover {
  color: #ffffff;
}

.btn:hover {
  @include inset-box-shadow;
}

.btn.disabled, .btn[disabled], a.disabled, a[disabled] {
  color: darken($light-grey, 20%);
  cursor: default;
}

.btn.disabled, .btn[disabled] {
  border-color: lighten($light-grey, 3%);
  @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.15));

  &:hover {
     @include box-shadow(inset 2px 2px 3px 0px rgba(0,0,0,0.34));
  }

  .btn-primary {
    color: darken($main-color, 20%);
  }
}

.btn:focus {
  outline: none;
}

.pull-right {
  float: right;
}

.unfloat-right {
  display: inline-block;
  text-align: left;
}

.error {
  color: red;
}

.clear {
  display: block;
  clear: both;
}

.clear:after{
  display:block;
  visibility:hidden;
  height:0;
  clear:both;
  font-size:0;
  content:"";
}

.null {
  color: $dark-grey;
  font-style:italic;
  width: 100%;
  text-align: center;
}

.remove {
  color: $grey;
}

.remove:hover {
  color: $dark-grey;
}

label.disabled {
  color: $grey;
}

fieldset {
  border: none;
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
//injector
//endinjector
