
/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
//injector
//endinjector

$min-body-width: 1130px;
$navbar-height: 50px;

html, body {
  height: 100%;
  min-width: $min-body-width;
  overflow-y: hidden; /*Required to prevent tooltips from (occasionally) briefly creating a scrollbar */
  overflow-x: auto; /*Required to show scrollbar on small windows */
  position: static;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: auto !important;
}

body > .ng-view {
  height: calc(100% - #{$navbar-height});
}

.content-container, div#table-pane:not(.table-widget) {
  overflow-y: scroll;
}
