div{
  .media-collection-table {
    border: none !important;
  }
}

th a {
  display:block;
}

.section-header {
  margin: 20px 0 10px;
}

.media-collection-table {
  .add-item-cell {
    text-align: reight;
     i {
      font-size: 2em;
     }
  }
}