
.details-form .detail-body-pane .media-collection-table {
  border: none !important;

  .section-header {
    margin: 20px 0 10px;
  }

  th {
    &:first-child {
      width: 130px;
    }
    &:last-child {
      width: 40px;
    }
    a {
      display:block;
    }
  }

  tr {
    &:hover {
      background-color: initial;
    }
  }

  td {

    vertical-align: top;

    .add-item-cell {
      text-align: right;
       i {
        font-size: 1.5em;
       }
    }

    .remove-cell {
      text-align: right;
      i {
        font-size: 1.5em
      }
    }

    .modify-media-box {
      border: 1px solid $light-grey;
      @include border-radius(3px);
      padding: 10px;
      cursor: pointer;
      width: 100%;

      &.edit {
        height: 150px;
      }

      .label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0;
        display: inline-block;
        max-width: 250px;
      }

      i {
        font-size: 18px;
      }
    }
  }
}
