<div ng-repeat="field in listType.fields"
  ng-switch="field.type">
  
  <div class="input-group" ng-switch-when="string">
    <label>{{field.label}}</label>
    <form-field-validation-message field-name="{{getName(field)}}"
      error-type-required="{{'list.field.required' | translate:{fieldLabel: field.label} }}" >
    </form-field-validation-message>
    <div>
      <input name="{{getName(field)}}" type="text"
        ng-required="field.required"
        ng-model="item[field.name]"
        ng-change="inputChange(field)">
      </input>
    </div>
  </div>
  
  <div class="input-group" ng-switch-when="number">
    <label>{{field.label}}</label>
    <form-field-validation-message field-name="{{getName(field)}}"
      error-type-required="{{'list.field.required' | translate:{fieldLabel: field.label} }}" >
    </form-field-validation-message>
    <div>
      <input name="{{getName(field)}}" type="number"
        ng-required="field.required"
        ng-model="item[field.name]"
        ng-change="inputChange(field)">
      </input>
    </div>
  </div>
  
  <div class="input-group" ng-switch-when="boolean">
    <label>{{field.label}}</label>
    <form-field-validation-message field-name="{{getName(field)}}" >
    </form-field-validation-message>
    <div>
      <toggle name="{{getName(field)}}"
        ng-model="item[field.name]"
        ng-init="initBool(item, field)">
    </div>
  </div>
</div>