<div id="table-pane">
  <table-controls
    config="tableConfig"
    items="integrationList"
    search-query="searchQuery">
  </table-controls>

  <lo-resource-table
    config="tableConfig"
    items="integrationList"
    selected="selectedIntegration"
    search-query="searchQuery">

    <span name="$original.active">
      <span ng-if="item.active">{{'value.enabled' | translate}}</span>
      <span ng-if="!item.active" class="disabled">{{'value.disabled' | translate}}</span>
    </span>
  </lo-resource-table>
</div>

<resize-handle
  ng-show="!! selectedIntegration || showBulkActions"
  id="resize-pane"
  right-element-id="right-panel"
  left-element-id="table-pane"></resize-handle>

<lo-details-panel id="right-panel"
  class="right-panel"
  ng-show="selectedIntegration || showBulkActions"
  ng-resource="selectedIntegration">

  <ng-form unsaved-changes-warning
    class="details-pane"
    ng-show="selectedIntegration && !showBulkActions"
    name="forms.detailsForm"
    ng-model="selectedIntegration"
    ng-resource="selectedIntegration"
    lo-form-submit
    lo-form-cancel
    lo-form-alert>

    <ng-form name="forms.headerForm" separate-validation>
      <div class="detail-header"
        ng-include src="'app/components/configuration/integrations/integrationDetailHeader.html'">
      </div>
    </ng-form>

    <div class="detail-body"
      ng-include src="'app/components/configuration/integrations/integrationDetailBody.html'">
    </div>

    <div class="detail-controls">
      <input id="cancel-details-btn"
        on-click="showDuplicateMsg = false"
        type="button"
        class="btn"
        value="{{'value.cancel' | translate}}"
        lo-cancel>
      </input>
      <input id="submit-details-btn" class="btn btn-primary"
        type="submit"
        value="{{'value.submit' | translate}}"
        ng-disabled="(forms.detailsForm.$invalid || ! forms.detailsForm.$dirty ) && updateSubmitBtn !== true"
        lo-submit="submit()"
        lo-submit-spinner
        lo-submit-spinner-status="selectedIntegration.$busy">
      </input>
    </div>
  </ng-form>

  <bulk-action-executor class="details-pane"
    ng-show="showBulkActions"
    items="integrationList"
    show-bulk-actions="showBulkActions">

    <ba-set-integration-status
      auth-type="selectedIntegration.authType"
      auth-method-copy="authMethodCopy"

    ></ba-set-integration-status>
  </bulk-action-executor>
</lo-details-panel>
