.web-rtc-providers {
  .input-group {
    padding-top: 10px;
  }

  .integrations-default-region {
    white-space: nowrap;

     div {
      float: left;
      padding-right: 10px;
      width: 50%;

      label {
        margin-right: 10px;
      }

      select {
        width: 100%;
      }
    }
  }
}

.login-url {
  padding-top: 15px;
}

.salesforce {
  padding-top: 15px;
}
.sfToggle {
  padding-bottom: 15px;
}

.zendesk-fields {
  padding-top: 10px;
}

.calabrio {
  padding-top: 10px;
}

#global-dial-settings-label {
  width: 200px; 
  padding-right: 10px; 
  padding-left: 10px; 
  vertical-align: middle;
}

#auth-method-select {
  option:empty {
    display:none;
  }
}
