<div ng-if="originalResource.id">
  <toggle class="status-toggle" ng-model="resource.active" 
  confirm-disable-message="{{'integration.details.disable.confirm' | translate}}"
  confirm-enable-message="{{'integration.details.enable.confirm' | translate}}"
  ng-disabled="!('MANAGE_ALL_PROVIDERS' | hasPermission)"></toggle>

  <div class="info">
    <h1 id="integration-details-type-header">{{originalResource.type}}</h1>
    <div class="details">
      <b audit-text
        translation="value.createdby.time"
        user-id="originalResource.createdBy"
        date="originalResource.created">
      </b>
      <br/>
      <b audit-text ng-if="!!originalResource.updatedBy"
        translation="value.updatedby"
        user-id="originalResource.updatedBy"
        date="originalResource.updated">
      </b>
    </div>
  </div>
</div>

<h1 id="integration-details-create-header" ng-if="! originalResource.id">{{'integration.details.creating' | translate}}</h1>
