<div disable-contents="!('MANAGE_ALL_PROVIDERS' | hasPermission)">
  <div class="divider-header first-header">
    <h4>{{'details' | translate}}</h4>
  </div>
  
  <div ng-if="resource.type == 'twilio'">
    <div class="input-group">
      <label>{{'integration.details.properties.accountSid' | translate}} *</label>
      <form-error field="detailsForm.accountSid" error-type-required="{{'integration.accountsid.error' | translate}}" ></form-error>
      <div>
        <input ng-required="true" type="text" ng-model="resource.properties.accountSid" name="accountSid"/>
      </div>
    </div>
    
    <div class="input-group">
      <label>{{'integration.details.properties.authToken' | translate}} *</label>
      <form-error field="detailsForm.authToken" error-type-required="{{'integration.authtoken.error' | translate}}" ></form-error>
      <div>
        <input ng-required="true" type="password" ng-model="resource.properties.authToken" name="authToken"/>
      </div>
    </div>
    
    <div class="input-group">
      <label>{{'integration.details.properties.webRTC' | translate}}</label>
      <div>
        <toggle ng-required="true" ng-model="resource.properties.webRtc" ng-disabled="!('MANAGE_ALL_PROVIDERS' | hasPermission)"/>
      </div>
    </div>
  </div>
  
  <div ng-if="resource.type == 'client'">
    <div class="input-group">
      <label>{{'integration.details.properties.accessKey' | translate}} *</label>
      <form-error field="detailsForm.accessKey" error-type-required="{{'integration.accessKey.error' | translate}}" ></form-error>
      <div>
        <input ng-required="true" type="text" ng-model="resource.properties.accessKey" name="accessKey"/>
      </div>
    </div>
    
    <div class="input-group">
      <label>{{'integration.details.properties.secretKey' | translate}} *</label>
      <form-error field="detailsForm.secretKey" error-type-required="{{'integration.secretKey.error' | translate}}" ></form-error>
      <div>
        <input ng-required="true" type="password" ng-model="resource.properties.secretKey" name="secretKey"/>
      </div>
    </div>
  </div>
  
  <div ng-if="resource.type == 'birst'">
    <div class="input-group">
      <label>{{'integration.details.properties.birstSpaceId' | translate}} *</label>
      <form-error field="detailsForm.birstSpaceId" error-type-required="{{'integration.birstSpaceId.error' | translate}}" error-type-uuid="{{'integration.birstSpaceId.uuid.error' | translate}}"></form-error>
      <div>
        <input uuid ng-required="true" type="text" ng-model="resource.properties.birstSpaceId" name="birstSpaceId"/>
      </div>
    </div>
    
    <div class="input-group">
      <label>{{'integration.details.properties.birstSsoPassword' | translate}} *</label>
      <form-error field="detailsForm.birstSsoPassword" error-type-required="{{'integration.birstSsoPassword.error' | translate}}" ></form-error>
      <div>
        <input ng-required="true" type="password" ng-model="resource.properties.birstSsoPassword" name="birstSsoPassword"/>
      </div>
    </div>
    
    <div class="input-group">
      <label>{{'integration.details.properties.birstBaseUrl' | translate}} *</label>
      <form-error field="detailsForm.birstBaseUrl" error-type-required="{{'integration.birstBaseUrl.error' | translate}}" ></form-error>
      <div>
        <input ng-required="true" type="text" ng-model="resource.properties.birstBaseUrl" name="birstBaseUrl"/>
      </div>
    </div>
    
    <div class="input-group">
      <label>{{'integration.details.properties.birstAdminPassword' | translate}} *</label>
      <form-error field="detailsForm.birstAdminPassword" error-type-required="{{'integration.birstAdminPassword.error' | translate}}" ></form-error>
      <div>
        <input ng-required="true" type="password" ng-model="resource.properties.birstAdminPassword" name="birstAdminPassword"/>
      </div>
    </div>
    
    <div class="input-group">
      <label>{{'integration.details.properties.birstAdminUsername' | translate}} *</label>
      <form-error field="detailsForm.birstAdminUsername" error-type-required="{{'integration.birstAdminUsername.error' | translate}}" ></form-error>
      <div>
        <input ng-required="true" type="text" ng-model="resource.properties.birstAdminUsername" name="birstAdminUsername"/>
      </div>
    </div>
  </div>
</div>
