.integrations-default-region {
  white-space: nowrap;

   div {
    float: left;
    padding-right: 10px;
    width: 50%;

    label {
      margin-right: 10px;
    }
    select {
      width: 100%;
    }
  }
}
