<div disable-contents="!('MANAGE_ALL_PROVIDERS' | hasPermission)">
  <div class="divider-header first-header">
    <h4>{{'details' | translate}}</h4>
  </div>

  <div>
    <div class="input-group" ng-if="selectedIntegration.isNew()">
      <label>{{'value.type' | translate}} *</label>
      <select
        selected="customIntegrationTypes[0]"
        id="integration-type-select"
        name="selectedIntegrationType"
        ng-change="setDefaultVal()"
        ng-model="selectedIntegration.type"
        ng-options="type.name for type in customIntegrationTypes">
      </select>
    </div>

    <div class="input-group" ng-if="!selectedIntegration.isNew()">
      <label>{{'value.type' | translate}} *</label>
      <div>
        {{getTypeData(selectedIntegration.type, 'name')}}
      </div>
    </div>

    <div class="input-group">
      <label>{{'value.name' | translate}} *</label>
      <div>
        <input type="text" ng-model="selectedIntegration.name">
        </input>
      </div>
    </div>

    <div class="input-group">
      <label class="textarea-label">{{'value.description' | translate}}</label>
      <div>
        <textarea ng-model="selectedIntegration.description">
        </textarea>
      </div>
    </div>

    <div class="divider-header" ng-if="customTypesHideShowFields(selectedIntegration, 'salesforce')">
      <h4>{{'value.credentials' | translate}}</h4>
    </div>
  </div>

  <div ng-if="selectedIntegration.type == 'twilio' || selectedIntegration.type == 'plivo'" class="web-rtc-providers">
    <div ng-if="selectedIntegration.type == 'twilio'">
      <div class="input-group">
        <label>{{'integration.details.properties.accountSid' | translate}} *</label>
        <form-error field="forms.detailsForm.accountSid" error-type-required="{{'integration.accountsid.error' | translate}}" ></form-error>
        <div>
          <input ng-required="true" type="text" ng-model="selectedIntegration.properties.accountSid" name="accountSid"/>
        </div>
      </div>
    </div>

    <div ng-if="selectedIntegration.type == 'plivo'">
      <div class="input-group">
        <label>{{'integration.details.properties.authId' | translate}} *</label>
        <form-error field="forms.detailsForm.authId" error-type-required="{{'integration.authid.error' | translate}}" ></form-error>
        <div>
          <input ng-required="true" type="text" ng-model="selectedIntegration.properties.authId" name="authId"/>
        </div>
      </div>
    </div>

    <div class="input-group">
      <label>{{'integration.details.properties.authToken' | translate}} *</label>
      <form-error field="forms.detailsForm.authToken" error-type-required="{{'integration.authtoken.error' | translate}}" ></form-error>
      <div>
        <input ng-required="true" type="password" ng-model="selectedIntegration.properties.authToken" name="authToken"/>
      </div>
    </div>

    <div ng-if="selectedIntegration.type == 'twilio'" class="input-group integrations-default-region">
      <label>{{'integration.details.properties.defaultRegion' | translate}} *</label>
      <div>
        <select
           name="region"
           ng-model="selectedIntegration.properties.region"
           ng-options="region.twilioId as region.display for region in twilioRegions | filter: {twilioId: '!' + twilioDefaultRegion}"></select>
      </div>

      <div>
        <label>{{'integration.details.properties.defaultRegionForced' | translate}}</label>
        <toggle ng-disabled="!('MANAGE_ALL_PROVIDERS' | hasPermission)"
            ng-model="selectedIntegration.properties.forceRegion"
            name="forceRegion"/>
      </div>
    </div>

    <div class="input-group">
      <label>{{'integration.details.properties.webRTC' | translate}}</label>
      <div>
        <toggle ng-required="true" ng-model="selectedIntegration.properties.webRtc" ng-disabled="!('MANAGE_ALL_PROVIDERS' | hasPermission)"/>
      </div>
    </div>
  </div>

  <div ng-if="selectedIntegration.type == 'email'">

    <!-- Incoming email protocol -->
    <div class="input-group">
      <label>{{'integration.details.properties.incomingType' | translate}} *</label>
      <form-error field="forms.detailsForm.incomingType" error-type-required="{{'integration.incomingType.error' | translate}}"></form-error>
      <div>
        <input ng-disabled="true" ng-required="true" type="text" ng-model="selectedIntegration.properties.incomingType" name="incomingType"/>
      </div>
    </div>

    <!-- Incoming IMAP Server Address -->
    <div class="input-group">
      <label>{{'integration.details.properties.incomingImap' | translate}} *</label>
      <form-error field="forms.detailsForm.incomingImap" error-type-required="{{'integration.incomingImap.error' | translate}}"></form-error>
      <div>
        <input ng-required="true" type="text" ng-model="selectedIntegration.properties.imapServer" name="incomingImap"/>
      </div>
    </div>

    <!-- SMTP Host -->
    <div class="input-group">
      <label>{{'integration.details.properties.smtpHost' | translate}} *</label>
      <form-error field="forms.detailsForm.smtpHost" error-type-required="{{'integration.smtpHost.error' | translate}}"></form-error>
      <div>
        <input ng-required="true" type="text" ng-model="selectedIntegration.properties.smtpHost" name="smtpHost"/>
      </div>
    </div>

    <!-- SMTP Port -->
    <div class="input-group">
      <label>{{'integration.details.properties.smtpPort' | translate}} *</label>
      <form-error field="forms.detailsForm.smtpPort" error-type-required="{{'integration.smtpPort.error' | translate}}"></form-error>
      <div>
        <input ng-required="true" type="text" ng-model="selectedIntegration.properties.smtpPort" name="smtpPort"/>
      </div>
    </div>

    <!-- Use SMTP SSL? -->
    <div class="input-group">
      <label>{{'integration.details.properties.smtpEncryptionType' | translate}} *</label>
      <form-error field="forms.detailsForm.smtpEncryptionType" error-type-required="{{'integration.smtpEncryptionType.error' | translate}}"></form-error>
      <select
        ng-model="selectedIntegration.properties.smtpEncryptionType"
        ng-options="type as type for type in smtpEncryptionTypes">
      </select>
    </div>

    <!-- SMTP User -->
    <div class="input-group">
      <label>{{'integration.details.properties.smtpUser' | translate}} *</label>
      <form-error field="forms.detailsForm.smtpUser" error-type-required="{{'integration.smtpUser.error' | translate}}"></form-error>
      <div>
        <input ng-required="true" type="text" ng-model="selectedIntegration.properties.smtpUser" name="smtpUser"/>
      </div>
    </div>

    <!-- SMTP password -->
    <div class="input-group">
      <label>{{'integration.details.properties.smtpPassword' | translate}} *</label>
      <form-error field="forms.detailsForm.smtpPassword" error-type-required="{{'integration.smtpPassword.error' | translate}}"></form-error>
      <div>
        <input ng-required="true" type="password" ng-model="selectedIntegration.properties.smtpPassword" name="smtpPassword"/>
      </div>
    </div>

  </div>

  <div ng-if="selectedIntegration.type == 'client'">
    <div class="input-group">
      <label>{{'integration.details.properties.accessKey' | translate}} *</label>
      <form-error field="forms.detailsForm.accessKey" error-type-required="{{'integration.accessKey.error' | translate}}" ></form-error>
      <div>
        <input ng-required="true" type="text" ng-model="selectedIntegration.properties.accessKey" name="accessKey"/>
      </div>
    </div>

    <div class="input-group">
      <label>{{'integration.details.properties.secretKey' | translate}} *</label>
      <form-error field="forms.detailsForm.secretKey" error-type-required="{{'integration.secretKey.error' | translate}}" ></form-error>
      <div>
        <input ng-required="true" type="password" ng-model="selectedIntegration.properties.secretKey" name="secretKey"/>
      </div>
    </div>
  </div>

  <div ng-if="customTypesHideShowFields(selectedIntegration, 'rest')"
    class="added-padding">
    <div class="input-group">
      <label>{{'integration.details.properties.authMethod' | translate}} *</label>
      <form-error field="forms.detailsForm.selectedAuthMethod" error-type-required="{{'integration.details.properties.selectAuthMethod.error' | translate}}"></form-error>

      <select
        ng-init="handleAuthMethodSelect(tempScope, selectedIntegration.authType, authMethodCopy, 'true')"
        id="auth-method-select"
        ng-model="authMethodCopy"
        ng-change="handleAuthMethodSelect(tempScope, selectedIntegration.authType, authMethodCopy)">
          <option
            ng-repeat="authMethod in authenticationTypes"
            ng-selected="selectedIntegration.authType === authMethod.val">{{authMethod.name}}</option>
      </select>
    </div>

    <div
      ng-if="selectedIntegration.authType === 'basic'"
      class="added-padding">
      <div
        class="input-group">
        <label>{{'integration.details.properties.username' | translate}} *</label>
        <input
          ng-required="true"
          type="text"
          ng-model="selectedIntegration.properties.username"
          name="basicAuthUsername"/>
      </div>

      <div
        class="input-group">
        <label>{{'integration.details.properties.password' | translate}} *</label>
        <input
          ng-required="true"
          type="password"
          ng-model="selectedIntegration.properties.password"
          name="basicAuthPassword"/>
      </div>
    </div>

    <div
      ng-if="selectedIntegration.authType === 'token'"
      class="input-group">
      <label>{{'integration.details.properties.token' | translate}} *</label>
      <input
        ng-required="true"
        type="password"
        ng-model="selectedIntegration.properties.token"
        name="basicAuthUsername"/>
    </div>

    <div class="input-group added-padding">
      <label>{{'integration.details.properties.apiUri' | translate}} *</label>
      <form-error field="forms.detailsForm.restApiUriPrefix" error-type-required="{{'integration.details.restApiUri.error' | translate}}" ></form-error>
      <div>
        <input
          ng-required="true"
          type="text"
          ng-model="selectedIntegration.properties.endpointPrefix"
          name="restApiUriPrefix"/>
      </div>
    </div>
  </div>

  <div ng-if="customTypesHideShowFields(selectedIntegration, 'salesforce')" class="salesforce">
    <div class="input-group">
      <label>{{'integration.details.properties.username' | translate}} *</label>
      <form-error field="forms.detailsForm.username" error-type-required="{{'integration.username.error' | translate}}" ></form-error>
      <div>
        <input ng-required="true" type="text" ng-model="selectedIntegration.properties.username" name="username"/>
      </div>
    </div>
    <div class="input-group">
      <label>{{'integration.details.properties.password' | translate}} *</label>
      <form-error field="forms.detailsForm.password" error-type-required="{{'integration.password.error' | translate}}" ></form-error>
      <div>
        <input ng-required="true" type="password" ng-model="selectedIntegration.properties.password" name="password"/>
      </div>
    </div>
    <div class="input-group">
      <label>{{'integration.details.properties.consumerKey' | translate}} *</label>
      <form-error field="forms.detailsForm.consumerKey" error-type-required="{{'integration.consumerKey.error' | translate}}" ></form-error>
      <div>
        <input ng-required="true" type="text" ng-model="selectedIntegration.properties.consumerKey" name="consumerKey"/>
      </div>
    </div>
    <div class="input-group">
      <label>{{'integration.details.properties.consumerSecret' | translate}} *</label>
      <form-error field="forms.detailsForm.consumerSecret" error-type-required="{{'integration.consumerSecret.error' | translate}}" ></form-error>
      <div>
        <input ng-required="true" type="password" ng-model="selectedIntegration.properties.consumerSecret" name="consumerSecret"/>
      </div>
    </div>
    <div class="input-group">
      <label>{{'integration.details.properties.securityToken' | translate}} *</label>
      <form-error field="forms.detailsForm.securityToken" error-type-required="{{'integration.securityToken.error' | translate}}" ></form-error>
      <div>
        <input ng-required="true" type="password" ng-model="selectedIntegration.properties.securityToken" name="securityToken"/>
      </div>
    </div>
    <div class="input-group">
      <label>{{'integration.details.properties.loginUrl' | translate}}</label>
      <form-error field="forms.detailsForm.loginUrl" error-type-url="{{'integration.loginUrl.error' | translate}}" ></form-error>
      <div>
        <input ng-required="false" type="url" ng-model="selectedIntegration.properties.loginUrl" name="loginUrl"/>
      </div>
    </div>
  </div>

  <div class="input-group login-url" ng-if="customTypesHideShowFields(selectedIntegration, 'salesforce')">
    <div>
      <p class="null">{{'integration.details.loginUrl.message' | translate}}</p>
    </div>
  </div>

  <div ng-if="customTypesHideShowFields(selectedIntegration, 'zendesk') && showZendesk == true" class="zendesk-fields">
    <div class="input-group">
      <label>{{'integration.details.properties.username' | translate}} *</label>
      <form-error field="forms.detailsForm.username" error-type-required="{{'integration.username.error' | translate}}" ></form-error>
      <div>
        <input ng-required="true" type="text" ng-model="selectedIntegration.properties.username" name="username"/>
      </div>
    </div>
    <div class="input-group">
      <label>{{'integration.details.properties.password' | translate}} *</label>
      <form-error field="forms.detailsForm.password" error-type-required="{{'integration.apiKey.error' | translate}}" ></form-error>
      <div>
        <input ng-required="true" type="text" ng-model="selectedIntegration.properties.password" name="token"/>
      </div>
    </div>
    <div class="input-group">
      <label title="{{'integration.details.properties.zendeskInteractionFieldIdTooltip' | translate}}" *>{{'integration.details.properties.apiUri' | translate}} *</label>
      <form-error field="forms.detailsForm.endpointPrefix" error-type-required="{{'integration.zendeskUrl.error' | translate}}" ></form-error>
      <div>
        <input
          ng-required="true"
          type="text"
          ng-init="test"
          ng-model="selectedIntegration.properties.endpointPrefix"
          name="endpointPrefix"/>
      </div>
    </div>

    <!-- removing this until the API supports it -->
    <!-- <div class="input-group">
      <label title="{{'integration.details.properties.workItems' | translate}}">{{'integration.details.properties.workItems' | translate}}</label>
      <div>
        <toggle
          class="status-toggle"
          ng-click="clearInteractionFieldId()"
          ng-model="selectedIntegration.properties.workItems"
          ng-disabled="!('MANAGE_ALL_PROVIDERS' | hasPermission)"></toggle>
        </div>
    </div> -->

    <div class="input-group" ng-if="selectedIntegration.properties.workItems === true">
      <label>{{'integration.details.properties.zendeskInteractionFieldId' | translate}} *</label>
      <form-error field="forms.detailsForm.interactionFieldId"  error-type-required="{{'integration.zendeskUrl.error' | translate}}" ></form-error>
      <div>
        <input
          ng-required="true"
          type="text"
          ng-model="selectedIntegration.properties.interactionFieldId"
          name="interactionFieldId"/>
      </div>
    </div>
  </div>

  <!-- Listeners -->
  <div ng-if="customTypesHideShowFields(selectedIntegration, 'salesforce') || selectedIntegration.type == 'facebook' || selectedIntegration.type == 'email'">
    <integration-listeners integration="selectedIntegration" fetch-listeners="fetchListeners()"></integration-listeners>
  </div>
</div>
