<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>

<div class="input-group">
  <label>{{'integration.details.properties.accountSid' | translate}} *</label>
  <div>
    <input type="text" ng-model="resource.properties.accountSid">
  </div>
</div>

<div class="input-group">
  <label>{{'integration.details.properties.authToken' | translate}} *</label>
  <div>
    <input type="password" ng-model="resource.properties.authToken">
  </div>
</div>

<div class="input-group">
  <label>{{'integration.details.properties.webRTC' | translate}}</label>
  <div>
    <toggle ng-model="resource.properties.webRtc" />
  </div>
</div>
