$action-container-height: 100px;

table-controls {
  #controls-wrapper {
    position: relative;
    height: $action-container-height;
  }
  
  .table-controls {
    width: 100%;
  
    > .col {
      position:relative;
      display: inline-flex;
      width: 49%;
    }
    
    .inner-addon i {
      background-color: $main-color;
      color: white;
    }
  
    &.top-row {
      margin-bottom: 20px;
  
      h1, h2 {
        margin: 0;
      }
    }
  
    .action-container {
      justify-content: flex-end;
  
      button, .dropdown-label {
        padding: 7px 15px;
      }

      filter-dropdown {
        padding: 0;
      }
      
      .btn + .btn {
        margin-left: 10px;
      }
    }
  
    .col.actions {
      text-align: right;
    }
  
    .dropdown-container {
      top: -3px;
    }
  }
  
  .scrollable-table-container {
    height: calc(100% - #{$action-container-height} + 40px);
  }
  
  .table {
    border-collapse: collapse;
    
    th, td {
      padding: 8px;
    }
  
    th {
      font-weight: bold;
      text-align: left;
      border-right: 1px solid #dadada;
    }
  
    th.filter-header {
      white-space: nowrap;
  
      a:not(:hover) {
        color: #474747;
      }
    }
    th:last-child {
      border-right: none;
    }
  
    td {
      border-top: 1px solid #ddd;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  
    tr:last-child td{
      border-bottom: 1px solid #ddd;
    }
  
    tbody tr:hover, tr.selected {
      background-color: $accent-light;
    }
  
    .check-col {
      width: 40px;
    }
    
    .disabled {
      color: $grey;
    }
  }
}
