<div class="action-container">
  <input type="text" ng-model="searchQuery" placeholder="Search">
  <filter-dropdown label="Columns" options="config.fields" display-path="header" value-path="name"></filter-dropdown>
  <button class="btn btn-primary btn-create" ng-click="onActionsClick()">Actions</button>
  <button id="create-user-btn" class="btn btn-primary btn-create" ng-click="onCreateClick()">Create</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th class="check-col"><input type="checkbox"/></th>
      <th ng-repeat="field in config.fields" ng-if="field.checked" ng-class="{'filter-header': field.sortable}">
        <div ng-if="!field.options">{{field.header}}</div>
        <filter-dropdown ng-if="!!field.options" show-all="true" ng-if="field.options" label="{{field.header}}" options="field.options"></filter-dropdown>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="item in items | selectedTableOptions:config.fields | search:config.searchOn:searchQuery | orderBy:config.orderBy"
      ng-click="selectItem(item)" ng-class="{selected: item.id === selected.id}">
      <td class="check-col">
        <input type="checkbox" ng-model="item.checked" />
      </td>

      <td ng-if="field.checked" ng-repeat="field in config.fields">
        <div ng-if="field.templateUrl" class="detail-header-pane" ng-include="field.templateUrl"></div>
        <span ng-if="!field.templateUrl">{{item[field.name]}}</span>
      </td>
    </tr>
  </tbody>
</table>
