<div id="controls-wrapper">
  <div class="table-controls top-row">
    <div class="col">
      <h2 ng-if="config.title">{{config.title}}</h2>

      <a class="help-indicator lo-accent-text"
        ng-show="config.helpLink"
        ng-href="{{ config.helpLink }}"
        target="_blank">
        <i class="fa fa-question-circle"></i>
      </a>
    </div>
    <div class="col action-container">
      <button id="create-btn" class="btn btn-create btn-primary"
        ng-show="showCreate | invoke"
        ng-click="onCreateClick()">

      {{'value.create' | translate}}
      </button>
    </div>
  </div>
  
  <div class="table-controls">
    <div class="col">
      <div ng-show="showSearch" class="inner-addon right">
        <input type="text" 
          ng-model="searchQuery"
          placeholder="{{'table.search.placeholder' | translate}}">
        </input>
        <i class="fa fa-search lo-main-bg"></i>
      </div>
    </div>

    <div class="col action-container">
      <button id="actions-btn" class="btn"
        ng-show="showBulkActions | invoke"
        ng-click="onActionsClick()">

        {{'table.actions.button' | translate}}
      </button>

      <filter-dropdown id="table-columns-dropdown" class="btn"
        label="{{'table.columns.button' | translate}}"
        options="getFields()"
        display-path="header.display"
        value-path="name">
      </filter-dropdown>
    </div>
  </div>
</div>