#secret-modal {

  width: 40% !important;
  word-wrap: break-word;

  #secret-modal-body {
    padding-top: 10px;
  }

  h3 {
    padding: 0 0 0 10px;
  }

  .footer {
    text-align: center;
  }
}

.token-btn {
  width: 150px !important;
}
