<div id="table-pane">
  <table-controls
    config="tableConfig"
    items="fetchKeys()"
    search-query="searchQuery">
  </table-controls>

  <lo-resource-table
    config="tableConfig"
    items="fetchKeys()"
    selected="selectedKey"
    search-query="searchQuery">

    <span name="$original.status">
      <span ng-if="item.status === 'enabled'">{{'value.enabled' | translate}}</span>
      <span ng-if="item.status === 'disabled'" class="disabled">{{'value.disabled' | translate}}</span>
    </span>
  </lo-resource-table>
</div>

<resize-handle
  ng-show="!! selectedKey || showBulkActions"
  id="resize-pane"
  right-element-id="right-panel"
  left-element-id="table-pane"></resize-handle>

<lo-details-panel id="right-panel"
  class="right-panel"
  ng-show="selectedKey || showBulkActions"
  ng-resource="selectedKey">

  <ng-form unsaved-changes-warning
    class="details-pane"
    ng-show="selectedKey && !showBulkActions"
    name="forms.detailsForm"
    ng-model="selectedKey"
    ng-resource="selectedKey"
    lo-form-submit
    lo-form-cancel
    lo-form-alert>

    <ng-form name="forms.headerForm" separate-validation>
      <div class="detail-header"
        ng-include src="'app/components/configuration/keys/keyDetailHeader.html'">
      </div>
    </ng-form>

    <div class="detail-body"
      ng-include src="'app/components/configuration/keys/keyDetailBody.html'">
    </div>

    <div class="detail-controls">
      <input id="cancel-details-btn" type="button" class="btn"
        value="{{'value.cancel' | translate}}"
        lo-cancel>
      </input>
      <input id="submit-details-btn" class="btn btn-primary"
        type="submit" value="{{'value.submit' | translate}}"
        ng-disabled="forms.detailsForm.$invalid || ! forms.detailsForm.$dirty"
        lo-submit="submit()"
        lo-submit-spinner
        lo-submit-spinner-status="selectedKey.$busy">
      </input>
    </div>
  </ng-form>

  <bulk-action-executor class="details-pane"
    ng-show="showBulkActions"
    items="fetchKeys()"
    show-bulk-actions="showBulkActions">

    <ba-set-key-status></ba-set-key-status>
  </bulk-action-executor>
</lo-details-panel>
