<div id="secret-modal" class="confirm">
  <h3 class="header">{{title}}</h3>
  <div id="secret-modal-body">
    <div>
      <h3>{{'keys.key' | translate}}</h3>
      <p>{{id}}</p>
    </div>
    <div>
      <h3>{{'keys.secret.modal.secret' | translate}}</h3>
      <p>{{secret}}</p>
    </div>
    <p class="lo-error">{{'keys.secret.modal.warning' | translate}}</p>
  </div>
  <div class="footer">
    <a ng-click="okCallback()" class="btn btn-primary" id="modal-ok">{{'value.ok' | translate}}</a>
  </div>
</div>
