  <div id="login-wrapper" class="login-sso">
    <div ng-show="innerScope.loginStatus.$$state.status == 0 && innerScope.loggingIn" >
      <loading></loading>
    </div>
    <form id="login-form" name="loginForm" ng-submit="innerScope.idpLoginPageLogin({username: innerScope.username})" ng-show="innerScope.loginStatus.$$state.status == 1 && !loggingIn">
      <img ng-src="{{$root.logo}}" height="23">
      <div id="glass-wrapper">
        <div class="blur-bg"></div>
        <div class="blur-over">
          <div class="lo-alert lo-error" ng-if="innerScope.error">
            {{innerScope.error}}
          </div>

          <div class='input-group'>
            <form-error
              field="loginForm.username"
              error-type-required="{{'login.username.error' | translate}}"></form-error>
            <input
              type="text"
              placeholder="{{'login.username.placeholder' | translate}}"
              ng-model="innerScope.username"
              ng-required="true"
              name="username" />
          </div>

        </div>
        <button
          type="submit"
          ng-disabled="!innerScope.username"
          class='btn btn-primary lo-accent-border lo-accent-bg'>
          {{'forms.buttons.loginText' | translate}}
        </button>

      </div>
    </form>

    <div class="login-links-sso">
      <p ng-show="innerScope.loginStatus.$$state.status == 1 && !innerScope.loggingIn" class="login-link"><a ui-sref="login({sso: false})">{{'login.signInWithEmailAndPassword' | translate}}</a></p>
      <p ng-show="innerScope.loginStatus.$$state.status == 1 && !innerScope.loggingIn" class="login-link"><a target="_blank" href="https://www.lifesize.com/en/legal-notices/cxengage-privacy-policy/">{{'privacy' | translate}}</a></p>
    </div>
    <div>
      <p ng-show="innerScope.loginStatus.$$state.status == 1 && !loggingIn" class="copyright">{{'copyright' | translate:updateToCurrentYear}}</p>
      <p ng-show="innerScope.loginStatus.$$state.status == 1 && !innerScope.loggingIn" class="copyright">{{'signup.legal' | translate}}
        <a ng-href="{{legalLinkURL}}" class="legal-link" ng-click="createURL(); $event.stopPropagation();" target="_blank">
          {{'signup.legalLinkLabel' | translate}}
        </a>
      </p>
    </div>
  </div>
