<md-sidenav
  class="md-sidenav-left md-whiteframe-z2 voice-artifacts-list"
  md-component-id="left"
  md-is-locked-open="true">

  <md-list flex>
    <md-list-item
      ng-class="{'active-item': selectedItem.artifactId === artifact.artifactId}"
      class="md-3-line"
      ng-repeat="artifact in artifacts"
      ng-click="setSelectedArtifact(artifact)">

      <div class="md-list-item-text" layout="column">
        <h3 class="artifact-label" layout-align="start" title="{{artifact.artifactSubtype || 'appdock.custom' | translate}}">
          {{artifact.artifactSubtype || 'appdock.custom' | translate}}
        </h3>
        <h2 class="artifact-label" title="{{artifact.name || 'appdock.recording' | translate}}">
          {{artifact.name || 'appdock.recording' | translate}}
        </h2>
        <h4 ng-show="artifact.timestamp">{{artifact.timestamp | convertToTimezone:TimezoneValHolder.tenantTimezone:'MMM D, YYYY hh:mm:ss A'}}</h4>
      </div>
    </md-list-item>
  </md-list>
</md-sidenav>

<md-content flex ng-show="selectedItem">
  <md-card class="recording-data-card" flex>
    <md-content layout-padding layout-margin>

      <div class="heading-container">
        <h1 class="md-headline">{{'appdock.recordingsHdr' | translate}}</h1>
        <h3 class="md-subhead"><strong>{{'appdock.interactionId' | translate}}:</strong> {{configData.id}}</h3>
      </div>

      <md-divider></md-divider>

      <div layout="row">
        <audio id="audio-player" controls oncontextmenu="return false;" name="recordingAudio" ng-src="{{selectedItem.files[0].url | trustUrl}}"></audio>
      </div>

      <div layout="row">
        <div flex="10">
          <label layout-fill>{{'appdock.recordingId' | translate}}</label>
        </div>

        <div flex="90">
          <p>{{selectedItem.artifactId}}</p>
        </div>
      </div>

      <div layout="row">
        <div flex="10">
          <label layout-fill>{{'appdock.audioRecordings.details.dateTime' | translate}}</label>
        </div>

        <div flex="90">
          <p>{{selectedItem.created | convertToTimezone:TimezoneValHolder.tenantTimezone:'MMM D, YYYY hh:mm:ss A'}}</p>
        </div>
      </div>
    </md-content>
  </md-card>
</md-content>
