<md-sidenav
  class="md-sidenav-left md-whiteframe-z2 voice-artifacts-list"
  md-component-id="left"
  md-is-locked-open="true">

  <md-list flex>
    <md-list-item
      ng-class="{'active-item': selectedItem.artifactId === artifact.artifactId}"
      class="md-3-line"
      ng-repeat="artifact in artifacts"
      ng-click="setSelectedItem(artifact)">

      <div class="md-list-item-text" layout="column">
        <h3 class="artifact-label" layout-align="start" title="{{artifact.artifactType || 'appdock.conference' | translate}}">
          {{artifact.participantAdditionalInfo.participantType || artifact.artifactSubtype || 'appdock.conference' | translate}} {{!artifact.artifactSubtype && 'appdock.recording' | translate}}
        </h3>
        <h2 class="artifact-label" title="{{'appdock.recording' | translate}}">
          {{artifact.participantAdditionalInfo.agentName || artifact.participantAdditionalInfo.extension || artifact.name || 'appdock.recording'| translate}}
        </h2>
        <h4 class="artifact-label" title="{{appdock.recording.duration | translate}}">
          {{'appdock.recording.duration' | translate}}: {{artifact.durationHMMSS}}
        </h4>
      </div>
    </md-list-item>
  </md-list>
</md-sidenav>

<md-content flex>
  <md-card class="recording-data-card" flex>
    <md-content layout-padding layout-margin>

      <div class="heading-container">
        <h1 class="md-headline">{{selectedItem.participantAdditionalInfo.participantType || selectedItem.artifactSubtype}} {{!selectedItem.artifactSubtype && 'appdock.recording' | translate}}: {{selectedItem.participantAdditionalInfo.agentName || selectedItem.participantAdditionalInfo.extension || selectedItem.name || 'appdock.audioRecordings.details.customer' | translate}}
        </h1>
      </div>

      <md-divider></md-divider>

      <div layout="row" ng-if="selectedItem.artifactType === 'audio-recording' && !selectedItem.softDeleted">
        <audio id="audio-player" controls oncontextmenu="return false;" name="recordingAudio" ng-src="{{selectedItem.files[0].url | trustUrl}}" style="width: 100%" ></audio>
      </div>

      <div layout="row" ng-if="selectedItem.artifactType === 'qm-audio-recording' && !selectedItem.softDeleted">
        <iframe id="qm-audio-player" ng-src="{{selectedItem.url + '/' + token | trustUrl}}" seamless></iframe>
      </div>

      <div layout="row" ng-if="selectedItem.artifactType === 'qm-screen-recording' && !selectedItem.softDeleted">
        <iframe id="qm-screen-player" ng-src="{{selectedItem.url + '/' + token | trustUrl}}" seamless></iframe>
      </div>

      <div layout="row" ng-if="selectedItem.softDeleted">
        <p class="big-notice">The recording file was deleted by an Administrator</p>
      </div>

      <div layout="row">
        <div flex="10">
          <label layout-fill>{{'appdock.recordingId' | translate}}</label>
        </div>

        <div flex="90">
          <p>{{selectedItem.artifactId}}</p>
        </div>
      </div>

      <div layout="row">
        <div flex="10">
          <label layout-fill>{{'appdock.audioRecordings.details.startTime' | translate }}</label>
        </div>

        <div flex="90">
          <p>{{selectedItem.interaction.created | convertToTimezone:TimezoneValHolder.tenantTimezone:'MMM D, YYYY hh:mm:ss A'}}</p>
        </div>
      </div>

      <div layout="row">
        <div flex="10">
          <label layout-fill>{{'appdock.audioRecordings.details.participant' | translate }}</label>
        </div>

        <div flex="90">
          <p>{{selectedItem.participantAdditionalInfo.participantType || 'appdock.audioRecordings.details.customer' | translate}}</p>
        </div>
      </div>
    </md-content>
  </md-card>
</md-content>
