<md-sidenav
  class="md-sidenav-left md-whiteframe-z2"
  md-component-id="left"
  md-is-locked-open="true">

  <md-list flex>
    <md-list-item
      ng-class="{'active-item': selectedItem.id === interactionItem.id}"
      class="md-3-line"
      ng-repeat="interactionItem in interactionData">

      <div class="md-list-item-text" layout="column">
        <h3
          layout-align=" start"
          ng-click="setSelectedItem(interactionItem)">
            {{interactionItem.updated | convertToTimezone:TimezoneValHolder.tenantTimezone:'MMM D, YYYY hh:mm:ss A'}}
        </h3>
      </div>
    </md-list-item>
  </md-list>
</md-sidenav>

<md-content flex ng-show="selectedItem">
  <md-card class="recording-data-card" flex>
    <md-content layout-padding layout-margin>

      <div class="heading-container">
        <h1 class="md-headline">{{'appdock.recordingsHdr' | translate}}</h1>
        <h3 class="md-subhead"><strong>{{'appdock.interactionId' | translate}}:</strong> {{configData.id}}</h3>
      </div>

      <md-divider></md-divider>

      <div layout="row">
        <md-card flex layout-fill>
          <audio id="audio-player" controls oncontextmenu="return false;" name="recordingAudio" ng-src="{{selectedItem.url | trustUrl}}"></audio>
        </md-card>

      </div>

      <div layout="row">
        <div flex="10">
          <label layout-fill>{{'appdock.recordingId' | translate}}</label>
        </div>

        <div flex="90">
          <p>{{selectedItem.id}}</p>
        </div>
      </div>

      <div layout="row">
        <div flex="10">
          <label layout-fill>{{'appdock.audioRecordings.details.dateTime' | translate}}</label>
        </div>

        <div flex="90">
          <p>{{selectedItem.updated | convertToTimezone:TimezoneValHolder.tenantTimezone:'MMM D, YYYY hh:mm:ss A'}}</p>
        </div>
      </div>
    </md-content>
  </md-card>
</md-content>
