<loading ng-show="isLoading"></loading>

<div layout="row" ng-if="showNoResultsMsg === true">
  <md-toolbar
    class="highlight-error"
    layout-padding
    layout-margin
    layout-align="center center">
      {{'appdock.audioRecordings.details.noInfo' | translate}}
    </md-toolbar>
</div>

<section
  ng-if="configData.type === 'voice' && artifacts.length > 0 && showNoResultsMsg !== true"
  id="audio-content"
  layout="row"
  flex
  layout-align="start start"
  ng-include="'app/shared/directives/appDock/apps/interactions/audioRecordingContent.html'">
</section>

<section
  ng-if="(configData.type === 'messaging' || configData.type === 'sms') && interactionData.length > 0 && showNoResultsMsg !== true"
  id="messaging-content"
  layout="row"
  flex
  layout-align="start start"
  flex
  ng-include="'app/shared/directives/appDock/apps/interactions/messagingContent.html'">
</section>
