$content-bgcolor: #d2def2;
$active-tab-bgcolor: $content-bgcolor;

md-card {
  margin-top: 0;
}

.recording-data-card {
  background-color: $content-bgcolor;
  margin-right: 0px;

  audio {
    background-color: #F9F9F9;
  }
}

.voice-artifacts-list {
  overflow-y: auto;
  max-height: 270px;
}

loading {
  .loading {
    padding: {
      top: 80px;
      bottom: 80px;
    }
  }
}

#qm-audio-player {
  min-height: 265px;
  width: 100%;
}

#qm-screen-player {
  min-height: 570px;
  width:100%
}

#audio-content {
  overflow-y: scroll;

  md-sidenav {

    md-list {
      padding-top: 0;

      md-list-item {
        &.active-item {
          background-color: $active-tab-bgcolor;
        }

        &.md-3-line {
          min-height: 30px;
        }

        .artifact-label {
          text-overflow: ellipsis;
          width: 280px !important;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }

  .heading-container {
    .md-subhead {
      display: block;
      padding: {
        top: 5px;
        bottom: 10px;
      }
    }
  }
}

#messaging-content {

  md-list-item {
    padding-left: 0;

    &.layout-padding {
      padding: {
        top: 0;
        bottom: 0;
      }
      min-height: auto;
    }

    .layout-column {
        padding: 0 15px 10px 0;
    }
  }
}
