<md-content flex ng-show="selectedItem">
  <md-card class="recording-data-card" flex>
    <md-content layout-padding layout-margin>
      <h1 class="md-headline">{{'appdock.transcriptsHdr' | translate}}</h1>

      <h3 class="md-subhead"><strong>ID:</strong> {{configData.id}}</h3>
      <md-divider></md-divider>

      <md-list flex>
        <md-list-item ng-repeat="message in interactionData" layout-padding>
          <strong layout="column">
            [{{message.payload.timestamp | convertToTimezone:TimezoneValHolder.tenantTimezone:'MMM D, YYYY hh:mm:ss A'}}]
          </strong>

          <strong layout="column" ng-if="message.payload.userName">
            {{message.payload.userName}}
          </strong>

          <div class="message-content">
            <p layout="column" class="quotedMessage" ng-if="message.payload.body.quotedMessage.content &&
              message.payload.body.quotedMessage.content.type && message.payload.body.quotedMessage.content.type !== 'form'">
              <em class="file-not-found"
                  ng-if="(message.payload.body.quotedMessage.content.file &&
                          message.payload.body.quotedMessage.content.file.mediaType &&
                          !message.payload.body.quotedMessage.content.file.mediaUrl)">
                {{'appdock.fileNotFoundInTranscript' | translate}}
              </em>

              <a ng-if="message.payload.body.quotedMessage.content.file.mediaUrl"
                 ng-href="{{message.payload.body.quotedMessage.content.file.mediaUrl}}" target="_blank">
                <img
                  ng-if="message.payload.body.quotedMessage.content.file.mediaUrl && message.payload.body.quotedMessage.content.file.mediaType.startsWith('image/')"
                  ng-src="{{message.payload.body.quotedMessage.content.file.mediaUrl}}"
                  alt="Attachment preview..."
                />
                <em>{{message.payload.body.quotedMessage.content.file.filename}}</em>
              </a>

              <em ng-if="message.payload.body.quotedMessage.content.text">{{message.payload.body.quotedMessage.content.text}}</em>
            </p>

            <p layout="column" ng-if="message.payload.body.file.mediaType && !message.payload.body.file.mediaUrl" class="file-not-found">
              <em>{{'appdock.fileNotFoundInTranscript' | translate}}</em>
            </p>

            <p layout="column" ng-if="message.payload.body.file.mediaUrl">
              <a ng-href="{{message.payload.body.file.mediaUrl}}" title="{{message.payload.body.file.filename}}" target="_blank">
                <img
                  ng-if="message.payload.body.file.mediaUrl && message.payload.body.file.mediaType.startsWith('image/')"
                  ng-src="{{message.payload.body.file.mediaUrl}}"
                  alt="Attachment preview..."
                />
                <em>{{message.payload.body.file.filename}}</em>
              </a>
            </p>

            <div layout="column" ng-if="message.payload.body.text && message.payload.body.contentType === 'formResponse'">
              <div ng-if="message.payload.body.formResponses" ng-repeat="response in message.payload.body.formResponses">
                <p>
                  <em><b>{{response.name.trim()}}</b></em>
                </p>
                <p>
                  <em>{{response.text.trim()}}</em>
                </p>
                </br>
              </div>
            </div>
            <div layout="column" ng-if="message.payload.body.contentType === 'carousel' || message.payload.body.contentType === 'list'">
              <div ng-repeat="item in message.payload.body.carouselItems">
                <p ng-repeat="content in item.itemContent">
                  <em>{{content}}</em>
                </p>
                <p ng-if="item.contentUri">
                  <em>{{item.contentUri.text}} <a ng-href="{{item.contentUri.hyperlink}}" target="_blank">{{item.contentUri.hyperlink}}</a></em>
                </p>
                </br>
              </div>
            </div>

            <p layout="column" ng-if="message.payload.body.text && !message.payload.body.locationUri &&
              !(message.payload.body.contentType === 'carousel' || message.payload.body.contentType === 'list' || message.payload.body.contentType === 'formResponse')">
              <em>{{message.payload.body.text}}</em>
            </p>
            <p layout="column" ng-if="message.payload.body.text && message.payload.body.locationUri">
              <em>{{message.payload.body.text}} <a ng-href="{{message.payload.body.locationUri}}" target="_blank">{{message.payload.body.locationUri}}</a></em>
            </p>

            <div ng-if="message.payload.body.actions && message.payload.body.actions.length > 0 &&
              !(message.payload.body.contentType === 'carousel' || message.payload.body.contentType === 'list')">
              <div class="richMessageLinkContainer" ng-repeat="item in message.payload.body.actions" ng-if="item.type === 'link'">
                <p class="richMessageLink">
                  {{item.text}}: <a ng-href="{{item.uri}}" target="_blank">{{item.uri}}</a>
                </p>
              </div>
              <div class="richMessageReplyPostbackContainer" ng-repeat="item in message.payload.body.actions"
                   ng-if="item.type === 'reply' || item.type === 'locationRequest' || item.type === 'postback'">
                <p class="richMessageReplyPostback">{{item.text}}</p>
              </div>
            </div>

          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </md-card>
</md-content>
