.scrollable-table-container {
  position: relative;
  width: 100%;
    
  .clone-header {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .table-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    
    > div {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    
    thead {
      visibility: hidden;
      height: 0;
      
      & * {
        line-height: 0;
        padding: 0;
      }
    }
  }
  
  table {
    width: 100%;
    table-layout: fixed;
    
    thead th, thead td {
      white-space: nowrap;
      overflow: hidden;
    }
  }
}