<div ng-hide="selectedCapacityRule.isNew()">
  <toggle class="status-toggle" ng-model="selectedCapacityRule.active" name="active"
  confirm-disable-message="{{'capacityRule.details.disable.confirm' | translate}}"
  confirm-enable-message="{{'capacityRule.details.enable.confirm' | translate}}"
  ng-disabled="!getVersions().length > 0"
  on-confirm="updateActive()"></toggle>

  <div class="info">
     <h1 id="group-details-name-header">{{selectedCapacityRule.$original.name}}</h1>
     <div class="details" ng-if="['MANAGE_ALL_CAPACITY_RULES'] | hasPermission">
       <b audit-text
         translation="value.createdby.time"
         user-id="selectedCapacityRule.$original.createdBy"
         date="selectedCapacityRule.$original.created">
       </b>
       <br/>
       <b audit-text ng-if="!!selectedCapacityRule.$original.updatedBy"
         translation="value.updatedby"
         user-id="selectedCapacityRule.$original.updatedBy"
         date="selectedCapacityRule.$original.updated">
       </b>
     </div>
     <div class="details" ng-if="!(['MANAGE_ALL_CAPACITY_RULES'] | hasPermission)">
       <b audit-text
         translation="value.createdon.time"
         date="selectedCapacityRule.$original.created">
       </b>
       <br/>
       <b audit-text ng-if="!!selectedCapacityRule.$original.updated"
         translation="value.updatedon"
         date="selectedCapacityRule.$original.updated">
       </b>
     </div>
  </div>
</div>

<h1 ng-hide="! selectedCapacityRule.isNew()">{{'capacityRule.details.creating' | translate}}</h1>
