<div class="divider-header ">
  <h4>{{'media.collections.media.mapping' | translate}}</h4>
  <a ng-hide="!('MANAGE_ALL_MEDIA' | hasPermission)" id="add-media-mapping-button" class="btn pull-right" ng-click="addMapping()" title="{{'flow.details.mapping.add.alt' | translate}}"><i class="fa fa-plus"></i></a>
</div>

<form-error field="form.mediaMap"
  error-type-required="{{'media.collections.mapping.error.required' | translate}}">
</form-error>
<input type="hidden" name="mediaMap" ng-model="collection.mediaMap" ng-required="true"/>

<table
  class="media-collection-table table"
  resource="collection"
  form="form"
  media-map-duplicate>
  <thead>
    <th>{{'value.identifier' | translate}}</th>
    <th>{{'value.media' | translate}}</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <tr ng-show="! collection.mediaMap.length"><td colspan="3"><p class="null">{{'media.collections.mapping.add' | translate}}</p></td></tr>
    <tr ng-repeat="mapping in collection.mediaMap">
      <td>
        <form-error
          ng-init="mappingFieldName='mapping' + $index"
          field="form[mappingFieldName]"
          error-type-required="{{'media.collections.mappingLookup.error.required' | translate}}"
          error-type-media-map-duplicate="{{'media.collections.mappingLookup.error.duplicate' | translate}}">
        </form-error>
        <input type="text"
          ng-disabled="!('MANAGE_ALL_MEDIA' | hasPermission)"
          ng-change="'{{mapping.lookup}}' == collection.defaultMediaKey ? resetDefaultMediaKey() : ''"
          ng-required="true"
          name="{{mappingFieldName}}"
          ng-model="mapping.lookup">
        </input>
      </td>
      <td>
        <form-error field="form[fieldName]"
          ng-init="fieldName='source' + $index"
          error-type-required="{{'media.collections.mappingId.error' | translate}}">
        </form-error>
        <lo-multibox name="{{fieldName}}"
          ng-init="onSelectCallback = onSelect(mapping); initMapping(mapping)"
          ng-if="('MANAGE_ALL_MEDIA' | hasPermission)"
          items="fetchMedias()"
          resource-name="Media"
          selected-item="mapping.$media"
          on-item-select="onSelectCallback">
        </lo-multibox>
        <div ng-if="!('MANAGE_ALL_MEDIA' | hasPermission)" class="read-only-mapping">
          {{mapping.name}}
        </div>
      </td>
      <td class='remove-col'>
        <i id="remove-media-mapping-button"
          class="fa fa-times remove"
          ng-hide="!('MANAGE_ALL_MEDIA' | hasPermission)"
          ng-click="removeMapping($index)"></i>
      </td>
    </tr>
  </tbody>
</table>
