<div id="table-pane">
  <table-controls
    config="cc.tableConfig"
    items="cc.campaigns"
    search-query="searchQuery">
  </table-controls>

  <div class="column1">
      <div class="input-group">
        <label>{{'campaigns.details.editor.ani' | translate}} *</label>
        <form-error ng-if="!cc.selectedCampaign.callerId" field="forms.detailsForm.callerId"
          error-type-required="{{'campaigns.details.editor.anierror' | translate}}" >
        </form-error>
        <div>
          <!-- NEED TO CHANGE TO HAVE ANI IN THE INPUT MODEL -->
          <input required ng-model="cc.selectedCampaign.callerId" name="callerId" type="text"></input>
        </div>
      </div>

      <div class="input-group"
        ng-if="cc.timezones.$resolved">
        <label>{{'campaigns.details.editor.timezoneHeader' | translate}} *</label>

        <form-error field="cc.forms.detailsForm.timezone"
          error-type-required="{{'tenant.details.timezone.required' | translate}}">
        </form-error>
        <select name="timezone"
          ng-required="true"
          ng-model="cc.selectedHour.timezone"
          ng-options="timezone.timezone as timezone.getDisplay() for timezone in cc.timezones | orderBy:'offsetInMilliseconds'">

          <option value="" disabled>{{'campaigns.timezone.select.placeholder' | translate}}</option>
        </select>
      </div>

      <div class="input-group"
        ng-if="cc.timezones.$resolved">
        <label>{{'campaigns.details.editor.expiry' | translate}} *</label>

        <select name="timezone"
          ng-required="true"
          ng-model="cc.selectedHour.timezone"
          ng-options="timezone.timezone as timezone.getDisplay() for timezone in cc.timezones | orderBy:'offsetInMilliseconds'">

          <option value="" disabled>{{'campaigns.timezone.select.placeholder' | translate}}</option>
        </select>
      </div>

      <div class="input-group">
        <label>{{'campaigns.details.editor.dispositionList' | translate}} *</label>

        <!-- CHANGE NG-OPTIONS FOR DISPOSITION LIST -->
        <select name="dispositionList"
          ng-required="true"
          ng-model="cc.selectedCampaign.dispositionCodeListId"
          ng-options="disposition.timezone as timezone.getDisplay() for timezone in cc.timezones | orderBy:'offsetInMilliseconds'">

          <option value="" disabled>{{'campaigns.details.select.placeholder' | translate}}</option>
        </select>

        <button class="btn">{{'campaigns.details.editor.dispositionBtn' | translate}}</button>
      </div>

      <div class="divider-header first-header">
        <h4>{{'campaigns.details.editor.dnc' | translate}}</h4>

        <!-- CHANGE ARRAY FOR NG-OPTIONS FOR DO NOT CALL LIST -->
        <select name="doNotCall"
          ng-required="true"
          ng-model="cc.selectedCampaign.doNotCallLists"
          ng-options="disposition.timezone as timezone.getDisplay() for timezone in cc.timezones | orderBy:'offsetInMilliseconds'">

          <option value="" disabled>{{'campaigns.details.dnc.placeholder' | translate}}</option>
        </select>

        NEED TO ADD DND TO THIS AS WELL. MOST LIKELY WILL HAVE TO MAKE DNC A DIRECTIVE

      </div>
  </div>

  <div class="column2">
    <div class="input-group">
      <label>{{'campaigns.details.editor.previewTime' | translate}} *</label>
      <div>
        <!-- NEED TO CHANGE TO HAVE ANI IN THE INPUT MODEL -->
        <input required ng-model="cc.selectedCampaign.name" name="name" type="text"></input>
      </div>
    </div>

    <div class="input-group">
      <label>{{'campaigns.details.editor.agentMessage' | translate}} *</label>
      <toggle class="status-toggle agent-message"
        ng-model="cc.selectedCampaign.agentMessage"
        confirm-disable-message="{{'list.details.disable.confirm' | translate}}"
        confirm-enable-message="{{'list.details.enable.confirm' | translate}}"
        ng-disabled="(! (['MANAGE_ALL_LISTS'] | hasPermission)) || cc.selectedCampaign.tenantId !== Session.tenant.tenantId"
        on-confirm="cc.updateActive()">
      </toggle>
    </div>

    <div class="input-group">
      <div>
        <!-- NEED TO CHANGE TO HAVE AGENT MESSAGE IN THE INPUT MODEL -->
        <input required ng-model="cc.selectedCampaign.agentMessage" name="name" type="text"></input>
      </div>
    </div>

    <div class="input-group">
      <label>{{'campaigns.details.editor.crm' | translate}} *</label>
      <toggle class="status-toggle crm-pop"
        ng-model="cc.selectedCampaign.crmPop"
        confirm-disable-message="{{'list.details.disable.confirm' | translate}}"
        confirm-enable-message="{{'list.details.enable.confirm' | translate}}"
        ng-disabled="(! (['MANAGE_ALL_LISTS'] | hasPermission)) || cc.selectedCampaign.tenantId !== Session.tenant.tenantId"
        on-confirm="cc.updateActive()">
      </toggle>
    </div>

    <div class="input-group">
      <div class="divider-header first-header">
        <h4>{{'campaigns.details.editor.redial' | translate}}</h4>
          <input required ng-model="cc.selectedCampaign.maxRetry" name="callerId" type="text"></input>
    </div>

    <div class="input-group">
      <label>{{'campaigns.details.editor.retry' | translate}} *</label>
      <input required ng-model="cc.selectedCampaign.retryInterval" name="name" type="text"></input>
    </div>

    <div class="input-group">
      <label>{{'campaigns.details.editor.retryMax' | translate}} *</label>
      <input required ng-model="cc.selectedCampaign.retryMax" name="name" type="text"></input>
    </div>
  </div>

  <div class="column3">
    <div class="input-group">
      <h4>{{'campaigns.details.editor.scheduling' | translate}}</h4>
      <label>{{'campaigns.details.editor.earliestTime' | translate}} *</label>
      <div>
        <!-- NEED TO CHANGE TO HAVE ANI IN THE INPUT MODEL -->
        <input required ng-model="cc.selectedCampaign.callerId" name="callerId" type="text"></input>
      </div>
    </div>

    <div class="input-group">
      <label>{{'campaigns.details.editor.latestTime' | translate}} *</label>
      <div>
        <!-- NEED TO CHANGE TO HAVE ANI IN THE INPUT MODEL -->
        <input required ng-model="cc.selectedCampaign.callerId" name="callerId" type="text"></input>
      </div>
    </div>

    <div class="input-group">
      <label>{{'campaigns.details.editor.daysToCall' | translate}} *</label>
      <div>
        <!-- NEED TO CHANGE TO HAVE ANI IN THE INPUT MODEL -->
        <input required ng-model="cc.selectedCampaign.schedule.day" name="Sunday" value="Sunday" type="checkbox"></input>
        <input required ng-model="cc.selectedCampaign.schedule.day" name="Monday" value="Monday" type="checkbox"></input>
        <input required ng-model="cc.selectedCampaign.schedule.day" name="Tuesday" value="Tuesday" type="checkbox"></input>
        <input required ng-model="cc.selectedCampaign.schedule.day" name="Wednesday" value="Wednesday" type="checkbox"></input>
        <input required ng-model="cc.selectedCampaign.schedule.day" name="Thursday" value="Thursday" type="checkbox"></input>
        <input required ng-model="cc.selectedCampaign.schedule.day" name="Friday" value="Friday" type="checkbox"></input>
        <input required ng-model="cc.selectedCampaign.schedule.day" name="Saturday" value="Saturday" type="checkbox"></input>
      </div>
    </div>

    <div class="input-group">
      <label>{{'campaigns.details.editor.exceptions' | translate}} *</label>
      <div>
        <!-- NEED TO ADD EXCEPTIONS -->
      </div>
    </div>

    <div class="detail-controls">
      <input
        id="cancel-details-btn" class="btn" type="button"
        ng-disabled="cc.selectedCampaign.$busy"
        value="{{'value.cancel' | translate}}"
        lo-cancel></input>

      <input
        id="submit-details-btn"
        lo-submit="submit()"
        lo-submit-spinner
        lo-submit-spinner-status="cc.selectedCampaign.$busy"
        ng-disabled="forms.detailsForm.$pending || forms.detailsForm.$invalid || ! forms.detailsForm.$dirty"
        class="btn btn-primary"
        type="submit"
        value="{{'value.submit' | translate}}" />
    </div>
  </div>
