
<table-controls
  id="table-pane"
  config="tableConfig"
  items="fetchMediaCollections()"
  selected="selectedMediaCollection"
  resource-name="media-collection"
  hide-bulk-actions="true">

</table-controls>

<resize-handle
  ng-show="!! selectedMediaCollection"
  id="resize-pane-1"
  right-element-id="details-pane"
  left-element-id="table-pane"></resize-handle>

<resource-details
  ng-show="!! selectedMediaCollection"
  id="details-pane"
  header-template-url="app/components/flows/media-collections/mediaCollectionDetailHeader.html"
  body-template-url="app/components/flows/media-collections/mediaCollectionDetailBody.html"
  original-resource="selectedMediaCollection"
  resource-name="media-collection"></resource-details>

<resize-handle
  id="resize-pane-2"
  ng-show="selectedMedia"
  right-element-id="media-pane"
  left-element-id="details-pane"></resize-handle>

<resource-details
  id="media-pane"
  ng-show="selectedMedia"
  extend-scope="additionalMedia"
  header-template-url="app/components/flows/media/mediaDetailHeader.html"
  body-template-url="app/components/flows/media/mediaDetailBody.html"
  footer-template-url="app/components/flows/media/mediaDetailFooter.html"
  original-resource="selectedMedia"
  resource-name="media"></resource-details>
