
.media-collection-table {
  tr {
    td {
      &:last-child {
        padding-left : 0px !important;
      }

      .typeahead-container {
        input {
          @include border-radius(0);
          border: 1px;
        }
      }

      vertical-align: top;

      &.remove-col {
        text-align: center;

        .remove {
          padding-top: 10px;
        }
      }

      .modify-media-box {
        border: 1px solid $light-grey;
        @include border-radius(5px);
        margin-bottom: 5px;
        width: 100%;
        position:relative;

        .label-container {
          padding: 10px;
          position: relative;

          i {
            font-size: 18px;
            position: absolute;
            right: 7px;
            top: 7px;
            width: 10px;
          }
        }

        .new-media-btn{
          @include border-radius(0);
          border:0;
          height: 30px;
          border-top: 1px solid $light-grey;
          width: 100%;
        }

        &.edit {
          .label-container {
          }
        }

        .label {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 0;
          display: inline-block;
          padding-right: 10px;
        }
      }
    }
  }
}
