<div class="info" ng-show="selectedMediaCollection.$original.id">
  <div class="details">
    <h1>{{selectedMediaCollection.$original.name}}</h1>
    <div ng-if="['PLATFORM_VIEW_ALL_USERS', 'PLATFORM_CREATE_USERS', 'PLATFORM_MANAGE_ALL_USERS', 'PLATFORM_MANAGE_ALL_TENANTS', 'PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT'] | hasPermission">
      <b audit-text
        ng-if="!!selectedMediaCollection.$original.createdBy"
        translation="value.createdby.time"
        user-id="selectedMediaCollection.$original.createdBy"
        date="selectedMediaCollection.$original.created">
      </b>
      <br/>
      <b audit-text ng-if="!!selectedMediaCollection.$original.updatedBy"
        translation="value.updatedby"
        user-id="selectedMediaCollection.$original.updatedBy"
        date="selectedMediaCollection.$original.updated">
      </b>
    </div>
    <div ng-if="!(['PLATFORM_VIEW_ALL_USERS', 'PLATFORM_CREATE_USERS', 'PLATFORM_MANAGE_ALL_USERS', 'PLATFORM_MANAGE_ALL_TENANTS', 'PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT'] | hasPermission)">
      <b audit-text
        translation="value.createdon.time"
        date="selectedMediaCollection.$original.created">
      </b>
      <br/>
      <b audit-text ng-if="!!selectedMediaCollection.$original.updated"
        translation="value.updatedon"
        date="selectedMediaCollection.$original.updated">
      </b>
    </div>
  </div>
</div>

<h1 ng-show="!selectedMediaCollection.$original.id">{{'media.collection.details.creating' | translate}}</h1>