
.media-collection-table {
  tr {
    td {
      &:nth-child(1), &:nth-child(2){
        width: 47%;
      }


      &:last-child {
        padding-left : 0px !important;
      }

      .typeahead-container {
        input {
          @include border-radius(0);
          border: 1px;
        }
      }

      vertical-align: top;

      &.remove-col {
        text-align: center;

        .remove {
          padding-top: 10px;
        }
      }
    }
  }
}

#media-pane .detail-controls .btn {
  width: 30% !important;
}

.read-only-mapping {
  padding-top: 10px;
}
