<div class="info">
  <div class="details">
    <h1 ng-show="originalResource.id">{{originalResource.name}}</h1>
    <h1 ng-show="!originalResource.id">{{'media.collection.details.creating' | translate}}</h1>
    <b audit-text
      ng-if="!!originalResource.createdBy"
      translation="value.createdby.time"
      user-id="originalResource.createdBy"
      date="originalResource.created">
    </b>
    <br/>
    <b audit-text ng-if="!!originalResource.updatedBy"
      translation="value.updatedby"
      user-id="originalResource.updatedBy"
      date="originalResource.updated">
    </b>
  </div>
</div>
