<div id="table-pane">
  <table-controls
    config="tableConfig"
    items="fetchMediaCollections()"
    search-query="searchQuery">
  </table-controls>

  <lo-resource-table
    config="tableConfig"
    items="fetchMediaCollections()"
    selected="selectedMediaCollection"
    search-query="searchQuery">
  </lo-resource-table>
</div>

<resize-handle
  ng-show="!! selectedMediaCollection"
  id="resize-pane-1"
  right-element-id="media-collection-pane"
  left-element-id="table-pane"></resize-handle>

<lo-details-panel
  id="media-collection-pane" class="right-panel"
  ng-show="!!selectedMediaCollection"
  ng-resource="selectedMediaCollection">

  <ng-form unsaved-changes-warning
    id="media-collection-form" class="details-pane"
    name="forms.mediaCollectionForm"
    ng-model="selectedMediaCollection"
    ng-resource="selectedMediaCollection"
    lo-form-submit lo-form-cancel lo-form-alert>

    <div class="detail-header"
      ng-include src="'app/components/flows/media-collections/mediaCollectionDetailHeader.html'">
    </div>

    <div class="detail-body"
      ng-include src="'app/components/flows/media-collections/mediaCollectionDetailBody.html'">
    </div>

    <div class="detail-controls">
      <input id="cancel-details-btn" type="button" class="btn"
        ng-disabled="loading"
        value="{{'value.cancel' | translate}}"
        lo-cancel>
      <input id="submit-details-btn" class="btn btn-primary" type="submit"
        ng-show="!loading"
        ng-disabled="forms.mediaCollectionForm.$invalid || ! forms.mediaCollectionForm.$dirty"
        value="{{'value.submit' | translate}}"
        lo-submit="submitMediaCollection()">
      <a ng-show="loading" ng-disabled="true" class="btn btn-primary">
        <i class="fa fa-refresh fa-spin"></i>
      </a>
    </div>
  </ng-form>
</lo-details-panel>

<resize-handle
  id="resize-pane-2"
  ng-show="selectedMedia && selectedMediaCollection"
  right-element-id="media-pane"
  left-element-id="details-pane"></resize-handle>

<lo-details-panel lo-media id="media-pane" class="right-panel"
  name="mediaDetailsController"
  ng-show="selectedMedia && selectedMediaCollection"
  ng-resource="selectedMedia"
  lo-media-details>

  <ng-form unsaved-changes-warning
    ng-show="selectedMedia"
    name="forms.mediaForm"
    class="details-pane"
    ng-model="selectedMedia"
    ng-resource="selectedMedia"
    lo-form-submit lo-form-cancel lo-form-alert>

    <div class="detail-header"
      ng-include src="'app/components/flows/media/mediaDetailHeader.html'">
    </div>

    <div class="detail-body"
      ng-include src="'app/components/flows/media/mediaDetailBody.html'">
    </div>

    <div class="detail-controls">
      <input id="cancel-media-btn" type="button" class="btn"
        value="{{'value.cancel' | translate}}"
        lo-cancel>
      </input>
      <input id="create-media-btn" class="btn btn-primary" ng-hide="loading"
        type="submit" value="{{'value.create' | translate}}"
        ng-disabled="forms.mediaForm.$invalid || ! forms.mediaForm.$dirty"
        lo-submit="submitMedia()">
      </input>
      <input id="create-and-new-media-btn" class="btn btn-primary" ng-hide="loading"
        ng-disabled="forms.mediaForm.$invalid || ! forms.mediaForm.$dirty"
        type="submit" value="{{'value.create.new' | translate}}"
        lo-submit="submitMediaAndNew()">
      </input>
      <a ng-show="loading" ng-disabled="true" class="btn btn-primary">
        <i class="fa fa-refresh fa-spin"></i>
      </a>
      <a ng-show="loading" ng-disabled="true" class="btn btn-primary">
        <i class="fa fa-refresh fa-spin"></i>
      </a>
    </div>
  </ng-form>
</lo-details-panel>

<resize-handle
  ng-show="showSecondPanel === true && selectedMedia.type ==='list' && selectedMediaCollection"
  id="resize-pane"
  right-element-id="right-panel"
  left-element-id="table-pane" ></resize-handle>

<lo-details-panel id="right-panel" class="right-panel"
  ng-show="showSecondPanel === true && selectedMedia.type ==='list' && selectedMediaCollection"
  name="mediaDetailsController"
  lo-media-details
  form="forms.mediaFormAddl"
  ng-resource="selectedMedia.secondScope"
  alternate-close="true">

  <ng-form unsaved-changes-warning class="details-pane"
    name="forms.mediaFormAddl"
    ng-model="selectedMedia.secondScope">

    <div class="detail-body"
      ng-include src="'app/components/flows/media/mediaDetailPanelAddl.html'">
    </div>

    <div class="detail-controls">
      <input id="cancel-details-btn" type="button" class="btn"
        value="{{'value.cancel' | translate}}"
        ng-click="closeAddlPanel()">
      </input>
      <input id="submit-details-btn"
        class="btn btn-primary"
        type="submit"
        value="{{'value.submit' | translate}}"
        ng-disabled="forms.mediaFormAddl.$invalid || ! forms.mediaFormAddl.$dirty"
        ng-click="mediaDetailsController.submit(selectedMedia.secondScope, forms.mediaFormAddl)"
        lo-submit-spinner
        lo-submit-spinner-status="selectedMedia.secondScope.$busy">
      </input>
    </div>
  </ng-form>
</lo-details-panel>
