
<table-controls
  id="table-pane"
  config="tableConfig"
  items="mediaCollections"
  selected="selectedMediaCollection"
  resource-name="{{'tenants:' + Session.tenant.tenantId + ':media-collections'}}"></table-controls>

<resize-handle
  id="resize-pane-1"
  right-element-id="details-pane"
  left-element-id="table-pane"
  left-min-width="600"
  right-min-width="400" ></resize-handle>

<resource-details
  id="details-pane"
  extend-scope="additionalCollections"
  header-template-url="app/components/flows/media-collections/mediaCollectionDetailHeader.html"
  body-template-url="app/components/flows/media-collections/mediaCollectionDetailBody.html"
  original-resource="selectedMediaCollection"
  resource="mediaCollection"></resource-details>

<resize-handle
  id="resize-pane-2"
  ng-show="selectedMedia"
  right-element-id="media-pane"
  left-element-id="details-pane"
  left-min-width="600"
  right-min-width="400" ></resize-handle>

<resource-details
  id="media-pane"
  ng-show="selectedMedia"
  extend-scope="additionalMedia"
  header-template-url="app/components/flows/media/mediaDetailHeader.html"
  body-template-url="app/components/flows/media/mediaDetailBody.html"
  footer-template-url="app/components/flows/media/mediaDetailFooter.html"
  original-resource="selectedMedia"
  resource="media"></resource-details>
