<loading ng-if="loading"></loading>

<div class="divider-header" ng-if="!loading">
  <h4>{{'contactLayouts.layout.title' | translate}}</h4>
  <button id="add-category-btn" class="btn pull-right" title="Add a category"
    ng-click="addCategory()">
    <i class="fa fa-plus center"></i>
  </button>
</div>

<p class="lo-error required-attributes" ng-if="!loading && requiredAttributes().length">
  {{'contactLayouts.attributes.required' | translate}} {{requiredAttributes()}}
</p>

<div ng-model="model" ui-sortable="sortableListsOptions" ng-if="!loading">
  <div ng-repeat="list in model">
    ::: <input class="layout-category" type="text" ng-model="list.label['en-US']"></input>
    <i id="remove-category-label"
    class="fa fa-times remove"
    ng-if="!hasMandatoryAttributes(list)"
    ng-click="removeCategory($index)"></i>
    <button id="add-attribute-btn" class="btn pull-right" title="Add an attribute"
      ng-click="addAttribute($index)">
      <i class="fa fa-plus center"></i>
    </button>
    <div class="connectedSortable" ui-sortable="sortableAttributesOptions" ng-model="list.attributes">
        <div ng-repeat="attribute in list.attributes track by $index" class="list-attribute">
            :::
            <lo-multibox name="listItem{{$index}}"
              ng-init = "onSelectCallback = onSelect(list);"
              items="attributes"
              resource-name="ContactAttribute"
              selected-item="attribute"
              on-item-select="onSelectCallback"
              hide-new-button="true"
              idx="$index">
            </lo-multibox>
            <i id="remove-attribute-label"
            class="fa fa-times remove"
            ng-click="removeAttribute(list, $index)"></i>
        </div>
        <div class="null empty-row" ng-show="!list.attributes.length">{{'contactLayouts.layout.emptyCategory' | translate}}</div>
     </div>
  </div>
</div>

<p class="null empty-row" ng-show="!model.length && !loading">{{'contactLayouts.layout.noCategories' | translate}}</p>
