<div id="user-group-bulk" class="bulk-action">
  <div><input id="user-group-bulk-enable-check" type="checkbox" ng-model="bulkAction.checked"></div>
  <label><b>{{'bulkActions.change.groups' | translate}}</b></label>
  <div><a ng-disabled="! bulkAction.checked" ng-click="bulkAction.checked && addUserGroupBulkAction()" class="btn"><i class="fa fa-plus add"></i></a></div>
</div>

<p class="null action-wrapper" ng-show="bulkAction.userGroupBulkActions.length == 0 && bulkAction.checked">{{'bulkActions.userGroups.none' | translate}}</p>

<div ng-repeat="action in bulkAction.userGroupBulkActions" class="action-wrapper">
  <fieldset>
    <select ng-disabled="! bulkAction.checked"
      ng-model="action.selectedType"
      ng-options="type as type.display for type in userGroupBulkActionTypes"
      ng-change="onChange(action)">
    </select>
    <select ng-disabled="! bulkAction.checked"
      ng-model="action.selectedGroup"
      ng-options="group as group.name for group in fetchGroups()"
      ng-change="onChange(action)">
      <option disabled value="">{{'bulkActions.userGroups.placeholder' | translate}}</option>
    </select>
    <a ng-disabled="! bulkAction.checked" ng-click="bulkAction.checked && removeUserGroupBulkAction(action)"><i class="fa fa-times remove"></i></a>
  </fieldset>
</div>
