<div class="divider-header">
  <h4>{{'value.details.activeVersion' | translate}}</h4>
</div>

<div class="input-group">
  <label>{{'value.details.version' | translate}}</label>
  <div>
    <form-error field="detailsForm.activeVersion"
    error-type-required="{{'queue.details.version.error' | translate}}"></form-error>
    <select api-error ng-required="true" ng-model="currVersion" ng-change="currVersionChanged()" ng-options="version.name for version in versions" >
    </select>
  </div>
</div>

<div class="input-group">
  <label class="textarea-label">{{'value.details.query' | translate}}</label>
  <div>
    <textarea disabled ng-model="currVersion.query">
    </textarea>
  </div>
</div>

<div class="divider-header">
  <h4>Versions: View &amp; Create Additional Versions</h4>
</div>

<div class="clear">
  <button ng-hide="createNewVersion" class="btn pull-right" ng-click="createVersion()"><i class="fa fa-plus"></i></button>
</div>

<div ng-show="createNewVersion">
  <div class="divider-header">
    <h4>Query &amp; Priority Settings</h4>
  </div>

  <ng-form name="createVersionForm" seperate-validation>
    <div class="input-group">
      <label>{{'value.name' | translate}}</label>
      <form-error field="createVersionForm.name"
      error-type-required="{{'value.error.name.required' | translate}}"></form-error>
      <input disabled="true" ng-required="true" type="text" ng-model="version.name" name="name"></input>
    </div>

    <div class="input-group">
      <label class="textarea-label">{{'value.details.query' | translate}}</label>
      <form-error field="createVersionForm.query"
      error-type-required="{{'value.error.query.required' | translate}}"></form-error>
      <textarea ng-required="true" type="text" ng-model="version.query" name="query"></textarea>
    </div>
    <div class="queue-controls input-group">
      <label></label>
      <input id='cancel-queue-version-btn' type="button" ng-click="cancelVersion()" class="btn" value="Cancel" />
      <input id='create-queue-version-btn' ng-click="saveVersion()" ng-disabled="createVersionForm.$invalid || !createVersionForm.$dirty" type="submit" class="btn btn-primary" value="Save New Version" />
    </div>
  </ng-form>
</div>

<table>
  <thead>
    <th>{{'value.name' | translate}}</th>
    <th>{{'value.description' | translate}}</th>
    <th>{{'value.createdOn' | translate}}</th>
  </thead>
  <tr ng-repeat="version in versions">
    <td>{{version.name}}</td>
    <td>{{version.description}}</td>
    <td>{{version.created | date:'medium'}}</td>
  </tr>
</table>
