<table>
  <thead>
    <th>{{'value.name' | translate}}</th>
    <th>{{'value.description' | translate}}</th>
    <th>{{'value.createdOn' | translate}}</th>
  </thead>
  <tr ng-repeat="version in versions | orderBy:'created':'reverse'">
    <td>{{version.name}}</td>
    <td>{{version.description}}</td>
    <td>{{version.created | date:'medium'}}</td>
  </tr>
</table>

<h3>Create Queue Version (Dev only)</h3>

<ng-form name="createVersionForm" seperate-validation>
  <div class="input-group">
    <label>Name</label>
    <form-error field="createVersionForm.name"
    error-type-required="{{'value.error.name.required' | translate}}"></form-error>
    <input ng-required="true" type="text" ng-model="version.name" name="name"></input>
  </div>

  <div class="input-group">
    <label>Description</label>
    <input type="text" ng-model="version.description" name="description"></input>
  </div>

  <div class="input-group">
    <label>Query</label>
    <form-error field="createVersionForm.query"
    error-type-required="{{'value.error.query.required' | translate}}"></form-error>
    <input ng-required="true" type="text" ng-model="version.query" name="query"></input>
  </div>

  <input  ng-click="saveVersion()" ng-disabled="createVersionForm.$invalid || !createVersionForm.$dirty"
  type="submit" class="btn btn-primary" value="{{ 'value.create' | translate }}" />
</ng-form>
