<div id="user-skill-bulk" class="bulk-action">
  <div><input id="user-skill-bulk-enable-check" type="checkbox" ng-model="bulkAction.checked"></div>
  <label><b>{{'bulkActions.change.skills' | translate}}</b></label>
  <div><a ng-disabled="! bulkAction.checked" ng-click="bulkAction.checked && addBulkSkill()" class="btn"><i class="fa fa-plus"></i></a></div>
</div>

<p class="null action-wrapper" ng-show="bulkAction.userSkillsBulkActions.length == 0 && bulkAction.checked">{{'bulkActions.skills.none' | translate}}</p>

<div class="action-wrapper skills-section" ng-repeat="userSkillsBulkAction in bulkAction.userSkillsBulkActions">
  <div>
    <select
      ng-disabled="! bulkAction.checked"
      ng-model="userSkillsBulkAction.selectedType"
      ng-options="item as item.display for item in userSkillsBulkActionTypes"
      ng-change="onChangeType(userSkillsBulkAction)">
      <option disabled value="">{{'bulkActions.defaultActions' | translate}}</option>
    </select>

    <number-slider id="user-skill-bulk-proficiency-field"
      ng-disabled="! bulkAction.checked" class="pull-right"
      ng-if="userSkillsBulkAction.selectedSkill.hasProficiency && userSkillsBulkAction.selectedType.value != 'remove'"
      placeholder="{{'skill.details.proficiency' | translate}}"
      value="userSkillsBulkAction.params.proficiency"
      min-value="1" max-value="100"
      required="true"
      ng-changed="onChange(userSkillsBulkAction)" >
    </number-slider>
    <select
      ng-disabled="! bulkAction.checked"
      ng-model="userSkillsBulkAction.selectedSkill"
      ng-options="skill as skill.name for skill in availableSkills | orderBy:'name'"
      ng-change="onChangeSkill(userSkillsBulkAction)">
      <option disabled value="">{{'bulkActions.skills.defaultSkills' | translate}}</option>
    </select>
  </div>
  <a ng-disabled="! bulkAction.checked" ng-click="bulkAction.checked && removeBulkSkill(userSkillsBulkAction)" class="remove">
    <i class="fa fa-times"></i>
  </a>
</div>
    