<div ng-class="{'edit': showDrop === true}">
  <div class="label-container" ng-click="labelClick()" ng-hide="showDrop && !display">
    <input type="text" name="{{name + '-display'}}"
      placeholder="{{'multibox.add.placeholder' | translate}}"
      readonly="true" border="0"  class="label"
      ng-required="true"
      ng-model="display" />
    <i class="fa" ng-class="{'fa-caret-down': !showDrop, 'fa-caret-up':showDrop}"></i>
  </div>

  <div class="edit-box" ng-show="showDrop">
    <type-ahead
      items="items"
      selected-item="selectedItem"
      placeholder="{{'multibox.search.placeholder' | translate}}"
      on-select="onSelect(selectedItem)"
      keep-expanded="true"></type-ahead>
    <input id="show-create-new-item-btn" class="btn" type="button"
      ng-click="createItem()" 
      value="{{'multibox.create.btn' | translate}}" />
  </div>
</div>
