lo-multibox {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  position:relative;
  background-color: white;

  .label{
    border: none;
    box-shadow: none;
    border-color: transparent;
    background: transparent;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    display: inline-block;
    padding-right: 10px;
  }

  .label-container {
    @include border-radius(5px);
    border: 1px solid $light-grey;
    padding: 0 10px;
    position: relative;

    i {
      font-size: 18px;
      position: absolute;
      right: 7px;
      top: 7px;
      width: 10px;
    }
  }

  .btn{
    @include border-radius(0);
    border:0;
    height: 30px;
    border-top: 1px solid $light-grey;
    width: 100%;
  }

  .edit {
    @include border-radius(5px);
    border: 1px solid $light-grey;
    position: absolute;
    z-index: 100;
    
    .label-container {
      @include border-radius-complex(5px, 0, 0, 5px);
    }
  }
}