<i class="fa fa-remove remove" ng-click="closeBulk()"></i>

<div class="details-form">
  <div class="detail-header-pane">
    <filter-dropdown
      label="{{'bulkActions.selected' | translate}}({{checkedItems.length}})"
      options="checkedItems"
      display-path="displayName"
      value-path="id">
    </filter-dropdown>
  </div>

  <div class="detail-body-pane" ng-transclude>
  </div>

  <div class="detail-controls-pane">
    <input ng-disabled="!canExecute()"
      type="button" ng-click="execute()"
      value="{{'value.submit' | translate}}">
  </div>
</div>
