<form id="bulk-action-form" name="bulkActionForm" class="details-pane" unsaved-changes-warning>
  <i id="close-bulk-button" class="fa fa-remove remove" ng-click="closeBulk()"></i>
  <div id="bulk-actions-selected-header" class="detail-header">
    <filter-dropdown
      label="{{'bulkActions.selected' | translate}}({{selectedItems().length}})"
      options="selectedItems()"
      display-path="getDisplay"
      value-path="id">
    </filter-dropdown>
  </div>

  <div class="detail-body" ng-transclude>
  </div>

  <div class="detail-controls">
    <input id="cancel-bulk-actions-btn"
      type="button"
      class="btn"
      ng-click="cancel()"
      value="{{'value.cancel' | translate}}">
    </input>
    <input id="submit-bulk-actions-btn" ng-disabled="!canExecute()"
      type="button"
      class="btn btn-primary"
      ng-click="confirmExecute()"
      value="{{'value.submit' | translate}}">
  </div>
</form>
