<div class="divider-header">
  <h4>{{'navbar.management.reasons.lists.title' | translate}} <span class="count" ng-show="userReasonLists.$resolved">({{userReasonLists.length}})</span></h4>
</div>

<loading ng-show="!fetchReasonLists().$resolved && userReasonLists && !userReasonLists.$resolved"></loading>

<div ng-show="fetchReasonLists().$resolved && userReasonLists.$resolved" class="detail-group">
  <ng-form class="instant-add"
    lo-form-submit
    lo-form-alert
    separate-validation id="addReasonList"
    name="addReasonList"
    ng-show="['PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT', 'MANAGE_ALL_GROUP_USERS', 'MANAGE_TENANT_ENROLLMENT'] | hasPermission">
      <div>
        <form-error field="addReasonList.name"></form-error>

        <type-ahead name-field="name"
          placeholder="{{'details.reasons.placeholder' | translate}}"
          items="fetchReasonLists()"
          is-required="true"
          on-enter="onEnter(item)"
          selected-item="selectedReasonList"
          filters="[filterReasonLists, removeDefaultReasons, removeDisabledItems]"
          lo-submit="save(selectedReasonList)"
          event="reasons.enter.event"></type-ahead>
      </div>
      <div>
        <a lo-submit-spinner
          lo-submit-spinner-status="saving"
          id="add-reason-btn"
          ng-disabled="!selectedReasonList"
          class="btn"
          lo-submit="save(selectedReasonList)"
          title="{{'value.save' | translate}}">
            <i class="fa fa-plus"></i>
        </a>
      </div>
  </ng-form>

  <p ng-hide="fetchReasonLists().$resolved && userReasonLists.$resolved && fetchReasonLists().length" class="null">{{'details.reasons.none' | translate}}</p>
  <p id="no-user-reasons" ng-show="userReasonLists.length === 0 && ! addNew" class="null" translate="details.userreasons.none" translate-value-display-name="{{user.getDisplay()}}"></p>

  <div ng-show="userReasonLists.length > 0">
    <div id="tag-wrapper" class=" clear" ng-class="{collapsed : collapsed}">
      <div id="tags-inside" class="clear">
        <div ng-repeat="userReasonList in userReasonLists" class="tag">
          {{userReasonList.name}}
          <a ng-click="remove(userReasonList)" title="{{'details.userreasons.remove' | translate}}" ng-hide="userReasonList.name === 'System Presence Reasons'"><i class="fa fa-times"></i></a>
        </div>
      </div>
    </div>

    <div ng-show="! hideCollapseControls">
      <div class="expander down" ng-show="collapsed"><a ng-click="collapsed = false" title="{{'details.reasons.showall' | translate}}"><i class="fa fa-ellipsis-h"></i></a></div>
      <div class="expander up" ng-show="! collapsed"><a ng-click="collapsed = true" title="{{'details.reasons.hideextra' | translate}}"><i class="fa fa-caret-up"></i></a></div>
    </div>

  </div>
</div>
