
.side-bar {
  background-color: #f8fbfc;
  border-right: 1px solid #dadada;
  height: 100%;
  position: fixed;
  z-index: 10;
  padding: 10px;
  @include transition(left 0.25s);

  .collapse-bar {
    color: $light-grey;
    font-size: 25px;
    position: absolute;
    top: -0.3em;
    bottom: 0;
    right: 0;
  }

  &:not(.collapsed) .collapse-bar i{
    @include border-radius;
    border: 1px solid $light-grey;
  }

  .collapse-bar i {
    padding: 5px 10px;
    font-size: 0.7em;
  }

  .menu-container {
    height: 100%;
  }

  .menu-container {
    position: relative;
    width: $left-nav-width;
    line-height: 1.2em;
    @include transition(left 0.5s);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      margin: 0 0 3px 0;
      padding: 0;
      width: 100%;

      a {
        display: block;
        margin: 0;
        padding: 5px 10px 5px 20px;
      }

      &:hover {
        background-color: $accent-light;
      }
    }
  }
}

.side-bar.collapsed {
  left: $left-nav-left-hide;
}

.side-bar:not(.collapsed) {
  left: 0;
}

.side-bar:not(.collapsed):not(.locked) {
  @include drop-shadow(7px, 0, 16px, 0px, 0.19);
  border: none;
}