<div class="side-bar" ng-class="{collapsed : collapsed && !menuLocked, locked : menuLocked}" ng-mouseenter="collapsed = false;" ng-mouseleave="mouseleave()">
  <div style="position:relative;height:100%;width:100%;">
    <div class="menu-container">
      <aside>
        <h4>{{menuConfig.title}}</h4>
        <ul>
          <li ng-repeat="item in menuConfig.links">
            <a href="{{item.link}}" id="{{item.id}}">{{item.display}}</a>
          </li>
        </ul>
      </aside>
    </div>

    <div class="collapse-bar">
      <span ng-show="!collapsed || menuLocked">
        <i ng-show="menuLocked" class="fa fa-angle-double-left" ng-click="unlockMenu()" title="{{'sidebar.undock' | translate}}"></i>
        <i ng-show="!menuLocked" class="fa fa-thumb-tack" ng-click="lockMenu()" title="{{'sidebar.dock' | translate}}"></i>
      </span>
      <span ng-show="collapsed && !menuLocked"><i class="fa fa-angle-double-right" ng-click="collapsed = false"></i></span>
    </div>
  </div>
</div>
