<div class="detail-header-pane">
  <div class="abox"></div>

  <toggle class="user-toggle" ng-model="user.status"></toggle>
  <div id="user-details-header-name">

    <h1 class="user-name">{{user.firstName}} {{user.lastName}}</h1>

    <span>
      <h2>{{user.displayName}}</h2>
      <user-state state="{{user.state}}" />
    </span>
    <div class="state-description">User Created by <b>{John Doh}</b> on <b>{{user.created}}</b></div>
    <div class="state-description">Enabled by <b>{John Doh}</b> on <b>{{user.created}}</b></div>
  </div>
</div>

<form name="userForm" ng-submit="save()">

  <div class="input-group">
    <label>First Name</label>
    <div class="error" ng-show="userForm.firstName.$touched && userForm.firstName.$invalid">Please enter a first name.</div>
    <input ng-model="user.firstName" name="firstName" type="text"></input>
  </div>

  <div class="input-group">
    <label>Last Name</label>
    <div class="error" ng-show="userForm.lastName.$touched && userForm.lastName.$invalid">Please enter a last name.</div>
    <input ng-model="user.lastName" name="lastName" type="text"></input>
  </div>

  <div class="input-group">
    <label>Display Name</label>
    <div class="error" ng-show="userForm.displayName.$touched && userForm.displayName.$invalid">Please enter a display name.</div>
    <input ng-model="user.displayName" name="displayName" type="text"></input>
  </div>

  <div class="input-group">
    <label>Email</label>
    <div class="error" ng-show="userForm.email.$touched && userForm.email.$invalid">
      <span ng-show="userForm.email.$error.required">Please enter an email.</span>
      <span ng-show="userForm.email.$error.email">Must be a valid email address.</span>
    </div>
    <input ng-model="user.email" name="email" type="email" ></input>
  </div>

  <div class="input-group">
    <label>External ID</label>
    <input ng-model="user.externalId" name="externalId" type="text"></input>
  </div>
  
  <div class="input-group">
    <label>Role</label>
    <select ng-model="user.role" name="role" ng-options="role.value as role.label for role in userRoles">
      <option value="">Select Role</option>
    </select>
  </div>
  
  <div class="input-group">
    <label>State</label>
    <select ng-model="user.state" name="state" ng-options="state.value as state.display for state in userStates.filters">
      <option value="">Select State</option>
    </select>
  </div>

  <input type="submit" value="Submit" />
</form>