<div id="reset-password-page" class="lo-gradient-squares">
  <div id="reset-password-wrapper">
    <div ng-show="loading">
      <loading></loading>
    </div>

    <form id="reset-form" name="resetForm" ng-submit="checkValidity()" ng-show="!loading">
      <img ng-src="{{$root.logo}}" height="23">
      <div id="glass-wrapper">
        <div class="lo-alert">{{'details.password.default.policy' | translate}}</div>
        <div class="blur-bg"></div>
          <div class="blur-over">
            <span class="error-message">{{resetMessage}}</span>
            <br><br>
            <div class="lo-alert lo-error" ng-if="error">
              {{error}}
            </div>
            <div class="input-group">
              <form-error field="resetForm.newPassField"
              error-type-required="{{'details.password.error' | translate}}"></form-error>
              <input type="password" placeholder="{{'value.newPassword' | translate}}" ng-model="newPass" required name="newPassField" />
            </div>
            <div class="input-group">
              <form-error field="resetForm.confirmPassField"
              error-type-required="{{'details.password.error' | translate}}" error-type-password-match="{{'details.confirm-password.error' | translate}}"></form-error>
              <input type="password" placeholder="{{'details.confirm-password' | translate}}" ng-model="confirmPass" required name="confirmPassField" />
            </div>
          </div>
      </div>
      <input class="btn btn-primary lo-accent-border lo-accent-bg" type="submit" value="{{'value.changePassword' | translate}}" />
    </form>

    <p ng-show="!loading" class="copyright">{{'copyright' | translate}}</p>
    <p ng-show="!loading" class="copyright">{{'signup.legal' | translate}}
      <a ng-href="{{legalLinkURL}}" class="legal-link" ng-click="createURL(); $event.stopPropagation();" target="_blank">
        {{'signup.legalLinkLabel' | translate}}
      </a>
    </p>
  </div>
</div>
