#reset-password-page {
  box-sizing: content-box;
  margin-top: -$navbar-height;
  padding-top: $navbar-height;
  height: 100%;
  width: 100%;
}

#reset-password-wrapper {
  box-sizing: border-box;
  width: 500px;
  height: 350px;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;

  .loading {
    color: #fff;
    opacity: 0.87;
  }

  .legal-link {
    text-decoration: underline;
    color: #ffffff;
    &:hover {
      color: #ffffff;
    }
  }

  #glass-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .blur-bg  {
    @include border-radius-complex(3px, 0, 0, 3px);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    filter: 4px;
    background-color: rgba(255, 255, 255, 0.40);
    background-image: url("/assets/images/square_bg.png");
  }

  .blur-over {
    padding: 20px 40px;

    & > .lo-error {
      margin-bottom: 20px;
    }

    .input-group + .input-group {
      margin-top: 20px;
    }

    .input-group .lo-error {
      @extend .lo-alert
    }

    span {
      margin-bottom: 20px;
      font-weight: 800;
      color: rgba(255, 255, 255, 1);
    }
  }

  .btn {
    height: 40px;
    width: 100%;
  }

  .btn-primary {
    @include border-radius-complex(0, 3px, 3px, 0);
  }
}
