<div class="lo-alert lo-alert-info" ng-show="! dc.selectedDisposition.isNew() && dc.selectedDisposition.tenantId !== Session.tenant.tenantId">
{{'dispositions.readonly.warning' | translate}}
</div>

<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>

<div class="input-group">
  <label>{{'value.name' | translate}} *</label>
  <form-error field="forms.detailsForm.name" error-type-required="{{'details.name.error' | translate}}" ></form-error>
  <div class="lo-error" role="alert" ng-if='dc.duplicateError'>{{dc.duplicateErrorMessage}}</div>
  <div>
    <input ng-required="true" type="text" ng-model="dc.selectedDisposition.name" name="name" ng-disabled="dc.selectedDisposition.tenantId !== Session.tenant.tenantId || !('UPDATE_DISPOSITIONS' | hasPermission)"/>
  </div>
</div>

<div class="input-group">
  <label>{{'details.externalId' | translate}}</label>
  <div>
    <input type="text" ng-model="dc.selectedDisposition.externalId" name="externalId" ng-disabled="dc.selectedDisposition.tenantId !== Session.tenant.tenantId || !('UPDATE_DISPOSITIONS' | hasPermission)"/>
  </div>
</div>

<div class="input-group">
  <label class="textarea-label">{{'value.description' | translate}}</label>
  <textarea ng-model="dc.selectedDisposition.description" ng-disabled="dc.selectedDisposition.tenantId !== Session.tenant.tenantId || !('UPDATE_DISPOSITIONS' | hasPermission)"></textarea>
</div>

<div class="input-group">
  <label>{{'value.shared' | translate}}</label>
  <div>
    <toggle class="status-toggle" name="shared"
      ng-disabled="(! dc.selectedDisposition.isNew() && dc.selectedDisposition.$original.shared) || !('SHARE_DISPOSITIONS' | hasPermission) || dc.selectedDisposition.tenantId !== Session.tenant.tenantId"
      ng-model="dc.selectedDisposition.shared">
    </toggle>
  </div>
</div>
