<management-menu menu-locked="Session.lockSideMenu" menu-config="sidebarConfig"></management-menu>

<div id="main-content" ng-class="{'expanded-menu': Session.lockSideMenu}">


    <table-controls
      id="table-pane"
      config="tableConfig"
      items="medias"
      on-create-click="createMedia"
      selected="selectedMedia"
      resource-name="medias"></table-controls>

    <resize-handle
      id="resize-pane"
      ng-show="!!selectedMedia"
      right-element-id="details-pane"
      left-element-id="table-pane"
      left-min-width="600"
      right-min-width="400" ></resize-handle>

    <resource-details
      id="details-pane"
      ng-show="selectedMedia"
      extend-scope="additional"
      header-template-url="app/components/media/mediaDetailHeader.html"
      body-template-url="app/components/media/mediaDetailBody.html"
      resource="selectedMedia"></resource-details>

   
</div>
