.autocomplete-container {
  position:relative;
  width: 100%;

  input {
    padding-right: 40px;
  }

  i {
    color: $grey;
    top: 10px;
    position: absolute;
    right: 10px;
  }

  .autocomplete-text {
  }

  ul {
    position: absolute;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid $light-grey;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
    margin: 0;
    z-index: 1;
    padding: 0;
    list-style-type: none;

    &.embeded {
      position: inherit;
      @include border-radius(0);
      border: 0;
      margin: 0;
    }

    li {
      padding: 10px;
      cursor: pointer;

      &:hover, &.highlight {
        background-color: $accent-light;
      }
    }
  }
}
