<user-managment-menu menu-locked="Session.lockSideMenu"></user-managment-menu>

<div class="user-list-container" ng-class="{'expanded-menu': Session.lockSideMenu}">
  <div id="left-panel" class="left-panel">
    <table-controls config="tableConfig" items="users" on-create-click="createUser" selected="selectedUser" resource-name="users"></table-controls>
    <resize-handle ng-show="!!selectedUser" right-element-id="right-panel" left-element-id="left-panel" left-min-width="720" right-min-width="720" ></resize-handle>
  </div>

  <div id="right-panel" class="right-panel" ng-show="selectedUser">
    <resource-details
      extend-scope="additional"
      header-template-url="app/components/users/userDetailHeader.html"
      body-template-url="app/components/users/userDetailBody.html"
      resource="selectedUser"
    />
  </div>
</div>
