<user-managment-menu collapsed="Session.collapseSideMenu"></user-managment-menu>

<div class="user-list-container" ng-class="{'expanded-menu': ! Session.collapseSideMenu}">
  <div id="left-panel" class="left-panel">
    <user-table></user-table>
    <resize-handle ng-show="!!selectedUser" right-element-id="right-panel" left-element-id="left-panel" left-min-width="600" right-min-width="600" ></resize-handle>
  </div>

  <div id="right-panel" class="right-panel" ng-show="selectedUser">
    <user-details user="selectedUser"></user-details>
  </div>
</div>
