
.user-list-container {
  position: absolute;
  left: $side-menu-width;
  bottom: 0;
  right: 0;
  top: $navbar-height;

  .left-panel {
    border-right: 1px solid $medium-grey;
    padding: 20px;
    box-sizing: border-box;
    vertical-align: top;
    display:table-cell;
    height: 100%;
    overflow-y: auto;
    position: absolute;
    width: 600px;
  }
  .right-panel {
    display:table-cell;
    height: 100%;
    overflow-y: auto;
    position:absolute;
    right: 0;
    left: 600px;
  }
}
.side-menu {
  background-color: #f2f2f2;
  color: #999;
  font-size: 1.5em;
  top: $navbar-height;
  bottom: 0px;
  text-align: center;
  position: absolute;
  width: $side-menu-width;
}
