<div class="abox"></div>

<toggle ng-hide="true" class="user-toggle" ng-model="resource.status"></toggle>

<div id="user-details-header-name" ng-hide="! resource.id">

  <h1 class="user-name">{{resource.firstName}} {{resource.lastName}}</h1>

  <span>
    <h2>{{resource.displayName}}</h2>
    <user-state state="{{resource.state}}" />
  </span>

  <div ng-show="creator.displayName" class="state-description"><b translate="details.resource.createdby" translate-value-date="{{resource.created | date:'medium'}}" translate-value-creator="{{creator.displayName}}"></b></div>
  <div ng-show="updater.displayName" class="state-description"><b translate="details.resource.updatedby" translate-value-date="{{resource.created | date:'medium'}}" translate-value-enabler="{{updater.displayName}}"></b></div>
</div>