
<toggle class="status-toggle" ng-model="resource.status"></toggle>

<div class="user-info">
  <h1>{{resource.firstName}} {{resource.lastName}}</h1>

  <span>
    <h2>{{resource.displayName}}</h2>
    <user-state state="{{resource.state}}" />
  </span>

  <div ng-show="creator.displayName">
    <b
      translate="details.resource.createdby"
      translate-value-date="{{resource.created | date:'medium'}}"
      translate-value-creator="{{creator.displayName}}">
    </b>
  </div>
  <div ng-show="updater.displayName">
    <b
      translate="details.resource.updatedby"
      translate-value-date="{{resource.created | date:'medium'}}"
      translate-value-enabler="{{updater.displayName}}">
    </b>
  </div>
</div>
