<div ng-if="originalResource.id">
  <toggle class="status-toggle" ng-model="resource.active" 
  confirm-disable-message="{{'flow.details.disable.confirm' | translate}}"
  confirm-enable-message="{{'flow.details.enable.confirm' | translate}}"
  ng-disabled="! ('MANAGE_ALL_FLOWS' | hasPermission)"></toggle>

  <div class="info">
    <h1>{{originalResource.name}}</h1>
    <div class="details" ng-if="['PLATFORM_VIEW_ALL_USERS', 'PLATFORM_CREATE_USERS', 'PLATFORM_MANAGE_ALL_USERS', 'PLATFORM_MANAGE_ALL_TENANTS', 'PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT'] | hasPermission">
      <b audit-text
        translation="value.createdby.time"
        user-id="originalResource.createdBy"
        date="originalResource.created">
      </b>
      <br/>
      <b audit-text ng-if="!!originalResource.updatedBy"
        translation="value.updatedby"
        user-id="originalResource.updatedBy"
        date="originalResource.updated">
      </b>
    </div>
    <div class="details" ng-if="!(['PLATFORM_VIEW_ALL_USERS', 'PLATFORM_CREATE_USERS', 'PLATFORM_MANAGE_ALL_USERS', 'PLATFORM_MANAGE_ALL_TENANTS', 'PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT'] | hasPermission)">
      <b audit-text
        translation="value.createdon.time"
        date="originalResource.created">
      </b>
      <br/>
      <b audit-text ng-if="!!originalResource.updated"
        translation="value.updatedon"
        date="originalResource.updated">
      </b>
    </div>
  </div>
</div>

<h1 ng-if="! originalResource.id">{{'flow.details.creating' | translate}}</h1>
