<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>

<div disable-contents="! ('MANAGE_ALL_FLOWS' | hasPermission)">
  <div class="input-group">
    <label>{{'value.name' | translate}} *</label>
    <form-error field="forms.detailsForm.name"
      error-type-required="{{'flow.details.name.error' | translate}}">
    </form-error>
    <div>
      <input type="text" ng-required="true" ng-model="selectedFlow.name" name="name"></input>
    </div>
  </div>

  <div class="input-group">
    <label>{{'value.type' | translate}} <span ng-if="selectedFlow.isNew()">*</span></label>
    <form-error field="forms.detailsForm.type" error-type-required="{{'flow.details.type.error' | translate}}"></form-error>
    <div>
      <select ng-required="selectedFlow.isNew()" name="type" ng-model="selectedFlow.type"
        ng-options="type.value as type.display for type in flowTypes">
        <option disabled value="">{{'flow.type.choose' | translate}}</option>
      </select>
    </div>
  </div>

  <div ng-if="(! selectedFlow.isNew())" class="input-group">
    <label>{{'value.version' | translate}} <span ng-show="getVersions().length > 0">*</span></label>
    <form-error field="forms.detailsForm.activeVersion"
      error-type-required="{{'flow.details.activeVersion.error' | translate}}">
    </form-error>
    <div>
      <select name="activeVersion"
        ng-required="getVersions().length > 0"
        ng-disabled="! getVersions().length > 0"
        ng-model="selectedFlow.activeVersion"
        ng-options="version.version as (version.fakeVersion + ' - ' + version.name) for version in getVersions() | orderBy:'created':'reverse'">
        <option disabled value="">{{'flow.details.version.choose' | translate}}</option>
      </select>
    </div>
  </div>

  <div class="input-group">
    <label class="textarea-label">{{'value.description' | translate}}</label>
    <div>
      <textarea ng-model="selectedFlow.description"></textarea>
    </div>
  </div>
</div>

<div ng-if="! selectedFlow.isNew()" class="details-group">
  <flow-versions flow="selectedFlow" on-edit-click="newDraftModal(version)"></flow-versions>
  <flow-drafts flow="selectedFlow" drafts="drafts" ng-if="('MANAGE_ALL_FLOWS' | hasPermission)"></flow-drafts>
</div>
