<div ng-if="! selectedFlow.isNew()">
  <toggle class="status-toggle" ng-model="selectedFlow.active"
  confirm-disable-message="{{'flow.details.disable.confirm' | translate}}"
  confirm-enable-message="{{'flow.details.enable.confirm' | translate}}"
  ng-disabled="! ('MANAGE_ALL_FLOWS' | hasPermission) || getVersions().length < 1"
  on-confirm="updateActive()"></toggle>
  <div class="info">
    <h1>{{selectedFlow.$original.name}}</h1>
    <div class="details" ng-if="['PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT', 'VIEW_ALL_USERS', 'MANAGE_ALL_USER_EXTENSIONS', 'MANAGE_ALL_GROUP_USERS', 'MANAGE_ALL_USER_SKILLS', 'MANAGE_ALL_USER_LOCATIONS', 'MANAGE_TENANT_ENROLLMENT'] | hasPermission">
      <b audit-text
        translation="value.createdby.time"
        user-id="selectedFlow.$original.createdBy"
        date="selectedFlow.$original.created">
      </b>
      <br/>
      <b audit-text ng-if="!!selectedFlow.$original.updatedBy"
        translation="value.updatedby"
        user-id="selectedFlow.$original.updatedBy"
        date="selectedFlow.$original.updated">
      </b>
    </div>
    <div class="details" ng-if="!(['PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT', 'VIEW_ALL_USERS', 'MANAGE_ALL_USER_EXTENSIONS', 'MANAGE_ALL_GROUP_USERS', 'MANAGE_ALL_USER_SKILLS', 'MANAGE_ALL_USER_LOCATIONS', 'MANAGE_TENANT_ENROLLMENT'] | hasPermission)">
      <b audit-text
        translation="value.createdon.time"
        date="selectedFlow.$original.created">
      </b>
      <br/>
      <b audit-text ng-if="!!selectedFlow.$original.updated"
        translation="value.updatedon"
        date="selectedFlow.$original.updated">
      </b>
    </div>
  </div>
</div>

<h1 ng-if="selectedFlow.isNew()">{{'flow.details.creating' | translate}}</h1>
