<table-controls
  id="table-pane"
  config="tableConfig"
  items="flows"
  selected="selectedFlow"
  resource-name="{{'tenants:' + Session.tenant.tenantId + ':flows'}}"></table-controls>

<resize-handle
  id="resize-pane"
  right-element-id="details-pane"
  left-element-id="table-pane"
  left-min-width="600"
  right-min-width="400"></resize-handle>

<resource-details
  id="details-pane"
  extend-scope="additional"
  header-template-url="app/components/flows/flowManagement/flowDetailHeader.html"
  body-template-url="app/components/flows/flowManagement/flowDetailBody.html"
  original-resource="selectedFlow"
  resource="flow"></resource-details>
