<div class="publish">
  <h3 class="header">{{title}}</h3>
  <ng-form name="forms.newFlow" lo-form-submit>
    <div class="publish-body">
      <div class="input-group">
        <label>{{'value.name' | translate}}</label>
        <form-error field="forms.newFlow.name"
          error-type-required="Please enter a draft name"></form-error>
        <input type="text" ng-model="flow.name" name="name" ng-required="true"/>
      </div>
      <div
        class="input-group"
        ng-if="isCopy">
        <label class="textarea-label">{{'value.description' | translate}}</label>
        <div>
          <textarea ng-model="flow.description"></textarea>
        </div>
      </div>
      <div
        class="input-group"
        ng-if="!isCopy">
        <label>{{'value.type' | translate}} <span ng-if="selectedFlow.isNew()">*</span></label>
        <form-error field="forms.newFlow.type" error-type-required="{{'flow.details.type.error' | translate}}"></form-error>
        <div>
          <select ng-required="true" name="type" ng-model="flow.type"
            ng-options="type.value as type.display for type in flowTypes">
            <option disabled value="">{{'flow.type.choose' | translate}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="footer">
      <input type="button" id="modal-cancel" class="btn" ng-click="cancelCallback()" value="{{'value.cancel' | translate}}"/>
      <input type="submit" id="modal-ok" class="btn btn-primary" lo-submit="okCallback(flow)" ng-disabled="forms.newFlow.$invalid">
    </div>
  </ng-form>
</div>
