<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>

<div disable-contents="! ('MANAGE_ALL_CUSTOM_STATS' | hasPermission)">
  <div class="input-group">
    <label>{{'value.name' | translate}} *</label>
    <form-error field="forms.detailsForm.name"
      error-type-required="{{'stat.details.name.error' | translate}}">
    </form-error>
    <div>
      <input type="text" ng-required="true" ng-model="selectedStat.name" name="name"></input>
    </div>
  </div>

  <div class="input-group">
    <label>{{'value.type' | translate}} <span ng-if="selectedStat.isNew()">*</span></label>
    <form-error field="forms.detailsForm.type" error-type-required="{{'stat.details.type.error' | translate}}"></form-error>
    <div>
      <select ng-required="selectedStat.isNew()" name="type" ng-model="selectedStat.type"
        ng-options="type.value as type.display for type in statTypes">
        <option disabled value="">{{'stat.type.choose' | translate}}</option>
      </select>
    </div>
  </div>

  <div ng-if="(! selectedStat.isNew())" class="input-group">
    <label>{{'value.version' | translate}} <span ng-show="getVersions().length > 0">*</span></label>
    <form-error field="forms.detailsForm.activeVersion"
      error-type-required="{{'stat.details.activeVersion.error' | translate}}">
    </form-error>
    <div>
      <select name="activeVersion"
        ng-required="getVersions().length > 0"
        ng-disabled="! getVersions().length > 0"
        ng-model="selectedStat.activeVersion"
        ng-options="version.version as (version.fakeVersion + ' - ' + version.name) for version in getVersions() | orderBy:'created':'reverse'">
        <option disabled value="">{{'stat.details.version.choose' | translate}}</option>
      </select>
    </div>
  </div>

  <div class="input-group">
    <label class="textarea-label">{{'value.description' | translate}}</label>
    <div>
      <textarea ng-model="selectedStat.description"></textarea>
    </div>
  </div>
</div>

<div ng-if="! selectedStat.isNew()" class="details-group">
  <stat-versions stat="selectedStat" on-edit-click="newDraftModal(version)"></stat-versions>
  <stat-drafts stat="selectedStat" drafts="drafts"></stat-drafts>
</div>