<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>

<div disable-contents="! ('CUSTOM_STATS_CREATE' | hasPermission)">
  <div class="input-group">
    <label>{{'value.name' | translate}} *</label>
    <form-error field="forms.detailsForm.name"
      error-type-required="{{'customStats.details.name.error' | translate}}">
    </form-error>
    <div>
      <input type="text" ng-required="true" ng-model="selectedStat.name" name="name"></input>
    </div>
  </div>

  <div ng-if="(! selectedStat.isNew())" class="input-group">
    <label>{{'value.version' | translate}} <span ng-show="getVersions().length > 0">*</span></label>
    <form-error field="forms.detailsForm.activeVersion"
      error-type-required="{{'customStats.details.activeVersion.error' | translate}}">
    </form-error>
    <div>
      <select name="activeVersion"
        ng-required="getVersions().length > 0"
        ng-disabled="! getVersions().length > 0"
        ng-model="selectedStat.activeVersion"
        ng-options="version.version as (version.fakeVersion + ' - ' + version.name) for version in getVersions() | orderBy:'created':'reverse'">
        <option disabled value="">{{'customStats.details.version.choose' | translate}}</option>
      </select>
    </div>
  </div>

  <div class="input-group">
    <label class="textarea-label">{{'value.description' | translate}}</label>
    <div>
      <textarea ng-model="selectedStat.description"></textarea>
    </div>
  </div>
</div>

<div ng-if="! selectedStat.isNew()" class="details-group">
  <custom-stat-versions stat="selectedStat" on-view-click="viewVersion(version)" on-edit-click="newDraftModal(version)"></custom-stat-versions>
  <custom-stat-drafts ng-if="('CUSTOM_STATS_CREATE' | hasPermission)" stat="selectedStat" drafts="drafts"></custom-stat-drafts>
</div>
