<!-- Details -->
<div class="divider-header first-header" ng-hide="readOnly">
  <h4>{{'value.details.query' | translate}}</h4>
  <a class="pull-right">
    <span id="show-advanced-query" ng-show="!qbc.isAdvancedMode" ng-click="qbc.advancedMode()">
      {{'queue.details.version.query.advanced.link' | translate}}
    </span>
    <span class="pull-right"  id="show-basic-query" ng-show="qbc.isAdvancedMode" ng-click="qbc.basicMode()">
      {{'queue.details.version.query.basic.link' | translate}}
    </span>
  </a>
</div>

<!-- Advanced Query -->
<div class="input-group" ng-if="qbc.isAdvancedMode">
  <label class="textarea-label">{{'value.details.query' | translate}}</label>
  <textarea id="advanced-query-field"
    ng-required="true" type="text" ng-model="qbc.advancedQuery" name="query"
    ng-change="qbc.advancedQueryChanged()"></textarea>
   <form-error field="form['query']"
     error-type-required="{{'queue.details.queue.error' | translate}}"
     error-type-zermelo="{{'queue.query.build.zermelo.invalid' | translate}}"
     error-type-api>
   </form-error>
</div>

<!-- Basic Query Editor -->
<div ng-if="!qbc.isAdvancedMode && !readOnly" class="query-component" ng-repeat="level in qbc.query.val">

  <!-- Search query level X -->
  <div class="divider-header" ng-if="!$first">
    <h4 id="escalation-level-header">{{ 'queue.query.escalation.level' | translate:{level: $index} }}</h4>
    <a id="remove-escalation-level" class="pull-right" ng-click="qbc.removeLevel($index)">{{ 'queue.query.escalation.level.remove'| translate}}</a>
  </div>

  <after-seconds-in-queue ng-model="qbc.query" ng-if="!$first" level="$index"></after-seconds-in-queue>

  <add-query-filter ng-model="qbc.query" level="$index"></add-query-filter>

  <div>

    <!-- Escalation Query -->
    <div class="divider-header" ng-if="$first">
      <h4>{{ 'queue.query.escalation' | translate}}</h4>
    </div>

    <!-- Add search level -->
    <div ng-if="$last" class="add-query detail-group">
      <h4 id="add-escalation-label">{{ 'queue.query.add.escalation.level' | translate:{level: ($index+1)} }}</h4>
      <div class="add-group-button">
        <button class="add btn" type="button" ng-click="qbc.addLevel()">
          <i id="add-escalation-btn" class="fa fa-plus"></i>
        </button>
      </div>
    </div>

  </div>

</div>

<!-- Basic Query Read Only -->
<div ng-show="readOnly && qbc.loading">
  <loading></loading>
</div>
<div ng-if="readOnly && !qbc.loading" class="basic-readonly-query" ng-repeat="(levelIdx, level) in qbc.query.val">
  <h3 ng-show="$index !== 0 && level.vals[0] % 60 !== 0">
    {{'queue.query.readonly.after.seconds' | translate:{seconds:level.vals[0]} }}
  </h3>
  <h3 ng-show="$index !== 0 && level.vals[0] % 60 === 0">
    {{'queue.query.readonly.after.minutes' | translate:{minutes:level.vals[0] / 60} }}
  </h3>
  <div ng-repeat="group in level.vals[1].keys">

    <!-- Skills Edge Case -->
    <div ng-show="group.val === ':skills' && (level.vals[1].vals[$index].val[0].val[0].val === 'every' || level.vals[1].vals[$index].val[1].val[0].val === 'every')">
      <label>
        {{'queue.query.builder.' + group.val + '.all' | translate}}
      </label>
      <div class="tag-wrapper clear" ng-show="level.vals[1].vals[$index].val[0].val[0].val === 'every'">
        <div class="tag" ng-repeat="item in level.vals[1].vals[$index].val[0].val[1].keys">
          {{qbc.getDisplay(group.val, item._obj, qbc.advancedQuery, levelIdx, 'every')}}
        </div>
      </div>
      <div class="tag-wrapper clear" ng-show="level.vals[1].vals[$index].val[1].val[0].val === 'every'">
        <div class="tag" ng-repeat="item in level.vals[1].vals[$index].val[1].val[1].keys">
          {{qbc.getDisplay(group.val, item._obj, qbc.advancedQuery, levelIdx, 'every')}}
        </div>
      </div>
    </div>

    <div ng-show="group.val === ':skills' && (level.vals[1].vals[$index].val[0].val[0].val === 'some' || level.vals[1].vals[$index].val[1].val[0].val === 'some')">
      <label>
        {{'queue.query.builder.' + group.val + '.some' | translate}}
      </label>
      <div class="tag-wrapper clear" ng-show="level.vals[1].vals[$index].val[0].val[0].val === 'some'">
        <div class="tag" ng-repeat="item in level.vals[1].vals[$index].val[0].val[1].keys">
          {{qbc.getDisplay(group.val, item._obj, qbc.advancedQuery, levelIdx, 'some')}}
        </div>
      </div>
      <div class="tag-wrapper clear" ng-show="level.vals[1].vals[$index].val[1].val[0].val === 'some'">
        <div class="tag" ng-repeat="item in level.vals[1].vals[$index].val[1].val[1].keys">
          {{qbc.getDisplay(group.val, item._obj, qbc.advancedQuery, levelIdx, 'some')}}
        </div>
      </div>
    </div>

    <!-- Users/Groups -->
    <div ng-show="group.val !== ':skills' && (level.vals[1].vals[$index].val[0].val[0].val === 'every' || level.vals[1].vals[$index].val[1].val[0].val === 'every')">
      <label>
        {{'queue.query.builder.' + group.val + '.all' | translate}}
      </label>
      <div class="tag-wrapper clear" ng-show="level.vals[1].vals[$index].val[0].val[0].val === 'every'">
        <div class="tag" ng-repeat="item in level.vals[1].vals[$index].val[0].val[1].val">
          {{qbc.getDisplay(group.val, item._obj)}}
        </div>
      </div>
      <div class="tag-wrapper clear" ng-show="level.vals[1].vals[$index].val[1].val[0].val === 'every'">
        <div class="tag" ng-repeat="item in level.vals[1].vals[$index].val[1].val[1].val">
          {{qbc.getDisplay(group.val, item._obj)}}
        </div>
      </div>
    </div>

    <div ng-show="group.val !== ':skills' && (level.vals[1].vals[$index].val[0].val[0].val === 'some' || level.vals[1].vals[$index].val[1].val[0].val === 'some')">
      <label>
        {{'queue.query.builder.' + group.val + '.some' | translate}}
      </label>
      <div class="tag-wrapper clear" ng-show="level.vals[1].vals[$index].val[0].val[0].val === 'some'">
        <div class="tag" ng-repeat="item in level.vals[1].vals[$index].val[0].val[1].val">
          {{qbc.getDisplay(group.val, item._obj)}}
        </div>
      </div>
      <div class="tag-wrapper clear" ng-show="level.vals[1].vals[$index].val[1].val[0].val === 'some'">
        <div class="tag" ng-repeat="item in level.vals[1].vals[$index].val[1].val[1].val">
          {{qbc.getDisplay(group.val, item._obj)}}
        </div>
      </div>
    </div>

  </div>
</div>
