.flow-controls{
  text-align: right;
  margin-bottom: 10px;
  
  input {
    display: inline-block;
    width: calc(50% - 3px) !important;
  }
  
  input+input {
    margin-left: 6px !important;
  }
}