<table ng-show="versions.length > 0">
  <thead>
    <th>&nbsp;</th>
    <th>{{'value.name' | translate}}</th>
    <th>{{'value.createdOn' | translate}}</th>
    <th>Created By</th>
  </thead>
  <tr ng-repeat="version in versions | orderBy:'v'">
    <td><a href="#/designer/editor/{{version.flowId}}/{{version.version}}?v={{version.v}}">v{{version.v}}</a></td>
    <td>{{version.name}}</td>
    <td>{{version.created | date:'medium'}}</td>
    <td>{{version.createdBy | displayName}}</td>
  </tr>
</table>

<h3>Create Flow Version</h3>

<ng-form name="createVersionForm" seperate-validation>
  <div class="input-group">
    <label>Name</label>
    <form-error field="createVersionForm.name"
    error-type-required="{{'value.error.name.required' | translate}}"></form-error>
    <input ng-required="true" type="text" ng-model="version.name" name="name"></input>
  </div>

  <div class="input-group">
    <label>Description</label>
    <input type="text" ng-model="version.description" name="description"></input>
  </div>
  <div class="input-group">
    <div style="width:150px"></div>
    <input id='create-flow-version-btn' ng-disabled="createVersionForm.$invalid || !createVersionForm.$dirty"
      ng-click="saveVersion()" type="submit" class="btn btn-primary" value="{{ 'value.create' | translate }}"/>
  </div>
</ng-form>
