<div class="divider-header">
  <h4>{{'hours.exceptions.title' | translate}}</h4>
  <a id="add-exception-btn" class="btn pull-right" title="Add a schedule exception"
    ng-click="hec.addHoursException()"
    ng-show="(['MANAGE_ALL_BUSINESS_HOURS'] | hasPermission)">
    <i class="fa fa-plus center"></i>
  </a>
</div>

<p class="null"
  ng-hide="hours.$exceptions.length">
  {{'hours.exception.noneDefined' | translate}}
  <span ng-show="(['MANAGE_ALL_BUSINESS_HOURS'] | hasPermission)">
    {{'hours.exception.noneDefined.hasPermission' | translate}}
  </span>
</p>

<table class="table" id="exceptions-table"
  ng-show="(hours.$exceptions | newResource:true).length">
  <thead>
    <tr>
      <th>{{'value.date' | translate}}</th>
      <th>{{'value.description' | translate}}</th>
      <th>{{'value.start' | translate}}</th>
      <th>{{'value.end' | translate}}</th>
      <th ng-show="(['MANAGE_ALL_BUSINESS_HOURS'] | hasPermission)">
        {{'value.remove' | translate}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="exception in hours.$exceptions | newResource:true | orderBy:'date'">
      <td>{{exception.date | date:'dd-MM-yyyy':'UTC'}}</td>
      <td>{{exception.description}}</td>
      <td>{{exception.startTimeMinutes | minutesToTime}}</td>
      <td>{{exception.endTimeMinutes | minutesToTime}}</td>
      <td ng-show="(['MANAGE_ALL_BUSINESS_HOURS'] | hasPermission)">
        <a class="remove"
          title="{{'hours.exception.remove' | translate}}"
          ng-click="hec.removeException(exception.$originalIndex)">
          <i class="fa fa-times"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<div class="add-exception-form"
  ng-repeat="exceptionHour in hours.$exceptions | newResource:false">

  <div class="input-group">
    <label>{{'value.date' | translate}} *</label>

    <form-error field="form['date' + exceptionHour.$originalIndex]"
      error-type-required="{{ 'hours.exceptions.date.required' | translate}}"
      error-type-date="{{ 'hours.exceptions.date.required' | translate}}"
      error-type-overlap="{{ 'hours.exceptions.date.duplicate' | translate}}"
    >
    </form-error>

    <input type="date" name="{{'date' + exceptionHour.$originalIndex}}"
      ng-model="exceptionHour.date"
      ng-required="exceptionHour"
      ng-model-options="{timezone: 'UTC'}"
      utc-date-converter
      ng-resource="exceptionHour"
      lo-hour-exception-overlap
      items="hours.$exceptions">
  </div>

  <div class="input-group">
    <label>{{'value.description' | translate}}</label>

    <form-error field="form['description' + exceptionHour.$originalIndex]">
    </form-error>

    <textarea name="{{'description' + exceptionHour.$originalIndex}}"
      ng-model="exceptionHour.description">
    </textarea>
  </div>

  <div class="input-group">
    <label></label>
    <div>
      <input type="radio" id="exception-all-day" ng-model="exceptionHour.isAllDay" ng-value="true">
      <label>{{'hours.exception.isAllDay' | translate}}</label>

      <input type="radio" id="exception-custom-hours" ng-model="exceptionHour.isAllDay" ng-value="false">
      <label>{{'hours.exception.custom' | translate}}</label>
    </div>
  </div>

  <div class="input-group"
    ng-show="!exceptionHour.isAllDay">
    <label>{{'hours.startTime' | translate}}</label>

    <form-error field="form['startTimeMinutes' + exceptionHour.$originalIndex]"
      error-type-time="{{'hours.exception.startTime.required' | translate}}"
      error-type-required="{{'hours.exception.startTime.required' | translate}}">
    </form-error>
    <input type="time" name="{{'startTimeMinutes' + exceptionHour.$originalIndex}}"
      ng-model="exceptionHour.startTimeMinutes"
      ng-required="exceptionHour && !exceptionHour.isAllDay"
      ng-change="hec.reValidateExceptionHours()"
      date-to-minute-converter/>
  </div>

  <div class="input-group"
    ng-show="!exceptionHour.isAllDay">
    <label>{{'hours.endTime' | translate}}</label>

    <form-error field="form['endTimeMinutes' + exceptionHour.$originalIndex]"
      error-type-time="{{'hours.exception.endTime.required' | translate}}"
      error-type-required="{{'hours.exception.endTime.required' | translate}}">
    </form-error>
    <input type="time" name="{{'endTimeMinutes' + exceptionHour.$originalIndex}}"
      ng-model="exceptionHour.endTimeMinutes"
      ng-required="exceptionHour && !exceptionHour.isAllDay"
      ng-change="hec.reValidateExceptionHours()"
      date-to-minute-converter/>
  </div>

</div>
