<section class="liveops-flow-designer">
  <div id="paper-container"></div>
  <div id="stencil-container"></div>
  <div id="toolbar-container">
    <div class="flow-title-wrapper">
      <input type="text" ng-click="" highlight-on-click ng-focus="nameActive = true;" ng-blur="nameActive = false;" class="version-name" ng-model="flowVersion.name" ng-class="{'active': nameActive}" />
    </div>
    <div class="right-side-tools-wrapper">
      <div class="right-side-tools">
        <div class="version-wrapper">
          <h4><span>v {{flowVersion.v}}</span></h4>
        </div>
        <div class="publish-wrapper">
          <button ng-click="publish()" class="publish-btn">Publish</button>
        </div>
        <div class="tools-wrapper">
          <div class="props-panel-gear">
            <i class="fa fa-gear label-icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="inspector-container"></div>
</section>