#skill-detail-header {
  background-color: #fff;
  
  .mystery-man {
    color: #fff;
    background-color: #eee;
    font-size: 2em;
    height: 100%;
    margin-right: 0.5em;
    padding: 15px 20px;
  }
  
  .skill-info {
    display: table-cell;

    h1 {
      padding: 0;
      padding-bottom: 5px;
      line-height: 0.8em;
      margin: 0;

      b {
        color: #3498db;
      }
    }

    b {
      padding: 1px 0;
      font-size: .7em;
      color: #999999;
      line-height: 1.2em;
    }
    
    .details {
      display: table;
      
      & > * {
        display: table-cell;
      }
      
      toggle {
        padding-right: 7px;
      }
    }
  }
}