<div id="skill-detail-header">
  <div class="mystery-man pull-left">
    <i class="fa fa-user"></i>
  </div>
  
  <div class="skill-info">
    <h1>{{resource.name}} <b class="skill-members" translate="skill.details.numMembers" translate-value-number="{{resource.members ? resource.members : 0}}" ></b></h1>
  
    <div class="details">
    
      <div>
        <b
          translate="skill.details.createdby"
          translate-value-date="{{resource.created | date:'medium'}}"
          translate-value-creator="{{creator.displayName}}">
        </b>
        <br/>
        <b
          translate="skill.details.updatedby"
          translate-value-date="{{resource.created | date:'medium'}}"
          translate-value-enabler="{{updater.displayName}}">
        </b>
      </div>
    </div>
  </div>
</div>