<management-menu menu-locked="Session.lockSideMenu" menu-config="sidebarConfig"></management-menu>

<div id="main-content" class="skill-list-container" ng-class="{'expanded-menu': Session.lockSideMenu}">

    <table-controls
      id="table-pane"
      config="tableConfig"
      items="skills"
      on-create-click="createSkill"
      selected="selectedSkill"
      resource-name="skills"></table-controls>

    <resize-handle
      id="resize-pane"
      ng-show="!!selectedSkill"
      right-element-id="details-pane"
      left-element-id="table-pane"
      left-min-width="600"
      right-min-width="400"></resize-handle>

    <resource-details
      id="details-pane"
      ng-show="selectedSkill"
      extend-scope="additional"
      header-template-url="app/components/skills/skillDetailHeader.html"
      body-template-url="app/components/skills/skillDetailBody.html"
      resource="selectedSkill"></resource-details>
</div>
