user-skills {
  .btn {
      height: $input-height;
      vertical-align: middle;
      width: $input-height;
    }
    
    type-ahead, number-slider {
      padding-right: 8px;
    }
    
   #skillsForm {
    width: 100%;
    display: table;
    margin-bottom: 10px;
    padding-right: 0;
    
    > * {
      display: table-cell;
    }
    
    number-slider {
      max-width: 100px;
    }
  }
  
  .detail-group {
    /* temporary until we can get a right margin on the table */
    width: 98% !important;
  }
}
