<div ng-show="skills.$resolved && userSkills.$resolved" class="user-skills-table">
  <div class="header">
    <span class="title">Add New Skill</span>
  </div>
  <div class="input-group">
    <label>Skill Name</label>
    <type-ahead fieldName="name" items="skills" ng-model="thing" ></type-ahead>
  </div>
  <div class="input-group">
    <label>Skill Proficiency</label>
    <number-slider value="newInvite.proficiency"></number-slider>
  </div>
  <div class="header">
    <span class="title">Skills</span>
    <span class="count">({{userSkills.length}})</span>
  </div>
  <table>
    <tr ng-show="userSkills.length === 0">
      <td>None found</td>
    <tr>
    <tr ng-show="userSkills.length > 0" ng-repeat="userSkill in userSkills">
      <td>{{userSkill.name}}</td>
      <td><input ng-model="userSkill.proficiency" type="number" ng-required="true" min="0" max="100"/></td>
      <td><input value="Save" type="button" ng-click="save(userSkill)" /></td>
      <td><input value="Remove" type="button" ng-click="remove(userSkill)" /></td>
    </tr>
  </table>
</div>