<div ng-show="!skills.$resolved || !userSkills.$resolved">
  Loading...
</div>

<div ng-show="skills.$resolved && userSkills.$resolved">
  <table>
    <tr ng-show="userSkills.length === 0">
      <td>None found</td>
    <tr>
    <tr ng-show="userSkills.length > 0" ng-repeat="userSkill in userSkills">
      <td>{{userSkill.skillName}}</td>
      <td><input value="X" type="button" ng-click="remove(userSkill)" /></td>
    </tr>
    <tr ng-show="skillId">
      <td><select ng-model="skillId" ng-options="skill.id as skill.name for skill in (filtered = (skills | objectNegation:'id':userSkills:'skillId' | orderBy:name))"></select></td>
      <td></td>
    </tr>
  </table>
  <div ng-show="skills.length > 0 && filtered.length > 0">
    <input ng-show="!skillId" type="button" class="btn" value="Add New" ng-click="new()"/>
    <input ng-show="skillId" type="button" class="btn" value="Save" ng-click="add(skillId)"/>
  </div>
</div>