<div class="divider-header">
    <h4>Skills <span class="count" ng-show="userSkills.$resolved">({{userSkills.length}})</span></h4>
</div>

<loading ng-if="!skills.$resolved"></loading>
<div class="user-skills-table">
  <ng-form id="skillsForm" name="skillsForm" seperate-validation ng-disabled="saving">
    <h5>Add a Skill</h5>
    <div class="skills-controls" ng-show="skills.$resolved" >
      <type-ahead hover="true" placeholder="Skill name" items="skills" selected-item="selectedSkill" is-required="true" nameField="name" ></type-ahead>
      <number-slider value="newUserSkill.proficiency" min-value="0" max-value="100" ></number-slider>
      <div class="controls">
        <i
          ng-class="{'disabled' : skillsForm.$invalid}"
          ng-show="!saving"
          ng-disabled="skillsForm.$invalid"
          class="fa fa-plus-circle"
          ng-click="skillsForm.$invalid || save()"></i>
        <i ng-show="saving" class="fa fa-spinner fa-pulse"></i>
      </div>
    </div>
  </ng-form>
  <table class="skill-table" ng-show="userSkills.$resolved && userSkills.length > 0">
    <thead>
      <tr>
        <th>Skill Name</th>
        <th>Proficiency</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-show="userSkills.length > 0" ng-repeat="userSkill in userSkills | orderBy:'name'">
        <td>{{userSkill.name}}</td>
        <td>{{userSkill.proficiency}}</td>
        <td><i class="fa fa-times" ng-click="remove(userSkill)"></i></td>
      </tr>
    </tbody>
  </table>
</div>
