<div disable-contents="!(['TWILIO_GLOBAL_DIAL_PARAMS_MANAGE', 'PLATFORM_TWILIO_GLOBAL_DIAL_PARAMS_MANAGE'] | hasPermission)" ng-init="initChecks()"> 
<!--there are several ng-if for permissions on this page-->
  <div>
    <div class="divider-header">
      <h4>{{'integration.details.properties.globalDialSettings' | translate}}</h4> <!--Global Dial Settings-->
    </div>
<!--Global Dial Settings - extension prefix-->
    <div class="input-group">
      <label ng-algin="left">{{'integration.globalDialParams.extensionPrefix.label' | translate}}</label>
      <form-error field="forms.detailsForm.extensionPrefix" error-type-required="{{'integration.globalDialParams.extensionPrefix.error' | translate}}" ></form-error>
      <div>
        <input type="text" maxlength="5" size="15" pattern="\d{5}" placeholder="5 Digit Number" title="5 Digit Number" ng-model="integration.properties.extensionPrefix" name="extensionPrefix" />
      </div>
      <label id="global-dial-settings-label" ng-algin="right"><small>{{'integration.details.properties.globalDialSettings.example' | translate}}</small></label>
    </div>
  </div>
<!--Global Dial Parameters-->
  <div class="divider-header">
    <h4>{{'integration.details.properties.globalDialParameters' | translate}}</h4>
    <a id="show-create-new-globalDialParameter" ng-if="(['TWILIO_GLOBAL_DIAL_PARAMS_MANAGE', 'PLATFORM_TWILIO_GLOBAL_DIAL_PARAMS_MANAGE'] | hasPermission)" ng-hide="createNewGlobalDialParameter" class="btn pull-right" ng-click="showNewGlobalDialParamFields()" title="{{'integration.globalDialParams.addProperty' | translate}}"><i class="fa fa-plus"></i></a>
  </div>

  <!--Create New Global Dial Param-->
  <div ng-show="createNewGlobalDialParameter">
    <div class="divider-header">
      <h4>{{'integration.globalDialParameter.create.title' | translate }}</h4>
    </div>

    <ng-form name="createGlobalDialParameterForm" ng-submit="addNewGlobalDialParameter()" lo-form-submit>
      <div class="input-group">
        <label>{{'integration.details.properties.key' | translate}} *</label>
        <form-error field="createGlobalDialParameterForm.properties[key]" error-type-required="{{('value.error.properties.' + key + '.required') | translate}}"></form-error>
        <input type="text" ng-model="newGlobalDialParamsKey" name="key"></input>
      </div>
      <div class="input-group">
          <label>{{'integration.details.properties.value' | translate}} *</label>
          <form-error field="createGlobalDialParameterForm.properties[value]" error-type-required="{{('value.error.properties.' + key + '.required') | translate}}"></form-error>
          <input type="text" ng-model="newGlobalDialParamsValue " name="value"></input>
      </div>
      <div class="flow-controls input-group">
        <input id="cancel-flow-version-btn" type="button" ng-click="createNewGlobalDialParameter = false" class="btn" value="{{'value.cancel' | translate}}" />
        <input id="create-flow-version-btn" ng-disabled="createGlobalDialParameterForm.$invalid || !(newGlobalDialParamsKey && newGlobalDialParamsValue)"
          type="submit" ng-click="addNewGlobalDialParameter()" class="btn btn-primary" value="{{ 'value.create' | translate }}"/>
      </div>
    </ng-form>
  </div>

  <ng-form name="sendAlertForm"></ng-form> <!--$setDirty() to this form to show a warning when leaving the page with unsaved changes-->

  <table class="table" id="flow-details-draft-table" ng-show="integration.properties.globalDialParams"> 
    <thead>
      <tr>
        <th>{{'integration.details.properties.key' | translate}}</th>
        <th>{{'integration.details.properties.value' | translate}}</th>
        <th ng-if="(['TWILIO_GLOBAL_DIAL_PARAMS_MANAGE', 'PLATFORM_TWILIO_GLOBAL_DIAL_PARAMS_MANAGE'] | hasPermission)"></th>
        <th ng-if="(['TWILIO_GLOBAL_DIAL_PARAMS_MANAGE', 'PLATFORM_TWILIO_GLOBAL_DIAL_PARAMS_MANAGE'] | hasPermission)">{{'integration.details.properties.actions' | translate}}</th>
        <th ng-if="(['TWILIO_GLOBAL_DIAL_PARAMS_MANAGE', 'PLATFORM_TWILIO_GLOBAL_DIAL_PARAMS_MANAGE'] | hasPermission)"></th>
      </tr>
    </thead>
    <tr ng-repeat="(key, value) in integration.properties.globalDialParams">
      <td>{{key}}</td>
      <td>{{value}}</td>
      <td ng-if="(['TWILIO_GLOBAL_DIAL_PARAMS_MANAGE', 'PLATFORM_TWILIO_GLOBAL_DIAL_PARAMS_MANAGE'] | hasPermission)"></td>
      <td ng-if="(['TWILIO_GLOBAL_DIAL_PARAMS_MANAGE', 'PLATFORM_TWILIO_GLOBAL_DIAL_PARAMS_MANAGE'] | hasPermission)">
        <a class="edit" ng-model="integration.properties.globalDialParams" ng-click="editGlobalDialParameter(key)" title="{{'integration.globalDialParameter.edit.tooltip' | translate}}">{{'integration.details.properties.edit' | translate}}</a>
      </td>
      <td ng-if="(['TWILIO_GLOBAL_DIAL_PARAMS_MANAGE', 'PLATFORM_TWILIO_GLOBAL_DIAL_PARAMS_MANAGE'] | hasPermission)">
        <a class="delete" ng-click="deleteGlobalDialParameter(key)" title="{{'integration.globalDialParameter.delete.tooltip' | translate}}">{{'integration.details.properties.delete' | translate}}</a>
      </td>
    </tr>
  </table>
  <!--Editing a global dial parameter-->
  <div ng-show="editSelectedGlobalDialParameter">
    <div class="divider-header">
      <h4>{{'integration.globalDialParameter.edit.title' | translate }}</h4>
    </div>
    <ng-form name="editGlobalDialParameterForm" lo-form-submit>
      <div class="input-group">
        <label>{{'integration.details.properties.key' | translate}} *</label>        
        <form-error field="editGlobalDialParameterForm.key" error-type-required="{{'value.error.key.required' | translate}}"></form-error>
        <input type="text" ng-model="newKey" name="key"></input>
      </div>

      <div class="input-group">
        <label>{{'integration.details.properties.value' | translate}} *</label>
        <form-error field="editGlobalDialParameterForm.value" error-type-required="{{'value.error.value.required' | translate}}"></form-error>
        <input type="text" ng-model="newValue"  name="value"></input>
      </div>

      <div class="flow-controls input-group">
        <label></label>
        <input id="cancel-flow-version-btn" type="button" ng-click="editSelectedGlobalDialParameter = false" class="btn" value="{{'value.cancel' | translate}}" />
        <input id="create-flow-version-btn" ng-disabled="!(newKey && newValue) || !editGlobalDialParameterForm.$dirty"
        ng-click="updateGlobalDialParameter()" type="submit" class="btn btn-primary" value="{{ 'value.update' | translate }}"/>
      </div>
    </ng-form>
  </div>
</div>