<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>

<div ng-if="!resource.id">
  <div class="input-group">
    <label>{{'value.name' | translate}}</label>
    <div>
      <input type="text" ng-model="resource.name" required>
    </div>
  </div>

  <div class="input-group">
    <label class="textarea-label">{{'value.description' | translate}}</label>
    <div>
      <textarea ng-required="false" ng-model="resource.description"></textarea>
    </div>
  </div>
</div>

<div class="input-group">
  <label>{{'dispatchMappings.details.interactionType' | translate}}</label>
  <div>
    <select ng-model="resource.channelType" name="channelType"
      ng-options="channelType.value as channelType.display for channelType in dispatchMappingChannelTypes">
    </select>
  </div>
</div>

<div class="input-group">
  <label>{{'dispatchMappings.details.channelType' | translate}}</label>
  <div>
    <select ng-model="resource.interactionField" name="interactionField" ng-change="resource.value = ''"
      ng-options="interactionFields.value as interactionFields.display for interactionFields in dispatchMappingInteractionFields">
    </select>
  </div>
</div>

<div class="input-group" ng-if="resource.interactionField === 'customer' || resource.interactionField === 'contact-point'">
  <label>{{'details.phoneNumber' | translate}}</label>
  <div>
    <form-error field="detailsForm.value" error-type-pattern="{{'details.phoneNumber.error' | translate}}"></form-error>
    <input ng-pattern="/^\+?\d{1,2}-?\d{3}-?\d{3}-?\d{4}-?$/" type="text" ng-model="resource.value" name="value">
  </div>
</div>

<div class="input-group" ng-if="resource.interactionField === 'integration'" ng-init="resource.value = integrations[0].id">
  <label>{{'integration.details' | translate}}</label>
  <div>
    <select ng-model="resource.value" name="value"
      ng-options="integration.id as integration.type for integration in integrations">
    </select>
  </div>
</div>

<div class="input-group" ng-if="resource.interactionField === 'direction'">
  <label>{{'dispatchMappings.details.direction' | translate}}</label>
  <div>
    <select ng-model="resource.value" name="value" ng-init="resource.value = 'outbound'"
      ng-options="dispatchMappingDirection.value as dispatchMappingDirection.display for dispatchMappingDirection in dispatchMappingDirections">
    </select>
  </div>
</div>

<div class="input-group">
  <label>{{'dispatchMappings.details.flow' | translate}}</label>
  <div>
    <select api-error ng-model="resource.flowId" name="flowId" ng-options="flow.id as flow.name for flow in flows">
    </select>
  </div>
</div>
