<div id="main-content" class="realtime-dashboard-wrapper">
  <div class="subhead-wrapper">
    <div class="subhead">
      <div class="title">
        <h1>Custom Stat Editor</h1>
      </div>
    </div>
    <div class="subhead-right">
      <div class="saved-wrapper">
        <p>{{saveStatus}}</p>
      </div>
      <div class="publish-wrapper" ng-hide="readOnly">
        <button ng-disabled="!enablePublish" ng-click="publishNewStatVersion()" class="btn btn-primary">Publish</button>
      </div>
    </div>
  </div>
  <div ui-codemirror="editorHTML" id="editorHTML" ng-model="draft.customStat"></div>
</div>