<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>

<div class="input-group">
  <label>{{'value.name' | translate}} *</label>
  <form-error field="forms.detailsForm.name" error-type-required="{{'details.name.error' | translate}}" ></form-error>
  <div class="lo-error" role="alert" ng-if='mtc.duplicateError'>{{mtc.duplicateErrorMessage}}</div>
  <div>
    <input ng-required="true" type="text" ng-model="mtc.selectedMessageTemplate.name" name="name" ng-disabled="!(['MANAGE_ALL_MESSAGE_TEMPLATES'] | hasPermission)"/>
  </div>
</div>

<div class="input-group">
  <label class="textarea-label">{{'value.description' | translate}}</label>
  <textarea ng-model="mtc.selectedMessageTemplate.description" ng-disabled="!(['MANAGE_ALL_MESSAGE_TEMPLATES'] | hasPermission)"></textarea>
</div>

<div class="input-group">
  <label class="label">{{'value.type' | translate}} *</label>
  <select required ng-options="type.value as type.label for type in mtc.templateTypes" ng-model="mtc.selectedMessageTemplate.type" ng-disabled="!(['MANAGE_ALL_MESSAGE_TEMPLATES'] | hasPermission)"></select>
</div>

<div class="input-group">
  <label class="textarea-label">{{'value.channels' | translate}} *</label>
  <div class="template-channel" ng-repeat="channel in mtc.channelTypes">
    <input type="checkbox" ng-checked="mtc.selectedMessageTemplate.channels.indexOf(channel.value) !== -1"
      ng-disabled="!(['MANAGE_ALL_MESSAGE_TEMPLATES'] | hasPermission)" ng-click="mtc.toggleCheck(channel)"></input>
      {{channel.label}}
  </div>
</div>

<div class="input-group">
  <label class="textarea-label">{{'value.template' | translate}} *</label>
  <textarea required ng-model="mtc.selectedMessageTemplate.template" ng-disabled="!(['MANAGE_ALL_MESSAGE_TEMPLATES'] | hasPermission)"></textarea>
</div>
