.user-table {
	width: 100%;
	border-collapse: collapse;

	th:not(:first-child), td:not(:first-child) {
		text-align: right;
		width: 15%;
		min-width: 100px;
	}

	th:first-child, td:first-child {
		text-align: left;
	}

	td {
		padding: 10px 5px;
	}

	th {
		padding: 10px 5px 0 5px;
	}

	td, th {
		border-bottom: 1px solid #DADADA;
	}

	.disabled {
		color: #ccc;
	}
}

.action-container > div {
	box-sizing: border-box;
	float:left;
	width: 50%;
}

.action-container > div:last-child {
	text-align: right;
}
