<input ng-model="queryUser" placeholder="Search">

<table class="user-table">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				ID
			</th>
			<th>
				Status
			</th>
			<th>
				State
			</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="user in users | orderBy:'displayName' | filter: searchUser">
			<td>{{user.displayName}}</td>
			<td>{{user.externalId}}</td>
			<td><span ng-class="{disabled : ! user.status}">{{user.status ? 'Enabled' : 'Disabled'}}</span></td>
			<td><div user-state state="{{user.state}}"></div></td>
		</tr>
	</tbody>
</table>
