<table class="user-table">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>ID</th>
      <th><filter-dropdown label="Status" items="statuses"></filter-dropdown></th>
      <th><filter-dropdown label="State" items="states"></filter-dropdown></th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="user in filteredUsers = (users | userFilter:statuses:'status' | userFilter:states:'state' | orderBy:'lastName')" 
      ng-click="selectUser(user)" ng-class="{selected: user.id === selectedUser.id}">
      <td><input type="checkbox" ng-model="user.checked" ng-change="checkChanged(user.checked)"/></td>
      <td>{{user.firstName}} {{user.lastName}}</td>
      <td>{{selectUser.id}}{{user.externalId}}</td>
      <td>
        <span ng-class="{disabled : ! user.status}">{{user.status ? 'Enabled' : 'Disabled'}}</span>
      </td>
      <td>
        <div user-state state="{{user.state}}"></div>
      </td>
    </tr>
  </tbody>
</table>
