query-creator {

  .tag-wrapper {
    .tag:first-child {
      margin-left: 0;
    }
  }

  .add-group-button {
    width: 40px;
  }

  .proficiency-operator-dropdown {
    width: 65%;
  }

  .proficiency-value {
    display: block;
    width: 35%;
  }

  .details-group + .details-group {
    margin-top: 20px;
  }

  .tag-wrapper {
    display: block;
  }

  .input-group label{
    border-right: 3px solid transparent;
  }

  label.has-elements {
    border-right: 3px solid $accent-light;
  }

  .query-component {
    margin-left: 10px;

    h4 {
      color: $dark-grey;
    }

    .input-group > div {
      margin-left: 5px;
    }

    .divider-header {
      margin-top: 10px;
      max-width: $max-control-width;
    }
  }

  .tag {
    margin: 0;
  }

  condition-group-editor {
    display: block;

    &:first-child {
    }
  }
}
