<div class="divider-header first-header">
  <h4>Query</h4>
  <a class="pull-right">
    <span id="show-advanced-query" ng-show="!qc.isAdvancedMode" ng-click="qc.advancedMode()">
      (Show advanced query editor)
    </span>
    <span class="pull-right"  id="show-basic-query" ng-show="qc.isAdvancedMode && qc.initialAdvancedQuery" ng-click="qc.basicMode()">
      (Show basic query builder)
    </span>
  </a>
</div>


<ng-form name="qc.forms.advancedQueryForm">
  <div class="input-group" ng-show="qc.isAdvancedMode">
    <label class="textarea-label">{{'value.details.query' | translate}}</label>
    <textarea zermelo-query-validator id="advanced-query-field"
      ng-required="true" type="text" ng-model="qc.advancedQuery" name="query"
     ng-change="qc.advancedQueryChanged()"></textarea>
     <form-error field="qc.forms.advancedQueryForm.query"
       error-type-required="{{'queue.details.queue.error' | translate}}"
       error-type-zermelo="{{'queue.query.build.zermelo.invalid' | translate}}">
     </form-error>
  </div>
</ng-form>

<div ng-show="!qc.isAdvancedMode">
  <div class="input-group" id="add-query-filter">
    <label>{{'queues.query.builder.filters.label' | translate}}</label>
    <div class="instant-add" disable-contents="qc.possibleGroups.length == 0">
      <select id="select-filter-dropdown"
        ng-model="qc.currentGroup">
        <option value="" disabled>{{'queues.query.builder.filters.placeholder' | translate}}</option>
        <option ng-repeat="key in qc.possibleGroups" value="{{key}}">{{'queues.query.builder.' + key | translate }}</option>
      </select>
      <div class="add-group-button">
        <button class="add btn" type="button"
          ng-disabled="!qc.currentGroup"
          ng-click="qc.addGroup(qc.currentGroup)">

          <i id="add-filter-btn" class="fa fa-plus"></i>
        </button>
      </div>
    </div>
  </div>

  <div ng-repeat="item in qc.query.groups" class="details-group">

    <div class="query-component">
      <div class="divider-header">
        <h4>{{ 'queues.query.builder.' + item.key + '.title' | translate }}</h4>
        <a class="pull-right" ng-click="qc.verifyRemoveGroup(item.key)">(remove filter)</a>
      </div>
      <object-group-editor
        object-group="item.objectGroup"
        key="item.key">
      </object-group-editor>
    </div>
  </div>
</div>
