<div class="input-group" id="add-query-filter">
  <label>{{'queues.query.builder.filters.label' | translate}}</label>

  <div class="instant-add" disable-contents="qc.possibleEntities.length == 0">
    <select id="select-filter-dropdown"
      ng-model="qc.currentEntity"
      ng-options="item.name for item in qc.possibleEntities">
      <option value="" disabled>{{'queues.query.builder.filters.placeholder' | translate}}</option>
    </select>
    <div>
      <button class="add btn" type="button"
        ng-disabled="!qc.currentEntity"
        ng-click="qc.selectEntity(qc.currentEntity)">

        <i id="add-filter-btn" class="fa fa-plus"></i>
      </button>
    </div>
  </div>
</div>

<div>{{qc.query.toEdn().ednEncode()}}</div>

<div ng-repeat="entity in qc.selectedEntities" class="details-group" ng-switch="entity.name">
  <select ng-options="item.getDisplay() for item in entity.objects" ng-model="selectedItem"></select>

  <h3>OR conditions</h3>
  <input type="button" ng-click="entity.objectGroup.orConditions.addCondition(qc.randomCondition(selectedItem))" />
  <div ng-repeat="orCondition in group.orConditions.conditions">

  </div>
  <h3>AND conditions</h3>
  <input type="button" ng-click="entity.objectGroup.andConditions.addCondition(qc.randomCondition(selectedItem))" />
  <div ng-repeat="andCondition in group.andConditions.conditions">

  </div>
</div>
