<div class="input-group" id="add-query-filter">
  <label>{{'queues.query.builder.filters.label' | translate}}</label>
  <div class="instant-add" disable-contents="qc.possibleGroups.length == 0">
    <select id="select-filter-dropdown"
      ng-model="qc.currentGroup">
      <option value="" disabled>{{'queues.query.builder.filters.placeholder' | translate}}</option>
      <option ng-repeat="key in qc.possibleGroups" value="{{key}}">{{'queues.query.builder.' + key | translate }}</option>
    </select>
    <div class="add-group-button">
      <button class="add btn" type="button"
        ng-disabled="!qc.currentGroup"
        ng-click="qc.addGroup(qc.currentGroup)">

        <i id="add-filter-btn" class="fa fa-plus"></i>
      </button>
    </div>
  </div>
</div>

<div ng-repeat="item in qc.query.groups" class="details-group">

  <div class="query-component">
    <div class="divider-header">
      <h4>{{ 'queues.query.builder.' + item.key + '.title' | translate }}</h4>
      <a class="pull-right" ng-click="qc.removeGroup(item.key)">(remove filter)</a>
    </div>
    <object-group-editor
      class="details-group"
      object-group="item.objectGroup"
      model-type="qc.modelType(item.key)"
      key="item.key">
    </object-group-editor>
  </div>

</div>
