<label ng-show="trueValue && falseValue" class="switch switch-green">
 <input type="checkbox" class="switch-input" ng-change="onClick(ngModel)" ng-model="ngModel" ng-true-value="'{{trueValue}}'" ng-false-value="'{{falseValue}}'" ng-disabled="ngDisabled">
 <span class="switch-label" data-on="On" data-off="Off"></span>
 <span class="switch-handle"></span>
</label>

<label class="switch switch-green" ng-show="!trueValue || !falseValue">
 <input type="checkbox" class="switch-input" ng-change="onClick(ngModel)" ng-model="ngModel" ng-disabled="ngDisabled">
 <span class="switch-label" data-on="On" data-off="Off"></span>
 <span class="switch-handle"></span>
</label>