$switchTransition: all 150ms cubic-bezier(0.250, 0.250, 0.500, 0.500);
$switchHandleSize: 28px;

.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 31px;
  padding: 3px;
  background-color: white;
  border-radius: 18px;
  @include box-shadow-2(inset 0 -1px white, inset 0 1px 1px rgba(black, .05));
  cursor: pointer;
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #eceeef;
  border-radius: inherit;
  @include box-shadow-2(inset 0 1px 2px rgba(black, .12),
              inset 0 0 2px rgba(black, .15));

  &:before, &:after {
    position: absolute;
    top: 50%;
    line-height: 1;
  }

  &:before {
    //content: attr(data-off);
    right: 11px;
    color: #aaa;
    @include text-shadow(0 1px rgba(white, .5));
  }

  &:after {
    //content: attr(data-on);
    left: 11px;
    color: white;
    @include text-shadow(0 1px rgba(black, .2));
    opacity: 0;
  }

  .switch-input:checked ~ & {
    background: #47a8d8;
    @include box-shadow-2(inset 0 1px 2px rgba(black, .15),
                inset 0 0 3px rgba(black, .2));

    &:before { opacity: 0; }
    &:after { opacity: 1; }
  }
}

.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: $switchHandleSize;
  height: $switchHandleSize;
  background: white;
  border-radius: $switchHandleSize;
  @include box-shadow(1px 1px 5px rgba(black, .2));
  @include transition($switchTransition);


  .switch-input:checked ~ & {
    left: 24px;
  }
}

.switch-green > .switch-input:checked ~ .switch-label { background: #4fb845; }