<div class="overlay" close="cancel()">
  <div class="create-user-container">
    <h4>New User</h4>
    <div class="modal-body">

      <div class="error" ng-show="showError">{{errorMsg}}</div>

        <div class="input-field-tile">
          <label>First Name</label>
          <input type="text" ng-model="data.firstName" placeholder="First Name" />
        </div>

        <div class="input-field-tile">
          <label>Last Name</label>
          <input type="text" ng-model="data.lastName" placeholder="Last Name" />
        </div>

        <div class="input-field-tile">
          <label>Display Name</label>
          <input type="text" ng-model="data.displayName" placeholder="Display Name" />
        </div>

        <div class="input-field-tile">
          <label>Password</label>
          <input type="password" ng-model="data.password" placeholder="Password" />
        </div>

        <div class="input-field-tile">
          <label>Email</label>
          <input type="text" ng-model="data.email" placeholder="Email Address" />
        </div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-success" ng-click="ok()">Okay</button>
      <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</div>