<div>
  <div class="input-group multi-col">
    <div class="form-col left align-top">
      <div>
        <button
          id="import-btn"
          class="btn"
          accept=".csv"
          ngf-change="importFile($file)"
          ngf-select
          ng-model-options="{allowInvalid : true}"
          ngf-max-size="20MB"
          ng-model="selectedRow.listData"
          type="button"
          ng-disabled="!selectedRow.id || (selectedRow.hasList && !selectedRow.uploadStats) || !(['MANAGE_CAMPAIGNS'] | hasPermission)">
          {{'campaigns.details.importBtn' | translate}}
        </button>
      </div>

      <div>
        <button
          id="download-btn"
          class="btn"
          ng-click="downloadCsv($event)"
          type="button"
          ng-disabled="!selectedRow.id || !selectedRow.hasList || !selectedRow.uploadStats || selectedRow.latestJobData.status !== 'completed'">
          {{'campaigns.details.downloadBtn' | translate}}
        </button>
      </div>
    </div>

    <div class="form-col right align-top">
      <loading ng-show="!selectedRow.uploadStats && selectedRow.hasList"></loading>
      <div ng-show="selectedRow.uploadStats && selectedRow.hasList && selectedRow.latestJobData.status !== 'error'">
        <ul>
          <li ng-if="selectedRow.latestJobData.created">
            {{'campaigns.details.lastUpdate' | translate}} - {{selectedRow.latestJobData.created | date:'MM/dd/yyyy HH:mm:ss' }}
          </li>
          <li ng-if="displayData(selectedRow.latestJobData.leadCount) && selectedRow.latestJobData.status !=='error'">
            {{'campaigns.details.contactCount' | translate}} - {{selectedRow.latestJobData.contactCount}}
          </li>
          <li ng-if="displayData(selectedRow.latestJobData.rowsProcessed) && selectedRow.latestJobData.status !=='error'">
            {{'campaigns.details.rowsProcessed' | translate}} - {{selectedRow.latestJobData.rowsProcessed}}
          </li>
        </ul>
        &nbsp;
      </div>
    </div>
  </div>
</div>
