<div ng-if="! dnc.selectedDncList.isNew()">
  <toggle class="status-toggle" ng-model="dnc.selectedDncList.active"
  confirm-disable-message="{{'dnc.details.disable.confirm' | translate}}"
  confirm-enable-message="{{'dnc.details.enable.confirm' | translate}}"
  ng-disabled="!('MANAGE_CAMPAIGNS' | hasPermission)"
  on-confirm="dnc.updateActive()"></toggle>

  <div class="info">
    <h1 id="dnc-details-type-header">
      {{dnc.selectedDncList.name}}
    </h1>
    <div class="details">
      <div ng-if="['MANAGE_CAMPAIGNS'] | hasPermission">
        <b audit-text
          translation="value.createdby.time"
          user-id="cc.selectedCampaign.$original.createdBy"
          date="dnc.selectedDncList.$original.created">
        </b>
        <br/>
        <b audit-text ng-if="!!dnc.selectedDncList.updatedBy"
          translation="value.updatedBy"
          date="dnc.selectedDncList.$original.updated">
        </b>
      </div>
      <div ng-if="!(['MANAGE_CAMPAIGNS'] | hasPermission)">
        <b audit-text
          translation="value.createdon.time"
          user-id="dnc.selectedDncList.createdBy"
          date="dnc.selectedDncList.$original.created">
        </b>
        <br/>
        <b audit-text ng-if="!!dnc.selectedDncList.$original.updated"
          translation="value.updatedon"
          date="dnc.selectedDncList.$original.updated">
        </b>
      </div>
    </div>
  </div>
</div>

<h1 id="dnc-lists-details-create-header" ng-if="dnc.selectedDncList.isNew()">
  {{'dnc.details.creating' | translate}}
</h1>
