<div id="table-pane">
  <table-controls
    config="dnc.tableConfig"
    items="dnc.dncLists"
    search-query="searchQuery">
  </table-controls>

  <lo-resource-table
    config="dnc.tableConfig"
    items="dnc.dncLists"
    selected="dnc.selectedDncList"
    search-query="searchQuery">

    <span name="$original.expiration">
      {{item.$original.expiration | limitTo:10}}
    </span>

    <span name="$original.active">
      <span ng-if="item.$original.active">{{'dnc.table.active' | translate}}</span>
      <span ng-if="!item.$original.active" class="disabled">{{'dnc.table.inactive' | translate}}</span>
    </span>
  </lo-resource-table>
</div>

<resize-handle
  ng-show="dnc.selectedDncList || showBulkActions"
  id="resize-pane"
  right-element-id="dnc-details-panel"
  left-element-id="table-pane"></resize-handle>

<lo-details-panel id="dnc-details-panel"
  class="right-panel"
  ng-show="dnc.selectedDncList || showBulkActions"
  ng-resource="dnc.selectedDncList">

  <ng-form unsaved-changes-warning
  class="details-pane"
  unsaved-changes-warning
  name="forms.detailsForm"
  ng-show="!showBulkActions"
  ng-resource="dnc.selectedDncList"
  lo-form-submit lo-form-cancel lo-form-alert>

    <ng-form name="forms.headerForm" separate-validation>
      <div class="detail-header"
        ng-include src="'app/components/configuration/dncLists/dncListDetailHeader.html'">
      </div>
    </ng-form>

    <div class="detail-body"
      ng-include src="'app/components/configuration/dncLists/dncListsDetailBody.html'">
    </div>

    <div class="detail-controls">
      <input
        id="cancel-details-btn" class="btn" type="button"
        ng-disabled="dnc.selectedDncList.$busy"
        value="{{'value.cancel' | translate}}"
        lo-cancel
        ng-click="dnc.selectedDncList.expiration = null"></input>

      <input
        id="submit-details-btn"
        lo-submit="dnc.submit()"
        lo-submit-spinner
        lo-submit-spinner-status="dnc.selectedDncList.$busy"
        ng-disabled="forms.detailsForm.$pending || forms.detailsForm.$invalid || ! forms.detailsForm.$dirty"
        class="btn btn-primary"
        type="submit"
        value="{{'value.submit' | translate}}" />
    </div>
  </ng-form>

  <bulk-action-executor class="details-pane"
    ng-show="showBulkActions"
    items="dnc.dncLists"
    show-bulk-actions="showBulkActions">

    <ba-set-dnc-lists-status></ba-set-dnc-lists-status>
  </bulk-action-executor>
</lo-details-panel>
