<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>

<div disable-contents="! (['MANAGE_CAMPAIGNS'] | hasPermission)">
  <div class="input-group">
    <label>{{'value.name' | translate}} *</label>

    <form-error ng-if="!dnc.selectedDncList.name"  field="dnc.forms.detailsForm.name"
      error-type-required="{{'value.error.name.required' | translate}}">
    </form-error>
    <input type="text" name="name"
      ng-model="dnc.selectedDncList.name"
      ng-required="true" value={{dnc.selectedDncList.name}} />
  </div>

  <div class="input-group">
    <label class="textarea-label">{{'value.description' | translate}}</label>
    <textarea
      ng-model="dnc.selectedDncList.description"
      name="description">
      {{dnc.selectedDncList.description}}
  </textarea>
  </div>

  <div class="input-group">
    <label>{{'dnc.details.expiration' | translate}}</label>

    <input type="text" name="expiration"
      moment-picker="dnc.selectedDncList.expiration"
      ng-model="dnc.selectedDncList.expiration"
      format="YYYY-MM-DD"
      change="dnc.onChange(newVal, oldVal)"
      start-view="month"
      max-view="month"
      ng-model-options="{timezone: 'UTC'}"
      min-date="dnc.provideDateTomorrow"
      id="dncDatepicker"
      value="dnc.selectedDncList.expiration"
      ng-click="dnc.dateWatch()"
      readonly>
  </div>

  <div class="divider-header">
    <h4>{{'dnc.details.upload' | translate}} *</h4>
  </div>

  <csv-upload
    selected-row="dnc.selectedDncList"
    template-url="app/components/configuration/dncLists/dncListUpload.html"
    download-path="/dnclists/{{dnc.selectedDncList.id}}/download.csv"
    job-service-name='dncLists'></csv-upload>
  </div>
