.listFile-source .btn {
  margin-left: 4px;
}

.listFile-source.input-group {
  * + .btn {
    height: 30px;
    padding-top: 5px;
    float: right;
  }
}

.download-dnc-list {
  text-align: right;
  margin-top: 10px;
}

#listFile-source-upload-file {
  width: calc(100% - 40px);
}
