<div ng-if="! dnc.selectedDncList.isNew()">
  <toggle class="status-toggle" ng-model="dnc.selectedDncList.active"
  confirm-disable-message="{{'dnc.details.disable.confirm' | translate}}"
  confirm-enable-message="{{'dnc.details.enable.confirm' | translate}}"
  ng-disabled="! (['PLATFORM_MANAGE_ALL_TENANTS', 'MANAGE_TENANT'] | hasPermission)"
  on-confirm="dnc.updateActive()"></toggle>

  <div class="info">
    <h1>{{dnc.selectedDncList.$original.name}}</h1>
      <div class="details" ng-if="['PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT', 'VIEW_ALL_USERS', 'MANAGE_ALL_USER_EXTENSIONS', 'MANAGE_ALL_GROUP_USERS', 'MANAGE_ALL_USER_SKILLS', 'MANAGE_ALL_USER_LOCATIONS', 'MANAGE_TENANT_ENROLLMENT'] | hasPermission">
      <b audit-text
        translation="value.createdby.time"
        user-id="dnc.selectedDncList.$original.createdBy"
        date="dnc.selectedDncList.$original.created">
      </b>
      <br/>
      <b audit-text ng-if="!!dnc.selectedDncList.$original.updatedBy"
        translation="value.updatedby"
        user-id="dnc.selectedDncList.$original.updatedBy"
        date="dnc.selectedDncList.$original.updated">
      </b>
    </div>
    <div class="details" ng-if="!(['PLATFORM_MANAGE_ALL_TENANTS_ENROLLMENT', 'VIEW_ALL_USERS', 'MANAGE_ALL_USER_EXTENSIONS', 'MANAGE_ALL_GROUP_USERS', 'MANAGE_ALL_USER_SKILLS', 'MANAGE_ALL_USER_LOCATIONS', 'MANAGE_TENANT_ENROLLMENT'] | hasPermission)">
      <b audit-text
        translation="value.createdon.time"
        date="dnc.selectedDncList.$original.created">
      </b>
      <br/>
      <b audit-text ng-if="!!dnc.selectedDncList.$original.updated"
        translation="value.updatedon"
        date="dnc.selectedDncList.$original.updated">
      </b>
    </div>
  </div>
</div>

<h1 ng-if="dnc.selectedDncList.isNew()">{{'dnc.details.creating' | translate}}</h1>
