<div class="divider-header first-header">
  <h4>{{'details' | translate}}</h4>
</div>

<div class="input-group">
  <label>{{'value.name' | translate}} *</label>
  <form-error field="forms.detailsForm.name" error-type-required="{{'details.name.error' | translate}}" ></form-error>
  <div class="lo-error" role="alert" ng-if='tlc.duplicateError'>{{tlc.duplicateErrorMessage}}</div>
  <div>
    <input
      ng-required="true"
      type="text"
      ng-model="tlc.selectedTransferList.name"
      name="name" ng-disabled="!(['MANAGE_ALL_TRANSFER_LISTS'] | hasPermission)">
  </div>
</div>

<div class="input-group">
  <label class="textarea-label">{{'value.description' | translate}}</label>
  <textarea ng-model="tlc.selectedTransferList.description" ng-disabled="!(['MANAGE_ALL_TRANSFER_LISTS'] | hasPermission)"></textarea>
</div>

<div class="divider-header">
  <h4>{{('contacts' | translate).capitalize()}}</h4>
  <a id="add-contact-btn" ng-disabled="!('MANAGE_ALL_TRANSFER_LISTS' | hasPermission) || tlc.selectedContact.isNew() || tlc.selectedContact.hasOwnProperty('contactType')" class="btn pull-right" title="Create new contact" ng-click="(('MANAGE_ALL_TRANSFER_LISTS' | hasPermission) && !(tlc.selectedContact.isNew() || tlc.selectedContact.hasOwnProperty('contactType'))) ? tlc.createContact(tlc.selectedTransferList.endpoints) : null"><i class="fa fa-plus"></i></a>
</div>

<input type="hidden" name="endpoints" ng-model="tlc.selectedTransferList.endpoints" required/>

<table
  class="transfer-list-table table"
  ng-class="{'default-cursor' : tlc.openEditPanel === true}"
  resource="tlc.selectedTransferList"
  form="forms.detailsForm">
  <thead>
    <tr class="cols default-cursor">
      <th>&nbsp;</th>
      <th>{{'value.name' | translate}}</th>
      <th>{{'value.transferType' | translate}}</th>
      <th>{{'value.contactType' | translate}}</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    <tr>
  <thead>
  <tbody
    ui-sortable="tlc.sortableOptions"
    ng-model="tlc.selectedTransferList.endpoints">
    <tr ng-show="! tlc.selectedTransferList.endpoints.length">
      <td colspan="6">
        <p class="null empty-row">{{'transferLists.details.empty' | translate}}</p>
      </td>
    </tr>
    <tr
      ng-class="{'edit-panel-open prevent-sort default-cursor' : tlc.openEditPanel === true}"
      ng-repeat="listItemEndpoint in tlc.selectedTransferList.endpoints"
      ng-attr-title="{{listItemEndpoint.contactType === 'flow' || listItemEndpoint.contactType === 'queue' ? listItemEndpoint.endpoint.getDisplay() : listItemEndpoint.endpoint}}"
      class="item cols">
      <td>
        <div
          class="handle"
          ng-attr-title="{{'transferLists.contact.details.reorderContacts' | translate}}">
          :::
        </div>
      </td>
      <td>
        <span ng-if="tlc.openEditPanel === true">
          {{::listItemEndpoint.name}}
        </span>
        <span ng-if="tlc.openEditPanel !== true">
          {{listItemEndpoint.name}}
        </span>
      </td>
      <td>
        <span ng-if="tlc.openEditPanel === true">
          {{::listItemEndpoint.transferType}}
        </span>
        <span ng-if="tlc.openEditPanel !== true">
          {{listItemEndpoint.transferType}}
        </span>
      </td>
      <td>
        <span ng-if="tlc.openEditPanel === true">
          {{::listItemEndpoint.contactType}}
        </span>
        <span ng-if="tlc.openEditPanel !== true">
          {{listItemEndpoint.contactType}}
        </span>
      </td>
      <td>
        <a
          ng-click="tlc.editContact(listItemEndpoint)">
            {{'transferLists.contact.details.edit' | translate}}
        </a>
      </td>
      <td>
        <i id="remove-transfer-list-item-button"
          class="fa fa-times remove"
          ng-hide="!('MANAGE_ALL_TRANSFER_LISTS' | hasPermission)"
          ng-click="tlc.removeContact(listItemEndpoint.tempIdx)"></i>
      </td>
    </tr>
  </tbody>

</table>
