<div class="bulk-action">
  <div><input id="select-enable-bulk-action" type="checkbox" ng-model="bulkAction.checked"></div>
  <label><b>{{'bulkActions.enable.groups' | translate}}</b></label>
  <div></div>
</div>
    
<div class="action-wrapper">
  <div>
    <select id="bulk-action-enable-select"
      ng-model="active" 
      ng-disabled="! bulkAction.checked" 
      ng-required="bulkAction.checked"
      ng-class="{'default-selected': active === ''}">
        <option value="" ng-disabled="true">{{'bulkActions.status.placeholder' | translate}}</option>
        <option value="true">{{'value.enable' | translate}}</option>
        <option value="false">{{'value.disable' | translate}}</option>
    </select>
  </div>
</div>