<div>
  <div class="divider-header first-header">
    <h4>Base Version</h4>
  </div>
  
  <div class="input-group">
    <label>Copy values from</label>
    <div>
      <select ng-options="version as version.getDisplay() for version in fetchVersions()" ng-model="selectedBaseVersion">
        <option ng-disabled="true" value="">Select version...</option>
      </select>
      <a class="btn btn-primary" ng-click="copySelectedVersion(selectedBaseVersion)">Copy</a>
    </div>
  </div>
  
  <div class="divider-header">
    <h4>Query</h4>
    <a class="pull-right">
      <span ng-show="queryType != 'advanced'" ng-click="queryType = 'advanced'">(Show advanced query editor)</span>
      <span ng-show="queryType == 'advanced'" ng-click="queryType = 'basic'">(Show basic query builder)</span>
    </a>
  </div>

  <div class="input-group" ng-if="queryType=='advanced'">
    <label class="textarea-label">{{'value.details.query' | translate}}</label>
    <form-error field="forms.versionForm.query"
    error-type-required="{{'queue.details.queue.error' | translate}}"></form-error>
    <textarea ng-required="true" type="text" ng-model="selectedQueueVersion.query" name="query"></textarea>
  </div>

  <queue-query-creator ng-if="queryType!='advanced'" version="versionCopy" queue="queue"></queue-query-creator>

  <div class="divider-header">
    <h4>Priority</h4>
  </div>

  <version-priority queue-version="selectedQueueVersion"></version-priority>
</div>