<label>
  {{ modifier.labelKey | translate}}
</label>
<div class="tag-wrapper clear">
  <div ng-repeat="operand in modifier.operands()" class="tag">
    {{operand}}
    <a ng-click="modifier.remove(operand)"><i class="fa fa-times"></i></a>
  </div>
</div>
<div>
  <div>
    <div>
      <type-ahead hover="true" 
        placeholder="{{modifier.placeholderKey | translate}}" 
        items="modifier.options | invoke" 
        selected-item="modifier.selected"></type-ahead>
    </div>
    <div ng-if="modifier.selected.hasProficiency"
      ng-init="modifier.selected.proficiencyOperator = 'gt'; modifier.selected.proficiency = 0;">
      <select ng-model="modifier.selected.proficiencyOperator" class="pull-left" style="width: 65%;">
        <option value="gt">Proficiency at Least</option>
        <option value="lt">Proficiency at Most</option>
        <option value="equal">Proficiency Exactly</option>
      </select>
      <number-slider value="modifier.selected.proficiency"
        min-value="0" max-value="100" class="pull-left"
        style="display:block;width: 35%;">
      </number-slider>
    </div>
  </div>
  <a class="add btn"
    ng-disabled="! modifier.selected"
    ng-click="modifier.add(modifier.selected)">
    
    <i class="fa fa-plus"></i>
  </a>
</div>